apiVersion: apps/v1
kind: Deployment
metadata:
  name: geneweaver-legacy
  labels:
    app: geneweaver-legacy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: geneweaver-legacy
  template:
    metadata:
      labels:
        app: geneweaver-legacy
      annotations:
        gke-gcsfuse/volumes: "true"
    spec:
      serviceAccountName: workload-identity-geneweaver
      volumes:
        - name: geneweaver-legacy
          persistentVolumeClaim:
            claimName: geneweaver-pvc
      containers:
        - name: geneweaver-legacy
          image: geneweaver-legacy
          imagePullPolicy: Always
          volumeMounts:
            - name: geneweaver-legacy
              mountPath: /var/geneweaver/results
          env:
            - name: CELERY_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
            - name: CELERY_RESULT_BACKEND_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
          envFrom:
            - configMapRef:
                name: geneweaver-legacy-config
            - secretRef:
                name: geneweaver-db
            - secretRef:
                name: geneweaver-legacy-secrets
          ports:
            - containerPort: 8000
        - name: geneweaver-legacy-search
          image: geneweaver-legacy
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: geneweaver-db
          command: ["/bin/bash", "-c", "/app/sphinx/start_sphinx.sh"]
