body {margin-top: 90px;font-family: 'Open Sans';font-weight: 300; }
.f-12{font-size:12px !important;}
.f-14{font-size:14px !important;}
.f-15{font-size:15px !important;}
.f-16{font-size:16px !important;}
.f-18{font-size:18px !important;}
.f-20{font-size:20px !important;}
.f-24{font-size:24px !important;}
.f-32{font-size:32px !important;}
.f-60{font-size:60px !important;}
.f-80{font-size:80px !important;}
.f-150{font-size:150px !important;}
.m-t-90 {margin-top: 90px}
.navbar-brand {margin-right:50px;}
.nav>li>a {padding-left:25px;padding-right:25px;}
select {width: 230px;background-color: #FFF;border: 1px solid #CCC;height: 30px;line-height: 30px;padding: 4px 6px;}
.plugin {display: none}
.plugin.plugin-active {display: block}
h1 {border-bottom: 1px solid #eaeaea;padding-bottom: 20px;margin-bottom: 25px;margin-top: 40px}
h2.m-t-10{margin-top:20px;}
h2{margin-top:20px;}
h4 {margin-top: 30px}
.well-top{margin-bottom:-60px;margin-top: 15px;}
code  {padding: 2px 6px;font-size: 90%;color: #2A465C;background-color: #D5E9FF;white-space: nowrap;border-radius: 4px;}
@media (max-width: 767px)  {
   .tocify {width:100%;position: relative;margin-bottom: 20px;}
}

@media (min-width: 768px)  {
   .tocify {width:200px;}
}


@media (min-width: 992px)  {
   .tocify {width:250px;}
}