[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-admin = "*"
flask-restful = "*"
xmlrunner = "*"
sphinxapi-py3 = "*"
wand = "*"
bleach = "*"
psycopg2-binary = "*"
urllib3 = "*"
celery = "*"
configparser = "*"
requests = "*"

[requires]
python_version = "3.7"
