{% include 'header.html' %}

<br>
	<div class="panel panel-default panel-heading bg-gray-light">
		<h3 class="panel-title"><strong>About Us </strong></h3>
	</div>

	<div class="panel panel-default">
		<div class="row">
			<div class="panel-body">
				<blockquote>
					<p><i>"Making sense of genomics is risky, <br>
						But with database builders so frisky <br>
						Gene expression in brains <br>
						May one day explain <br>
						A mouse's obsession with whiskey" <br>
					</i></p>


					<footer>Poet Laureate of the Neuroscience Program, <br>
						University of Illinois at Urbana-Champaign, <br>
						November 27, 2006
					</footer>
				</blockquote>
			</div>
		</div>

		<div class="row">
			<div class="panel-body">
				<p><strong>When using Gene Weaver, please cite:</strong>
					Erich J. Baker, Jeremy J. Jay, Jason A. Bubier, Michael A. Langston, and Elissa J. Chesler.
					<a href="http://nar.oxfordjournals.org/content/40/D1/D1067.full">Geneweaver: a web-based system for
						integrative functional genomics.</a>
					Nucl. Acids Res. (2012) 40(D1): D1067-D1076
				</p>
			</div>

		</div>

		<div class="row">
			<div class="panel-body">
				<p>There are many people who have contributed to this project over the years. We would especially
					like to thank the following: </p>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-circle"></i>Jeremy Jay, Lead Developer</li>
					<li><i class="fa-li fa fa-circle"></i>Zuopan Li, Web Programmer</li>
					<li><i class="fa-li fa fa-circle"></i>Michael A. Langston, Graph Algorithms Team Leader</li>
					<li><i class="fa-li fa fa-circle"></i>Yun Zhang, Graph Algorithms</li>
					<li><i class="fa-li fa fa-circle"></i>Erich J. Baker, Database Design Leader</li>
					<li><i class="fa-li fa fa-circle"></i>Roumyana Kirova, Statistics and Data Mining</li>
					<li><i class="fa-li fa fa-circle"></i>Vivek Philip, Visualization</li>
					<li><i class="fa-li fa fa-circle"></i>True Price, Searching</li>
					<li><i class="fa-li fa fa-circle"></i>Charles Stokes, Flask development, Searching</li>
					<li><i class="fa-li fa fa-circle"></i>Elissa J. Chesler, Fearless Leader</li>
				</ul>
				<br>
			</div>
		</div>
	</div>


{% include 'footer.html' %}
