{% set title="Analyze GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<style>

    .plus:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    .minus .plus:before {
        content: "\f068";
    }

    .closedstar:before {
        content: "\f005";
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
        color: #006400;
    }

    a:link {
        #color: darkgreen;

    }

    a:hover {
        #color: green;
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    .panel .panel-header .panel-info .panel-heading {
        background-color: #F0F0F0;
        color: #F0F0F0;
    }

    .datatablerowhighlight {
        background-color: #ECFFB3;
    }

    .row_selected {
        background-color: #000000;
    }

    #clickableFontAwesome {
        cursor: pointer;
    }

    .page-header {
        border-bottom-width: thick;
        border-bottom-color: #006400;
    }

    img {
        border-style: none;
    }

    /* Override checkbox style found in plugins.min.css. It's messing up the
     * alignment of checkboxes and project names.
     */
    .ui-checkbox {
        margin: 0;
    }

    .tool-title {

        font-family: 'Carrois Gothic', sans-serif;
        font-size: 18px;
    }

    .tool-description {

        display: inline-block;
        font-family: 'Carrois Gothic', sans-serif;
        font-size: 11px;
    }

    .remove_button {
        padding: 7px 7px;
        background-color: darkred;

    }

</style>


{% if user_id == 0 %}
    {% include 'htmlfragments/permissionError.html' %}
{% else %}

    {% block body %}

        <div id="maindiv" xmlns="http://www.w3.org/1999/html">

            <p>

            <div class="row" id="result"></div>

            <div class="panel panel-default panel-heading bg-gray-light">
                <h3 class="panel-title"><strong>Analyze Ontologies</strong>
                    <span id="clickableFontAwesome" tabindex="0" data-trigger="focus"><i class="fa fa-info-circle"></i></span>
                </h3>
            </div>


            {# This existing error class is different then other jquery error classes that I have used. It is legacy
            but I am keeping it until I can refactor all of the code.#}
            {% with errors = get_flashed_messages() %}
                {% if errors %}
                    {%- for msg in errors %}
                        <div class="alert alert-danger fade in" style="text-align:center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                x
                            </button>
                            <strong>
                                {{ msg }}
                            </strong>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}


            <form target="_blank" id="todo-id" class="form-horizontal" role="form" method="post">
                <div class="row">

                    <!-- the Analysis tools column -->
                    <div class="col-md-4" id = "left_side">
                        <div class="page-header">
                            <h2>Analysis Tools</h2>
                        </div>
                        <div class="panel-group" id="accordion">
                            {% for tool in active_tools %}
                                {% if "Ontology" in tool.classname %}
                                    {% include 'tool/' + tool.classname + '_options.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!-- <div id="substitute_interface"> -->
                        <form name="analyzeOntology" method="post" action="#"
                              class="form-horizontal form-inline" novalidate="novalidate">
                            <!-- the projects column -->
                            <div class="col-md-8" id="analyzeOntology">
                                <div class="page-header" id="Ontology_interface_header" style="margin-bottom:0;">
                                    <h2>Ontology <span id="ontologyInformation" tabindex="0"
                                                   data-trigger="focus">
                                        <i class="fa fa-info-circle"></i>
                                            </span></h2>

                                </div>

                                {% if "user" in g %}
                                        {#                                <div class="row">#}
                                        {#                                    <div class="col-md-2 col-md-offset-8">#}
                                        {#                                        <button type="button" class="btn btn-block btn-warning" id="add-rdf" disabled>#}
                                        {#                                            <i class="fa fa-plus" aria-hidden="true"></i> Add RO Term#}
                                        {#                                        </button>#}
                                        {#                                    </div>#}
                                        {##}
                                        {#                                    <div class="col-md-2">#}
                                        {#                                        <button type="button" class="btn btn-block btn-warning" id="remove-term"#}
                                        {#                                                disabled>#}
                                        {#                                            <i class="fa fa-times" aria-hidden="true"></i> Remove Term(s)#}
                                        {#                                        </button>#}
                                        {#                                    </div>#}
                                        {#                                </div>#}
                                    <div class="row">
                                        <span id="ontology_Warning"></span>
                                    </div>

                                    <br>

                                    <div style="margin-left: 1em;">
                                        <br/>

                                        <div>
                                            Add new term:
                                            <input id="add-annotation" name="add-annotation"
                                               type="text"/>
                                                (start typing to search ontologies)
                                        </div>
                                        <table class="table table-hover" id="annotation-list">
                                            <thead>
                                                <tr class="header">
                                                    <th></th>
                                                    <th>Ontology Term</th>
                                                    <th>Term ID</th>
                                                    <th>Description</th>
                                                    <th>Ontology Database</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size:13px">
                                            </tbody>
                                        </table>

                                    <br/>
                                            {#                                    <div class="row">#}
                                            {#                                        <div class="col-xs-3">#}
                                            {#                                            <select name="ontology_db" id="ontology_db"#}
                                            {#                                                    class="form-control"#}
                                            {#                                                    style="margin-bottom: 20px;" required>#}
                                            {#% for ont in ont_dbs %#}
                                            {#                                                    <option value="{{ ont.ontologydb_id }}">#}
                                            {#                                                        {{ ont.name }}#}
                                            {#                                                    </option>#}
                                            {#                                                {% endfor %}#}
                                            {#                                            </select>#}
                                            {#                                        </div>#}
                                            {#                                        <div id="genesetOntologyAlert"#}
                                            {#                                             class="alert alert-warning fade in col-xs-3"#}
                                            {#                                             style="width:400px; text-align:center;">#}
                                            {#                                            <button type="button" class="close"#}
                                            {#                                                    data-dismiss="alert" aria-hidden="true">#}
                                            {#                                                x#}
                                            {#                                            </button>#}
                                            {#                                            <strong>#}
                                            {#                                                Annotation changes persist on (de)selection.#}
                                            {#                                            </strong>#}
                                            {#                                        </div>#}
                                            {#                                    </div>#}
                                            {##}
                                            {#                                    <div style="border: 1px solid #afafaf;">#}
                                            {#                                        <div id="tree" name="selNodes" style="overflow:auto; max-height:600px"></div>#}
                                            {#                                    </div>#}
                                    </div>
                                {% else %}
                                    <div class="alert alert-warning fade in">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x
                                        </button>
                                        You do not have any projects.
                                    </div>
                                {% endif %}

                            </div>
                        <!-- </form> -->
                    <!-- </div> -->

                    <!-- <form id="analyzeGenesets" name="analyzeGenesets" method="post" action="#"
						  class="form-horizontal form-inline" novalidate="novalidate" style="display:none"> -->
                        <!-- the projects column -->
                        <div class="col-md-8" id="analyzeGenesets" style="visibility: hidden">
                            <div class="page-header" style="margin-bottom:0;">
							    <h2>Projects <span id="geneset-count"></span></h2>
						    </div>

                            {% if "user" in g %}

                                <div class="panel-body">
								    <div id="geneset-count" class="h5"></div>
                                    <!-- TODO make the table sortable, show more gene details -->
                                    <table class="table table-hover" id="allGenesets" cellpadding="0" cellspacing="0">
                                        <tbody>

                                            {% for proj in g.user.projects %}
                                                <tr>
                                                    {# checkbox #}
                                                    <td width="18">
                                                        <div class="ui-checkbox proj-checkbox">
                                                            <label for="proj-{{ proj.project_id }}-allcheck">
                                                                <input type="checkbox" data-project="{{ proj.project_id }}"
                                                                   data-project-name="{{ proj.name }}"
                                                                   name="project_{{ proj.project_id }}"
                                                                   id="proj-{{ proj.project_id }}-allcheck"/>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    {# expand button #}
                                                    <td width="15">
                                                        <span id="proj-{{ proj.project_id }}" class="toggler" data-prod="{{ proj.project_id }}">
                                                            <span class="plus"></span>
                                                            <span class="minus"></span>
                                                        </span>
                                                    </td>
                                                    {# Project Name #}
                                                    <td>
                                                        <span data-prod="{{proj.project_id }}" class="toggler" style="cursor:pointer;">
                                                            <strong>{{ proj.name }}</strong>
                                                                {% if proj.star == 't' %}
                                                                    <span class="closedstar"></span>
                                                                {% endif %}
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr class="gsid{{ proj.project_id }}" id="genesets-{{ proj.project_id }}"
                                                    style="display: none;">
                                                    <td colspan="9">
                                                        <table id="project-body-{{ proj.project_id }}"
                                                            class="table table-hover">
                                                        </table>
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
				                {# Only display this section if the user has shared projects #}
				                {% if grp2proj.keys() | length > 0 %}
                                    <div class="page-header" style="margin-bottom:0;margin-top:0;">
					                    <h2>Shared Projects</h2>
				                    </div>
                                    <div class="panel-body">
                                        <div id="shared-geneset-count" class="h5"></div>
                                        <!-- TODO make the table sortable, show more gene details -->
                                        {% for grp in grp2proj %}
                                            <div style="border-bottom:2px #006400 solid; margin-bottom:10px;">
                                                <h4>{{ grp }}</h4>
                                            </div>

                                            {% for proj in grp2proj[grp] %}
                                                <table class="table table-hover" id="allGenesets" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            {# checkbox #}
                                                            <td width="18">
                                                                <div class="ui-checkbox proj-checkbox">
                                                                    <label for="proj-{{ proj.project_id }}-allcheck">
                                                                        <input type="checkbox" data-project="{{ proj.project_id }}"
                                                                            data-project-name="{{ proj.name }}"
                                                                            name="project_{{ proj.project_id }}"
                                                                            id="proj-{{ proj.project_id }}-allcheck"/>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            {# expand button #}
                                                            <td width="15">
                                                                <span id="proj-{{ proj.project_id }}" class="toggler" data-prod="{{ proj.project_id }}">
                                                                    <span class="plus"></span>
                                                                    <span class="minus"></span>
                                                                </span>
                                                            </td>
                                                            {# Project Name #}
                                                            <td>
                                                                <span data-prod="{{proj.project_id }}" class="toggler" style="cursor:pointer;">
                                                                    <strong>{{ proj.name }}</strong>
                                                                    <span style="font-size:13px; color:#888;">
                                                                        <b>(Shared by {{proj.owner}})</b>
                                                                    </span>
                                                                    {% if proj.star == 't' %}
                                                                        <span class="closedstar"></span>
                                                                    {% endif %}
                                                                </span>
                                                            </td>

                                                        </tr>

                                                        <tr class="gsid{{ proj.project_id }}" id="genesets-{{ proj.project_id }}"
                                                            style="display: none;">
                                                            <td colspan="9">
                                                                <table id="project-body-{{ proj.project_id }}"
                                                                       class="table table-hover">
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
						        {% endif %}
                            {% else %}
                                <div class="alert alert-warning fade in">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                    You do not have any projects.
                                </div>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </form>
        </div>
    {% endblock %}

{% endif %}

{% include 'modal/addGenesetsToProjects.html' %}
{% include 'modal/addRDFToGeneset.html' %}
{% include 'modal/showGenericMessage.html' %}

{% include 'footer.html' %}

<script type="text/javascript" src="../static/js/geneweaver/tags.js"></script>
<script type="text/javascript" src="../static/js/geneweaver/selected.js"></script>
<script type="text/javascript" src="/static/js/geneweaver/addRDFModal.js"></script>
<script type="text/javascript" src="/static/js/geneweaver/showErrorModal.js"></script>
<script>

    var checkedOnts = [];

    var disableActionButtons = function (newState) {
        $('#add-rdf').prop('disabled', newState);
        $('#remove-term').prop('disabled', newState);
    };

    var updateCheckedOnts = function (ont_id, ro_ont_id) {
        var row_id = ont_id + '-' + ro_ont_id,
            checkbox_el = $("#addRDF" + row_id),
            idx = checkedOnts.indexOf(row_id);
        if (checkbox_el.attr('checked') && idx === -1) {
            checkedOnts.push(row_id);
        } else {
            if (idx !== -1) {
                checkedOnts.splice(idx, 1)
            }
        }
        if (checkedOnts.length < 1) {
            disableActionButtons(true);
        } else {
            disableActionButtons(false);
        }
    };

    var removeOntology = function (row_id) {
        const [ont_id, ro_ont_id] = row_id.split('-');
        $.ajax({
            url: '/updateGenesetOntologyDB',
            type: 'GET',
            data: {
                key: ont_id,
                flag: false,
                universe: 'Manual Association',
                gs_id: gsID,
                ro_ont_id: ro_ont_id
            }
        });

    };

    var removeSelectedOntologies = function () {
        return function () {
            checkedOnts.forEach(function (i) {
                removeOntology(i);
            });
            setTimeout(function () {
                $('#annotation-list').DataTable().ajax.reload();
                $("#tree").dynatree("getTree").reload();
                checkedOnts = [];
            }, 500);
        };
    };

    var openRemoveModal = function () {
        return function () {
            if (checkedOnts.length > 0) {
                var genericModal = $('#showGenericModal'),
                    modalFooter = genericModal.find('.modal-footer');
                var deleteButton = `<button type="submit" class="btn btn-md btn-warning" data-dismiss="modal" id="submitRemoveTerms">
                       Remove
                    </button>`;
                genericModal.find('.modal-title').html('Remove Ontology Terms');
                genericModal.find('#genericMessage').html('Are you sure you want to remove these terms?');
                if (modalFooter.find('#submitRemoveTerms').length < 1) {
                    modalFooter.append(deleteButton);
                    modalFooter.find('#submitRemoveTerms').on('click', removeSelectedOntologies());
                }
                genericModal.modal('show');
            } else {
                showErrorModal('Please select at least one Ontology to delete');
            }
        }
    };

    /*
     * Retrieves the currently selected annotation reference type.
     *
     * returns
     *      the name of the currently selected reference type
     */
    var getSelectedRefType = function () {

        var ref = $('#ontology_db option:selected').val();

        return $.trim(ref);
    };

    /**
     * Changes the "Run Annotator" button between its disabled, running and
     * enabled, ready states. The style change is performed so the user knows
     * the annotator is running (it might take awhile depending on the amount
     * of text being annotated).
     */
    var changeAnnotatorButton = function () {

        if ($('#run-annotator').prop('disabled')) {

            $('#annotator-icon').attr('class', 'fa fa-play');
            $('#annotator-text').text('Run Annotator');

        } else {

            $('#annotator-icon').attr('class', 'fa fa-cog fa-spin');
            $('#annotator-text').text('Running...');
        }

        toggleElementDisabled('#run-annotator');
    };

    $(document).ready(function () {
        var selectOnt = []
        console.log("document ready check")
        console.log("the datatable version is" + $.fn.DataTable.version)
        // DataTable initialization for the list of gene set annotations
        var table = $('#annotation-list').DataTable({
            'paging': false,
            'searching': false,
            'info': false,
            'sAjaxDataProp': 'annotations',
            'columns': [
                {data: null, defaultContent: ''},
                {data: 'name'},
                {data: 'reference_id'},
                {data: 'description'},
                {data: 'ref_type'},
                {data: 'id', visible: false}
            ],
            'aoColumnDefs': [{
                'aTargets': [0],
                'fnCreatedCell': function (nTd, _, oData, _, _) {
                    var roCheck = $('<button class="remove_button"></button>');

                    {#$('<div class="ui-checkbox">' +#}
                    {#    '<input class="addGene" name="gsoptions[]" ' +#}
                    {#    'id="addRDF' +  oData['ont_id'] + '-' + oData['ro_id'] + '" ' +#}
                    {#    'value="' +  oData['ont_id'] + '" ' +#}
                    {#    'type="checkbox"' +#}
                    {#    'onchange="updateCheckedOnts(' + oData['ont_id']+ ', ' + oData['ro_id'] + ');' +#}
                    {#    '"></div>');#}
                    $(nTd).append(roCheck);
                }
            }, {
                'aTargets': [2],
                fnCreatedCell: function (nTd, sData, oData, iRow, _) {
                    var fixed_data = table.column(2).data().toArray();
                    var roCheck = $('<input type="hidden" ' +
                        ' name=selected_ontology_' + iRow +
                        ' value=' + '"' + oData['id'] + '">');
                    console.log("input cell is " + oData['id'])
                    $(nTd).append(roCheck);

                }

            }]
        });

        {##}
        {##}
        {#$('#add-rdf').on('click', openRDFModal('#addRDFToGeneset', gsID, checkedOnts, ros));#}
        {#$('#remove-term').on('click', openRemoveModal());#}


        // Change the way the autocomplete menu is rendered
        $.widget('ui.autocomplete', $.ui.autocomplete, {
            _renderItem: function (ul, item) {
                var termlabel = item.ref_id + ': ' + item.name;
                var ontology = item.ontdb_name;

                return $('<li style="list-style:none;font-size:11px;"></li>')
                    //.data( "item.autocomplete", item )
                    //.append( "<a>" + termlabel + "&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>" )
                    .append("<a>")
                    .append(termlabel)
                    .append("&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>")
                    //.append( "<a>" + termlabel + "&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>" )
                    .appendTo(ul);

                //return $('<li>')
                //    .append(term)
                //    .append(ontology)
                //    .appendTo(ul);
            }
        });

        $('#annotation-list').on('click', '.remove_button', function () {
            console.log("delete button clicked");
            table.row($(this).parents('tr')).remove().draw();
        });

        $('#add-annotation').on('keyup', function () {

            console.log("adding the annotation")
            var value = $(this).val();

            if (value.length < 3)
                return;

            // Callback hell :(
            $.ajax({
                url: '/ontologyTermSearch.json',
                data: {search: value},
                dataType: 'json',
                success: function (result) {
                    var terms = result.terms;

                    $('#add-annotation').autocomplete({
                        source: terms,
                        minLength: 3,
                        // Custom function for handling selection events
                        select: function (event, ui) {
                            event.preventDefault();
                            console.log("the ontology id you selected is " + ui.item.ont_id)

                            $.ajax({
                                url: '/getOntologyTermsByID.json',
                                data: {ID: ui.item.ont_id},
                                dataType: 'json',
                                success: function (r) {
                                    var result = r.list
                                    selectOnt.push(result["ontology_id"])
                                    console.log(result)

                                    var selected_ids = table.column(2).data().toArray();

                                    if (!selected_ids.includes(result["ontology_id"])) {

                                        table.row.add({
                                            "name": result['name'],
                                            "reference_id": result['ontology_id'],
                                            "ref_type": result['ontdb_name'],
                                            "description": result['description'],
                                            "id": result['id']

                                        }).draw(false);
                                    } else {

                                        {# TODO pop the warning message #}
                                        console.log("repeat selection");
                                        var warning_section = document.getElementById("ontology_Warning");
                                        warning_section.innerHTML = '<div class="alert alert-danger fade in" style="text-align:center"> ' +
                                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true" >' +
                                            'x </button> ' +
                                            '<strong> duplicated selection! </strong> </div>';

                                    }

                                }
                            })
                        },
                    });
                }
            });
        });
    });

    $(document).ready(function () {

        var url = '/projectGenesets.json';

        /**
         * Although attribution and species tags are part of the
         * viewGenesetSummaryPartial template, we generate the tags out here in
         * in the wrapper section otherwise this bit of javascript will be
         * injected into every single search result (50 per page).
         */
        {% if attribs %}
            makeAttributionTags({{ attribs | tojson | safe }});
        {% else %}
            makeAttributionTags();
        {% endif %}

        // Species tags are generated each time a project is expanded since we
        // use lazy loading.
        {% if species %}
            var species = {{ species | tojson | safe }};
        {% else %}
            var species = [];
        {% endif %}



        // Changes caret position when tool options are expanded.
        $('.tool-link').on('click', function (event) {

            var caret = $(this).children('.fa-caret-left');
            var allCarets = $('.fa-caret-left');

            if (!$(this).children('.fa-rotate-270').length) {

                allCarets.attr('class', 'fa fa-caret-left');
                caret.attr('class', 'fa fa-caret-left fa-rotate-270');

            } else {
                allCarets.attr('class', 'fa fa-caret-left');
            }
        });


        $('#clickableFontAwesome').popover({
            title: 'Select Projects or Gene Sets', content: 'Select entire projects on the right or expand ' +
                'to select individual gene sets within those projects. Next, select a tool from the left, including ' +
                'the appropriate options.'
        });


    });

</script>

<script>



    /*
     * Toggles an element's enabled/disabled property.
     *
     * arguments
     *      element: HTML element being enabled/disabled
     */
    var toggleElementDisabled = function (element) {

        $(element).prop('disabled', function () {
            return !$(this).prop('disabled')
        });
    };

    /*
     * Retrieves the currently selected annotation reference type.
     *
     * returns
     *      the name of the currently selected reference type
     */
    var getSelectedRefType = function () {

        var ref = $('#ontology_db option:selected').val();

        return $.trim(ref);
    };

    /*
     * Retrieves and concatenates GS name/description text and publication
     * title/abstract text so it can be sent to the annotator. Description and
     * publication text is returned separately because the annotator tool has
     * specific reference types for each.
     *
     * returns
     *      an object containing text from the GS description and publication
     */
    var getGenesetText = function () {

        var gsName = $.trim($('#genesetName').text()),
            gsDesc = $.trim($('#genesetDescription').text()),
            pubTitle = $.trim($('#pub_title').text()),
            pubAbs = $.trim($('#pub_abstract').text());

        return {
            description: gsName + ' ' + gsDesc,
            publication: pubTitle + ' ' + pubAbs
        };
    };

    /**
     * Changes the "Run Annotator" button between its disabled, running and
     * enabled, ready states. The style change is performed so the user knows
     * the annotator is running (it might take awhile depending on the amount
     * of text being annotated).
     */
    var changeAnnotatorButton = function () {

        if ($('#run-annotator').prop('disabled')) {

            $('#annotator-icon').attr('class', 'fa fa-play');
            $('#annotator-text').text('Run Annotator');

        } else {

            $('#annotator-icon').attr('class', 'fa fa-cog fa-spin');
            $('#annotator-text').text('Running...');
        }

        toggleElementDisabled('#run-annotator');
    };


    //This refreshes all tree data based on changing gso_ref_type (universe) seen in the gso_ref_type select tag
    $($("#ontology_db").change(function () {
        $("#tree").dynatree("option", "initAjax", {
            url: "/initOntTree",
            data: {
                gs_id: gsID,
                universe: getSelectedRefType()
            }
        });
        $("#tree").dynatree("getTree").reload();
    }));

    $(window).on("load", function (e) {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    function formFocus($e) {
        $e.style.backgroundColor = "yellow";
    }

    function noFormFocus($e) {
        $e.style.backgroundColor = '';
    }


    function createReaderHandler(name) {
        return function (ev) {
            data[name] = ev.target.result;
        };
    }

    //Popover that gives Geneset Ontology functionality overview for the user
    //Displayed when ontologies are linked with the geneset
    $('#ontologyInformation').popover({
        title: 'GeneSet Annotations',
        content: 'GeneSet ontology annotations are highlighted below. ' +
            'The drop down menu above the ontology tree allows for the ' +
            'selection of GeneSet annotation source, e.g. manual or inferred ' +
            'from text mining. All selected ontology terms may be viewed ' +
            'under the All Reference Types category. GeneSet ontology ' +
            'annotations may be added or removed under any other category. ' +
            'Contact us to suggest additional ontologies that you would ' +
            'like to use to annotate your GeneSets.'
    });


    //toggles between the file or paste uploaders and toggle's enable/disable on inputs
    function toggle_pasting() {

        $("#file_uploader").toggle();
        $("#paste_uploader").toggle();

        $('#file_text').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
        $('#file_data').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
    }


</script>

<script>

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    // Updates selected geneset and project counts and displays them to the
    // user. The counts are stored as static variable within a closure.
    // Project count displays are currently disabled.
    //
    // :type gscount: int
    // :arg gscount: the number of genesets to add to the count
    //
    // :type pjcount: int
    // :arg pjcount: the numebr of projects to add to the count
    //
    var updateCount = (function() {

        var gsCount = 0;
        var pjCount = 0;

        return function(gscount, pjcount) {

            gsCount += gscount;
            pjCount += pjcount;

            $('#geneset-count').html(function() {
                if (gsCount === 0)
                    return '';

                if (gsCount === 1)
                    return '(' + gsCount + ' geneset is selected)';

                return '(' + gsCount + ' genesets are selected)';
            });
        };


    })();




    $(document).ready(function () {

        var url = '/projectGenesets.json';

        /**
         * Although attribution and species tags are part of the
         * viewGenesetSummaryPartial template, we generate the tags out here in
         * in the wrapper section otherwise this bit of javascript will be
         * injected into every single search result (50 per page).
         */
        {% if attribs %}
            makeAttributionTags({{ attribs | tojson | safe }});
        {% else %}
            makeAttributionTags();
        {% endif %}

        // Species tags are generated each time a project is expanded since we
        // use lazy loading.
        {% if species %}
            var species = {{ species | tojson | safe }};
        {% else %}
            var species = [];
        {% endif %}


        // Changes caret position when tool options are expanded.
        $('.tool-link').on('click', function(event) {

            var caret = $(this).children('.fa-caret-left');
            var allCarets = $('.fa-caret-left');

            if (!$(this).children('.fa-rotate-270').length) {

                allCarets.attr('class', 'fa fa-caret-left');
                caret.attr('class', 'fa fa-caret-left fa-rotate-270');

            } else {
                allCarets.attr('class', 'fa fa-caret-left');
            }
        });

        // TODO: this should be refactored
        // All selector checkbox
        $('.proj-checkbox').on('click', function(event) {

            var check = $(this).find('input[type=checkbox]');
            var allcheck = '#' + check.attr('id');
            var pid = allcheck.split('-')[1];
            var pbid = '#project-body-' + pid;
            var chkclass = '.proj-' + pid + '-check';

            // Check to see if we haven't made an AJAX call for this project
            if ($(pbid).children().length === 0) {

                var data = {'project': pid};
                $.get(url, data).done(function (data) {
                    $(pbid).append(data);
                    selected.add(check);
                    $(chkclass).each(function (index) {
                        $(this).attr('checked', true);
                        updateCount(1, 0);
                        selected.add($(this));
                    });
                });

            } else {

                if ($(allcheck).attr('checked')) {
                    selected.remove(check);

                    $(chkclass).each(function (index) {
                        if ($(this).attr('checked')) {
                            updateCount(-1, 0);
                            selected.remove($(this));
                        }
                        $(this).attr('checked', false);
                    });

                } else {
                    selected.add(check);
                    $(chkclass).each(function (index) {
                        if (!$(this).attr('checked')) {
                            updateCount(1, 0);
                            selected.add($(this));
                        }
                        $(this).attr('checked', true);
                    });
                }
            }
        });

        // Updates individual geneset counts. Since the geneset list is
        // injected into the dom, we register the click handler on a static
        // element that exists prior to injection, and then filter the child
        // elements that call the event.
        //
        $('.table').on('click', 'input[type=checkbox]', function(event) {

            var projCheck = $(this).attr('class');
            var checkIndex = projCheck.search('-check');
            projCheck = projCheck.slice(0, checkIndex);
            projCheck += '-allcheck';

            event.stopPropagation();

            // TODO: Looks like our fancy checkboxes don't support the
            // indetereminate visual state. :(
            $('#' + projCheck).prop('indeterminate', true);

            // Backwards because by the time we check to see if the box is
            // (un)checked, it's already the opposite. Web dev is pants on
            // head retarded sometimes.
            if ($(this).attr('checked')) {
                updateCount(1, 0);
                selected.add($(this))
            } else {
                updateCount(-1, 0);
                selected.remove($(this));
            }
        });

        // Project genesets are only loaded when necessary (i.e. when a user
        // clicks on the project link.
        $('.toggler').click(function (e) {

            e.preventDefault();
            //the data stored in the data-prod
            var pid = ($(this).attr("data-prod"));
            var pbid = '#project-body-' + pid;
            var data = {'project': pid};

            // Check to see if we've already made an AJAX call for this project
            if ($(pbid).children().length !== 0) {
                $(".gsid" + pid).toggle();
                //select the parent and find the span so you can
                //toggle the "plus" class
                $('#proj-' + pid).parent().find("span").toggleClass("plus");
                //toggle the minus class
                $('#proj-' + pid).toggleClass("plus");
                $('#proj-' + pid).toggleClass("minus");
                return;
            }

            // Flask should return the rendered HTML, inject it into the DOM
            $.get(url, data).done(function (data) {

                var tbody = pbid + ' tbody';
                $(pbid).append(data);
                //toggle the link clicked on
                $(".gsid" + pid).toggle();
                //select the parent and find the span so you can
                //toggle the "plus" class
                $('#proj-'+pid).toggleClass("minus");

                var allclass = '#proj-' + pid + '-allcheck';
                var chkclass = '.proj-' + pid + '-check';

                // Now start checking to see if we need to mark the checkboxes
                // under this particular project
                if ($(allclass).attr('checked')) {

                    $(chkclass).each(function (index) {
                        $(this).attr('checked', true);
                    });
                }

                // Generate these tags once we actually have loaded data
                // TODO: this could be improved by caching
                makeSpeciesTags(species);
            });
        });


        $('#clickableFontAwesome').popover({
            title: 'Select Projects or Gene Sets', content: 'Select entire projects on the right or expand ' +
            'to select individual gene sets within those projects. Next, select a tool from the left, including ' +
            'the appropriate options.'
        });
    });
</script>


