{% set title="Analyze GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<style>

    .plus:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    .minus .plus:before {
        content: "\f068";
    }

    .closedstar:before {
        content: "\f005";
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
        color: #006400;
    }

    a:link {
        #color: darkgreen;

    }

    a:hover {
        #color: green;
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    .panel .panel-header .panel-info .panel-heading {
        background-color: #F0F0F0;
        color: #F0F0F0;
    }

    .datatablerowhighlight {
        background-color: #ECFFB3;
    }

    .row_selected {
        background-color: #000000;
    }

    #clickableFontAwesome {
        cursor: pointer;
    }

    .page-header {
        border-bottom-width: thick;
        border-bottom-color: #006400;
    }

    img {
        border-style: none;
    }

    /* Override checkbox style found in plugins.min.css. It's messing up the
     * alignment of checkboxes and project names.
     */
    .ui-checkbox {
        margin: 0;
    }

    .tool-title {

        font-family: 'Carrois Gothic', sans-serif;
        font-size: 18px;
    }

    .tool-description {

        display: inline-block;
        font-family: 'Carrois Gothic', sans-serif;
        font-size: 11px;
    }

    .remove_button {
        padding: 7px 7px;
        background-color: darkred;

    }

</style>


{% if user_id == 0 %}
    {% include 'htmlfragments/permissionError.html' %}
{% else %}

    {% block body %}

        <div id="maindiv" xmlns="http://www.w3.org/1999/html">

            <p>

            <div class="row" id="result"></div>

            <div class="panel panel-default panel-heading bg-gray-light">
                <h3 class="panel-title"><strong>Analyze Gene Sets and Projects</strong>
                    <span id="clickableFontAwesome" tabindex="0" data-trigger="focus"><i class="fa fa-info-circle"></i></span>
                </h3>
            </div>


            {# This existing error class is different then other jquery error classes that I have used. It is legacy
            but I am keeping it until I can refactor all of the code.#}
            {% with errors = get_flashed_messages() %}
                {% if errors %}
                    {%- for msg in errors %}
                        <div class="alert alert-danger fade in" style="text-align:center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                x
                            </button>
                            <strong>
                                {{ msg }}
                            </strong>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}


            <form target="_blank" id="todo-id" class="form-horizontal" role="form" method="post">
                <div class="row">

                    <!-- the Analysis tools column -->
                    <div class="col-md-4">
                        <div class="page-header">
                            <h2>Analysis Tools</h2>
                        </div>
                        <div class="panel-group" id="accordion">
                            {% for tool in active_tools %}
                                {% if "Ontology" in tool.classname %}
                                    {% include 'tool/' + tool.classname + '_options.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <form id="analyzeGenesets" name="analyzeGenesets" method="post" action="#"
                          class="form-horizontal form-inline" novalidate="novalidate">
                        <!-- the projects column -->
                        <div class="col-md-8">
                            <div class="page-header" id="Ontology_interface_header" style="margin-bottom:0;">
                                <h2>Ontology <span id="ontologyInformation" tabindex="0"
                                                   data-trigger="focus">
                                        <i class="fa fa-info-circle"></i>
                                            </span></h2>

                            </div>

                            {% if "user" in g %}

                                {#                                <div class="row">#}
                                {#                                    <div class="col-md-2 col-md-offset-8">#}
                                {#                                        <button type="button" class="btn btn-block btn-warning" id="add-rdf" disabled>#}
                                {#                                            <i class="fa fa-plus" aria-hidden="true"></i> Add RO Term#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                {##}
                                {#                                    <div class="col-md-2">#}
                                {#                                        <button type="button" class="btn btn-block btn-warning" id="remove-term"#}
                                {#                                                disabled>#}
                                {#                                            <i class="fa fa-times" aria-hidden="true"></i> Remove Term(s)#}
                                {#                                        </button>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="row">
                                    <span id="ontology_Warning"></span>
                                </div>

                                <br>

                                <div style="margin-left: 1em;">
                                    <br/>

                                    <div>
                                        Add new term:
                                        <input id="add-annotation" name="add-annotation"
                                               type="text"/>
                                        (start typing to search ontologies)
                                    </div>
                                    <table class="table table-hover" id="annotation-list">
                                        <thead>
                                        <tr class="header">
                                            <th></th>
                                            <th>Ontology Term</th>
                                            <th>Term ID</th>
                                            <th>Description</th>
                                            <th>Ontology Database</th>
                                        </tr>
                                        </thead>
                                        <tbody style="font-size:13px">
                                        </tbody>
                                    </table>

                                    <br/>

                                    {#                                    <div class="row">#}
                                    {#                                        <div class="col-xs-3">#}
                                    {#                                            <select name="ontology_db" id="ontology_db"#}
                                    {#                                                    class="form-control"#}
                                    {#                                                    style="margin-bottom: 20px;" required>#}
                                    {#% for ont in ont_dbs %#}
                                    {#                                                    <option value="{{ ont.ontologydb_id }}">#}
                                    {#                                                        {{ ont.name }}#}
                                    {#                                                    </option>#}
                                    {#                                                {% endfor %}#}
                                    {#                                            </select>#}
                                    {#                                        </div>#}
                                    {#                                        <div id="genesetOntologyAlert"#}
                                    {#                                             class="alert alert-warning fade in col-xs-3"#}
                                    {#                                             style="width:400px; text-align:center;">#}
                                    {#                                            <button type="button" class="close"#}
                                    {#                                                    data-dismiss="alert" aria-hidden="true">#}
                                    {#                                                x#}
                                    {#                                            </button>#}
                                    {#                                            <strong>#}
                                    {#                                                Annotation changes persist on (de)selection.#}
                                    {#                                            </strong>#}
                                    {#                                        </div>#}
                                    {#                                    </div>#}
                                    {##}
                                    {#                                    <div style="border: 1px solid #afafaf;">#}
                                    {#                                        <div id="tree" name="selNodes" style="overflow:auto; max-height:600px"></div>#}
                                    {#                                    </div>#}
                                </div>



                            {% else %}

                                <div class="alert alert-warning fade in">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x
                                    </button>
                                    You do not have any projects.
                                </div>

                            {% endif %}

                        </div>

                    </form>
            </form>

        </div>

    {% endblock %}

{% endif %}

{% include 'modal/addGenesetsToProjects.html' %}
{% include 'modal/addRDFToGeneset.html' %}
{% include 'modal/showGenericMessage.html' %}

{% include 'footer.html' %}

<script type="text/javascript" src="../static/js/geneweaver/tags.js"></script>
<script type="text/javascript" src="../static/js/geneweaver/selected.js"></script>
<script type="text/javascript" src="/static/js/geneweaver/addRDFModal.js"></script>
<script type="text/javascript" src="/static/js/geneweaver/showErrorModal.js"></script>
<script>

    var checkedOnts = [];

    var disableActionButtons = function (newState) {
        $('#add-rdf').prop('disabled', newState);
        $('#remove-term').prop('disabled', newState);
    };

    var updateCheckedOnts = function (ont_id, ro_ont_id) {
        var row_id = ont_id + '-' + ro_ont_id,
            checkbox_el = $("#addRDF" + row_id),
            idx = checkedOnts.indexOf(row_id);
        if (checkbox_el.attr('checked') && idx === -1) {
            checkedOnts.push(row_id);
        } else {
            if (idx !== -1) {
                checkedOnts.splice(idx, 1)
            }
        }
        if (checkedOnts.length < 1) {
            disableActionButtons(true);
        } else {
            disableActionButtons(false);
        }
    };

    var removeOntology = function (row_id) {
        const [ont_id, ro_ont_id] = row_id.split('-');
        $.ajax({
            url: '/updateGenesetOntologyDB',
            type: 'GET',
            data: {
                key: ont_id,
                flag: false,
                universe: 'Manual Association',
                gs_id: gsID,
                ro_ont_id: ro_ont_id
            }
        });

    };

    var removeSelectedOntologies = function () {
        return function () {
            checkedOnts.forEach(function (i) {
                removeOntology(i);
            });
            setTimeout(function () {
                $('#annotation-list').DataTable().ajax.reload();
                $("#tree").dynatree("getTree").reload();
                checkedOnts = [];
            }, 500);
        };
    };

    var openRemoveModal = function () {
        return function () {
            if (checkedOnts.length > 0) {
                var genericModal = $('#showGenericModal'),
                    modalFooter = genericModal.find('.modal-footer');
                var deleteButton = `<button type="submit" class="btn btn-md btn-warning" data-dismiss="modal" id="submitRemoveTerms">
                       Remove
                    </button>`;
                genericModal.find('.modal-title').html('Remove Ontology Terms');
                genericModal.find('#genericMessage').html('Are you sure you want to remove these terms?');
                if (modalFooter.find('#submitRemoveTerms').length < 1) {
                    modalFooter.append(deleteButton);
                    modalFooter.find('#submitRemoveTerms').on('click', removeSelectedOntologies());
                }
                genericModal.modal('show');
            } else {
                showErrorModal('Please select at least one Ontology to delete');
            }
        }
    };

    /*
     * Retrieves the currently selected annotation reference type.
     *
     * returns
     *      the name of the currently selected reference type
     */
    var getSelectedRefType = function () {

        var ref = $('#ontology_db option:selected').val();

        return $.trim(ref);
    };

    /**
     * Changes the "Run Annotator" button between its disabled, running and
     * enabled, ready states. The style change is performed so the user knows
     * the annotator is running (it might take awhile depending on the amount
     * of text being annotated).
     */
    var changeAnnotatorButton = function () {

        if ($('#run-annotator').prop('disabled')) {

            $('#annotator-icon').attr('class', 'fa fa-play');
            $('#annotator-text').text('Run Annotator');

        } else {

            $('#annotator-icon').attr('class', 'fa fa-cog fa-spin');
            $('#annotator-text').text('Running...');
        }

        toggleElementDisabled('#run-annotator');
    };

    $(document).ready(function () {
        var selectOnt = []
        console.log("document ready check")
        console.log("the datatable version is" + $.fn.DataTable.version)
        // DataTable initialization for the list of gene set annotations
        var table = $('#annotation-list').DataTable({
            'paging': false,
            'searching': false,
            'info': false,
            'sAjaxDataProp': 'annotations',
            'columns': [
                {data: null, defaultContent: ''},
                {data: 'name'},
                {data: 'reference_id'},
                {data: 'description'},
                {data: 'ref_type'},
                {data: 'ro_id', visible: false}
            ],
            'aoColumnDefs': [{
                'aTargets': [0],
                'fnCreatedCell': function (nTd, _, oData, _, _) {
                    var roCheck = $('<button class="remove_button"></button>');

                    {#$('<div class="ui-checkbox">' +#}
                    {#    '<input class="addGene" name="gsoptions[]" ' +#}
                    {#    'id="addRDF' +  oData['ont_id'] + '-' + oData['ro_id'] + '" ' +#}
                    {#    'value="' +  oData['ont_id'] + '" ' +#}
                    {#    'type="checkbox"' +#}
                    {#    'onchange="updateCheckedOnts(' + oData['ont_id']+ ', ' + oData['ro_id'] + ');' +#}
                    {#    '"></div>');#}
                    $(nTd).append(roCheck);
                }
            }, {
                'aTargets': [2],
                fnCreatedCell: function (nTd, sData, oData, iRow, _) {
                    var fixed_data = table.column(2).data().toArray();
                    var roCheck = $('<input type="hidden" ' +
                        ' name=selected_ontology_' + iRow +
                        ' value=' + '"' + sData + '">');
                    console.log("input cell is " + fixed_data)
                    $(nTd).append(roCheck);

                }

            }]
        });

        {##}
        {##}
        {#$('#add-rdf').on('click', openRDFModal('#addRDFToGeneset', gsID, checkedOnts, ros));#}
        {#$('#remove-term').on('click', openRemoveModal());#}


        // Change the way the autocomplete menu is rendered
        $.widget('ui.autocomplete', $.ui.autocomplete, {
            _renderItem: function (ul, item) {
                var termlabel = item.ref_id + ': ' + item.name;
                var ontology = item.ontdb_name;

                return $('<li style="list-style:none;font-size:11px;"></li>')
                    //.data( "item.autocomplete", item )
                    //.append( "<a>" + termlabel + "&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>" )
                    .append("<a>")
                    .append(termlabel)
                    .append("&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>")
                    //.append( "<a>" + termlabel + "&nbsp;<span style=\"color:#0000ff;float:right;\">(" + ontology + ")</span></a>" )
                    .appendTo(ul);

                //return $('<li>')
                //    .append(term)
                //    .append(ontology)
                //    .appendTo(ul);
            }
        });

        $('#annotation-list').on('click', '.remove_button', function () {
            console.log("delete button clicked");
            table.row($(this).parents('tr')).remove().draw();
        });

        $('#add-annotation').on('keyup', function () {

            console.log("adding the annotation")
            var value = $(this).val();

            if (value.length < 3)
                return;

            // Callback hell :(
            $.ajax({
                url: '/ontologyTermSearch.json',
                data: {search: value},
                dataType: 'json',
                success: function (result) {
                    var terms = result.terms;

                    $('#add-annotation').autocomplete({
                        source: terms,
                        minLength: 3,
                        // Custom function for handling selection events
                        select: function (event, ui) {
                            event.preventDefault();
                            console.log("the ontology id you selected is " + ui.item.ont_id)

                            $.ajax({
                                url: '/getOntologyTermsByID.json',
                                data: {ID: ui.item.ont_id},
                                dataType: 'json',
                                success: function (r) {
                                    var result = r.list
                                    selectOnt.push(result["ontology_id"])
                                    console.log(result)

                                    var selected_ids = table.column(2).data().toArray();

                                    if (!selected_ids.includes(result["ontology_id"])) {

                                        table.row.add({
                                            "name": result['name'],
                                            "reference_id": result['ontology_id'],
                                            "ref_type": result['ontdb_name'],
                                            "description": result['description'],
                                            "ro_id": result['ontology_id']

                                        }).draw(false);
                                    } else {

                                        {# TODO pop the warning message #}
                                        console.log("repeat selection");
                                        var warning_section = document.getElementById("ontology_Warning");
                                        warning_section.innerHTML = '<div class="alert alert-danger fade in" style="text-align:center"> ' +
                                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true" >' +
                                            'x </button> ' +
                                            '<strong> duplicated selection! </strong> </div>';

                                    }

                                    {#var table = document.getElementById("annotation-list")#}
                                    {#var newRow = table.insertRow(-1)#}
                                    {#var c1 = newRow.insertCell(0)#}
                                    {#var c2 = newRow.insertCell(1)#}
                                    {#var c3 = newRow.insertCell(2)#}
                                    {#var c4 = newRow.insertCell(3)#}
                                    {#var c5 = newRow.insertCell(4)#}
                                    {##}
                                    {#c1.innerHTML = '<div class="ui-checkbox">' +#}
                                    {#    '<input class="addGene" name="gsoptions[]" ' +#}
                                    {#    'id="addRDF' + "oData['ont_id']" + '-' + "oData['ro_id']" + '" ' +#}
                                    {#    'value="' + "oData['ont_id']" + '" ' +#}
                                    {#    'type="checkbox"' +#}
                                    {#    '"></div>'#}
                                    {##}
                                    {#c2.innerHTML = result["name"]#}
                                    {#c3.innerHTML = result["ontology_id"]#}
                                    {#c4.innerHTML = result["description"]#}
                                    {#c5.innerHTML = result["ontdb_name"]#}


                                    $("#tree").dynatree("getTree").reload();
                                }
                            })
                        },
                    });
                }
            });
        });
    });

    $(document).ready(function () {

        var url = '/projectGenesets.json';

        /**
         * Although attribution and species tags are part of the
         * viewGenesetSummaryPartial template, we generate the tags out here in
         * in the wrapper section otherwise this bit of javascript will be
         * injected into every single search result (50 per page).
         */
        {% if attribs %}
            makeAttributionTags({{ attribs | tojson | safe }});
        {% else %}
            makeAttributionTags();
        {% endif %}

        // Species tags are generated each time a project is expanded since we
        // use lazy loading.
        {% if species %}
            var species = {{ species | tojson | safe }};
        {% else %}
            var species = [];
        {% endif %}



        // Changes caret position when tool options are expanded.
        $('.tool-link').on('click', function (event) {

            var caret = $(this).children('.fa-caret-left');
            var allCarets = $('.fa-caret-left');

            if (!$(this).children('.fa-rotate-270').length) {

                allCarets.attr('class', 'fa fa-caret-left');
                caret.attr('class', 'fa fa-caret-left fa-rotate-270');

            } else {
                allCarets.attr('class', 'fa fa-caret-left');
            }
        });


        $('#clickableFontAwesome').popover({
            title: 'Select Projects or Gene Sets', content: 'Select entire projects on the right or expand ' +
                'to select individual gene sets within those projects. Next, select a tool from the left, including ' +
                'the appropriate options.'
        });


    });

</script>

<script>

    /*
     * Toggles an element's enabled/disabled property.
     *
     * arguments
     *      element: HTML element being enabled/disabled
     */
    var toggleElementDisabled = function (element) {

        $(element).prop('disabled', function () {
            return !$(this).prop('disabled')
        });
    };

    /*
     * Retrieves the currently selected annotation reference type.
     *
     * returns
     *      the name of the currently selected reference type
     */
    var getSelectedRefType = function () {

        var ref = $('#ontology_db option:selected').val();

        return $.trim(ref);
    };

    /*
     * Retrieves and concatenates GS name/description text and publication
     * title/abstract text so it can be sent to the annotator. Description and
     * publication text is returned separately because the annotator tool has
     * specific reference types for each.
     *
     * returns
     *      an object containing text from the GS description and publication
     */
    var getGenesetText = function () {

        var gsName = $.trim($('#genesetName').text()),
            gsDesc = $.trim($('#genesetDescription').text()),
            pubTitle = $.trim($('#pub_title').text()),
            pubAbs = $.trim($('#pub_abstract').text());

        return {
            description: gsName + ' ' + gsDesc,
            publication: pubTitle + ' ' + pubAbs
        };
    };

    /**
     * Changes the "Run Annotator" button between its disabled, running and
     * enabled, ready states. The style change is performed so the user knows
     * the annotator is running (it might take awhile depending on the amount
     * of text being annotated).
     */
    var changeAnnotatorButton = function () {

        if ($('#run-annotator').prop('disabled')) {

            $('#annotator-icon').attr('class', 'fa fa-play');
            $('#annotator-text').text('Run Annotator');

        } else {

            $('#annotator-icon').attr('class', 'fa fa-cog fa-spin');
            $('#annotator-text').text('Running...');
        }

        toggleElementDisabled('#run-annotator');
    };

    $(function () {
        //Initialize dynatree data and functions
        $("#tree").dynatree({
            checkbox: true,
            selectMode: 2,
            // Prevents the page from focusing and auto scrolling to the tree
            autoFocus: false,
            initAjax: {
                url: "/initOntTree",
                data: {
                    gs_id: "86623",
                    universe: getSelectedRefType()
                }
            },

            //Performs lazy ajax call when new nodes need to be viewed
            onLazyRead: function (node) {
                node.appendAjax({
                    url: "/expandOntNode",
                    data: {
                        key: node.data.key,
                        is_db: node.data.db,
                        universe: getSelectedRefType()
                    }
                })
            },

            // Does nothing but needs to be present for nodes to be unselected.
            onClick: function (node, event) {
            },

            /**
             * Called during node creation. If a node has the "Manual
             * Rejection" reference type we alter the style. Every node gets
             * its reference type added to the span title so it can be viewed
             * when a user hovers over the node.
             *
             * arguments
             *     node:       the node object being initialized
             *     nodeSpan:   jQuery object representing the node's span
             *                 element
             */
            onCreate: function (node, nodeSpan) {

                if (node.data.ref === undefined)
                    return;

                if (node.data.ref === 'Manual Rejection') {

                    $(nodeSpan)
                        .children('.dynatree-title')
                        .css('text-decoration', 'line-through')
                        .css('background-color', 'none')
                        .css('font-weight', 'normal');
                }

                $(nodeSpan).attr('title', node.data.ref);
            }

            // Updates the database based on the ontology terms a user selects.
            {#onSelect: termSelectionHandler#}
        });

        /**
         * Clicking this button reruns the annotator tool on the geneset's
         * description and publication text.
         */
        $('#run-annotator').on('click', function (event) {
            event.preventDefault();

            var postData = getGenesetText();
            postData.gs_id = gsID;

            // Style changes so the user knows something is happening
            changeAnnotatorButton();

            $.post("{{ url_for('rerun_annotator') }}", postData, function (data) {
                changeAnnotatorButton();
                $('#tree').dynatree('getTree').reload();
            }, "json").fail(function (data) {
                // failure, log error message returned
                console.error(data.responseJSON.error);
                changeAnnotatorButton();
            });

        });

        /**
         * Should eventually redirect the user to the edit genes page.
         */
        $('#edit-genes').on('click', function (event) {
            event.preventDefault();
        });
    });

    //This refreshes all tree data based on changing gso_ref_type (universe) seen in the gso_ref_type select tag
    $($("#ontology_db").change(function () {
        $("#tree").dynatree("option", "initAjax", {
            url: "/initOntTree",
            data: {
                gs_id: gsID,
                universe: getSelectedRefType()
            }
        });
        $("#tree").dynatree("getTree").reload();
    }));

    $(window).on("load", function (e) {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    function formFocus($e) {
        $e.style.backgroundColor = "yellow";
    }

    function noFormFocus($e) {
        $e.style.backgroundColor = '';
    }


    function createReaderHandler(name) {
        return function (ev) {
            data[name] = ev.target.result;
        };
    }

    //Popover that gives Geneset Ontology functionality overview for the user
    //Displayed when ontologies are linked with the geneset
    $('#ontologyInformation').popover({
        title: 'GeneSet Annotations',
        content: 'GeneSet ontology annotations are highlighted below. ' +
            'The drop down menu above the ontology tree allows for the ' +
            'selection of GeneSet annotation source, e.g. manual or inferred ' +
            'from text mining. All selected ontology terms may be viewed ' +
            'under the All Reference Types category. GeneSet ontology ' +
            'annotations may be added or removed under any other category. ' +
            'Contact us to suggest additional ontologies that you would ' +
            'like to use to annotate your GeneSets.'
    });


    //toggles between the file or paste uploaders and toggle's enable/disable on inputs
    function toggle_pasting() {

        $("#file_uploader").toggle();
        $("#paste_uploader").toggle();

        $('#file_text').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
        $('#file_data').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
    }


</script>




