{% set title="Analyze GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<style>

    .plus:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    .minus .plus:before {
        content: "\f068";
    }

    .closedstar:before {
        content: "\f005";
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
        color: #006400;
    }

    a:link {
        #color: darkgreen;

    }

    a:hover {
        #color: green;
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }

    .panel .panel-header .panel-info .panel-heading {
        background-color: #F0F0F0;
        color: #F0F0F0;
    }
    .datatablerowhighlight{
        background-color: #ECFFB3;
    }
    .row_selected{
        background-color: #000000;
    }

    #clickableFontAwesome {
        cursor: pointer;
    }

    .page-header {
        border-bottom-width: thick;
        border-bottom-color: #006400;
    }

    img {
        border-style: none;
    }

	/* Override checkbox style found in plugins.min.css. It's messing up the
	 * alignment of checkboxes and project names.
	 */
	.ui-checkbox {
		margin: 0;
	}

	.tool-title {

		font-family:'Carrois Gothic', sans-serif;
		font-size: 18px;
	}

	.tool-description {

		display: inline-block;
		font-family:'Carrois Gothic', sans-serif;
		font-size: 11px;
	}

</style>


{% if user_id == 0 %}
    {% include 'htmlfragments/permissionError.html' %}
{% else %}

    {% block body %}

        <div id="maindiv" xmlns="http://www.w3.org/1999/html">

            <p>

            <div class="row" id="result"></div>

            <div class="panel panel-default panel-heading bg-gray-light">
                <h3 class="panel-title"><strong>Analyze Gene Sets and Projects</strong>
                    <span id="clickableFontAwesome" tabindex="0" data-trigger="focus"><i class="fa fa-info-circle"></i></span></h3>
            </div>


            {# This existing error class is different then other jquery error classes that I have used. It is legacy
            but I am keeping it until I can refactor all of the code.#}
            {% with errors = get_flashed_messages() %}
                {% if errors %}
                    {%- for msg in errors %}
                        <div class="alert alert-danger fade in" style="text-align:center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                x
                            </button>
                            <strong>
                            {{ msg }}
                            </strong>
                        </div>
                    {% endfor -%}
                {% endif %}
            {% endwith %}


            <form target="_blank" id="todo-id" class="form-horizontal" role="form" method="post">
                <div class="row">

                    <!-- the Analysis tools column -->
                    <div class="col-md-4">
                        <div class="page-header">
                            <h2>Analysis Tools</h2>
                        </div>
                        <div class="panel-group" id="accordion">
                            {% for tool in active_tools %}
                                {% include 'tool/' + tool.classname + '_options.html' %}
                            {% endfor %}
                        </div>
                    </div>

					<form id="analyzeGenesets" name="analyzeGenesets" method="post" action="#"
						  class="form-horizontal form-inline" novalidate="novalidate">
                    <!-- the projects column -->
                    <div class="col-md-8">
                        <div class="page-header" style="margin-bottom:0;">
							<h2>Projects <span id="geneset-count"></span></h2>
						</div>

                        {% if "user" in g %}

                            <div class="panel-body">
								<div id="geneset-count" class="h5"></div>
                                    <!-- TODO make the table sortable, show more gene details -->
                                    <table class="table table-hover" id="allGenesets" cellpadding="0" cellspacing="0">
                                        <tbody>

                                        {% for proj in g.user.projects %}
                                            <tr>
                                                {# checkbox #}
                                                <td width="18">
                                                    <div class="ui-checkbox proj-checkbox">
                                                        <label for="proj-{{ proj.project_id }}-allcheck">
                                                            <input type="checkbox" data-project="{{ proj.project_id }}"
                                                                   data-project-name="{{ proj.name }}"
                                                                   name="project_{{ proj.project_id }}"
                                                                   id="proj-{{ proj.project_id }}-allcheck"/>
                                                        </label>
                                                    </div>
                                                </td>
                                                {# expand button #}
                                                <td width="15">
													<span id="proj-{{ proj.project_id }}" class="toggler" data-prod="{{ proj.project_id }}">
														<span class="plus"></span>
                                                        <span class="minus"></span>
                                                    </span>
                                                </td>
                                                {# Project Name #}
                                                <td>
													<span data-prod="{{proj.project_id }}" class="toggler" style="cursor:pointer;">
														<strong>{{ proj.name }}</strong>
														{% if proj.star == 't' %}
															<span class="closedstar"></span>
														{% endif %}
													</span>
                                                </td>

                                            </tr>

                                            <tr class="gsid{{ proj.project_id }}" id="genesets-{{ proj.project_id }}"
                                                style="display: none;">
                                                <td colspan="9">
                                                    <table id="project-body-{{ proj.project_id }}"
                                                           class="table table-hover">
                                                    </table>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>

				{# Only display this section if the user has shared projects #}
				{% if grp2proj.keys() | length > 0 %}
                <div class="page-header" style="margin-bottom:0;margin-top:0;">
					<h2>Shared Projects</h2>
				</div>
                            <div class="panel-body">
								<div id="shared-geneset-count" class="h5"></div>
                                    <!-- TODO make the table sortable, show more gene details -->
									{% for grp in grp2proj %}
										<div style="border-bottom:2px #006400 solid; margin-bottom:10px;">
											<h4>{{ grp }}</h4>
										</div>

									{% for proj in grp2proj[grp] %}
                                    <table class="table table-hover" id="allGenesets" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                {# checkbox #}
                                                <td width="18">
                                                    <div class="ui-checkbox proj-checkbox">
                                                        <label for="proj-{{ proj.project_id }}-allcheck">
                                                            <input type="checkbox" data-project="{{ proj.project_id }}"
                                                                   data-project-name="{{ proj.name }}"
                                                                   name="project_{{ proj.project_id }}"
                                                                   id="proj-{{ proj.project_id }}-allcheck"/>
                                                        </label>
                                                    </div>
                                                </td>
                                                {# expand button #}
                                                <td width="15">
													<span id="proj-{{ proj.project_id }}" class="toggler" data-prod="{{ proj.project_id }}">
														<span class="plus"></span>
                                                        <span class="minus"></span>
                                                    </span>
                                                </td>
                                                {# Project Name #}
                                                <td>
													<span data-prod="{{proj.project_id }}" class="toggler" style="cursor:pointer;">
														<strong>{{ proj.name }}</strong>
														<span style="font-size:13px; color:#888;">
															<b>(Shared by {{proj.owner}})</b>
														</span>
														{% if proj.star == 't' %}
															<span class="closedstar"></span>
														{% endif %}
													</span>
                                                </td>

                                            </tr>

                                            <tr class="gsid{{ proj.project_id }}" id="genesets-{{ proj.project_id }}"
                                                style="display: none;">
                                                <td colspan="9">
                                                    <table id="project-body-{{ proj.project_id }}"
                                                           class="table table-hover">
                                                    </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
									{% endfor %}
									{% endfor %}
                            </div>
						{% endif %}
                        {% else %}

                            <div class="alert alert-warning fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                You do not have any projects.
                            </div>

                        {% endif %}

                    </div>
                </div>
            </form>
            </form>

        </div>

    {% endblock %}

{% endif %}

{% include 'modal/addGenesetsToProjects.html' %}


{% include 'footer.html' %}

<script type="text/javascript" src="/static/js/geneweaver/tags.js"></script>
<script type="text/javascript">

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

	// Updates selected geneset and project counts and displays them to the
	// user. The counts are stored as static variable within a closure.
    // Project count displays are currently disabled.
	// 
	// :type gscount: int
	// :arg gscount: the number of genesets to add to the count
	//
	// :type pjcount: int
	// :arg pjcount: the numebr of projects to add to the count
	//
	var updateCount = (function() {

		var gsCount = 0;
		var pjCount = 0;

		return function(gscount, pjcount) {

			gsCount += gscount;
			pjCount += pjcount;

			$('#geneset-count').html(function() {
				if (gsCount === 0)
					return '';

				if (gsCount === 1)
					return '(' + gsCount + ' geneset is selected)';

				return '(' + gsCount + ' genesets are selected)';
			});
		}
	})();

    $(document).ready(function () {

        var url = '/projectGenesets.json';

		/**
		  * Although attribution and species tags are part of the
		  * viewGenesetSummaryPartial template, we generate the tags out here in
		  * in the wrapper section otherwise this bit of javascript will be
		  * injected into every single search result (50 per page).
		  */
		{% if attribs %}
			makeAttributionTags({{ attribs | tojson | safe }});
		{% else %}
			makeAttributionTags();
		{% endif %}

		// Species tags are generated each time a project is expanded since we
		// use lazy loading.
		{% if species %}
			var species = {{ species | tojson | safe }};
		{% else %}
			var species = [];
		{% endif %}
		 

		// Changes caret position when tool options are expanded.
		$('.tool-link').on('click', function(event) {

			var caret = $(this).children('.fa-caret-left');
			var allCarets = $('.fa-caret-left');

			if (!$(this).children('.fa-rotate-270').length) {

				allCarets.attr('class', 'fa fa-caret-left');
				caret.attr('class', 'fa fa-caret-left fa-rotate-270');

			} else {
				allCarets.attr('class', 'fa fa-caret-left');
			}
		});

		// TODO: this should be refactored
		// All selector checkbox
		$('.proj-checkbox').on('click', function(event) {

			var check = $(this).find('input[type=checkbox]');
			var allcheck = '#' + check.attr('id');
			var pid = allcheck.split('-')[1];
            var pbid = '#project-body-' + pid;
			var chkclass = '.proj-' + pid + '-check';

            // Check to see if we haven't made an AJAX call for this project
			if ($(pbid).children().length === 0) {

				var data = {'project': pid};

				$.get(url, data).done(function (data) {
					$(pbid).append(data);

					$(chkclass).each(function (index) {
						$(this).attr('checked', true);

						updateCount(1, 0);
					});
				});

			} else {

				if ($(allcheck).attr('checked')) {
					
					$(chkclass).each(function (index) {
                        if ($(this).attr('checked'))
                            updateCount(-1, 0);

						$(this).attr('checked', false);
					});

				} else {

					$(chkclass).each(function (index) {
                        if (!$(this).attr('checked'))
                            updateCount(1, 0);

						$(this).attr('checked', true);
					});
				}
			}
		});

		// Updates individual geneset counts. Since the geneset list is 
		// injected into the dom, we register the click handler on a static
		// element that exists prior to injection, and then filter the child
		// elements that call the event.
		//
		$('.table').on('click', 'input[type=checkbox]', function(event) {

			var projCheck = $(this).attr('class');
			var checkIndex = projCheck.search('-check');
			projCheck = projCheck.slice(0, checkIndex);
			projCheck += '-allcheck'

			event.stopPropagation();

			// TODO: Looks like our fancy checkboxes don't support the
			// indetereminate visual state. :(
			$('#' + projCheck).prop('indeterminate', true);

			// Backwards because by the time we check to see if the box is 
			// (un)checked, it's already the opposite. Web dev is pants on 
			// head retarded sometimes.
			if ($(this).attr('checked'))
				updateCount(1, 0);
			else
				updateCount(-1, 0);
		});

        // Project genesets are only loaded when necessary (i.e. when a user
        // clicks on the project link.
        $('.toggler').click(function (e) {

            e.preventDefault();
            //the data stored in the data-prod
            var pid = ($(this).attr("data-prod"));
            var pbid = '#project-body-' + pid;
            var data = {'project': pid};

            // Check to see if we've already made an AJAX call for this project
            if ($(pbid).children().length !== 0) {
                $(".gsid" + pid).toggle();
                    //select the parent and find the span so you can
                    //toggle the "plus" class
                    $('#proj-' + pid).parent().find("span").toggleClass("plus");
                    //toggle the minus class
                    $('#proj-' + pid).toggleClass("plus");
                    $('#proj-' + pid).toggleClass("minus");
                return;
            }

            // Flask should return the rendered HTML, inject it into the DOM
            $.get(url, data).done(function (data) {

                var tbody = pbid + ' tbody';
                $(pbid).append(data);
                //toggle the link clicked on
                $(".gsid" + pid).toggle();
                //select the parent and find the span so you can
                //toggle the "plus" class
                $('#proj-'+pid).toggleClass("minus");

                var allclass = '#proj-' + pid + '-allcheck';
                var chkclass = '.proj-' + pid + '-check';

                // Now start checking to see if we need to mark the checkboxes
                // under this particular project
                if ($(allclass).attr('checked')) {

                    $(chkclass).each(function (index) {
                        $(this).attr('checked', true);
                    });
                }

				// Generate these tags once we actually have loaded data
				makeSpeciesTags(species);
            });
        });


        $('#clickableFontAwesome').popover({
            title: 'Select Projects or Gene Sets', content: 'Select entire projects on the right or expand ' +
            'to select individual gene sets within those projects. Next, select a tool from the left, including ' +
            'the appropriate options.'
        });
    });
    

</script>
