{% set title="Analyze Genesets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<style>

	.panel .panel-header .panel-info .panel-heading {

		background-color: #F0F0F0;
		color: #F0F0F0;
	}

</style>

<script type="text/javascript">

	$(document).ready(function() {

		var url = '/projectGenesets.json';

		// Project genesets are only loaded when necessary (i.e. when a user
		// clicks on the project link. 
		$('.project-link').on('click', function(event) {

			// Get the project ID from the link href, but gotta strip out
			// '#genesets-' first
			var pid = $(this).attr('href').slice('#genesets-'.length);
			var pbid = '#project-body-' + pid;
			var data = {'project': pid};

			// Check to see if we've already made an AJAX call for this project
			if ($(pbid).children().length !== 0)
				return;

			// Flask should return the rendered HTML, inject it into the DOM
			$.get(url, data).done(function(data) {

				$(pbid).append(data);
			});
		});
	});
	
</script>

<div class="page-header">
    <h1>{{ title }}</h1>
</div>

{% with errors = get_flashed_messages() %}
{% if errors %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li style="color: red; font-size: 125%">{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}


<form id="todo-id" class="form-horizontal" role="form" method="post">
    <div class="row">

        <!-- the Analysis tools column -->
        <div class="col-md-4">
            <div class="page-header"><h2>Analysis Tools</h2></div>
            <div class="panel-group" id="accordion">

            {% for tool in active_tools %}
                {% include 'tool/' + tool.classname + '_options.html' %}
            {% endfor %}
            </div>
        </div>

        <!-- the projects column -->
        <div class="col-md-8">
            <div class="page-header"><h2>Projects</h2></div>
            <div class="panel-group" id="projAccordion">
            {#
            TODO this should be changed to use JSON to fetch data for project panels when they are expanded
            (for users with many projects the current version is too slow)
            #}
            {% if "user" in g %}
				<div id="new project" class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-10">
										{% set blah="blah" %}
                                        <a href='#' onclick='getProjName()'>
										<script>
										function getProjName(){
											var pjname=prompt("Enter the name of your new project: ");
											if(pjname != null){
											  window.location="/analyze_new_project/" + pjname + ".html";
											 }
										}
										</script>
                                        <span class="fa fa-folder-o"></span>
                                        Create New Empty Project
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                {% for proj in g.user.projects %}
                    <div id="project-{{ proj.project_id }}" class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-2">
                                        
                                        <input
                                                class="proj-checkbox"
                                                data-project="{{ proj.project_id }}"
                                                type="checkbox">
                                        
                                    </div>
                                    <div class="col-xs-10">
                                        <a class="project-link" data-toggle="collapse" right data-parent="#projAccordion" href="#genesets-{{ proj.project_id }}">
											<span class="fa fa-chevron-down"></span>
                                        {{ proj.name }}
                                        </a>

                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div id="genesets-{{ proj.project_id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-striped">
									<tbody id="project-body-{{ proj.project_id }}">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no projects!</p>
            {% endif %}
        </div>
    </div>
</form>

</div>
{% include 'footer.html' %}
