{% include 'header.html' %}

<br>
<div class="panel panel-default panel-heading bg-gray-light">
    <h3 class="panel-title"><strong>Data Sharing</strong></h3>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="panel-body">
            <p>The <a href="http://grants.nih.gov/grants/policy/data_sharing/">NIH Data Sharing Policy</a> states "Data
                should be made as widely and freely available as possible while safeguarding the privacy of
                participants, and protecting confidential and proprietary data."</p>

            <p>Data Sharing in GeneWeaver is as broad or restrictive as the investigator allows. When uploading data, it
                can be made private, public, or accessible only to selected groups. Access restrictions can be changed
                at any time. All group members are also visible on the groups page. The only people with access to your
                data are those who you personally allow, or those who your group administrator(s) allow.</p>

        </div>
    </div>
</div>


{% include 'footer.html' %}
