{% include 'header.html' %}

<br>
<div class="panel panel-default panel-heading bg-gray-light">
    <h3 class="panel-title"><strong>Data Sources </strong></h3>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="panel-body" style="text-align:center;">
            <h4><strong>
                GeneWeaver incorporates a number of free, public data sources. The GeneWeaver team is grateful
                to the individuals, projects, and resource providers behind all of the data collections we
                currently integrate.
           </strong></h4>
        </div>
    </div>

    <div id="aba" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="50" height="50" src="/static/images/sources/aba.png" alt="ABA" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Allen Brain Atlas</strong><span id="att-aba"></span></h3>
        <br />
        <br />
        <p><strong>Mouse Brain Atlas - Differential Gene Expression</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['ABA'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['ABA'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2015
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://brain-map.org">http://brain-map.org</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/17151600">PMID: 17151600</a>
            </span>
        </div>
    </div>

    <div id="ctd" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="100" height="50" src="/static/images/sources/ctd.png" alt="CTD" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Comparative Toxicogenomics Database</strong><span id="att-ctd"></span></h3>
        <br />
        <br />
        <p><strong>Things</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['CTD'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['CTD'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2012
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://ctdbase.org/">http://ctdbase.org/</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/25326323">PMID: 25326323</a>
            </span>
        </div>
    </div>

    <div id="kegg" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="80" height="50" src="/static/images/sources/kegg.gif" alt="KEGG" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Kyoto Encyclopedia of Genes and Genomes</strong><span id="att-kegg"></span></h3>
        <br />
        <br />
        <p><strong>KEGG - Pathway and Disease</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['KEGG'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['KEGG'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2012
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://kegg.jp">http://kegg.jp</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/10592173">PMID: 10592173</a>
            </span>
        </div>
    </div>

    <div id="mesh" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="50" height="50" src="/static/images/sources/mesh.gif" alt="MeSH" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Medical Subject Headings</strong><span id="att-mesh"></span></h3>
        <br />
        <br />
        <p><strong>MeSH - "Diseases", "Chemicals and Drugs", "Psychiatry and Psychology", and "Phenomena and Processes" Subtrees</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['MESH'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['MESH'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2015
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="https://www.nlm.nih.gov/mesh/">https://www.nlm.nih.gov/mesh/</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC35238/">PMCID: PMC35238</a>
            </span>
        </div>
    </div>

    <div id="msigdb" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="50" height="50" src="/static/images/sources/msigdb.gif" alt="MSigDB" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Molecular Signatures Database</strong><span id="att-msigdb"></span></h3>
        <br />
        <br />
        <p><strong>MSigDB - Collections H, C1, C3, C4, C6, and C7</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['MSigDB'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['MSigDB'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2015
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://software.broadinstitute.org/gsea/msigdb">http://software.broadinstitute.org/gsea/msigdb</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://www.ncbi.nlm.nih.gov/pubmed/16199517">PMID: 16199517</a>
            </span>
        </div>
    </div>

    <div id="omim" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="100" height="50" src="/static/images/sources/omim.png" alt="OMIM" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Online Mendelian Inheritance in Man</strong><span id="att-omim"></span></h3>
        <br />
        <br />
        <p><strong>OMIM - Phenotypic Series and Morbid Maps</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                {% if 'OMIM' in attcounts %}
                <p><strong>
                <span style="color:#006400">{{ attcounts['OMIM'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['OMIM'][0] }}</span>
                genesets.
                </strong></p>
                {% endif %}
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2015
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://omim.org">http://omim.org</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/25428349">PMID: 25428349</a>
            </span>
        </div>
    </div>

    <div id="pc" class="panel" style="padding:20px; border-radius: 10px; border: 1px solid #006400; border-left: 11px solid #006400;">
        <img width="50" height="50" src="/static/images/sources/pc.png" alt="PC" style="margin-right: 5px">
        <h3 class="panel-title"><strong>Pathway Commons</strong><span id="att-pc"></span></h3>
        <br />
        <br />
        <p><strong>Pathway Commons - Top 100 Pathways</strong></p>
        <div class="row">
            <span class="col-md-5" style="text-align:left;">
                <p><strong>
                <span style="color:#006400">{{ attcounts['PC'][1] }}</span>
                genes in
                <span style="color:#006400">{{ attcounts['PC'][0] }}</span>
                genesets.
                </strong></p>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Updated:
            </span>
            <span class="col-md-10" style="text-align:left;">
                January 1, 2015
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                URL:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="http://pathwaycommons.org">http://pathwaycommons.org</a>
            </span>
        </div>
        <div class="row">
            <span class="col-md-1" style="text-align:left;">
                Publication:
            </span>
            <span class="col-md-10" style="text-align:left;">
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/21071392">PMID: 21073192</a>
            </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function() {
        // Two, combined color Brewer palettes
        var colors = ['rgb(228,26,28);','rgb(55,126,184);','rgb(77,175,74);',
                      'rgb(152,78,163);','rgb(255,127,0);','rgb(255,255,51);',
                      'rgb(166,86,40);','rgb(247,129,191);','rgb(153,153,153);',
                      'rgb(102,194,165)','rgb(252,141,98)','rgb(141,160,203)',
                      'rgb(231,138,195)','rgb(166,216,84)','rgb(255,217,47)',
                      'rgb(229,196,148)','rgb(179,179,179)'];
        var attlist = {{ attributions|tojson|safe }};
        var attmap = {};

        console.log(attlist);
        for (var i = 0; i < attlist.length; i++) {
            attrib = attlist[i].toLowerCase();

            $('#att-' + attrib).attr('class', 'group_name');
            $('#att-' + attrib).css('background-color', colors[i]);
            $('#att-' + attrib).css('margin', '-5px 0 0 5px');
            $('#att-' + attrib).html(attrib.toUpperCase());
        }

        //var tag = '<span class="group_name" style="background-color:' + colors[spid] +
        //        '; border:1px solid ' + borders[spid] + '">' +
        //        spname + '</span>';

        //$('#sp-tag-' + gsid).html(tag);

    });
</script>

{% include 'footer.html' %}
