{% set title="Edit Geneset" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">

    #clickablePubmed {
        cursor: pointer;
    }

    #clickableGenes {
        cursor: pointer;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=40);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249,249,249);
    }

</style>




{% if geneset.geneset_id is not defined %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>

    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Edit GeneSet Information</strong></h2>
    </div>

    <p>
        (<strong>*</strong>) = mandatory.
    </p>


    <form id="upload-geneset-form"  enctype="multipart/form-data" method="POST" >

        {# Geneset Metadata #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                GeneSet Metadata &bull; GS{{ geneset.geneset_id }}
            </h2>
        </div>

        <div style="margin-left: 1em;">
            <br>
            <p>
                Please enter some descriptive info about this GeneSet. In order to ensure rapid acceptance by our curation team or, in the case of private data, maximum integration into the existing GeneWeaver dataset, please confirm that your GeneSet Metadata meets the guidlines outlined in our <a href="http://geneweaver.org/wiki/index.php?title=Curation_Standards">Curation Standards</a>
            </p>
            <br>
            <div class="row">
                <div class="col-md-2">
                    GeneSet Name <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <input id="genesetName" type="text" name="gs_name" value="{{ geneset.name }}" size="50"
                           style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    GeneSet Figure Label <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <input id="genesetLabel" type="text" name="gs_abbreviation" value="{{ geneset.abbreviation }}" size="50"
                           style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    GeneSet Description <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <textarea id="genesetDescription" rows="10" cols="50" name="gs_description"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>{{ geneset.description }}
                    </textarea>
                </div>
            </div>
        </div>

        {# Permissions #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                Access Permissions
            </h2>
        </div>

        <div style="margin-left: 1em;">
            <br>
            <br>
            <div class="row">
                <div class="col-md-2">
                    Access Restrictions <strong>*</strong>:
                </div>
                <div class="col-xs-2">

                    <select name="permissions" class="form-control" required>
                        {% if geneset.group_ids == '-1' %}
                            <option value="private" selected>Private</option>
                            <option value="public">Public</option>
                        {% else %}
                            <option value="private">Private</option>
                            <option value="public" selected>Public</option>
                        {% endif %}
                    </select>

                </div>
            </div>
        </div>
        <br>


        {# Reference Information #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                Reference Information
            </h2>
        </div>
        <div style="margin-left: 1em;">
        <br>

        <p>
            If this experiment has been published and listed in PubMed, just enter the Pubmed ID below to automatically fill in the publication info, otherwise you may manually enter publication information. Providing this will allow others to discover and use your data more quickly, provide a means to link here directly from PubMed, and streamline our curation efforts.
        </p>

            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>

        <div class="row">
            <div class="col-md-2">
                PubMed ID:
            </div>
            <div class="col-md-4">
                <input id="pub_pubmed" type="text" name="pub_pubmed" size="10">&nbsp;<i id="clickablePubmed" class="fa fa-refresh"></i>
            </div><br><br>
            <div id="pubmed_manual" style="display:none">
                <div class="col-md-2">Title:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_title" id="pub_title" value size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Authors:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_authors" id="pub_authors" value size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Journal:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_journal" id="pub_journal" value size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Volume:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_volume" id="pub_volume" value size="10" maxlength="10"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Pages:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_pages" id="pub_pages" value size="15" maxlength="15"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Month:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_month" id="pub_month" value size="3" maxlength="3"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Year:</div>
                <div  class="col-md-2">
                    <input type="text" name="pub_year" id="pub_year" value size="4" maxlength="4"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Abstract:</div>
                <div  class="col-md-4">
                    <textarea name="pub_abstract" id="pub_abstract" cols="50" rows="10"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                    </textarea>
                </div><br><br>
            </div>
        </div>
        <br>
            <div id="pubmed_button_div">
                <button id="pubmed_manual_button" type="button" class="button">Manual Entry</button><br><br>
            </div>
        </div>


        {# Gene List Information #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                Gene List <span id="clickableGenes"><i class="fa fa-info-circle"></i></span>
            </h2>
        </div>
        <div style="margin-left: 1em;">

            <br>

            <div class="row">
                <div class="col-md-2">
                    Species*:
                </div>
                <div class="col-xs-6 col-sm-4">
                    <select name="species" class="form-control">
                        {% for spec in species %}
                            {% if spec == geneset.sp_id %}
                                <option label="{{species[spec]}}" value="{{spec}}" selected>{{species[spec]}}</option>
                            {% else %}
                                <option label="{{species[spec]}}" value="{{spec}}">{{species[spec]}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <br>
            <div class="row" id="result"></div>

            <div class="row">
                <div class="col-md-2">
                    Gene Identifiers*:
                </div>
                <div class="col-xs-6 col-sm-4">
                    <select name="gene_identifier" class="form-control">
                        <option value="0"></option>
                        {% for key in gidts %}
                            {% if geneset.gene_id_type < 0 %}
                                {% if key == -1 * geneset.gene_id_type %}
                                    <option label="{{ gidts[key] }}" value="{{ key }}" selected>{{ gidts[key] }}</option>
                                {% else %}
                                    <option label="{{ gidts[key] }}" value="{{ key }}">{{ gidts[key] }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                            <optgroup label="MicroArrays">
                                {% for val in pidts %}
                                    {% if geneset.gene_id_type > 0 %}
                                        {% if val == geneset.gene_id_type %}
                                            <option label="{{pidts[val]}}" value="{{val}}" selected>{{pidts[val]}}</option>
                                        {% else %}
                                            <option label="{{pidts[val]}}" value="{{val}}">{{pidts[val]}}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                    </select>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-2">
                    Input Gene List*:
                </div>
                <div class="col-md-6">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Identifier</th>
                                <th>Value</th>
                                <th>&nbsp;</th>
                            </tr>
                            {% for geneset_value in geneset.geneset_values %}
                                <tr>
                                    <td>{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}</td>
                                    <td>{{ geneset_value.value_list[0] | trim }}</td>
                                    <td><span data-placement="top" data-toggle="tooltip"
                                              data-rel="tooltip" data-original-total="Edit" title="Edit Identifier or Value"
                                              style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#editGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}">
										            <i class="fa fa-edit"></i>
                                            </span>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip"
                                              data-rel="tooltip" data-original-title="Delete" title="Delete Identifier"
                                              style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#deleteGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}"
                                                  data-gene-value="{{ geneset_value.value_list[0] | trim }}"
                                                    data-gene-gsid="{{ geneset.geneset_id }}">
                                                    <i class="fa fa-trash-o"></i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <br>

        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;"></div>

        <br>

        <div class="row pull-right">
            <button type="button" class="btn btn-lg btn-block btn-warning" id="upload-geneset-button">
                <i class="fa fa-fast-forward pull-right"></i> Edit Genes
            </button>
        </div>

    </form>


    <body onload="myFunction('{{gidts}}')">


{% endif %}

<script>

    var user_id = {{ user_id }}

    function myFunction(genes)
    {
        genes1 = genes.split("_");
        genes1 = genes1.join("\t1\n");
        genes1 = genes1.concat("\t1");
        document.getElementById("file_text").value= genes1;
    }

    $(window).load(function() {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    $('#clickableGenes').popover({
        title: 'Gene Information', content: 'Provide a list of genes to associate with this record. ' +
                'A full description of the gene set format can be found ' +
                '<a href="http://www.geneweaver.org/wiki/index.php?title=Upload#Single_Gene_Sets">here</a>.',
        html: 'true'
    });

    function formFocus($e){
        $e.style.backgroundColor = "yellow";
    };

    function noFormFocus($e){
        $e.style.backgroundColor = '';
    };

    function myFunction(genes) {
	genes1 = genes.split("_");
	genes1 = genes1.join("\t1\n");
	genes1 = genes1.concat("\t1");
	document.getElementById("genesetValues").value= genes1;
    };

    $(document).ready(function()  {

        //triggered when modal is about to be shown
        $('#deleteGenesetValueByID').on('shown.bs.modal', function(e) {
            var geneID = $(e.relatedTarget).data('gene-id');
            var value = $(e.relatedTarget).data('gene-value');
            var gsid = $(e.relatedTarget).data('gene-gsid');
            $(e.currentTarget).find('input[name=gene-id]').val(geneID);
            $(e.currentTarget).find('input[name=gene-value]').val(value);
            $(e.currentTarget).find('input[name=gene-gsid]').val(gsid);
            $(e.currentTarget).find('span.gene-element').text(geneID);
        });

        $('#processDeleteGenesetValueByID').on('click', function(e){
            var user_id = {{ user_id }};
            var id = $("#gene-id").val();
            var gsid = $("#gene-gsid").val();
            $.ajax({
                type: "POST",
                url: "/deleteGenesetValueByID",
                data: {"gsid": gsid, "user_id": user_id, "id": id},
                success: function (data) {
                    $("#result").html('<div class="alert alert-success fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>GeneSet Identifier and Value successfully deleted</div>');
                }
            });
        });

        $('#upload-geneset-form').submit(function(event) {
            event.preventDefault();
            $('#upload-geneset-button').prop('disabled',function() { return !$(this).prop('disabled') })

            var data = new FormData($(this)[0]);

            var fileSelect = document.getElementById('file_data');
            var reader = new FileReader();
            if( !fileSelect.disabled )
            {
                var file = fileSelect.files;
                //formData.append('selected_file', file[0], file[0].name);
                reader.onload = createReaderHandler(file[0].name);
                reader.readAsText(file[0]);

            }

            var data = $("#upload-geneset-form").serialize();
            //alert(reader.result);

            $.ajax({
                type: "POST",
                url: "../creategeneset.html",
                data: data,
                //processData: false,
                //contentType: false,
                success: function(data)
                {
                    alert(data);
                    $('#upload-geneset-button').prop('disabled',function() { return !$(this).prop('disabled') })
                }
            });

        });

        function createReaderHandler(name) {
            return function(ev) {
                data[name] = ev.target.result;
            };
        }

        //Get Pubmed Data for ID
        $('#clickablePubmed').click(function() {
            var pmid = $("#pub_pubmed").val();
            if (!$.isNumeric(pmid)) {
                $(document).trigger("add-alerts", [
                    {
                        'message': "You must enter a valid Pubmed ID.",
                        'priority': 'warning'
                    }
                ]);
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "../getPubmed",
                    data: {"pmid": pmid},
                    success: function(data)
                    {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "PubMed ID " + pmid + " successfully loaded",
                                'priority': 'success'
                            }
                        ]);
                        if ($('#pubmed_manual').is(":hidden")) {
                            $("#pubmed_manual").toggle();
                        };

                        if ($('#pubmed_button_div').is(":visible")) {
                            $('#pubmed_button_div').toggle();
                        };

                        var parseData = JSON.parse(data);
                        $('#pub_title').val(parseData[0]);
                        $('#pub_authors').val(parseData[1]);
                        $('#pub_journal').val(parseData[2]);
                        $('#pub_volume').val(parseData[3]);
                        $('#pub_pages').val(parseData[4]);
                        $('#pub_year').val(parseData[5]);
                        $('#pub_month').val(parseData[6]);
                        $('#pub_abstract').val(parseData[7]);

                    }
                });
            };

        });

        $("#pubmed_manual_button").click(function() {
            $("#pubmed_manual").toggle();

            //$('#pub_pubmed').prop('disabled',function() { return !$(this).prop('disabled') })

            var isHidden = $("#pubmed_manual").is(':hidden');

            if(isHidden) {
                $("#pubmed_manual :input").attr("disabled", true);
            }
            else {
                $("#pubmed_manual :input").attr("disabled", false);
            }
        });




    });

    //toggles between the file or paste uploaders and toggle's enable/disable on inputs
    function toggle_pasting() {

        $("#file_uploader").toggle();
        $("#paste_uploader").toggle();

        $('#file_text').prop('disabled',function() { return !$(this).prop('disabled') })
        $('#file_data').prop('disabled',function() { return !$(this).prop('disabled') })
    }

</script>

{% include 'modal/deleteGenesetValue.html' %}

{% include 'modal/editGenesetValue.html' %}

{% include 'footer.html' %}
