{% set title="Edit Geneset" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">

    #clickablePubmed {
        cursor: pointer;
    }

    #clickableGenes {
        cursor: pointer;
    }

    #pubmed_button_div, #pubmed_button_div_minus {
        cursor: pointer;
        color: #0090D9;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=40);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249,249,249);
    }

</style>




{% if geneset.geneset_id is not defined %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>

    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Edit GeneSet Information</strong></h2>
    </div>

    {# Right Side List of Buttons #}
    <div class="row">
        <div class="col-md-4 pull-left">
            <p>(<strong>*</strong>) = mandatory.</p>
        </div>
        <div class="col-md-4 pull-right">
            <a href="/viewgenesetdetails/{{ geneset.geneset_id }}">
            <b><i class="fa fa-step-backward"></i> Return to Geneset Details</b></a>
        </div>
    </div>


    <form id="upload-geneset-form"  enctype="multipart/form-data" method="POST" >

        {# Geneset Metadata #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                GeneSet Metadata &bull; GS{{ geneset.geneset_id }}
            </h2>
        </div>

        <div style="margin-left: 1em;">
            <br>
            <p>
                Please enter some descriptive info about this GeneSet. In order to ensure rapid acceptance by our curation team or, in the case of private data, maximum integration into the existing GeneWeaver dataset, please confirm that your GeneSet Metadata meets the guidlines outlined in our <a href="http://geneweaver.org/wiki/index.php?title=Curation_Standards">Curation Standards</a>
            </p>
            <br>
            <input type="hidden" name="gs_id" value="{{ geneset.geneset_id }}"/>
            <input type="hidden" name="pmid" value="{{ geneset.pub_id }}" />
            <div class="row">
                <div class="col-md-2">
                    GeneSet Name <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <input id="genesetName" type="text" name="gs_name" value="{{ geneset.name }}" size="50"
                           style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    GeneSet Figure Label <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <input id="genesetLabel" type="text" name="gs_abbreviation" value="{{ geneset.abbreviation }}" size="50"
                           style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    GeneSet Description <strong>*</strong>:
                </div>
                <div class="col-md-8">
                    <textarea id="genesetDescription" rows="10" cols="50" name="gs_description"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" required>{{ geneset.description }}
                    </textarea>
                </div>
            </div>
        </div>

        {# Permissions #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                Access Permissions
            </h2>
        </div>

        <div style="margin-left: 1em;">
            <br>
            <br>
            <div class="row">
                <div class="col-md-2">
                    Access Restrictions <strong>*</strong>:
                </div>
                <div class="col-xs-2">

                    <select name="permissions" class="form-control" required>
                        {% if geneset.group_ids == '-1' %}
                            <option value="private" selected>Private</option>
                            <option value="public">Public</option>
                        {% else %}
                            <option value="private">Private</option>
                            <option value="public" selected>Public</option>
                        {% endif %}
                    </select>

                </div>
            </div>
        </div>
        <br>


        {# Reference Information #}
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h2 class="panel-title">
                Reference Information
            </h2>
        </div>
        <div style="margin-left: 1em;">
        <br>

        <p>
            If this experiment has been published and listed in PubMed, just enter the Pubmed ID below to automatically fill in the publication info, otherwise you may manually enter publication information. Providing this will allow others to discover and use your data more quickly, provide a means to link here directly from PubMed, and streamline our curation efforts.
        </p>

            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>

        <div class="row">
            <div class="col-md-2">
                PubMed ID:
            </div>
            <div class="col-md-4">
                <input id="pub_pubmed" type="text" name="pub_pubmed" size="10" value="{{ pubs.pubmed_id }}">&nbsp;
                    <i id="clickablePubmed" class="fa fa-refresh"></i>
            </div><br><br>
            <div id="pubmed_manual" style="display:none">
                <div class="col-md-2">Title:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_title" id="pub_title" value="{{ pubs.title }}" size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Authors:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_authors" id="pub_authors" value="{{ pubs.authors }}" size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Journal:</div>
                <div class="col-md-8">
                    <input type="text" name="pub_journal" id="pub_journal" value="{{ pubs.journal }}" size="50"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Volume:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_volume" id="pub_volume" value="{{ pubs.volume }}" size="10" maxlength="10"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Pages:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_pages" id="pub_pages" value="{{ pubs.pages }}" size="15" maxlength="15"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Month:</div>
                <div class="col-md-2">
                    <input type="text" name="pub_month" id="pub_month" value="{{ pubs.month }}" size="3" maxlength="3"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Year:</div>
                <div  class="col-md-2">
                    <input type="text" name="pub_year" id="pub_year" value="{{ pubs.year }}" size="4" maxlength="4"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >
                </div><br><br>
                <div class="col-md-2">Abstract:</div>
                <div  class="col-md-4">
                    <textarea name="pub_abstract" id="pub_abstract" cols="50" rows="10"
                            style="color: #808080;" onmouseover="formFocus(this)" onmouseout="noFormFocus(this)" >{{ pubs.abstract }}</textarea>
                </div><br><br>
            </div>
        </div>
        <br>
            <div id="pubmed_button_div">
                <span id="pubmed_manual_button"><b>Manual Entry <i class="fa fa-angle-down"></i></b></span><br>
            </div>
            <div id="pubmed_button_div_minus" style="display: none;">
                <span id="pubmed_manual_button_minus"><b>Less <i class="fa fa-angle-up"></i></b></span><br>
            </div>
        </div>

        <br>


        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;"></div>

        <div class="panel-heading">
            <div class="pull-left">
                <button type="submit" class="btn btn-lg btn-block btn-danger btn-transparent" id="cancel-geneset-button">
                    <i class="fa fa-times pull-right"></i> Cancel Update
                </button>
                </div>
                <div class="pull-right">
                <button type="submit" class="btn btn-lg btn-block btn-warning" id="upload-geneset-button">
                    <i class="fa fa-fast-forward pull-right"></i> Edit Genes
                </button>
            </div>
            </div>

    </form>



{% endif %}

<script>

    var user_id = {{ user_id }}

    function myFunction(genes)
    {
        genes1 = genes.split("_");
        genes1 = genes1.join("\t1\n");
        genes1 = genes1.concat("\t1");
        document.getElementById("file_text").value= genes1;
    };

    $(window).load(function() {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    $('#clickableGenes').popover({
        title: 'Gene Information', content: 'Provide a list of genes to associate with this record. ' +
                'A full description of the gene set format can be found ' +
                '<a href="http://www.geneweaver.org/wiki/index.php?title=Upload#Single_Gene_Sets">here</a>.',
        html: 'true'
    });

    function formFocus($e){
        $e.style.backgroundColor = "yellow";
    }

    function noFormFocus($e){
        $e.style.backgroundColor = '';
    }

    function myFunction(genes) {
	genes1 = genes.split("_");
	genes1 = genes1.join("\t1\n");
	genes1 = genes1.concat("\t1");
	document.getElementById("genesetValues").value= genes1;
    };

    $('#cancel-geneset-button').click(function(){
        history.go(-1);
    });

        $('#upload-geneset-form').submit(function(event) {
            event.preventDefault();
            $('#upload-geneset-button').prop('disabled',function() { return !$(this).prop('disabled') });

            var data = $("#upload-geneset-form").serialize();
            //alert(data);

            $.ajax({
                type: "POST",
                url: "../updategeneset",
                data: data,
                //processData: false,
                //contentType: false,
                success: function(r)
                {
                    var v = JSON.parse(r);
                    if (v["success"] == 'True') {
                        var gs_id = {{ geneset.geneset_id }};
                        window.location = '../editgenesetgenes/' + gs_id;
                    }
                    else {
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        $("#result").html('<div class="alert alert-danger fade in"> ' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                                '</button>Oops. An ERROR occured while updating the database. ' + v["success"] + '</div>');
                    }
                },
                error: function(r)
                {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    $("#result").html('<div class="alert alert-danger fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>Oops. An ERROR occured. Please try again later or submit an error report.</div>');
                }
            });

        });

        function createReaderHandler(name) {
            return function(ev) {
                data[name] = ev.target.result;
            };
        }

        //Get Pubmed Data for ID
        $('#clickablePubmed').click(function() {
            var pmid = $("#pub_pubmed").val();
            if (!$.isNumeric(pmid)) {
                $(document).trigger("add-alerts", [
                    {
                        'message': "You must enter a valid Pubmed ID.",
                        'priority': 'warning'
                    }
                ]);
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "../getPubmed",
                    data: {"pmid": pmid},
                    success: function(data)
                    {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "PubMed ID " + pmid + " successfully loaded",
                                'priority': 'success'
                            }
                        ]);
                        if ($('#pubmed_manual').is(":hidden")) {
                            $("#pubmed_manual").toggle();
                        };

                        if ($('#pubmed_button_div').is(":visible")) {
                            $('#pubmed_button_div').toggle();
                        };

                        var parseData = JSON.parse(data);
                        $('#pub_title').val(parseData[0]);
                        $('#pub_authors').val(parseData[1]);
                        $('#pub_journal').val(parseData[2]);
                        $('#pub_volume').val(parseData[3]);
                        $('#pub_pages').val(parseData[4]);
                        $('#pub_year').val(parseData[5]);
                        $('#pub_month').val(parseData[6]);
                        $('#pub_abstract').val(parseData[7]);

                    }
                });
            };

        });

        $("#pubmed_manual_button").click(function() {
            $("#pubmed_manual").toggle();

            //$('#pub_pubmed').prop('disabled',function() { return !$(this).prop('disabled') })

            var isHidden = $("#pubmed_manual").is(':hidden');

            if(isHidden) {
                $("#pubmed_manual :input").attr("disabled", true);

            }
            else {
                $("#pubmed_manual :input").attr("disabled", false);
                $("#pubmed_button_div_minus").show();
                $("#pubmed_button_div").hide();
            }
        });

        $("#pubmed_manual_button_minus").click(function() {
            $("#pubmed_manual").toggle();

            //$('#pub_pubmed').prop('disabled',function() { return !$(this).prop('disabled') })

            var isHidden = $("#pubmed_manual").is(':hidden');

            if(isHidden) {
                $("#pubmed_manual :input").attr("disabled", true);
                $("#pubmed_button_div_minus").hide();
                $("#pubmed_button_div").show();
            }
            else {
                $("#pubmed_manual :input").attr("disabled", false);
            }
        });


    //toggles between the file or paste uploaders and toggle's enable/disable on inputs
    function toggle_pasting() {

        $("#file_uploader").toggle();
        $("#paste_uploader").toggle();

        $('#file_text').prop('disabled',function() { return !$(this).prop('disabled') })
        $('#file_data').prop('disabled',function() { return !$(this).prop('disabled') })
    }

</script>


{% include 'footer.html' %}
