{% set title="Edit Geneset" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">

    #clickablePubmed {
        cursor: pointer;
    }

    #clickableGenes {
        cursor: pointer;
    }

    #editSpecies, #editIdentifier {
        cursor: pointer;
        color: #0090D9;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=40);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }

</style>

{% if geneset.geneset_id is not defined %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>

    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Edit GeneSet Gene Information</strong></h2>
    </div>


    {# Geneset Metadata #}
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h2 class="panel-title">
            GeneSet Metadata &bull; GS{{ geneset.geneset_id }}
        </h2>
    </div>

    {% include 'genesetMeta.html' %}
    {# Right Side List of Buttons #}

    <div class="col-xs-6 col-md-3">

        <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
            <i class="fa fa-edit pull-left"></i> Edit MetaData
        </button>
        <button type="button" class="btn btn-lg btn-block btn-warning" id="viewGenesetDetails">
            <i class="fa fa-eye pull-left"></i> GeneSets Details
        </button>
        <button type="button" class="btn btn-lg btn-block btn-danger" id="cancelEdit">
            <i class="fa fa-times pull-left"></i> Cancel Edit
        </button>
    </div>

    </div>

    </div>

    {# Gene List Information #}
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h2 class="panel-title">
            Gene List <span id="clickableGenes"><i class="fa fa-info-circle"></i></span>
        </h2>
    </div>

    <div class="row" id="result"></div>

    <div class="row">
    <div class="col-xs-12 col-md-9">
    <br>

    <div class="row">
        <div class="col-md-2">
            <p class="text-right"><strong>SPECIES:</strong></p>
        </div>
        <div class="col-md-10">
                    <span id="editSpecies"><p><b>{{ species[geneset.sp_id] }} <span data-placement="top"
                                                                                    data-toggle="tooltip"
                                                                                    data-rel="tooltip"
                                                                                    data-original-title="Species"
                                                                                    title="Edit Species"
                                                                                    style="margin: 2px; padding: 0px 2px;"><i
                            class="fa fa-edit"></i></span></b></p></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p class="text-right"><strong>IDENTIFIER:</strong></p>
        </div>
        <div class="col-md-10">
                    <span id="editIdentifier"><p><b>
                        {% if geneset.gene_id_type < 0 %}
                            {{ gidts[-1 * geneset.gene_id_type] }}
                        {% else %}
                            {{ pidts[geneset.gene_id_type] }}
                        {% endif %}
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Identifier" title="Edit Identifier"
                              style="margin: 2px; padding: 0px 2px;"><i class="fa fa-edit"></i></span></b></p></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <p class="text-right"><strong>GENE LIST:</strong></p>
        </div>
        <div class="col-md-10">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Identifier</th>
                    <th>Value</th>
                    <th>&nbsp;</th>
                </tr>
                {% for geneset_value in geneset.geneset_values %}
                    <tr>
                        <td>{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}</td>
                        <td>{{ geneset_value.value_list[0] | trim }}</td>
                        <td><span data-placement="top" data-toggle="tooltip"
                                  data-rel="tooltip" data-original-total="Edit" title="Edit Identifier or Value"
                                  style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#editGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}">
										            <i class="fa fa-edit"></i>
                                            </span>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip"
                                              data-rel="tooltip" data-original-title="Delete" title="Delete Identifier"
                                              style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#deleteGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}"
                                                  data-gene-value="{{ geneset_value.value_list[0] | trim }}"
                                                  data-gene-gsid="{{ geneset.geneset_id }}">
                                                    <i class="fa fa-trash-o"></i>
                                            </span>
                                        </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">

        <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
            <i class="fa fa-edit pull-left"></i> Edit MetaData
        </button>
        <button type="button" class="btn btn-lg btn-block btn-warning" id="viewGenesetDetails">
            <i class="fa fa-eye pull-left"></i> GeneSets Details
        </button>
        <button type="button" class="btn btn-lg btn-block btn-danger" id="cancelEdit">
            <i class="fa fa-times pull-left"></i> Cancel Edit
        </button>
    </div>

    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;"></div>

    <br>





    <body onload="myFunction('{{ gidts }}')">


{% endif %}

<script>

    var user_id = {{ user_id }}

            function myFunction(genes) {
                genes1 = genes.split("_");
                genes1 = genes1.join("\t1\n");
                genes1 = genes1.concat("\t1");
                document.getElementById("file_text").value = genes1;
            }

    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });


    $('#clickableGenes').popover({
        title: 'Gene Information', content: 'Provide a list of genes to associate with this record. ' +
        'A full description of the gene set format can be found ' +
        '<a href="http://www.geneweaver.org/wiki/index.php?title=Upload#Single_Gene_Sets">here</a>.',
        html: 'true'
    });

    function formFocus($e) {
        $e.style.backgroundColor = "yellow";
    }
    ;

    function noFormFocus($e) {
        $e.style.backgroundColor = '';
    }
    ;

    function myFunction(genes) {
        genes1 = genes.split("_");
        genes1 = genes1.join("\t1\n");
        genes1 = genes1.concat("\t1");
        document.getElementById("genesetValues").value = genes1;
    }
    ;

    $(document).ready(function () {

        //triggered when modal is about to be shown
        $('#deleteGenesetValueByID').on('shown.bs.modal', function (e) {
            var geneID = $(e.relatedTarget).data('gene-id');
            var value = $(e.relatedTarget).data('gene-value');
            var gsid = $(e.relatedTarget).data('gene-gsid');
            $(e.currentTarget).find('input[name=gene-id]').val(geneID);
            $(e.currentTarget).find('input[name=gene-value]').val(value);
            $(e.currentTarget).find('input[name=gene-gsid]').val(gsid);
            $(e.currentTarget).find('span.gene-element').text(geneID);
        });

        $('#processDeleteGenesetValueByID').on('click', function (e) {
            var user_id = {{ user_id }};
            var id = $("#gene-id").val();
            var gsid = $("#gene-gsid").val();
            $.ajax({
                type: "POST",
                url: "/deleteGenesetValueByID",
                data: {"gsid": gsid, "user_id": user_id, "id": id},
                success: function (data) {
                    $("#result").html('<div class="alert alert-success fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>GeneSet Identifier and Value successfully deleted</div>');
                }
            });
        });

        $('#upload-geneset-form').submit(function (event) {
            event.preventDefault();
            $('#upload-geneset-button').prop('disabled', function () {
                return !$(this).prop('disabled')
            })

            var data = new FormData($(this)[0]);

            var fileSelect = document.getElementById('file_data');
            var reader = new FileReader();
            if (!fileSelect.disabled) {
                var file = fileSelect.files;
                //formData.append('selected_file', file[0], file[0].name);
                reader.onload = createReaderHandler(file[0].name);
                reader.readAsText(file[0]);

            }

            var data = $("#upload-geneset-form").serialize();
            //alert(reader.result);

            $.ajax({
                type: "POST",
                url: "../creategeneset.html",
                data: data,
                //processData: false,
                //contentType: false,
                success: function (data) {
                    alert(data);
                    $('#upload-geneset-button').prop('disabled', function () {
                        return !$(this).prop('disabled')
                    })
                }
            });

        });

        function createReaderHandler(name) {
            return function (ev) {
                data[name] = ev.target.result;
            };
        }

        //Get Pubmed Data for ID
        $('#clickablePubmed').click(function () {
            var pmid = $("#pub_pubmed").val();
            if (!$.isNumeric(pmid)) {
                $(document).trigger("add-alerts", [
                    {
                        'message': "You must enter a valid Pubmed ID.",
                        'priority': 'warning'
                    }
                ]);
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "../getPubmed",
                    data: {"pmid": pmid},
                    success: function (data) {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "PubMed ID " + pmid + " successfully loaded",
                                'priority': 'success'
                            }
                        ]);
                        if ($('#pubmed_manual').is(":hidden")) {
                            $("#pubmed_manual").toggle();
                        }
                        ;

                        if ($('#pubmed_button_div').is(":visible")) {
                            $('#pubmed_button_div').toggle();
                        }
                        ;

                        var parseData = JSON.parse(data);
                        $('#pub_title').val(parseData[0]);
                        $('#pub_authors').val(parseData[1]);
                        $('#pub_journal').val(parseData[2]);
                        $('#pub_volume').val(parseData[3]);
                        $('#pub_pages').val(parseData[4]);
                        $('#pub_year').val(parseData[5]);
                        $('#pub_month').val(parseData[6]);
                        $('#pub_abstract').val(parseData[7]);

                    }
                });
            }
            ;

        });

        $("#pubmed_manual_button").click(function () {
            $("#pubmed_manual").toggle();

            //$('#pub_pubmed').prop('disabled',function() { return !$(this).prop('disabled') })

            var isHidden = $("#pubmed_manual").is(':hidden');

            if (isHidden) {
                $("#pubmed_manual :input").attr("disabled", true);
            }
            else {
                $("#pubmed_manual :input").attr("disabled", false);
            }
        });


    });

    //toggles between the file or paste uploaders and toggle's enable/disable on inputs
    function toggle_pasting() {

        $("#file_uploader").toggle();
        $("#paste_uploader").toggle();

        $('#file_text').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
        $('#file_data').prop('disabled', function () {
            return !$(this).prop('disabled')
        })
    }

</script>

{% include 'modal/deleteGenesetValue.html' %}

{% include 'modal/editGenesetValue.html' %}

{% include 'footer.html' %}
