{% set title="Edit Geneset" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">

    #clickablePubmed {
        cursor: pointer;
    }

    #clickableGenes {
        cursor: pointer;
    }

    #editSpecies, #editIdentifier {
        cursor: pointer;
        color: #0090D9;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=60);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }

</style>

{% if geneset.geneset_id is not defined or view != 'True' %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Edit GeneSet Gene Information</strong></h2>
    </div>


    {# Geneset Metadata #}
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h2 class="panel-title">
            GeneSet Metadata &bull; GS{{ geneset.geneset_id }}
        </h2>
    </div>

    {% include 'genesetMeta.html' %}
    {# Right Side List of Buttons #}

    <div class="col-xs-6 col-md-3">

        <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
            <i class="fa fa-edit pull-left"></i> Edit MetaData
        </button>
        <button type="button" class="btn btn-lg btn-block btn-warning" id="viewGenesetDetails">
            <i class="fa fa-eye pull-left"></i> GeneSets Details
        </button>
        <button type="button" class="btn btn-lg btn-block btn-danger" id="cancelEdit">
            <i class="fa fa-times pull-left"></i> Cancel Edit
        </button>
    </div>

    </div>

    </div>

    {# Gene List Information #}
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h2 class="panel-title">
            Gene List <span id="clickableGenes"><i class="fa fa-info-circle"></i></span>
        </h2>
    </div>

    <div class="row" id="result"></div>

    <div class="row">
    <div class="col-xs-12 col-md-9">
    <br>

    <div class="row">
        <div class="col-md-2">
            <p class="text-right"><strong>SPECIES:</strong></p>
        </div>
        <div class="col-md-10">
                    <span id="editSpecies"><p><b>{{ species[geneset.sp_id] }} <span data-placement="top"
                                                                                    data-toggle="tooltip"
                                                                                    data-rel="tooltip"
                                                                                    data-original-title="Species"
                                                                                    title="Edit Species"
                                                                                    style="margin: 2px; padding: 0px 2px;"><i
                            class="fa fa-edit"></i></span></b></p></span>
        </div>
    </div>

    <div class="row">

        <div class="row" id="result"></div>

        <div class="col-md-2">
            <p class="text-right"><strong>IDENTIFIER:</strong></p>
        </div>
        <div class="col-md-10">
                    <span id="editIdentifier"><p><b>
                        {% if geneset.gene_id_type < 0 %}
                            {{ gidts[-1 * geneset.gene_id_type] }}
                        {% else %}
                            {{ pidts[geneset.gene_id_type] }}
                        {% endif %}
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Identifier" title="Edit Identifier"
                              style="margin: 2px; padding: 0px 2px;"><i class="fa fa-edit"></i></span></b></p></span>
        </div>
    </div>

        <div class="row">
            {% if geneset.geneset_values %}

                <div class="col-md-2">
                    <p class="text-right"><strong>GENE LIST:</strong></p>
                </div>
                <div class="col-md-10" id="genesetgenes">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Identifier</th>
                            <th>Value</th>
                            <th>&nbsp;</th>
                        </tr>


                        {% for geneset_value in geneset.temp_geneset_values %}
                            <tr>
                                <td>{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}</td>
                                <td>{{ geneset_value.value_list[0] | trim }}</td>
                                <td><span data-placement="top" data-toggle="tooltip"
                                          data-rel="tooltip" data-original-total="Edit" title="Edit Identifier or Value"
                                          style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#editGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}">
										            <i class="fa fa-edit"></i>
                                            </span>
                                        </span>
                                        <span data-placement="top" data-toggle="tooltip"
                                              data-rel="tooltip" data-original-title="Delete" title="Delete Identifier"
                                              style="margin: 2px; padding: 0px 2px; cursor: pointer;">
                                            <span href="#deleteGenesetValueByID" data-toggle="modal"
                                                  data-gene-id="{{ geneset_value.source_list[0] | trim | replace ('\n', '') }}"
                                                  data-gene-value="{{ geneset_value.value_list[0] | trim }}"
                                                  data-gene-gsid="{{ geneset.geneset_id }}">
                                                    <i class="fa fa-trash-o"></i>
                                            </span>
                                        </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="row">
                    <div class="alert bg-gray-light">No Genes are Associated with this GeneSet</div>
                </div>
            {% endif %}
        </div>

    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;"></div>

    <br>
    </div>

    <div class="col-xs-6 col-md-3">

        <br>

        <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
            <i class="fa fa-plus pull-left"></i> Add Gene
        </button>
        <button type="button" class="btn btn-lg btn-block btn-warning" id="viewGenesetDetails">
            <i class="fa fa-signal pull-left"></i> Set Threshold
        </button>
        <button type="button" class="btn btn-lg btn-block btn-warning" id="saveGenesetDetails">
            <i class="fa fa-save pull-left"></i> Save Genes
        </button>

    <div class="alert alert-warning" style="display: inline-block; width: 100%">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <strong>Warning:</strong> Updates are not permanent until saved.
    </div>

    </div>




    <body onload="myFunction('{{ gidts }}')">


{% endif %}

<script>

    var user_id = {{ user_id }}

    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    $('#clickableGenes').popover({
        title: 'Gene Information', content: 'Provide a list of genes to associate with this record. ' +
        'A full description of the gene set format can be found ' +
        '<a href="http://www.geneweaver.org/wiki/index.php?title=Upload#Single_Gene_Sets">here</a>.',
        html: 'true'
    });

    function myFunction(genes) {
        genes1 = genes.split("_");
        genes1 = genes1.join("\t1\n");
        genes1 = genes1.concat("\t1");
        document.getElementById("genesetValues").value = genes1;
    }
    ;

    $(document).ready(function () {

        //triggered when modal is about to be shown
        $('#deleteGenesetValueByID').on('shown.bs.modal', function (e) {
            var geneID = $(e.relatedTarget).data('gene-id');
            var value = $(e.relatedTarget).data('gene-value');
            var gsid = $(e.relatedTarget).data('gene-gsid');
            $(e.currentTarget).find('input[name=gene-id]').val(geneID);
            $(e.currentTarget).find('input[name=gene-value]').val(value);
            $(e.currentTarget).find('input[name=gene-gsid]').val(gsid);
            $(e.currentTarget).find('span.gene-element').text(geneID);
        });

        $('#processDeleteGenesetValueByID').on('click', function (e) {
            var id = $("#gene-id").val();
            var gsid = $("#gene-gsid").val();
            $.ajax({
                type: "GET",
                url: "/deleteGenesetValueByID",
                data: {"gsid": gsid, "user_id": {{ user_id }}, "id": id},
                success: function (data) {
                    $("#result").html('<div class="alert alert-success fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>GeneSet Identifier and Value successfully deleted</div>');
                    $('#genesetgenes').load(location.href+" #genesetgenes>*","");
                }
            });
        });

        $('#editSubmitSpecies').on('click', function(e){
            var val = $('#species').children('#selectedSpecies').text();
            $.trim(val);
            //update genset_value for the sp_id
            $.ajax({
                    type: "GET",
                    url: "../updateGenesetSpecies",
                    data: {"altSpecies": val, "user_id": {{ user_id }}, "gs_id": {{ geneset.geneset_id }} },
                    success: function (data) {
                        location.reload();
                    },
                    error: function(){
                        $("#result").html('<div class="alert alert-success fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>An error occured while updating the db</div>');
                    }
                });
            });

        $('#editSpecies').on('click', function (e) {
                $("#editSpeciesByGSID").modal('show');
        });

        $('#editIdentifier').on('click', function (e) {
                $("#editIdentifierByGSID").modal('show');
        });

        $('#editGeneset').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                window.location.href = '../editgeneset/'+gsid;
        });

        $('#viewGenesetDetails').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                window.location.href = '../viewgenesetdetails/'+gsid;
        });

        $('#cancelEdit').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                window.location.href = '../viewgenesetdetails/'+gsid;
        });

        $(".dropdown-menu li a").click(function(){
            $(this).parents(".input-group-btn").find('.btn').text($(this).text());
            $(this).parents(".input-group-btn").find('.btn').val($(this).text());
        });

    });


</script>

{% include 'modal/deleteGenesetValue.html' %}

{% include 'modal/editGenesetValue.html' %}

{% include 'modal/editSpecies.html' %}

{% include 'modal/editGeneIdentifier.html' %}

{% include 'footer.html' %}
