</div> <!-- end container div -->
<div class="push"></div>
</div> <!-- end wrapper div -->

<div class="footer">
    <div class="panel bd-0 bd-t-info">
        <div class="panel-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Manage Genesets</h4>
                        <hr>
                        <ul class="manageGenesetLinks">
                            <li><a href="/mygenesets">My Genesets</a></li>
                            <li><a href="/search.html">Search Genesets</a></li>
                            <li><a href="/uploadgeneset.html">Upload Gensets</a></li>
                            <li><a href="/batchuploadgeneset.html/">Batch Upload Gensets</a></li>
                            <li><a href="/editgenesets.html">Edit Genesets</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>Analyze Genesets</h4>
                        <hr style="size: 40px;">
                        <ul class="analyzeGenesetLinks" role="menu">
                            <li><a href="/analyze">My Projects</a></li>
                            <li><a href="/share_projects.html"> Shared Projects</a></li>
                            <li><a href="/results">Results</a></li>
                            {% if "user" in g %}
                                <li><a href="/emphasis.html">Emphasize Genes</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if "user" in g %}
                        <div class="col-md-2">
                            <h4>Manage Accounts</h4>
                            <hr>
                            <ul class="loggedInLinks">
                                <li><a href="/accountsettings.html">Account Settings</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    {% if "user" not in g %}
                        <div class="col-md-2">
                            <h4>Manage Accounts</h4>
                            <hr>
                            <ul class="loggedOutLinks">
                                <li><a href="/login.html">Sign In</a></li>
                                <li><a href="/reset.html">Forgot Password</a></li>
                                <li><a href="/register.html">Create Account</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    <div class="col-md-2">
                        <h4>GeneWeaver Links</h4>
                        <hr>
                        <ul class="geneWeaverLinks">
                            <li><a href="/">Home Page</a></li>
                            <li><a href="http://geneweaver.org/wiki/index.php?title=GeneWeaver_Documentation">Help</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/funding">Funding</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <h4>Policies</h4>
                        <hr>
                        <ul class="geneWeaverLinks">
                            <li><a href="/datasharing">Data Sharing</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/usage">Usage</a></li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <a href="#top" style="margin-top: 10px;margin-bottom: 10px;margin-left: 55px;">
                            <i class="glyphicon glyphicon-chevron-up"></i></a>
                    </div>

                </div>
                <div>


                </div>
                {% if usr_id %}
                    <script type="text/javascript">ODE.help_init();</script>
                {% endif %}
                <br/>

            </div>
        </div>
    </div>
</div>

</body>
</html>
