{% include 'header.html' %}

<br>
<div class="panel panel-default panel-heading bg-gray-light">
    <h3 class="panel-title"><strong>Funding</strong></h3>
</div>

<div class="panel panel-default">
    <div class="row">
        <div class="panel-body">
            <p>GeneWeaver (previously, The Ontological Discovery Environment) was initiated as a project of the <a
                    href="http://www.iniastress.org/">NIAAA</a> Integrative Neuroscience Initiative on Alcoholism
                (U01AA13499, U24AA13513),
                and is supported by RO1 AA18776.</p>

            <p>For questions or comments about this website or collaboration opportunities please contact <a
                    href="mailto:Erich_Baker@baylor.edu">Erich Baker</a>
                or <a href="mailto:Elissa.Chesler@jax.org">Elissa Chesler</a>.</p>

        </div>
    </div>
</div>


{% include 'footer.html' %}
