{# MetaData About Genesets on GeneSet View Page #}

<div class="panel-body">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DESCRIPTION:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>LABEL:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.abbreviation }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DATE ADDED:</strong></p>
                </div>
                <div class="col-md-10">
                    {{ geneset.creation_date }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>SPECIES:</strong></p>
                </div>
                <div class="col-md-10">
                    {% if geneset.sp_id == 1 %}
                        <span class="mouse">Mouse</span>
                    {% endif %}
                    {% if geneset.sp_id == 2 %}
                        <span class="human">Human</span>
                    {% endif %}
                    {% if geneset.sp_id == 3 %}
                        <span class="rat">Rat</span>
                    {% endif %}
                    {% if geneset.sp_id == 4 %}
                        <span class="zebrafish">Zebrafish</span>
                    {% endif %}
                    {% if geneset.sp_id == 5 %}
                        <span class="fly">Fly</span>
                    {% endif %}
                    {% if geneset.sp_id == 6 %}
                        <span class="monkey">Monkey</span>
                    {% endif %}
                </div>
            </div>

            {% if geneset.uri %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>URI:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.uri %}
                            <a href="{{ geneset.uri }}">{{ geneset.uri }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if geneset.publication %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>AUTHORS:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.authors %}
                            {{ geneset.publication.authors }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>TITLE:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.title %}
                            <i>{{ geneset.publication.title }}</i>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>JOURNAL:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.journal %}
                            <u>{{ geneset.publication.journal }}</u>
                            {{ geneset.publication.month }} {{ geneset.publication.year }},
                            Vol {{ geneset.publication.volume }}, pp. {{ geneset.publication.pages }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>ABSTRACT:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.abstract %}
                            {{ geneset.publication.abstract }}
                        {% else %}
                            None
                        {% endif %}
                        {% if geneset.publication.pubmed_id %}
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ geneset.publication.pubmed_id }}">
                                <b>PUBMED: {{ geneset.publication.pubmed_id }}</b>
                            </a>

                            <br>
                            <!-- TODO link this with a search for this pubmed ID -->
                            <a href="../findPublications/{{ geneset.geneset_id }}">Find other GeneSets from this publication <i class="fa fa-search"></i></a>
                        {% endif %}
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="alert bg-gray-light">No Publication Information is Associated with this GeneSet</div>
                </div>


            {% endif %}
        {% if onts %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>ONTOLOGY:</strong></p>
                    </div>
                </div>
            <div class="row">
                <div id="ontology_tree" class="jstree jstree-1 jstree-default jstree-default-responsive" role="tree" aria-acivedescendant="j1_1"></div>
                    <ul class="jstree-container-ul">
                        {% for ont in onts %}
                            {% if ont.child == 0 %}
                            <li id="j1_1" class="jstree-node jstree-leaf" role="treeitem" aria-selected = "false">
                                <i class="jstree-icon jstree-ocl"></i>
                                    <a class="jstree-anchor jstree-clicked jstree-hovered" href="#">
                                        <i class="jstree-icon jstree-themeicon fa fa-folder-o c-purple jstree-themeicon-custom"></i>
                                        {{ ont.name }}
                                    </a>
                            </li>
                            {% else %}
                                <li id="j1_1" class="jstree-node jstree-closed" role="treeitem" aria-expanded = false aria-selected = "false">
                                <i class="jstree-icon jstree-ocl"></i>
                                    <a class="jstree-anchor jstree-clicked jstree-hovered" href="#">
                                        <i class="jstree-icon jstree-themeicon fa fa-folder-o c-purple jstree-themeicon-custom"></i>
                                        {{ ont.name }}
                                    </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
            </div>

        {% else %}

            <div class="row">
                <div class="alert bg-gray-light">No Annotation Information is Associated with this GeneSet</div>
            </div>

        {% endif %}

        </div>