{% set title="GeneSet Intersection List" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<div class="page-header">
    <h1>{{ title }}</h1>
</div>

{% for gs in genesets %}
	<!-- Label the tier - which is the curation id, Geneset.cur_id -->
    <input style="margin-top: 2px" type="checkbox" name="gs_id[]" value="{{ gs.geneset_id }}">
    <a style="margin-left:30px; font-size:18px;">
	{% include 'viewGenesetSummaryPartial.html' %}
<br />

{% endfor %}
<div id="project_selector">
<input style="margin-top: 2px" type="checkbox" value="all" onclick="ODE.select_all(this.checked, 'gs_id[]');">
    <p style="margin-left:30px; font-size: 15px;"> Select All
    <select name="addToProject" onchange="javascript:handleSelect(this);">
        <option value="-1">Add selected to project...</option>
        {% for project in list %}
            <option value="{{project.project_id}}">{{project.name}} ({{project.count}})</option>
        {% endfor %}
        <option value="-2">+ Create new project...</option></select></p>
</div>
	<script type="text/javascript">
		function handleSelect(elm)
		{
			var genesets = []
            if (elm.value != "-1") {
                if (elm.value == "-2") {
                    var name = prompt("Enter a name for the new project:");
                    $.get("/create_project/" + name + ".html", function (data, status) {
                        $('input:checkbox[name="gs_id[]"]').each(function () {
                            if (this.checked) {
                                genesets.push(this.value);
                            }
                        });
                        if (genesets.length != 0) {
                            for (var i = 0; i < genesets.length; i++) {
                                $.get("/add_geneset_to_project/" + data + "/" + genesets[i] + ".html");
                            }
                        }
                        else {
                            window.alert("Please select GeneSet(s) to add first!")
                        }
                    });
                }
                else {
                    $('input:checkbox[name="gs_id[]"]').each(function () {
                        if (this.checked) {
                            genesets.push(this.value);
                        }
                    });
                    if (genesets.length != 0) {
                        for (var i = 0; i < genesets.length; i++) {
                            $.get("/add_geneset_to_project/" + elm.value + "/" + genesets[i] + ".html", function (data, status) {
                            });
                        }
                    }
                    else {
                        window.alert("Please select GeneSet(s) to add first!")
                    }
                }
            }
		}
</script>

<br /><br /><h3>Venn Diagram:</h3><hr>
  <h4>Gene Symbol:</h4>
  {% set size=300 %}
<svg width="{{size}}" height="{{size}}" viewBox="0 0 {{size}} {{size}}"
      xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
      >
{% set venn = async_result.venn_diagrams[index|int] %}
	<g transform="translate(50 50) scale(2)" opacity="{{ venn.opacity }}">
     <circle cx="{{ venn.c1x }}" cy="{{ venn.c1y }}" r="{{ venn.r1 }}" fill="#ff0000" fill-opacity="1.0" stroke="#000000" stroke-width="1px" >
       <title>{{venn.title1|safe}}</title><desc>{{venn.desc1|safe}}</desc>
     </circle>
     <circle cx="{{ venn.c2x }}" cy="{{ venn.c2y }}" r="{{ venn.r2 }}" fill="#0000ff" fill-opacity="0.4" stroke="#000000" stroke-width="1px" >
       <title>{{ venn.title2|safe}}</title><desc>{venn.desc2|safe}</desc>
     </circle>
     {% for vtext in venn.text %}
       <text x="{{ vtext.tx }}" y="{{ vtext.ty }}" text-anchor="middle" transform="scale(0.75)">{{vtext.text|safe}}</text>
     {% endfor %}
	</g>

</svg>

<br /><br /><h3>Gene List:</h3><hr>
<div class="xfloatGeneList">

<style type="text/css">.containedGene {display: inline; } .containedHomology {display: inline;}</style>

<table cellspacing="0" style="font-size: 1em; width: 80%"><tr><th rowspan="2" valign="bottom">
<p style="font-size: 1em; font-weight: normal;">
<img src="/static/images/greendot.png" /> = Exact same gene in all sets<br />
<img src="/static/images/purpledot.png" /> = Homologous gene cluster</p><br />
Gene Symbol
</th><th width="20%" rowspan="2" valign="bottom">Links

{% set j = 0 %}
{% for gs in genesets %}
    {% if j!=0 %}
    </th></tr><tr><th width="2%" rowspan="1" style="border-left: 1px solid #000; border-bottom: none;
    {% if j%2==1 %} background-color: #fff;{% endif %}">&nbsp;</th>
    {% endif %}

    </th><th width="50%" align="left" colspan="{{genesets|length+1}}" style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: none;
    {%if j%2==0 %} background-color: #fff;{% endif %}">
    <a href="/viewgenesetdetails/{{gs.geneset_id}}">GS{{gs.geneset_id}}: {{gs.name}}</a></th>
    {% set j = j + 1 %}
{% endfor %}

</th></tr>

{% set j = 0 %}
{% for genes in gene_sym %}
      <tr><td class="{{genes}}">
         <a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">{{genes}}</a></td><td class="gsIconBox" style="text-align: left;">
         {% include 'linkouts.html' %}
         {% for gs in genesets %}
         </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
             {% if gene_sym[genes] == 0 %}
                <div class="containedGene"><img src="/static/images/greendot.png" alt="In GS{{gs.name}}" /></div>
             {% else %}
                <div class="containedHomology"><img src="/static/images/purpledot.png" alt="In GS{{gs.name}}, with homology to {{genes}}" /></div>
             {% endif %}
        {% endfor %}
      </td><td width="250px">&nbsp;</td></tr>
{% endfor %}

</table></div>

<br />
<br />
{% include 'footer.html' %}