{# MetaData About Genesets on GeneSet View Page #}

<div class="panel-body">
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DESCRIPTION:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>LABEL:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.abbreviation }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DATE ADDED:</strong></p>
                </div>
                <div class="col-md-10">
                    {{ geneset.creation_date }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>SPECIES:</strong></p>
                </div>
                <div class="col-md-10">
                    {% if geneset.sp_id == 1 %}
                        <span class="mouse">Mouse</span>
                    {% endif %}
                    {% if geneset.sp_id == 2 %}
                        <span class="human">Human</span>
                    {% endif %}
                    {% if geneset.sp_id == 3 %}
                        <span class="rat">Rat</span>
                    {% endif %}
                    {% if geneset.sp_id == 4 %}
                        <span class="zebrafish">Zebrafish</span>
                    {% endif %}
                    {% if geneset.sp_id == 5 %}
                        <span class="fly">Fly</span>
                    {% endif %}
                    {% if geneset.sp_id == 6 %}
                        <span class="monkey">Monkey</span>
                    {% endif %}
                </div>
            </div>

            {% if geneset.uri %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>URI:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.uri %}
                            <a href="{{ geneset.uri }}">{{ geneset.uri }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if geneset.publication %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>AUTHORS:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.authors %}
                            {{ geneset.publication.authors }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>TITLE:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.title %}
                            <i>{{ geneset.publication.title }}</i>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>JOURNAL:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.journal %}
                            <u>{{ geneset.publication.journal }}</u>
                            {{ geneset.publication.month }} {{ geneset.publication.year }},
                            Vol {{ geneset.publication.volume }}, pp. {{ geneset.publication.pages }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>ABSTRACT:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.abstract %}
                            {{ geneset.publication.abstract }}
                        {% else %}
                            None
                        {% endif %}
                        {% if geneset.publication.pubmed_id %}
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ geneset.publication.pubmed_id }}">
                                <b>PUBMED: {{ geneset.publication.pubmed_id }}</b>
                            </a>

                            <br>
                            <!-- TODO link this with a search for this pubmed ID -->
                            <a href="../findPublications/{{ geneset.geneset_id }}">Find other GeneSets from this publication <i class="fa fa-search"></i></a>
                        {% endif %}
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="alert bg-gray-light">No Publication Information is Associated with this GeneSet</div>
                </div>


            {% endif %}

            {# Annotation Information #}
            <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
                <h2 class="panel-title">
                    Annotation Information
                </h2>
            </div>

            <div style="margin-left: 1em;">
                <br>
                <div class="row">
                    <div class="panel panel-default panel-heading bg-gray-light">
                        <h3 class="panel-title"><strong>Geneset-Ontology Data</strong>
                            <span id="genesetOntologyInfo"><i class="fa fa-info-circle"></i></span></h3>
                    </div>
                </div>
                <div class="row">
                    <div id="genesetOntologyAlert" class="alert alert-warning fade in" style="margin-top: 0px; width: 100%;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        Got to Edit MetaData page to change ontology information.
                    </div>
                </div>
                <div class="row">
                    <div style="border: 1px solid #afafaf;">
                        <div id="tree" name="selNodes" style="overflow:auto; max-height:600px"></div>
                    </div>
                </div>
            </div>

            <script>
                $(function(){
                    //Initialize dynatree data and functions
                    $("#tree").dynatree({
                        checkbox: true,
                        selectMode: 2,
                        initAjax: {
                            url: "/initOntTree",
                            data: {
                                "gs_id": $(location).attr("href").split('/').pop(),
                                universe: "All Reference Types"
                            }
                        },

                        //Performs lazy ajax call when new nodes need to be viewed
                        onLazyRead: function (node) {
                            node.appendAjax({
                                url: "/getOntRootNodes",
                                data: {
                                    key: node.data.key,
                                    is_db: node.data.db,
                                    universe: "All Reference Types"
                                }
                            })
                        },

                        //Performs lazy ajax call to update the database when an ontology is selected or unselected
                        onSelect: function (flag, node) {
                            $.ajax({
                                url: "/updateGenesetOntologyDB",
                                data: {
                                    key: node.data.key,
                                    flag: flag,
                                    universe: "All Reference Types",
                                    gs_id: $(location).attr("href").split('/').pop()
                                },
                                success: function(data){

                                }
                            })
                        }
                    })
                });

                //Popover that gives Geneset Ontology functionality overview for the user
                //Displayed when ontologies are linked with the geneset
                $('#genesetOntologyInfo').popover({
                        title: 'Geneset Ontologies', content: 'Ontologies linked to the current geneset are ' +
                        'shown below as the highlighted nodes within the ontology databases. Only available to edit ' +
                        'on Edit MetaData page.'
                });
            </script>
        </div>