{#
  globals:
    title => title of the page with ' :: ' at end (or empty)
    maintenance_mode => true for maintenance message
    chk_browser() => checks browser verison / javascript 
    usr_id => id of current user
    persName => first name of user
    isAdmin => 0 if not an admin
    url => current page url
    topmenu[url] => link name
    topsubmenu[link name] => link list

    errors = array of error messages
    messages = array of messages
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% if title %}{{ title|e }} :: {% endif %}Gene Weaver</title>
<link rel="stylesheet" type="text/css" href="css/yui-combo.css" />
<link rel="stylesheet" type="text/css" href="css/search.css" />
<link rel="stylesheet" type="text/css" href="css/ode.css" />
<link rel="stylesheet" type="text/css" href="css/tipsy.css" />
<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.7.custom.css" />
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/ode.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-238758-4']);
  _gaq.push(['_setDomainName', 'geneweaver.org']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body id="doc3" style="background: url(images/ode-newback.png) repeat-x;
{% if using_ode %}
 margin-top:40px;">
	<div style="position:absolute; left:0; top:0; padding: 0px; border-bottom:1px solid #997; width:100%; background-color: #ffff99;">
		<div style="padding: 5px; padding-left: 50px;">
		The Ontological Discovery Environment is now <strong>GeneWeaver.org</strong>. 
		<a href="http://ontologicaldiscovery.org/index.php?action=help&amp;cmd=view&amp;docid=faq">Read more about the change</a>,
		and don't forget to update your bookmarks to <a href="http://geneweaver.org">GeneWeaver.org</a>!</div></div>
{% else %}
">
{% endif %}

{% if maintenance_mode %}
  <div class="error">We are currently performing site maintenance.  Parts of the site may be slow or not work properly.  Please try again later if you experience any problems.</div>
{% endif %}

<div class="banner" style="height: 50px; position:relative;">
  <div class="logo" style="height: 80px; width: 650px; background: url(images/gw-oldlogo.png) no-repeat; position: absolute; top:0; left:0px; z-index: 1; border: 0;padding-left:104px; padding-top:3px;">
	<span style="font-size: 24px; font-weight:bold;">GeneWeaver.org</span><br/>
	<span style="font-size: 12px; color: #777;">A system for the integration of functional genomics experiments.</span>
  </div>

	<div style="position: absolute; bottom: 3px; z-index: 99; right: 0px;text-align:right;padding-bottom:5px;">
	{% if is_anonymous %}
    <span>Welcome Guest!  To ensure future access<br /> to your data, please </span>

		<a href="{{ ode_link(action='account', cmd='reg')|safe }}">Register</a> &mdash; or
		<a href="{{ ode_link(action='account', cmd='login')|safe }}">Login</a>
	{% else %}
		Logged in as <a href="{{ ode_link(action='account')|safe }}">{{ persName }}</a> <br />
		Edit <a href="{{ ode_link(action='account')|safe }}">Groups</a> | <a href="{{ ode_link(action='account', cmd='logout')|safe }}">Logout</a>
		{% if isAdmin %} | <a href="http://geneweaver.org/wiki/index.php?title=Issue_Tracker&amp;bt_action=list">Issue Tracker</a>{% endif %}
	{% endif %}
	</div>
</div>
<br clear="both" />

<div class="menu" style="height: 27px;"><ul>
{% set curpage_matched = [] %}
{% for key, value in topmenu.iteritems() %}
  <li><a
  {% if (key in url or 'action' not in url) and not curpage_matched %}
  class="current"
   {#
   This is an ugly hack since we can't assign to variables outside the loop. For more information see:
   http://stackoverflow.com/questions/4870346/can-a-jinja-variables-scope-extend-beyond-in-an-inner-block
   #}
   {% if curpage_matched.append(True) %}{% endif %}
  {% endif %}
  href="{{ key|safe }}">{{ value }}{% if topsubmenu[value] %}&nbsp;<small>▼ </small></a>
  <dl class="submenu">
  {% for subkey, subitem in topsubmenu[value].iteritems() %}
    <dd><a href="{{ subkey|safe }}">{{ subitem }}</a></dd>
  {% endfor %}
  </dl>
  {% else %}
  </a>
  {% endif %}
  </li>
{% endfor %}
<li><a href="http://geneweaver.org/wiki">Help</a></li>
</ul></div>
<div class="main">

{% if title %}
<h1>{{ title }}</h1>
<div class="content">
{% endif %}

{# TODO implement these
{show_errors}
{show_messages}
{if !empty($site_messages)}
	<div class="message">{$site_messages}</div>
{/if}
#}

{#
{if !empty($smarty.session.errors) }
   <div class="error">
   {foreach from=$smarty.session.errors item=err}
      {$err}<br />
   {/foreach}
   </div>
   {clear_errors}
{/if}

{if !empty($smarty.session.messages) }
   <div class="message">
   {foreach from=$smarty.session.messages item=msg}
      {$msg}<br />
   {/foreach}
   </div>
   {clear_messages}
{/if}

#}

{% if action != 'home' %}
<div class="content-meta">
  <span id="content-meta-help"><a href="#" onclick="return ODE.toggle('.content-help');">Help</a> | </span>
  <a href="{{ ode_link('help', 'report')|safe }}">Feedback</a>
</div>
{% endif %}