{#
globals:
title => title of the page with ' :: ' at end (or empty)
maintenance_mode => true for maintenance message
chk_browser() => checks browser verison / javascript
usr_id => id of current user
persName => first name of user
isAdmin => 0 if not an admin
url => current page url
topmenu[url] => link name
topsubmenu[link name] => link list
errors = array of error messages
messages = array of messages
#}
<!DOCTYPE html>
<head>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/GW2-logo.ico') }}">

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{% if title %}{{ title|e }} :: {% endif %}GeneWeaver</title>
    <!-- BEGIN PIXIT STYLE -->
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/icons/icons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/plugins.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/colors/color-blue.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dataTables.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dataTables.tableTools.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/parsley/parsley.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-switch/bootstrap-switch.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui-1.8.7.custom.css') }}" rel="stylesheet">

    <!-- Styling for select2 search bar -->
    <link rel="stylesheet" type="text/css" href="../static/select2/4.0.5/select2.min.css">
    <link href="{{ url_for('static', filename='css/status_styles.css') }}" rel="stylesheet">
{#
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-slider/bootstrap-slider.css') }}"
          rel="stylesheet">
 #}
    <!--
    <link href="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dynamic/media/css/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.tableTools.css') }}" rel="stylesheet">
    -->

    <!-- BEGIN DYNATREE STYLE -->
    <link href="{{ url_for('static', filename='js/dynatree-1.2.8/src/skin-vista/ui.dynatree.css') }}" rel="stylesheet">

    <!-- END  MANDATORY STYLE -->

    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet">
    {# TODO remove the jquery import and move the following scripts to the end, below where jquery 1.12 is imported #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geneweaver.js') }}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-238758-4']);
        _gaq.push(['_setDomainName', 'geneweaver.org']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- TODO this should be in a CSS file -->
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }

        .jumbotron {
            text-align: center;
            background-color: transparent;
        }

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        .jumbotron h1 {
            font-size: 3.5em;
        }

        a.link-panel {
            color: inherit !important;
            text-decoration: inherit !important;
        }

        .link-panel:hover {
            background-color: rgba(153, 184, 190, 0.2) !important;
        }



        .button_badge {
            background-color: #fa3e3e;

            color: white;

            font-size: 8px;
            line-height: 8px;
            padding: 1px 4px;

            position: relative;
            top: -6px;
            right: 5px;

            border-radius: 6px;
            box-shadow: 1px 1px black;
        }
}
    </style>
    <script>

        function update_notification_badge() {
            $.getJSON('{{ url_for('get_unread_notification_count_json') }}', function(data) {
                if ('unread_notifications' in data) {
                    if (data['unread_notifications'] != 0) {
                        $("#notification_badge").text(data['unread_notifications']);
                        $("#notification_badge").show();
                    }
                    else {
                        $("#notification_badge").hide();
                    }
                }
                setTimeout(update_notification_badge, 10000);
            });
        }

        $(function () {
            var anonUserSpan = $('#anon-user-span');
            var validUserSpan = $('#valid-user-span');
            var userEmail = $('#usr_email');
            var userPassword = $('#usr_password');
            var userName = $('#user-name');


            // if the user has unread notifications, set the notification badge
            // text and then show it.
            update_notification_badge();


            $('#loginform').submit(function (event) {
                // stop the form from submitting normally
                event.preventDefault();
                // get the email and password values from the form
                var authData = {
                    usr_email: userEmail.val(),
                    usr_password: userPassword.val()
                };
                // send the data using a post
                var posting = $.post("{{ url_for('json_login')|safe }}", authData);
                posting.done(function (data) {
                    if (data.success) {
                        userName.text(data.usr_first_name);
                        location.reload();
                        // anonUserSpan.css('display', 'none');
                        // validUserSpan.css('display', '');
                    } else {
                        alert("login attempt failed");
                    }
                });
            });
            $('#logout-button').click(function (event) {
                $.get("{{ url_for('json_logout')|safe }}", function () {
                    window.location = "/"
                });
            });
            $('#admin-button').click(function (event) {
                window.location = "/admin";
            });
        });
        //redirects

    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding:5px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <!-- NOTE: these icon-bar spans are used for responsive layout. They cause
            the menu to collapse into three horizontal lines in the case of a small
            display (eg. a smartphone) -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('render_home')|safe }}">
            <img style="max-width:100%; max-height:100%;" src="{{ url_for('static', filename='images/GW2-logo.png') }}"
                 alt="GeneWeaver Logo"> GeneWeaver
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right header-menu">
            {% if g.user and not g.user.is_guest %}
            <li>
                <a target ="_blank" href="https://bitbucket.org/geneweaver/website-py/issues/new">
                    <span class="fa fa-bug fa-lg"></span>
                </a>
            </li>
            <li>
                <a href="/notifications"><span class="fa fa-envelope"></span><span class="button_badge" id="notification_badge" hidden></span></a>
            </li>
            {% endif %}
            <li>
                <a href="/help/"><span class="fa fa-question-circle-o fa-lg"></span></a>
            </li>
            <li>
                <a href="/search"><span class="fa fa-search fa-lg"></span></a>
            </li>
            <li class="dropdown">
                <a href="/mygenesets" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Manage GeneSets <span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('render_projects')|safe }}">Manage Projects</a></li>
                    <li><a href="/mygenesets">View My GeneSets</a></li>
                    <li><a href="/search">Search GeneSets</a></li>
                    <li><a href="{{ url_for('geneset.render_uploadgeneset') }}">Upload GeneSet</a></li>
                    <li><a href="/batchupload">Upload Batch GeneSets</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/groupTasks" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Curation <span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/groupTasks">Manage Curation Tasks</a></li>
                    <li><a href="/publication_assignment">Search/Assign Publications</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('render_analyze')|safe }}"
                    class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Analyze
                    GeneSets<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('render_analyze')|safe }}">Analyze GeneSets</a></li>
                    <li><a href="{{ url_for('render_user_results')|safe}}">View Results</a></li>
                    <li><a href="{{ url_for('render_emphasis')|safe }}">Emphasize Genes</a></li>
                </ul>
            </li>
            <li class="nav navbar-nav pull-right" id="loginpanel">
                <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown"
                   data-close-others="true" data-original-title="" title="">
                    <span class="username">Welcome {% if g.user and not g.user.is_guest %}{{ g.user.first_name|e }}{% else %}
                        Guest{% endif %}!</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <!-- If user is Admin -->
                    {% if "user" in g and g.user.is_admin == true %}
                        <li>
                            <a href="/admin">
                                <i class="fa fa-gears"></i> Admin Page
                            </a>
                        </li>
                    {% endif %}
                    <!-- Logged in user -->
                    {% if g.user and not g.user.is_guest %}
                        <li>
                            <a href="/accountsettings">
                                <i class="glyph-icon flaticon-account"></i> Account Settings
                            </a>
                        </li>
                        <li>
                            <a id="logout-button"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    {% endif %}
                    <!-- Not logged in user -->
                    {% if not g.user or g.user.is_guest %}
                        <li {% if g.user %} style="display: none"{% endif %}>
                            <a href="/login">
                                <i class="fa fa-sign-in"></i> Sign In
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('render_reset') }}">
                                <i class="fa fa-question"></i> Forgot Password
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('render_register')|safe }}">Create Account</a>
                        </li>
			            {% if g.user and g.user.is_guest %}
                        <li>
                            <a id="logout-button"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
			            {% endif %}
                    {% endif %}


                </ul>
            </li>

        </ul>
        <!-- <div id="loginpanel" class="nospace">
            <form id="loginform" name="loginform" class="navbar-form navbar-right" role="search" method="post">
                -->        <!-- this is the span that will be displayed when there is no user logged in -->
        <!--         <span id="anon-user-span"{% if "user" in g %} style="display: none"{% endif %}>
                    <div class="form-group">
                        <input id="usr_email" name="usr_email" type="text" class="form-control" placeholder="E-mail">
                        <input id="usr_password" name="usr_password" type="password" class="form-control" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                    <a href="{{ url_for('render_register') }}">Register</a>
                    <a href="{{ url_for('render_reset') }}"{% if "user" in g %} style="display: none"{% endif %}>Forgot Password</a>
                    </span>
                    -->
        <!-- we show this span when there is a user logged in -->
        <!--                     <span id="valid-user-span"{% if "user" not in g %} style="display: none"{% endif %}>
                    Welcome <span id="user-name">{% if "user" in g %}{{ g.user.first_name|e }}{% endif %}</span>: <a href="{{ url_for('render_accountsettings')|safe }}">Account settings</a>
                    <button type='button' id="logout-button" class="btn btn-default">Logout</button>
                    -->
        <!-- Admin page button, hides the button if the logged in user if not an admin -->
        <!--                         <button type='button' id="admin-button" class="btn btn-default"
                {% if "user" in g and g.user.is_admin == false%}style="display: none"{% endif %}>Admin Page</button>
                    </span>
                </form>
            </div>
        -->        </div>
    <!--/.nav-collapse -->
</div>

<!-- BEGIN MANDATORY SCRIPTS -->
<!-- 08/12/2015 Switched to jquery 1.11.3 due to a jquery bug preventing
	 proper AJAX loading of projects on the analyze page. See
	 http://bugs.jquery.com/ticket/13976. -->
<!--
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery-1.11.js') }}"></script>
-->

<!--
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery-1.11.3.js') }}"></script>
-->
<script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>

<!-- Library for select2 search bar -->
<script src="{{ url_for('static', filename='select2/4.0.5/select2.full.min.js') }}"></script>

<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery-migrate-1.2.1.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery-mobile/jquery.mobile-1.4.2.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-select/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/mmenu/js/jquery.mmenu.min.all.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/nprogress/nprogress.js') }}"></script>
{#
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/charts-sparkline/sparkline.min.js') }}"></script>
#}
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/breakpoints/breakpoints.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/numerator/jquery-numerator.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-progressbar/bootstrap-progressbar.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/jquery.cookie.min.js') }}"
        type="text/javascript"></script>
<!-- END MANDATORY SCRIPTS -->
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/js/application.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dynamic/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dataTables.tableTools.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/datatables/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/parsley/parsley.min.js') }}"></script>
<script src="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-switch/bootstrap-switch.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.bsAlerts.min.js') }}"></script>

<!-- DYNATREE SCRIPT -->
<script src="{{ url_for('static', filename='js/dynatree-1.2.8/src/jquery.dynatree.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
        $(".dropdown-toggle").dropdownHover();
        $('.select2-active').select2();
    });
</script>

<div class="container">
    <noscript>
        <div class="alert alert-danger fade in text-center" id="upload-error-alert">
            <strong>Javascript must be enabled to properly use this website.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        </div>
    </noscript>
    {% if g.user and g.user.is_guest %}
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-hourglass-half fa-2x" aria-hidden="true"></i>
            <strong>Warning:</strong> You're using a guest account. <br>
            Unless you register as a full user all information associated with this session will be deleted within 24 hours.
        </div>
    {% endif %}
