{#
  globals:
    title => title of the page with ' :: ' at end (or empty)
    maintenance_mode => true for maintenance message
    chk_browser() => checks browser verison / javascript 
    usr_id => id of current user
    persName => first name of user
    isAdmin => 0 if not an admin
    url => current page url
    topmenu[url] => link name
    topsubmenu[link name] => link list

    errors = array of error messages
    messages = array of messages
#}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% if title %}{{ title|e }} :: {% endif %}Gene Weaver</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ode.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/geneweaver.js') }}"></script>

    <!-- bootstrap stuff -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.1.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.1.1-dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.1.0/css/font-awesome.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-3.1.1-dist/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-238758-4']);
      _gaq.push(['_setDomainName', 'geneweaver.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- TODO this should be in a CSS file -->
    <style>
        body {
          padding-top: 50px;
        }
        .starter-template {
          padding: 40px 15px;
          text-align: center;
        }
        .jumbotron {
            text-align: center;
            background-color: transparent;
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
        }
        .jumbotron h1 {
            font-size: 3.5em;
        }
        a.link-panel {
            color: inherit !important;
            text-decoration: inherit !important;
        }
        .link-panel:hover {
            background-color: rgba(153,184,190, 0.2) !important;
        }
    </style>

    <script>
        $(function() {
            var anonUserSpan = $('#anon-user-span');
            var validUserSpan = $('#valid-user-span');
            var userEmail = $('#usr_email');
            var userPassword = $('#usr_password');
            var userName = $('#user-name');

            $('#loginform').submit(function(event) {
                console.log('submitting!!!!!!!!!');
                // stop the form from submitting normally
                event.preventDefault();

                // get the email and password values from the form
                var authData = {
                    usr_email: userEmail.val(),
                    usr_password: userPassword.val()
                };

                // send the data using a post
                var posting = $.post("{{ url_for('json_login')|safe }}", authData);
                posting.done(function(data) {
                    if(data.success) {
                        userName.text(data.usr_first_name);
                        anonUserSpan.css('display', 'none');
                        validUserSpan.css('display', '');
                    } else {
                        alert("login attempt failed");
                    }
                });
            });

            $('#logout-button').click(function(event) {
                $.get("{{ url_for('json_logout')|safe }}", function() {
                    userEmail.val('');
                    userPassword.val('');
                    anonUserSpan.css('display', '');
                    validUserSpan.css('display', 'none');
                });
            });
        })
    </script>

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>

                <!-- NOTE: these icon-bar spans are used for responsive layout. They cause
                the menu to collapse into three horizontal lines in the case of a small
                display (eg. a smartphone) -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">GeneWeaver</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="my_genesets.html">Manage GeneSets</a></li>
                <li><a href="#">Analyze GeneSets</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Help</a></li>
            </ul>

            <div id="loginpanel" class="nospace">
                <form id="loginform" name="loginform" class="navbar-form navbar-right" role="search" method="post">
                    <!-- this is the span that will be displayed when there is no user logged in -->
                    <span id="anon-user-span"{% if user %} style="display: none"{% endif %}>
                        <div class="form-group">
                            <input id="usr_email" name="usr_email" type="text" class="form-control" placeholder="E-mail">
                            <input id="usr_password" name="usr_password" type="password" class="form-control" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-default">Login</button>
                        or <a href="{{ url_for('render_register') }}">register</a>
                    </span>

                    <!-- we show this span when there is a user logged in -->
                    <span id="valid-user-span"{% if not user %} style="display: none"{% endif %}>
                        Welcome <span id="user-name">{% if user %}{{ user.first_name|e }}{% endif %}</span>
                        <button type='button' id="logout-button" class="btn btn-default">Logout</button>
                    </span>
                </form>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
