{% include 'header.html' %}
 <script>
$(function() {
//Get the search suggestions from the server

var suggestedSearchTermsData = (function () {
    var terms = null;
    $.ajax({
        'async': false,
        'global': false,
        'url': "/searchsuggestionterms.json",
        'dataType': "json",
        'success': function (data) {
            terms = data;
        }
    });
    return terms;
})(); 

$( "#searchbar" ).autocomplete({
    source: suggestedSearchTermsData
    });
});

</script>
<div class="jumbotron" style="padding-top:0px; padding-bottom:0px; margin-top:0px; margin-bottom:0px">
    <h1>GeneWeaver</h1>
    <p class="lead">
        A system for the integration of functional genomics experiments.
        <br/>
        You can <a href="{{url_for('render_login')|safe}}">sign in</a>,
        <a href="{{url_for('render_register')|safe}}">create an account</a> if you don't yet have
        one, or continue to use GeneWeaver anonymously.
        <br/>
        If you would like <a href="help.html">help</a> getting started with GeneWeaver you can consult our
        <a href="http://geneweaver.org/wiki/index.php?title=Tutorial#Introduction_to_web-based_analysis_with_Gene_Weaver">crash course tutorial</a>,
        <a href="http://geneweaver.org/wiki/index.php?title=Quick_Start_Guide">quick reference</a>, or comprehensive
        <a href="http://geneweaver.org/wiki/index.php?title=GeneWeaver_Movie">demo video</a>.
    </p>
</div>
<div class="row" align="center">
    <form action="/search/" method="GET">
        {% include'search/search_bar.html' %}
    </form>
</div>
<br />


<div class="row">
    <a class="link-panel" href="{{ url_for('geneset.render_uploadgeneset')|safe }}">
        <div class="col-md-3 link-panel" style="text-align: center;width:25%;height:25%">
            <img src="{{ url_for('static', filename='images/GW2-upload.png')|safe }}" style="width:50%"/>
            <br/>
            <strong>Upload Genesets</strong>
        </div>
    </a>

    <a class="link-panel" href="{{ url_for('render_shareprojects')|safe }}">
        <div class="col-md-3 link-panel" style="text-align: center;width:25%;height:25%">
            <img src="{{ url_for('static', filename='images/GW2-project.png')|safe }}" style="width:50%"/>
            <br/>
            <strong>Manage Projects</strong>
        </div>
    </a>

    <a class="link-panel" href="{{ url_for('render_analyze')|safe }}">
        <div class="col-md-3 link-panel" style="text-align: center;width:25%;height:25%">
            <img src="{{ url_for('static', filename='images/GW2-analyze.png')|safe }}" style="width:50%"/>
            <br/>
            <strong>Analyze and Discover GeneSet Relations</strong>
        </div>
    </a>

    <a class="link-panel" href="help.html">
        <div class="col-md-3 link-panel" style="text-align: center;width:25%;height:25%">
            <img src="{{ url_for('static', filename='images/GW2-help.png')|safe }}" style="width:50%"/>
            <br/>
            <strong> 
            Help
            </strong>
        </div>
    </a>
</div>

<h3 class="page-header">News and Notes:</h3>

<!-- all news items -->
{% for key, value in newsArray %}
    <div >
        <p><strong>{{ key|safe }}:</strong><br/>{{ value|safe }}</p>
    </div>
{% endfor %}

{% include 'footer.html' %}
