{% include 'header.html' %}

<meta charset="utf-8">
<style>
    svg {
        width: 100%;
        height: 100%;
        position: center;
    }
    .axisHorizontal path{
        fill: none;
    }
    .axisHorizontal .tick line {
        stroke-width: 1;
        stroke: rgba(0, 0, 0, 0.2);
    }
    text.title{
        font-size: 14px;
    }
    text.value {
        font-size: 90%;
        fill: black;
        font-weight: bold;
    }
</style>


<br>
<div class="panel panel-default panel-heading bg-gray-light">
    <h3 class="panel-title"><strong>Landing Page</strong></h3>
</div>

<div style="width: 100%; display: table;">
    <br>
    <div class="panel panel-default panel-heading bg-gray-light">
        <h3 class="panel-title"><strong>GeneWeaver API</strong></h3>
    </div>
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;">
            <div id="macaca_geneset_count"></div>
        </div>
        <div id="chart"; style="display: table-cell;"></div>
    </div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h3 class="panel-title"><strong>FlyMine API</strong></h3>
    </div>
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;">
            <div id="fly"></div>
        </div>
    </div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h3 class="panel-title"><strong>MouseMine API</strong></h3>
    </div>
    <div style="display: table-row">
        <div style="width: 600px; display: table-cell;">
            <div id="mouse_lengths"></div>
        </div>
    </div>

</div>

<!-- MACACA -->
<script src="https://d3js.org/d3.v4.js"></script>
<script>

  var margin = { top: 30, right: 30, bottom: 30, left: 50 },
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg = d3.select("#macaca_geneset_count")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  const list = {{gs_counts}}

  // add the x Axis
  var x = d3.scaleLinear()
    .domain([0, 375])
    .range([0, width]);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // add the y Axis
  var y = d3.scaleLinear()
    .range([height, 0])
    .domain([0, 0.03]);
  svg.append("g")
    .call(d3.axisLeft(y));

  // Compute kernel density estimation
  var kde = kernelDensityEstimator(kernelEpanechnikov(7), x.ticks(40))
  var density = kde(list)

  // Plot the area
  svg.append("path")
    .attr("class", "mypath")
    .datum(density)
    .attr("fill", "#253d7d")
    .attr("opacity", ".8")
    .attr("stroke", "#000")
    .attr("stroke-width", 1)
    .attr("stroke-linejoin", "round")
    .attr("d", d3.area()
        .curve(d3.curveBasis)
        .x(function (d) { return x(d[0]);})
        .y1(function (d) { return y(d[1]);})
        .y0(y(0))
    );

  svg.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .text("Macaca mulatta Geneset Count Density");

  // Function to compute density
  function kernelDensityEstimator(kernel, X) {
    return function (V) {
      return X.map(function (x) {
        return [x, d3.mean(V, function (v) { return kernel(x - v); })];
      });
    };
  }
  function kernelEpanechnikov(k) {
    return function (v) {
      return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
    };
  }

</script>

<!-- FLY-->
<script src="https://d3js.org/d3.v4.js"></script>
<script>

  var margin = { top: 30, right: 30, bottom: 30, left: 50 },
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg2 = d3.select("#fly")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  const fly = {{fly_gene_lengths}}

  // add the x Axis
  var x = d3.scaleLinear()
    .domain([0, 80])
    .range([0, width]);
  svg2.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // add the y Axis
  var y = d3.scaleLinear()
    .range([height, 0])
    .domain([0, .05]);
  svg2.append("g")
    .call(d3.axisLeft(y));

  // Compute kernel density estimation
  var kde = kernelDensityEstimator(kernelEpanechnikov(7), x.ticks(40))
  var density = kde(fly)

  // Plot the area
  svg2.append("path")
    .attr("class", "mypath")
    .datum(density)
    .attr("fill", "#253d7d")
    .attr("opacity", ".8")
    .attr("stroke", "#000")
    .attr("stroke-width", 1)
    .attr("stroke-linejoin", "round")
    .attr("d", d3.area()
        .curve(d3.curveBasis)
        .x(function (d) { return x(d[0]);})
        .y1(function (d) { return y(d[1]);})
        .y0(y(0))
    );

  svg2.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .text("Distribution of Fly Gene Length");


  // Function to compute density
  function kernelDensityEstimator(kernel, X) {
    return function (V) {
      return X.map(function (x) {
        return [x, d3.mean(V, function (v) { return kernel(x - v); })];
      });
    };
  }
  function kernelEpanechnikov(k) {
    return function (v) {
      return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
    };
  }

</script>

<!-- MOUSE-->
<script src="https://d3js.org/d3.v4.js"></script>
<script>

  var margin = { top: 30, right: 30, bottom: 30, left: 50 },
    width = 460 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg3 = d3.select("#mouse_lengths")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

  const mouse = {{mouse_gene_lengths}}

  // add the x Axis
  var x = d3.scaleLinear()
    .domain([-1, 20])
    .range([0, width]);
  svg3.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

  // add the y Axis
  var y = d3.scaleLinear()
    .range([height, 0])
    .domain([0, .1]);
  svg3.append("g")
    .call(d3.axisLeft(y));

  // Compute kernel density estimation
  var kde = kernelDensityEstimator(kernelEpanechnikov(7), x.ticks(40))
  var density = kde(mouse)

  // Plot the area
  svg3.append("path")
    .attr("class", "mypath")
    .datum(density)
    .attr("fill", "#253d7d")
    .attr("opacity", ".8")
    .attr("stroke", "#000")
    .attr("stroke-width", 1)
    .attr("stroke-linejoin", "round")
    .attr("d", d3.area()
        .curve(d3.curveBasis)
        .x(function (d) { return x(d[0]);})
        .y1(function (d) { return y(d[1]);})
        .y0(y(0))
    );

  svg3.append("text")
        .attr("x", (width / 2))
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "16px")
        .text("Distribution of Mouse Gene Length");


  // Function to compute density
  function kernelDensityEstimator(kernel, X) {
    return function (V) {
      return X.map(function (x) {
        return [x, d3.mean(V, function (v) { return kernel(x - v); })];
      });
    };
  }
  function kernelEpanechnikov(k) {
    return function (v) {
      return Math.abs(v /= k) <= 1 ? 0.75 * (1 - v * v) / k : 0;
    };
  }

</script>

<!-- CHART -->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

    data = [
        {label:"Mus musculus", value:{{sp_counts[1]}}},
        {label:"Homo sapiens", value:{{sp_counts[2]}}},
        {label:"Rattus norvegicus", value:{{sp_counts[3]}}},
        {label:"Danio rerio", value:{{sp_counts[4]}}},
        {label:"Drosophila melanogaster", value:{{sp_counts[5]}}},
        {label:"Macaca mulatta", value:{{sp_counts[6]}}},
        {label:"Caenorhabditis elegans", value:{{sp_counts[8]}}},
        {label:"Saccharomyces cerevisiae", value:{{sp_counts[9]}}},
        {label:"Gallus gallus", value:{{sp_counts[10]}}},
        {label:"Canis familiaris", value:{{sp_counts[11]}}}
    ];

    var div = d3.select("#chart").append("div").attr("class");

    var axisMargin = 20,
            margin = 40,
            valueMargin = 4,
            width = parseInt(d3.select('#chart').style('width'), 10),
            height = parseInt(d3.select('#chart').style('height'), 10),
            barHeight = (height-axisMargin-margin*2)* 0.4/data.length,
            barPadding = (height-axisMargin-margin*2)*0.6/data.length,
            data, bar, svg, scale, xAxis, labelWidth = 0;

    max = d3.max(data, function(d) { return d.value; });

    svg = d3.select('#chart')
            .append("svg")
            .attr("width", width)
            .attr("height", height);

    bar = svg.selectAll("g")
            .data(data)
            .enter()
            .append("g");

    //fill bars
    bar.attr("class", "bar")
            .attr("cx",0)
            .attr("fill", "#253d7d")
            .attr("opacity",".8")
            .attr("transform", function(d, i) {
                return "translate(" + margin + "," + (i * (barHeight + barPadding) + barPadding) + ")";
            });

    // category labels
    bar.append("text")
            .attr("class", "label")
            .attr("y", barHeight / 2)
            .attr("dy", ".35em") //vertical align middle
            .text(function(d){
                return d.label;
            }).each(function() {
        labelWidth = Math.ceil(Math.max(labelWidth, this.getBBox().width));
    });

    scale = d3.scale.linear()
            .domain([0, max])
            .range([0, width - margin*2 - labelWidth]);

    xAxis = d3.svg.axis()
            .scale(scale)
            .tickSize(-height + 2*margin + axisMargin)
            .tickFormat("")
            .orient("bottom");

    // drawing bars
    bar.append("rect")
            .attr("transform", "translate("+labelWidth+", 0)")
            .attr("height", barHeight)
            .attr("width", function(d){
                return scale(d.value);
            });

    bar.append("text")
            .attr("class", "value")
            .attr("y", barHeight / 2)
            .attr("dx", -valueMargin + labelWidth) //margin right
            .attr("dy", ".35em") //vertical align middle
            .attr("text-anchor", "end")
            .text(function(d){
                return (d.value);
            })
            .attr("x", function(d){
                var width = this.getBBox().width;
                return Math.max(width + valueMargin, scale(d.value));
            });

    // x axis
    svg.insert("g",":first-child")
            .attr("class", "axisHorizontal")
            .attr("transform", "translate(" + (margin + labelWidth) + ","+ (height - axisMargin - margin)+")")
            .call(xAxis);

    // title
    svg.append("text")
        .attr("class", "title")
        .attr("x", (width / 2))
        .attr("y", height*.02)
        .attr("text-anchor", "middle")
        .text("Number of Genes per Species");

</script>

{% include 'footer.html' %}