
<!--Link outs page (go to search page right now)-->

<a target="_blank" href="http://www.ncbi.nlm.nih.gov/gene/?term={{gene}}"><img src="/static/images/linkouts/entrez.png" title="Entrez"/></a> &nbsp;
<a target="_blank" href="http://www.ensembl.org/Gene/Summary?g={{gene}}"><img src="/static/images/linkouts/ensembl.png" title="Ensembl"/></a> &nbsp;
<a target="_blank" href="http://www.genenetwork.org/webqtl/WebQTL.py?cmd=search&gene={{gene}}"><img src="/static/images/linkouts/genenetwork.png" title="Gene Network"/></a> &nbsp;
<a target="_blank" href="http://string.embl.de/newstring_cgi/show_network_section.pl?input_query_species=auto_detect&network_flavor=confidence&identifier={{gene}}"><img src="/static/images/linkouts/string.png" title="String"/></a> &nbsp;
<a target="_blank" href="http://mouse.brain-map.org/search/show?search_term={{gene}}"><img src="/static/images/linkouts/allen brain atlas.png" title="Allen Brain Atlas"/></a> &nbsp;
<a target="_blank" href="http://ctdbase.org/basicQuery.go?bqCat=gene&bq={{gene}}"><img src="/static/images/linkouts/comparative toxicogenomics database.png" title="Comparative Toxicogenomics Database"/></a> &nbsp;
