
{#
    nested_html_options renders a nested options list based on the given options argument

    The options argument must be a recursive list of pairs.
    For the non-recursive elements of the list an HTML option value will be created where
    the first value in the pair is the option value and the second value is the option
    text. For recursive elements an HTML optgroup will be created where the first value
    of the pair is the optgroup's label and the second is the recursive list structure
    which will be renderedas nested options/optgroups
#}
{% macro nested_html_options(options) %}
    {% for curr_key, curr_val in options recursive %}
        {% if curr_val is iterable and curr_val is not string %}
            <optgroup label="{{ curr_key }}">
                {{ loop(curr_val) }}
            </optgroup>
        {% else %}
            <option value="{{ curr_key }}">{{ curr_val }}</option>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro tool_param_select(tool_param) %}
    <div class="form-group">
        <label for="{{ tool_param.name|e }}" class="col-md-4 control-label">{{ tool_param.label_name|e }}:</label>
        <div class="col-md-8">
            <select
                    class="form-control tooltip-enabled"
                    id="{{ tool_param.name|e }}"
                    name="{{ tool_param.name|e }}"
                    title="{{ tool_param.description|e }}">
            {% for opt in tool_param.options %}
                <option label="{{ opt|e }}" value="{{ opt|e }}"{% if opt == tool_param.default %} selected="selected"{% endif %}>{{ opt|e }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro tool_param_radio(tool_param) %}
    <div class="form-group">
        <label for="{{ tool_param.name|e }}" class="col-md-4 control-label">{{ tool_param.label_name|e }}:</label>
        <div class="col-md-8">
            {% for opt in tool_param.options %}
                <div>
                    <label>
                        <input
                                type="radio"
                                name="{{ tool_param.name|e }}"
                                id="{{ tool_param.name|e }}_{{ loop.index }}"
                                value="{{ opt|e }}"
                                {% if opt == tool_param.default %}  checked{% endif %}>
                        {{ opt|e }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro tool_param_checkbox(tool_param) %}
    <div class="form-group">
        <label for="{{ tool_param.name|e }}" class="col-md-4 control-label">{{ tool_param.label_name|e }}:</label>
        <div class="col-md-8">
            {% for opt in tool_param.options %}
                <div class="ui-checkbox">
                    <input
                        type="checkbox"
                        name="{{ tool_param.name|e }}"
                        id="{{ tool_param.name|e }}_{{ loop.index }}"
                        {% if opt == tool_param.default %}  checked{% endif %}>
                        {{ opt|e }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro tool_param_textbox(tool_param) %}
    <div class="form-group">
        <label for="{{ tool_param.name|e }}" class="col-md-4 control-label">{{ tool_param.label_name|e }}:</label>
        <div class="col-md-8">
            {% for opt in tool_param.options %}
                <div>
                    <label>
                        <input
                                type="text"
                                name="{{ tool_param.name|e }}"
                                id="{{ tool_param.name|e }}_{{ loop.index }}"
                                value="{{ opt|e }}"
                                {% if opt == tool_param.default %}  checked{% endif %}>
                        {{ opt|e }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}


{% macro tool_run_button(tool) %}
    <button class="btn btn-primary" 
        type='submit'
        value='run'
        onclick='this.form.action="{{ url_for(tool.classname + '.run_tool') }}";'>
        Run
    </button>
{% endmacro %}
