{% macro show_project_options() %}
    {% set all_projs = get_all_projects(usr_id) %}
    {% if len(all_projs) > 10 %}
        <option value="-2"> - Create New Project...</option>
    {% endif %}
    {% for row in all_projs %}
        <option value="{{ row['pj_name'] }}">{{ row['pj_name'] }} ({{ row['count'] }})</option>;
    {% endfor %}
{% endmacro %}

{% macro project_selector(title='Add Selected to Project...', container=None) %}
    <div id="projectAJAXDiv">
    <select name="addToProject" onchange="return ODE.add_to_project(this{% if container %}, '{{ container }}'{% endif %});">
    <option value="-1">{{ title }}</option>
    {{ show_project_options() }}
    </select></div>
{% endmacro %}

{% macro page_selector(page=1, pages) %}
    <span name="page_selector" style="float: right">
    Page:
    </span>
{% endmacro %}

{#
    html_options will take an options argument that takes a recursive list of pairs. For the non-recursive elements
    of the list an HTML option value will be created where the first value in the pair is the option value and the
    second value is the option text. For recursive elements an HTML optgroup will be created where the first value
    of the pair is the optgroup's label and the second is the recursive list structure which will be rendered
    as nested options/optgroups
#}
{% macro html_options(options) %}
    {% for curr_key, curr_val in options recursive %}
        {% if curr_val is iterable and curr_val is not string %}
            <optgroup label="{{ curr_key }}">
                {{ loop(curr_val) }}
            </optgroup>
        {% else %}
            <option value="{{ curr_key }}">{{ curr_val }}</option>
        {% endif %}
    {% endfor %}
{% endmacro %}
