{#
    Provides a list of genesets which the user owns.
#}
{% set title = 'My GeneSets' %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{% if errors %}
 <div class="error">{{ errors|safe }}</div>
{% endif %}
{% if messages %}
 <div class="message">{{ messages|safe }}</div>
{% endif %}

{% if not results %}
   <div class="message">
   <p>You haven't uploaded any GeneSets yet.  You can <a
   href="{{ ode_link('manage', 'uploadgeneset')|safe }}">Upload GeneSets</a> one
   at a time, or upload many GeneSets at once by using the <a
   href="{{ ode_link('manage', 'batchgeneset')|safe }}">Batch Upload</a> page.
   </p>
   
   <p>Providing your own GeneSets enables you to easily share them among <a
   href="{{ ode_link('account')|safe }}">group members</a>, you can <a
   href="{{ ode_link('analyze')|safe }}">analyze</a> them against other uploaded
   gene sets, and eventually share them with the public and allow other users
   to build on your results.</p>
   </div>
{% else %}
  <div class="content-help">The gene sets you have uploaded are listed below, followed by sets to
  which you have access because of your group membership. To view a gene set,
  click on its name. To revise the gene set, click edit. Individual gene sets
  can be deleted from the database by clicking on the delete icons or by using
  the check boxes. You can also use this page to select gene sets and add them
  to projects. </div><br />

  <center><form id="my_genesets">
  <table id="genesetList" cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr class="header"><td colspan="4"><div style="float: left;">
  <label><input type="checkbox" onclick="ODE.select_all(this.checked, 'gs_id[]', '#my_genesets');"> Select All &nbsp; </label>

  {{ macros.project_selector() }} &nbsp;

  <select name="multi_actions" onchange="return ODE.multi_action(this);">
  <option value="" selected="selected">Modify Selected...</option>
  <option value="batch_edit"> Batch Edit</option>
  <option value="change_owner"> Reassign owner</option>
  <option value="del_checked"> Delete</option>
  </select>
	<input type="button" onclick="ODE.toggle('.genesetMeta');" value="Expand All" />
  </div>

  {page_selector page=$page pages=$pages}
  </td></tr>

   {% include 'geneset_list.html' %}

  <tr class="header">
  <td colspan="4" class="labels"><div style="float: left;">
  <label><input type="checkbox" onclick="ODE.select_all(this.checked, 'gs_id[]', '#my_genesets');"> Select All &nbsp; </label>
  {{ macros.project_selector() }} &nbsp;
  <select name="multi_actions" onchange="return ODE.multi_action(this);">
  <option value="" selected="selected">Modify Selected...</option>
  <option value="batch_edit"> Batch Edit</option>
  <option value="change_owner"> Reassign owner</option>
  <option value="del_checked"> Delete</option>
  </select>
	<input type="button" onclick="ODE.toggle('.genesetMeta');" value="Expand All" />
  </div>
  {page_selector page=$page pages=$pages}
  </td></tr>

  </table></form></center><br />

  {literal}
  <script>
    $('span[name=page_selector] a').each(function() {
      this.href = window.location + '&page=' + $(this).data('page');
    });
  </script>
  {/literal}
{/if}

{include file="footer.tpl"}
