{% set title="My GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">
    td.details-control:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    tr.shown td.details-control:before {
        content: "\f068";
    }

    .datatablerowhighlight {
        background-color: #ECFFB3;
    }

    .row_selected {
        background-color: #000000;
    }

    #clickableFontAwesome {
        cursor: pointer;
    }

</style>


{% if user_id == 0 %}
    {% include 'htmlfragments/permissionError.html' %}
{% else %}


    {% block body %}

        <div id="maindiv" xmlns="http://www.w3.org/1999/html">


            <p>

            <div class="row" id="result"></div>

            <div class="panel panel-default panel-heading bg-gray-light">
                <h3 class="panel-title"><strong>{{ title }}</strong>
            </div>

            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="5000"></div>

            <div class="panel panel-default">

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-warning" id="addToProject">
                            <i class="fa fa-folder-o pull-left"></i> Add to Project
                        </button>


                        <button type="button" class="btn  btn-warning" id="assignCuration">
                            <i class="fa fa-folder-o pull-left"></i> Assign to Curation Group
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red filter-right">

                        <table id="mygenesetsViewer"
                               class="table table-striped table-hover table-dynamic dataTable no-footer table-tools">

                            <thead>
                            <tr>
                                {% for col in headerCols %}
                                    <th style="text-align: left">{{ col.capitalize() }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                {% for col in headerCols %}
                                    <th style="text-align: left">{{ col.capitalize() }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        {% include 'modal/deleteGeneset.html' %}

        {% if g.user is defined %}

            {% include 'modal/addGenesetsToProjects.html' %}
            {% include 'modal/assignGenesetForCuration.html'  %}

        {% endif %}

        {% include 'modal/addGenesetsToProjectsAlert.html' %}


    {% endblock %}


{% endif %}



{% include 'footer.html' %}

<script>
    function format(d) {
        // `d` is the original data object for the row
        var html = '<tr><td colspan=7><table class="table">' +
                '<tr>' +
                '<td align=right width=25%><strong>GeneSet Label:</strong> </td>' +
                '<td><p>' + d[7] + '</p></td></tr>' +
                '<tr><td align=right width=25%><strong>Description:</strong> </td>' +
                '<td><p>' + d[8] + '</p></td></tr>' +
                '<tr><td align=right width=25%><strong>Date Created:</strong> </td>' +
                '<td><p>' + d[9] + '</p></td></tr>' +
                '<tr><td align=right width=25%><strong>Last Updated:</strong> </td>' +
                '<td><p>' + d[10] + '</p></td></tr>';

        // add in details about the curration assignment if it exists
        if (d[11]) {
            html = html + '<tr><td align=right width=25%><strong>Assigned Curation Group:</strong> </td>' +
                '<td><p>' + d[12] + '</p></td></tr>';
        }

        // close up the table
        html = html + '</table></td></tr>';


        return html;
    }


    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
    var r = false;
    var editor;

    var makeSpeciesTag = function(spid) {

        // The alist returned by the server should already be sorted
        var splist = {{ species|tojson|safe }};
        var spname = '';
        // Extra element padding since sp_ids are not zero indexed
        var colors = [
            '', '#fae4db', '#f9fac5', '#b5faf5', '#fae3e9', '#f5fee1', 
            '#f4dfff', '#78c679', '#41b6c4', '#7bccc4', '#8c96c6', '#fc8d59'
        ];
        var borders = [
            '', '#eeb44f', '#d7c000', '#44fcf7', '#fca5b7', '#8fcb0a', 
            '#b4d1fb', '#41ab5d', '#1d91c0', '#4eb3d3', '#8c6bb1', '#ef6548'
        ];

        for (var i = 0; i < splist.length; i++) {
            if (spid === splist[i][0]) {
                spid = i;
                spname = splist[i][1];

                break;
            }
        }

        // Abbreviate the name
        spname = spname.split(' ');

        // Mus musculus and Macaca mulatta have the same abbreviation
        if (spname[1].slice(0, 3) == 'mul')
            spname = spname[0][0].toUpperCase() + '.' + 'mul' + '.';
        else
            spname = spname[0][0].toUpperCase() + spname[1][0].toLowerCase() + '.';

        var tag = '<span class="group_name" style="background-color:' + colors[spid] +
                '; border:1px solid ' + borders[spid] + '">' +
                spname + '</span>';

        return tag;
    };

    $(document).ready(function () {

        var selectedGeneSets = [];
        var selected = [];

        //var trindex = 0;
        var dbtable = '{{table}}';
        var user_id = '{{user_id}}';
        var columns = {{columns | safe}};
        //var numCols = columns.length;
        var headerCols = {{headerCols | safe}};
        var table = $('#mygenesetsViewer').dataTable({
            "dom": '<"clear">f<"input-lg"l><"clear">rtip<"col-lg-12 col-md-6"T>',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "tableTools": {
                "sSwfPath": "/static/pixit/admin/assets/plugins/datatables/swf/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                    "select_all",
                    "select_none",
                    "copy",
                    "print",
                    "pdf",
                    "xls",
                    "csv"
                ]
            },
            "processing": true,
            "serverSide": true,
            "ajax": {
                'url': "/../getServersideGenesetsdb",
                'type': 'GET',
                "data": {"table": dbtable, "user_id": user_id}
            },
            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '',
                    "width": "5%"
                },
                {
                    "name": "sp_id",
                    "width": "5%"
                },
                {
                    "name": "cur_id",
                    "width": "5%"
                },
                {
                    "name": "gs_attribution",
                    "width": "5%"
                },
                {
                    "name": "gs_count",
                    "width": "5%"
                },
                {"name": "gs_id"},
                {"name": "gs_name"},
                {
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                }
            ],


            //"columns": columns,
            "aoColumnDefs": [

                {
                    "aTargets": [0],
                    "bSortable": false
                },
                {
                    "aTargets": [1],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).empty();
                        $(nTd).append(makeSpeciesTag(sData));
                    }
                },
                {
                    "aTargets": [2],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var curID = sData;
                        $(nTd).empty();
                        switch (curID) {
                            case 1:
                                $(nTd).append('<span class="tier1">Tier I</span>');
                                break;
                            case 2:
                                $(nTd).append('<span class="tier2">Tier II</span>');
                                break;
                            case 3:
                                $(nTd).append('<span class="tier3">Tier III</span>');
                                break;
                            case 4:
                                $(nTd).append('<span class="tier4">Tier IV</span>');
                                break;
                            case 5:
                                $(nTd).append('<span class="tier5">Tier V</span>');
                                break;
                        }
                    }
                },
                {
                    "aTargets": [3],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var gsAttribution = sData;
                        $(nTd).empty();
                        switch (gsAttribution) {
                            case 2:
                                $(nTd).append('<span class="ctd">CTD</span>');
                                break;
                            case 7:
                                $(nTd).append('<span class="drg">DRG</span>');
                                break;
                            case 8:
                                $(nTd).append('<span class="go">GO</span>');
                                break;
                            case 9:
                                $(nTd).append('<span class="mp">MP</span>');
                                break;
                            case 11:
                                $(nTd).append('<span class="mesh">MeSH</span>');
                                break;
                        }
                    }
                },
                {
                    "aTargets": [4],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var gsSize = sData;
                        $(nTd).empty();
                        $(nTd).append('<strong>' + gsSize + '</strong>');
                    }
                },

                {
                    "aTargets": [5],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var gsID = sData;
                        $(nTd).empty();
                        $(nTd).append('<strong>GS' + gsID + '</span>');
                    }
                },

                {
                    "aTargets": [6],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).empty();
                        $(nTd).append('<p><a href=\"/viewgenesetdetails/' + oData[5] + '\">' + sData + '</a></p>');
                    }
                },

                {
                    "aTargets": [7],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {

                        /* Delete Button */
                        var b = $('<span class="pointer" data-placement="top" data-toggle="tooltip" \
                            		        data-rel="tooltip" data-original-title="Delete GeneSet" type="button" title="Delete this GeneSet"\
                                            style="margin: 2px; padding: 0px 2px;">\
                            		        <i class="fa fa-trash-o"></i></span>');
                        /* Edit Button */
                        var c = $('<span class="pointer" data-placement="top" \
										    data-toggle="tooltip" data-rel="tooltip" data-original-total="Edit" \
										    title="Edit Gene Set" style="margin: 2px; padding: 0px 2px;"> \
										    <i class="fa fa-edit"></i></span>');

                        /* show the geneset has been assigned for curation */
                        var curation_icon = $('<span class="pointer" data-placement="top" \
										    data-toggle="tooltip" data-rel="tooltip" data-original-title="Curation" \
										    title="Assigned For Curation" style="margin: 2px; padding: 0px 2px;"> \
										    <i class="fa fa-eye"></i></span>');


                        b.tooltip();
                        b.click(function () {
                            var cellData = oData[5];
                            var gsid = 'GS' + cellData;
                            $("#myGenesetDeleteLabel").html(gsid);


                            $('#delModal').modal({
                                keyboard: true
                            });

                            $('#confirmDelete').on('click', function (e) {
                                $.ajax({
                                    type: "GET",
                                    url: "../deleteGeneset",
                                    data: {"gs_id": cellData, "user_id": user_id},
                                    success: function (data) {
                                        table.fnClearTable(0);
                                        table.fnDraw();
                                        $("#result").html('<div class="alert alert-success fade in"> ' +
                                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                                                '</button>GeneSet successfully deleted</div>');
                                    }
                                });
                            });
                        });

                        c.tooltip();
                        c.click(function () {
                            var cellData = oData[5];
                            window.location.href = '../editgeneset/' + cellData;
                        });


                        $(nTd).empty();
                        $(nTd).append(b).append(c);

                        // oData[11] is the curation group. If this is not null,
                        // then the geneset has been assigned to a group for
                        // curation
                        if (oData[11]) {
                            curation_icon.tooltip();
                            $(nTd).append(curation_icon);
                        }
                    }

                }
            ]

        });


        // Add event listener for opening and closing details
        $('#mygenesetsViewer tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var T = table.fnGetData(tr);
            var row = $(this).parents(tr);

            if (tr.hasClass('shown')) {
                tr.next().hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                var newRow = $(format(T)).animate({
                    height: "100px",
                    opacity: 0.75
                }, 500);
                tr.after(newRow);
                tr.addClass('shown');
            }
        });

        // When a user is adding genesets to a new project, this allows them 
        // to hit enter to execute that addition without the page throwing
        // an http error
        $(document).on('keypress', function(e) {
            // 13 == ENTER
            if (e.keyCode && e.keyCode === 13 && 
                $('#addToProjectModal').is(':visible')) {

                e.preventDefault();

                //$('#addGenesetsToProj').submit();
            }
        });

        $('#addToProject').on('click', function () {
            var oTT = TableTools.fnGetInstance('mygenesetsViewer');
            var aselectedTrs = oTT.fnGetSelectedData();
            var gsid = [];
            var gs = [];
            for (var k in aselectedTrs) {
                gsid.push(aselectedTrs[k][5]);
                gs.push('GS' + aselectedTrs[k][5]);
            }
            console.log(gs);
            if (aselectedTrs == 0) {
                $("#myAlert").modal('show');
            }
            else {
                var g = gs.join(", ");
                $("#modal-label").html(g);
                $("#myModalValue").val(g);
                $("#addToProjectModal").modal('show');
            }
        });

        // this function handles the click event on the "assignCuration" button
        // it takes the selected genesets updates the modal window with those
        // selections and displays it.  It also makes sure the group selection
        // is cleared on the modal.
        $('#assignCuration').on('click', function () {
            var aselectedTrs = TableTools.fnGetInstance('mygenesetsViewer').fnGetSelectedData();
            if (aselectedTrs == 0) {
                // let the user know they need to select at least on geneset
                $("#myAlert").modal('show');
            }
            else {

                selectedGeneSets = [];

                var selectedGeneSetLabels = [];
                var genesetsWithCurationAssignments = [];
                for (var k in aselectedTrs) {
                    selectedGeneSetLabels.push('GS' + aselectedTrs[k][5]);
                    selectedGeneSets.push(aselectedTrs[k][5]);

                    if (aselectedTrs[k][11]) {
                        genesetsWithCurationAssignments.push('GS' + aselectedTrs[k][5]);
                    }

                }

                if (genesetsWithCurationAssignments.length) {

                    $(document).trigger("add-alerts", [
                        {
                            'message': "GeneSets already have curation assignment: "+ genesetsWithCurationAssignments.join(", "),
                            'priority': 'error'
                        }
                    ]);

                } else {

                    // get the modal window ready to show.  The user may
                    // have already assigned some genesets, so this window
                    // may have been displayed once already and may still have
                    // the user's selections from last time.  Reset all of the
                    // selections so it looks like a new window.

                    var geneSetString = selectedGeneSetLabels.join(", ");
                    $('#curationModalLabel').html(geneSetString);

                    // when we show the modal window, we don't want a group selected.
                    $("input:radio[name='group']:checked").prop('checked', false).checkboxradio("refresh");

                    // submit button will be disabled until the user selects a group radio button
                    $('#assignGenesets').prop("disabled", true).button("refresh");

                    // hide/disable/unselect the public group selection drop
                    // down unless the user selects the "Public Group" radio
                    $('#publicGroupSelect').prop("disabled", true);
                    $('#publicGroupSelect').val([]);
                    $('#publicGroupDiv').hide();

                    // need to clear out old notes
                    $('#curationNotes').val("");
                    
                    $('#assignGenesetForCurationModal').modal('show');
                }
            }
        });

        $("input:radio[name='group']").on('click', function () {
            // submit button will be disabled until the user selects a group
            // radio button, if they selected the public_group option we don't
            // want to enable the button until they've made a group selection in
            // the drop down
            if (this.value != 'public_group' || $('#publicGroupSelect').val() != null) {
                $('#assignGenesets').prop("disabled", false).button("refresh");
            }
            else {
                 $('#assignGenesets').prop("disabled", true).button("refresh");
            }
        });

        $("input:radio[name='group']").change(function () {
            if (this.value == 'public_group'){
                $('#publicGroupSelect').prop("disabled", false);
                $('#publicGroupDiv').show();
            }
            else {
                $('#publicGroupSelect').prop("disabled", true);
                $('#publicGroupDiv').hide();
            }

        });

        $('#publicGroupSelect').change(function () {
            if ($('#assignGenesets').prop("disabled") && $('#publicGroupSelect').val() != null ) {
                $('#assignGenesets').prop("disabled", false).button("refresh");
            }
        });


        function handleCurationAssignmentError(data) {
            console.error("something bad happened: " + data.responseJSON.message);

            $(document).trigger("add-alerts", [
                {
                    'message': data.responseJSON.message,
                    'priority': 'danger'
                }
            ]);
        }

        $('#assignGenesets').on('click', function () {

            var selectedGroupId = $("input[name=group]:checked").val();

            if (selectedGroupId == 'public_group') {
                selectedGroupId = $('#publicGroupSelect').val();
            }

            var params = {
                "note": $('#curationNotes').val(),
                "gs_ids[]": selectedGeneSets,
                "grp_id": selectedGroupId,
            };

            // since params["gs_ids"] is a list the server needs to use
            // request.args.getlist('gs_ids') instead of request.args['gs_ids']
            $.post("{{ url_for('assign_genesets_to_curation_group') }}", params ,function(data) {

                var successful = [];
                var successfulLabels = [];
                var failed = [];

                console.log(data);

                for (var key in data.results) {
                    if (data.results[key].success) {
                        successfulLabels.push("GS" + key);
                        successful.push(key);
                    }
                    else {
                        failed.push("GS" + key);
                    }
                }

                if (failed.length) {
                    // this shouldn't happen, but lets check for it anyway and display/log an error message...
                    console.error("Unable to assign these GeneSets for curation: ", failed.join(', '));
                    $(document).trigger("add-alerts", [
                        {
                            'message': "Unable to assign for curation: " + failed.join(', '),
                            'priority': 'danger'
                        }
                    ]);
                }

                if (successful.length) {
                    // update table to reflect new curation assignments


                    var table = $('#mygenesetsViewer').DataTable();

                    var rowCount = table.rows().count;
                    for (var i = 0; i < rowCount; i++) {
                        var tableRow = table.row(i);
                        if ($.inArray(tableRow[5], successful)) {

                            // update the data for the updated GeneSets

                            // this is the group ID of the group assigned
                            // responsibility for curating this GeneSet
                            tableRow.data()[11] = selectedGroupId;

                            // this is the string group name, we can obtain it
                            // from the selected raido button in the modal window
                            // contained in assignGenesetForCuration.html
                            tableRow.data()[12] = $('#label_' + selectedGroupId).text();

                            // need to invalidate the row so it will get redrawn
                            tableRow.invalidate();
                        }

                    }
                    table.draw();

                    // select all and select none buttons appear to be out of
                    // sync after redrawing the table, make sure none are selected
                    TableTools.fnGetInstance('mygenesetsViewer').fnSelectNone();

                    $(document).trigger("add-alerts", [
                        {
                            'message': "GeneSets assigned for curation: " + successfulLabels.join(', '),
                            'priority': 'success'
                        }
                    ]);
                }


            }, "json").fail(handleCurationAssignmentError);


        });

        $('#addNewProject').on('click', function () {
            $('#reveal-if-active').toggle();
            //$('#reveal-if-active').html('<label for="newProjName"><h4>New Project Name: </h4></label>' +
            //        '<input type="text" id="newProjName" name="newProjName" class="form-control input-lg">')
        });

        $('#mygenesetsViewer tbody').on('click', 'tr', function () {
            var id = this.id;
            var index = $.inArray(id, selected);
            if (index === -1) {
                selected.push(id);
            } else {
                selected.splice(index, 1);
            }
            $(this).toggleClass('selected');
        });

        $('#addGenesetsToProjects').on('click', function (e) {
            var checked = [];
            $("input[name='options[]']:checked").each(function () {
                checked.push(parseInt($(this).val()));
            });
            var option = JSON.stringify(checked);
            var g = $('#myModalValue').val();
            var npn = $('#newProjName').val();
            if ($.isEmptyObject(checked) && $.isEmptyObject(npn)) {
                $("#result").html('<div class="alert alert-danger fade in"> ' +
                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                        '</button>No Projects Were Selected</div>');
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "../addGenesetsToProjects",
                    data: {"user_id": user_id, "npn": npn, "gs_id": g, "option": option},
                    success: function (data) {
                        table.fnClearTable(0);
                        table.fnDraw();
                        $("#result").html('<div class="alert alert-success fade in"> ' +
                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                                '</button>GeneSets Successfully Added to Selected Projects</div>');
                        window.location.reload();

                    }
                });
            }
        });

        $('#clickableFontAwesome').popover({
            title: 'Select GeneSets', content: 'Click on multiple rows to ' +
            'select or deselect GeneSets for addition to your projects.'
        });

    });

</script>
