<div id="tree" name="selNodes" style="overflow:auto; max-height:600px"></div>

<script>
     $(function(){
     //Initialize dynatree data and functions
     $("#tree").dynatree({
         checkbox: true,
         selectMode: 2,
         initAjax: {
             url: "/initOntTree",
             data: {
             "gs_id": $(location).attr("href").split('/').pop(),
             universe: "All Reference Types"
             },
     },

     //Performs lazy ajax call when new nodes need to be viewed
     onLazyRead: function (node) {
     node.appendAjax({
         url: "/getOntRootNodes",
         data: {
             key: node.data.key,
             is_db: node.data.db,
             universe: "All Reference Types"
             }
         })
     },

     //Performs lazy ajax call to update the database when an ontology is selected or unselected
     onSelect: termSelectionHandler
     })
     });

    //Popover that gives Geneset Ontology functionality overview for the user
    //Displayed when ontologies are linked with the geneset
    $('#genesetOntologyInfo').popover({
        title: 'Geneset Ontologies', content: 'Ontologies linked to the current geneset are ' +
        'shown below as the highlighted nodes within the ontology databases. Only available to edit ' +
        'on Edit MetaContent page.'
    });

    // Handles dynatree term selection
    function termSelectionHandler(flag, node) {
        var tree = $("#tree").dynatree("getTree"); // tree
        var rootNode = $("#tree").dynatree("getRoot"); // root
        var indexNode = node;

        // Term selected
        if (flag) {

            // Select parent terms
            while (rootNode != indexNode) {
                indexNode.select(true);
                indexNode = indexNode.getParent();
            }

        // Term deselected
        } else {

            // Deselect all descendant terms
            recursiveDeselect(indexNode);
        }

        $.ajax({
             url: "/updateGenesetOntologyDB",
             data: {
                 key: node.data.key,
                 flag: flag,
                 universe: "All Reference Types",
                 gs_id: $(location).attr("href").split('/').pop()
                 },
             success: function(data){
         }
         });
    }

    // Deselects all descending nodes
    function recursiveDeselect(node) {
        // Get all descendants
        var descendant = node.getChildren();

        // Return when descendant is leaf
        if (descendant == null) {
            return
        }

        // Deselect each descendant of the current node, recurse
        for (let i = 0; i < descendant.length; i++) {
            descendant[i].select(false);
            recursiveDeselect(descendant[i])
        }
    }
</script>
