{% include 'header.html' %}


<div class="container" id="success-block">
    <div class="row" style="align-content: center;">

        <div class="alert alert-warning fade in">
            <strong>Password Reset</strong> A temporary password was sent to your email address. Please change your password
            once you log into your account.
            <p>
                <a href="/login">
                    <button type="button" class="btn btn-warning m-t-10 m-r-10" id="login-redirect">Login</button>
                </a>
            </p>
        </div>

    </div>
</div>

{% include 'footer.html' %}
