{% set title="Analyze Genesets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


<style>

    a:link {
        #color: darkgreen;
    }

    a:hover {
        #color: green;
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    .panel .panel-header .panel-info .panel-heading {
        background-color: #F0F0F0;
        color: #F0F0F0;
    }

    .page-header {
        border-bottom-width: thick;
        border-bottom-color: #006400;
    }

    img {
        border-style: none;
    }

    #help {
        cursor: pointer;
        color: #808080;
    }

    #help-text {
        color: #808080;
    }

</style>


{% if not g.user or g.user.user_id == 0 %}

    {% include 'htmlfragments/permissionError.html' %}

{% else %}

    {% block body %}


        <div id="maindiv" xmlns="http://www.w3.org/1999/html">

            <p>

            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="5000"></div>

            <div class="panel panel-default panel-heading bg-gray-light">
                <h3 class="panel-title"><strong>My Projects</strong></h3>
            </div>


            <div class="row">


                <!-- the projects column -->
                <form id="todo-id" class="form-horizontal" role="form" method="post">

                    <div class="col-md-8">
                        <div class="page-header"><h2>Projects</h2></div>

                        {% include 'htmlfragments/projectsList.html' %}

                    </div>
                </form>

                <!-- the Analysis tools column -->
                <div class="col-xs-6 col-md-3">
                    <div class="page-header">
                        <h2>Actions</h2>
                    </div>
                    <div class="panel-group" id="accordion">
                        <button type="button" class="btn btn-lg btn-block btn-danger" id="callDeleteProjects">
                            <i class="fa fa-times pull-left"></i> Delete Projects
                        </button>
                        <button type="button" class="btn btn-lg btn-block btn-warning" id="newBlankProject">
                            <i class="fa fa-folder-o pull-left"></i> New Blank Project
                        </button>
                        <button type="button" class="btn btn-lg btn-block btn-warning" id="shareProjects">
                            <i class="fa fa-share-alt pull-left"></i> Share Projects
                        </button>
                        <button type="button" class="btn btn-lg btn-block btn-warning" id="callCombineGeneSets">
                            <i class="fa fa-chain pull-left"></i> Combine Gene Sets
                        </button>
                    </div>
                    <div class="panel-group pull-right">
                        <span id="help"><i class="fa fa-caret-left"></i> help</span>
                    </div>
                    <div id="help-text" class="panel-group" style="display: none;">
                        <p><i class="fa fa-arrow-right"></i> Select Projects and Gene Sets from the left and appropriate
                            actions from the list on the right. Deleting projects will permanently remove them from your
                            account.</p>
                        <p><i class="fa fa-arrow-right"></i> Removing Gene Sets will only remove them from the Project,
                            not delete them from GeneWeaver.</p>
                        <p><i class="fa fa-arrow-right"></i> Actions on Gene Sets, such as Combine or Remove, work only
                            on individual Gene Sets and not at the project level.</p>
                    </div>
                </div>

            </div>

        </div>

    {% endblock %}


{% if g.user is defined %}

    {% include 'modal/deleteProject.html' %}

    {% include 'modal/addBlankProject.html' %}

    {% include 'modal/combineGenesets.html' %}

{% endif %}


<script type="text/javascript">

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    $(document).ready(function () {

        var url = '/projectGenesets.json';

        // Call New Blank Project
        $('#newBlankProject').on('click', function () {
           $("#addProjectModal").modal('show');
        });

        // Update project set to new name
        $('#projectSubmit').on('click', function () {
           var n = $('#projectName').val();
            $.ajax({
                type: "GET",
                url: "/addProjectByName",
                data: {"name": n},
                success: function (data) {
                    var v = JSON.parse(data);
                $("html, body").animate({ scrollTop: 0 }, "slow");
                    if (v["error"] == 'None') {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "Project name added successfully.",
                                'priority': 'success'
                            }
                        ]);
                        location.reload()
                    }
                    else {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "An Error Occurred. " + v["error"],
                                'priority': 'danger'
                            }
                        ]);
                    }
                },
                error: function (data) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                    $(document).trigger("add-alerts", [
                    {
                        'message': "An Error occurred while adding new project.",
                        'priority': 'danger'
                    }
                ]);
                }
            })
        });

        // Call modal for delete of all projects
        $('#callDeleteProjects').on('click', function () {
            var projid = [];
            var projname = [];
            jQuery("input[type=checkbox]:checked").each(function () {
                var v = ($(this).attr("data-project-name"));
                projname.push(v);
            });
            jQuery("input[type=checkbox]:checked").each(function () {
                var v = ($(this).attr("data-project"));
                projid.push(v);
            });
            if (projid.length == 0) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $(document).trigger("add-alerts", [
                    {
                        'message': "You must select at least one project.",
                        'priority': 'danger'
                    }
                ]);
            }
            else{
                var p = projid.join(",");
                var q = projname.join(", ");
                $("#myModalLabel").html(q);
                $("#myModalValue").val(p);
                $("#delProjects").modal('show');
            }
        });

        //Process the deletion of the projects
        $('#confirmDelete').on('click', function (e) {
           var projids = $('#myModalValue').val();
            $.ajax({
                type: "GET",
                url: "/deleteProjectByID",
                data: {"projids": projids},
                success: function (data) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                    $(document).trigger("add-alerts", [
                    {
                        'message': "Projects successfully deleted.",
                        'priority': 'success'
                    }
                ]);
                    location.reload()
                },
                error: function (data) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                    $(document).trigger("add-alerts", [
                    {
                        'message': "An Error occurred while deleting projects.",
                        'priority': 'danger'
                    }
                ]);
                }
            })
        });


        // Call modal for combine all gene sets
        $('#callCombineGeneSets').on('click', function () {
            //get all checked gene sets
            //also split off the name from the number
            var gsname = [];
            var gsid = [];
            jQuery("input[type=checkbox]:checked").each(function () {
                var v = ($(this).attr("id"));
                gsid.push(v.split('_')[1]);
                gsname.push('GS'+ v.split('_')[1]);
            });
            //display error if no genesets are selected
            if (gsname.length == 0) {
                $(document).trigger("add-alerts", [
                    {
                        'message': "No Gene Sets were selected for combining into the same project.",
                        'priority': 'danger'
                    }
                ]);
            }
            // send the list to the modal.
            else{
                var n = gsname.join(", ");
                var i = gsid.join(",");
                $("#myCombineGSLabel").html(n);
                $("#myCombineGSValue").val(i);
                $("#combineGenesets").modal('show');

            }
        });

        //function to add row for a new project name
        $('#addNewProject').on('click', function () {
            $('#reveal-if-active').html('<label for="newProjName"><h4>New Project Name: </h4></label>' +
                    '<input type="text" id="newProjName" name="newProjName" class="form-control input-lg">')
        });


        // Add genesets to projects
        $('#addGenesetsToProjects').on('click', function (e) {
            var checked = [];
            $("input[name='options[]']:checked").each(function () {
                checked.push(parseInt($(this).val()));
            });
            var option = JSON.stringify(checked);
            var g = $('#myCombineGSValue').val();
            var npn = $('#newProjName').val();
            if ($.isEmptyObject(checked) && $.isEmptyObject(npn)) {
                $(document).trigger("add-alerts", [
                    {
                        'message': "No Projects were selected.",
                        'priority': 'danger'
                    }
                ]);
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "../addGenesetsToProjects",
                    data: {"user_id": {{ g.user.user_id }}, "npn": npn, "gs_id": g, "option": option},
                    success: function (data) {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "Genesets Successfully Added to Selected Projects.",
                                'priority': 'success'
                            }
                        ]);
                        window.location.reload();
                    }
                });
            }
        });


        //help checkbox
        $( "#help" ).click(function() {
            if($('#help-text:visible').length)
                $('#help-text').hide("slide", { direction: "right" }, 1000);
            else
                $('#help-text').show("slide", { direction: "right" }, 1000);
            });

        // All selector checkbox
        $('.proj-checkbox').on('click', function (event) {

            var check = $(this).find('input[type=checkbox]');
            var allcheck = '#' + check.attr('id');
            var pid = allcheck.split('-')[1];
            var gscheck = '.proj-' + pid + '-check';

            if ($(allcheck).attr('checked')) {

                $(gscheck).each(function (index) {
                    $(this).attr('checked', false);
                });

            } else {

                $(gscheck).each(function (index) {
                    $(this).attr('checked', true);
                });
            }
        });

        // Project genesets are only loaded when necessary (i.e. when a user
        // clicks on the project link.
        $('.project-link').on('click', function (event) {

            // Change chevron when project info is displayed
            var chev = $(this).children('.fa-caret-right').length ?
                    $(this).children('.fa-caret-right') :
                    $(this).children('.fa-caret-down');

            chev.toggleClass('fa-caret-down');
            chev.toggleClass('fa-caret-right');

            // Get the project ID from the link href, but gotta strip out
            // '#genesets-' first
            var pid = $(this).attr('href').slice('#genesets-'.length);
            var pbid = '#project-body-' + pid;
            var data = {'project': pid};

            // Check to see if we've already made an AJAX call for this project
            if ($(pbid).children().length !== 0)
                return;

            // Flask should return the rendered HTML, inject it into the DOM
            $.get(url, data).done(function (data) {

                var tbody = pbid + ' tbody';
                $(pbid).append(data);

                var allclass = '#proj-' + pid + '-allcheck';
                var chkclass = '.proj-' + pid + '-check';

                // Now start checking to see if we need to mark the checkboxes
                // under this particular project
                if ($(allclass).attr('checked')) {

                    $(chkclass).each(function (index) {
                        $(this).attr('checked', true);
                    });
                }
            });
        });


    });

</script>

{% endif %}

{% include 'footer.html' %}
