{% include 'header.html' %}
<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="login-logo">
                        <a href="#?login-theme-3">
                            <img src="{{url_for('static', filename='images/GW2-logo.png')}}" alt="GeneWeaver Logo">
                        </a>
                </div>   
                    <hr>
			<div class="login-form">

			    <!-- Start Error box -->
			    <div class="row">
				<div>
				    <span>{% if register_not_successful %}<h5><center><font color="red">
					The email has been used.
					Please register again.
				    </center></font></h5> {% endif %}</span>
				</div>
			    </div>
			    {% if error is defined %}
				<div class="alert alert-danger">
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <h4>Error!</h4>
				    {{error}}
				</div>
			    {% endif %}
			    <!-- End Error box -->
			    <span id="anon-user-span" {% if user %} style="display: none"{% endif %}	>
                            <form id="registerform" name="registerform"  role="search" method="post" action="{{url_for('json_register_successful')}}" >
				<input id="usr_first_name" name="usr_first_name" class="form-control" type="text" required="" placeholder="First Name"></input>
				<input id="usr_last_name" name="usr_last_name" class="form-control"  type="text" required="" placeholder="Last Name"></input>
				<input id="usr_email" name="usr_email" class="form-control" type="email" required="" placeholder="E-mail"></input>
				<input id="usr_password" name="usr_password" class="form-control" type="password" required="" placeholder="Password"></input>

				<div class="form-control g-recaptcha" data-sitekey="6LeO7g4TAAAAAOU_TszJfpxOBjm0S1biSWGwza-b"></div>

				<button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left">
				    <span class="ladda-label">

					Sign Up

				    </span>
				</button>
			    </form>

			<div class="login-links">
			    <a href="reset.html">Forgot password?</a>
			    <br>
			    <a href="login.html">Already have an account? <strong>Sign In</strong></a>
			</div>
                    	</br></br>

		    </div>
		</div>
	    </div>
	</div>

{% include 'footer.html' %}
