{% set title="Edit Geneset" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{# Add bootstrap switch #}
<link href="{{ url_for('static', filename='pixit/admin/assets/plugins/bootstrap-slider/bootstrap-switch.css') }}"
          rel="stylesheet">

<style type="text/css">

    #clickableGenes {
        cursor: pointer;
    }

    #clickableSelectAll{
        cursor: pointer;
        font-size: smaller;
        color: #006400;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=60);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249, 249, 249);
    }

</style>

{% if gs_and_proj == 'None' %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Remove Gene Sets From Selected Projects</strong></h2>
    </div>


    {# Project - Gene List Information #}
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h2 class="panel-title">
            Selected Genesets and Projects <span id="clickableGenes"><i class="fa fa-info-circle"></i></span>
        </h2>
    </div>




    <div class="row" id="result"></div>

    <div class="panel-body">
        <div class="row">
            <form id="deleteGenesetsFromProjects" name="deleteGenesetsFromProjects" method="post" action="#"
                  class="form-horizontal form-inline" novalidate="novalidate">

            <div class="pull-right">Set All
                <input type="checkbox" name="my-checkbox" class="switch"
                       data-on-label="<i class='fa fa-thumbs-up'></i>"
                       data-on-color="danger" data-off-color="default" checked>

                {#
                <label>
                    <input type="checkbox" class="checkItem" id="checkAll" checked="checked"> Check All
                </label>
                 #}
                {# <span id="clickableSelectAll">Select All <i class="fa fa-check-square-o"></i></span>  #}
            </div>
                <table class="table table-hover table-striped" id="projectGenesets" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <th>Project Name</th>
                            <th>Gene Set Name</th>
                            <th>Gene Set ID</th>
                            <th>&nbsp;</th>
                        </tr>

                        {% for i in gs_and_proj %}
                            <tr>
                            <td><strong>{{ i.pj_name }}</strong></td>
                            <td><a href="../viewgenesetdetails/{{ i.gs_id }}">{{ i.gs_name }}</a></td>
                            <td>GS{{ i.gs_id }}</td>
                            <td width="10">
                                <input type="checkbox" name="my-checkbox" data-size="small"
                                       class="switch small" data-off-color="danger" checked>
                                {#
                                <div class="ui-checkbox" style="padding: 0; border: 0;">
                                    <label>
                                    <input type="checkbox" class="checkItem" checked="checked"
                                           id="proj-{{ i.pj_id }}-{{ i.gs_id }}"/>
                                    </label>
                                </div>
                                 #}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

{% endif %}

<script>

    $('input:checkbox').bootstrapSwitch();

    $(window).load(function () {
        $(".loader").fadeOut("slow");
    });

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    $(document).ready(function () {


        $("#checkAll").click(function () {
            //$(".checkItem").prop('checked', $(this).prop('checked'));
            $('input[type="checkbox"].checkItem').checkbox({checked: false});
        });

    });

    $('#clickableGenes').popover({
        title: 'Remove Gene Sets from Selected Projects', content: 'This will remove Gene Sets from Projects. It will' +
                ' not delete them from your gene set list or the database.'
    });


</script>



{% include 'footer.html' %}
