{% set title="Analyze Shared Projects" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<div class="page-header">
    <h1>{{ title }}</h1>
</div>

{% with errors = get_flashed_messages() %}
{% if errors %}
<div class="alert-message block-message error">
  <a class="close" href="#">×</a>
  <ul>
    {%- for msg in errors %}
    <li style="color: red; font-size: 125%">{{ msg }}</li>
    {% endfor -%}
  </ul>
</div>
{% endif %}
{% endwith %}


<form id="todo-id" class="form-horizontal" role="form" method="post">
    <div class="row">

        <!-- the Analysis tools column -->
        <div class="col-md-4">
            <div class="page-header"><h2>Analysis Tools</h2></div>
            <div class="panel-group" id="accordion">

            {% for tool in active_tools %}
                {% include 'tool/' + tool.classname + '_options.html' %}
            {% endfor %}
            </div>
        </div>

        <!-- the projects column -->
        <div class="col-md-8">
            <div class="page-header"><h2>Projects</h2></div>
            <div class="panel-group" id="projAccordion">
            {#
            TODO this should be changed to use JSON to fetch data for project panels when they are expanded
            (for users with many projects the current version is too slow)
            #}
            {% if "user" in g %}
                {% for proj in g.user.projects %}
                    <div id="project-{{ proj.project_id }}" class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <div class="row">
                                    <div class="col-xs-2">

                                        <input
                                                class="proj-checkbox"
                                                data-project="{{ proj.project_id }}"
                                                type="checkbox">

                                    </div>
                                    <div class="col-xs-10">
                                        <a data-toggle="collapse" right data-parent="#projAccordion" href="#genesets-{{ proj.project_id }}">
                                        <span class="fa fa-chevron-down"></span>
                                        {{ proj.name }}
                                        </a>

                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div id="genesets-{{ proj.project_id }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tbody>
                                        {% for gs in proj.get_genesets(g.user.user_id) %}
                                            <tr>
                                                <td>
                                                    <input
                                                                data-parentproject="{{ proj.project_id }}"
                                                                type="checkbox"
                                                                name="geneset_{{ gs.geneset_id }}"
                                                                class="table-checkbox"
                                                                >
                                                </td>
                                                <span></span>
                                                <td>
                                                    {% include 'viewGenesetSummaryPartial.html' %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have no genesets!</p>
            {% endif %}
        </div>
    </div>
</form>

<script type="text/javascript">
    function genesetCheckboxChanged(projCheckbox, genesetCheckboxes) {
        var allChecked = true;
        genesetCheckboxes.each(function(i, gsCheckbox) {
            gsCheckbox = $(gsCheckbox);
            if(!gsCheckbox.prop('checked')) {
                allChecked = false;
                return false;
            }
        });

        projCheckbox.prop('checked', allChecked);
    }

    function projectCheckboxChanged(projCheckbox, genesetCheckboxes) {
        var projChecked = projCheckbox.prop('checked');
        genesetCheckboxes.each(function(i, gsCheckbox) {
            gsCheckbox = $(gsCheckbox);
            gsCheckbox.prop('checked', projChecked);
        });
    }

    $(function() {
        $('.proj-checkbox').each(function(i, projCheckbox) {
            projCheckbox = $(projCheckbox);
            var projID = projCheckbox.attr('data-project');
            var genesetCheckboxes = $('[data-parentproject=\'' + projID + '\']');

            projCheckbox.change(function() {
                console.log('proj change happended');
                projectCheckboxChanged(projCheckbox, genesetCheckboxes);
            });

            console.log('the proj is: ' + projID);

            genesetCheckboxes.each(function(i, gsCheckbox) {
                gsCheckbox = $(gsCheckbox);
                console.log('registering');
                console.log(gsCheckbox);
                gsCheckbox.change(function() {
                    console.log('gs change happended');
                    genesetCheckboxChanged(projCheckbox, genesetCheckboxes);
                });
            });
        });
    });

</script>
</div>
{% include 'footer.html' %}
