{% set title="Similar Genesets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<script>
       //Add data for D3
        src = "{{ url_for('static', filename='/d3/d3.min.js') }}";
        src = "{{ url_for('static', filename='/d3/radar.js') }}";
</script>

<script src="/static/d3/d3.min.js" charset="utf-8"></script>
<script src="/static/d3/radar.js" charset="utf-8"></script>


<style type="text/css">
    legend {
        overflow: hidden;
        margin: 0;
        font-size: 14px;
    }

    #chart {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    #clickableFontAwesome {
        cursor: pointer;
    }

    #genesetExpand {
        cursor: pointer;
    }

    .plus:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    .minus .plus:before{
        content: "\f068";
    }


</style>


<div class="row" id="result"></div>

<div class="panel panel-default panel-heading bg-gray-light">
    <h2 class="panel-title"><strong>View Similar Genesets</strong></h2>
</div>


<div class="panel panel-default">
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h3 class="panel-title">
            {% if geneset.cur_id == 1 %}
                <span class="tier1" style="vertical-align: middle">Tier I</span>
            {% endif %}
            {% if geneset.cur_id == 2 %}
                <span class="tier2" style="vertical-align: middle">Tier II</span>
            {% endif %}
            {% if geneset.cur_id == 3 %}
                <span class="tier3" style="vertical-align: middle">Tier III</span>
            {% endif %}
            {% if geneset.cur_id == 4 %}
                <span class="tier4" style="vertical-align: middle">Tier IV</span>
            {% endif %}
            {% if geneset.cur_id == 5 %}
                <span class="tier5" style="vertical-align: middle">Tier V</span>
            {% endif %}
            GS{{ geneset.geneset_id }} - {{ geneset.name }}</h3>
    </div>

    <div class="panel-body">
        <div class="row">

            <div class="col-xs-12 col-md-9">

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>DESCRIPTION:</strong></p>
                    </div>
                    <div class="col-md-10">
                        <p>{{ geneset.description }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>LABEL:</strong></p>
                    </div>
                    <div class="col-md-10">
                        <p>{{ geneset.abbreviation }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>SPECIES:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.sp_id == 1 %}
                            <span class="mouse">Mouse</span>
                        {% endif %}
                        {% if geneset.sp_id == 2 %}
                            <span class="human">Human</span>
                        {% endif %}
                        {% if geneset.sp_id == 3 %}
                            <span class="rat">Rat</span>
                        {% endif %}
                        {% if geneset.sp_id == 4 %}
                            <span class="zebrafish">Zebrafish</span>
                        {% endif %}
                        {% if geneset.sp_id == 5 %}
                            <span class="fly">Fly</span>
                        {% endif %}
                        {% if geneset.sp_id == 6 %}
                            <span class="monkey">Monkey</span>
                        {% endif %}
                    </div>
                </div>

                {# Right Side List of Buttons #}
                <div class="row">
                    <div class="col-md-4 pull-left">
                        <br><a href="/viewgenesetdetails/{{ gs_id }}">
                        <b><i class="fa fa-step-backward"></i> Return to Geneset Details</b></a>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-3">
                <button type="button" class="btn btn-lg btn-block btn-warning" id="exportData">
                    <i class="fa fa-download pull-left"></i> Export GeneSets
                </button>
                {% if order == 'tier' %}
                    <button type="button" class="btn btn-lg btn-block btn-warning" id="orderbySpecies">
                        <i class="fa fa-refresh pull-left"></i> Order by Species
                    </button>
                {% else %}
                    <button type="button" class="btn btn-lg btn-block btn-warning" id="orderbyTier">
                        <i class="fa fa-bar-chart-o pull-left"></i> Distribution
                    </button>
                {% endif %}
                <button type="button" class="btn btn-lg btn-block btn-warning" id="addToProject">
                    <i class="fa fa-folder-o pull-left"></i> Add to Project
                </button>

            </div>

        </div>


    </div>

{#
{% for i in topsimgs %}
{{ i.description }}
    <br>
{% endfor %}
#}
    <div class="row">
        <div id="legend"><center>
            <div id="chart">
                {# This is where the chart goes #}
            </div></center>
        </div>
    </div>


    <!-- Show the Geneset List -->
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h3 class="panel-title">Top 150 Similar GeneSets
                <span id="clickableFontAwesome"><i class="fa fa-info-circle"></i></span></h3>
        </div>
        <div class="panel-body">
            <!-- TODO make the table sortable, show more gene details -->
            <table class="table table-hover" id="similarGenesets" cellpadding="0">
                <tbody>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>GeneSet Title</th>
                    <th>Jaccard</th>
                </tr>

                {% for i in simgs %}

                    <tr class="parent">
                        <td width="15">
                            <span id="genesetExpand" class="toggler" data-prod="{{i.geneset_id}}">
                                <span class="plus"></span>
                                <span class="minus"></span>
                            </span>
                        </td>
                        <td nowrap>
                            <!-- Label the tier - which is the curation id, Geneset.cur_id -->
                            {% if i.cur_id == 1 %}
                                <span class="tier1">Tier I</span>
                            {% endif %}
                            {% if i.cur_id == 2 %}
                                <span class="tier2">Tier II</span>
                            {% endif %}
                            {% if i.cur_id == 3 %}
                                <span class="tier3">Tier III</span>
                            {% endif %}
                            {% if i.cur_id == 4 %}
                                <span class="tier4">Tier IV</span>
                            {% endif %}
                            {% if i.cur_id == 5 %}
                                <span class="tier5">Tier V</span>
                            {% endif %}
                        </td>
                        <td nowrap>
                            <!-- Label the species -->
                            {% if i.sp_id == 1 %}
                                <span class="mouse">Mouse</span>
                            {% endif %}
                            {% if i.sp_id == 2 %}
                                <span class="human">Human</span>
                            {% endif %}
                            {% if i.sp_id == 3 %}
                                <span class="rat">Rat</span>
                            {% endif %}
                            {% if i.sp_id == 4 %}
                                <span class="zebrafish">Zebrafish</span>
                            {% endif %}
                            {% if i.sp_id == 5 %}
                                <span class="fly">Fly</span>
                            {% endif %}
                            {% if i.sp_id == 6 %}
                                <span class="monkey">Monkey</span>
                            {% endif %}
                        </td>
                        <td nowrap>
                            <!-- Label the attribution -->
                            {% if i.attribution == 2 %}
                                <span class="ctd">CTD</span>
                            {% endif %}
                            {% if i.attribution == 7 %}
                                <span class="drg">DRG</span>
                            {% endif %}
                            {% if i.attribution == 8 %}
                                <span class="go">GO</span>
                            {% endif %}
                            {% if i.attribution == 9 %}
                                <span class="mp">MP</span>
                            {% endif %}
                        </td>
                        <td nowrap>
                            <!-- Show the geneset size -->
                            <span class="gs_size">{{ i.count }} Genes</span>

                        </td>
                        <td>
                            <a href="/viewgenesetdetails/{{ i.geneset_id }}">{{ i.name }}</a>
                        </td>
                        <td align="center">
                            <strong>{{ '%0.4f' % i.jac_value|float }}</strong>
                        </td>
                    </tr>
                    <tr class="gsid{{i.geneset_id}}" style="display: none">
                        <td colspan="5">&nbsp;</td>
                        <td><strong>LABEL:</strong> {{ i.abbreviation }}<br>
                            <strong>DESCRIPTION:</strong> {{ i.description }}
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}



    <script type="text/javascript">


        // variables for Radar Chart
        var w = 500, h = 500;
        var colorscale = d3.scale.category10();
        var LegendOptions = ['Tier 1', 'Tier 2'];
        //var d = {{ topsimgs }};

        //Data
        var d = [
            [
                {axis: "Email", value: 0.59},
                {axis: "Social Networks", value: 0.56},
                {axis: "Internet Banking", value: 0.42},
                {axis: "News Sportsites", value: 0.34},
                {axis: "Search Engine", value: 0.48},
                {axis: "View Shopping sites", value: 0.14},
                {axis: "Paying Online", value: 0.11},
                {axis: "Buy Online", value: 0.05},
                {axis: "Stream Music", value: 0.07},
                {axis: "Online Gaming", value: 0.12},
                {axis: "Navigation", value: 0.27},
                {axis: "App connected to TV program", value: 0.03},
                {axis: "Offline Gaming", value: 0.12},
                {axis: "Photo Video", value: 0.4},
                {axis: "Reading", value: 0.03},
                {axis: "Listen Music", value: 0.22},
                {axis: "Watch TV", value: 0.03},
                {axis: "TV Movies Streaming", value: 0.03},
                {axis: "Listen Radio", value: 0.07},
                {axis: "Sending Money", value: 0.18},
                {axis: "Other", value: 0.07},
                {axis: "Use less Once week", value: 0.08}
            ], [
                {axis: "Email", value: 0.48},
                {axis: "Social Networks", value: 0.41},
                {axis: "Internet Banking", value: 0.27},
                {axis: "News Sportsites", value: 0.28},
                {axis: "Search Engine", value: 0.46},
                {axis: "View Shopping sites", value: 0.29},
                {axis: "Paying Online", value: 0.11},
                {axis: "Buy Online", value: 0.14},
                {axis: "Stream Music", value: 0.05},
                {axis: "Online Gaming", value: 0.19},
                {axis: "Navigation", value: 0.14},
                {axis: "App connected to TV program", value: 0.06},
                {axis: "Offline Gaming", value: 0.24},
                {axis: "Photo Video", value: 0.17},
                {axis: "Reading", value: 0.15},
                {axis: "Listen Music", value: 0.12},
                {axis: "Watch TV", value: 0.1},
                {axis: "TV Movies Streaming", value: 0.14},
                {axis: "Listen Radio", value: 0.06},
                {axis: "Sending Money", value: 0.16},
                {axis: "Other", value: 0.07},
                {axis: "Use less Once week", value: 0.17}
            ]
        ];

        var mycfg = {
            w: w,
            h: h,
            maxValue: 1.0,
            levels: 10,
            ExtraWidthX: 300
        };

        RadarChart.draw("#chart", d, mycfg);

        ////////////////////////////////////////////
        /////////// Initiate legend ////////////////
        ////////////////////////////////////////////

        var svg = d3.select('#legend')
                .selectAll('svg')
                .append('svg')
                .attr("width", w + 300)
                .attr("height", h)

        //Create the title for the legend
        var text = svg.append("text")
                .attr("class", "title")
                .attr('transform', 'translate(90,0)')
                .attr("x", w - 70)
                .attr("y", 10)
                .attr("font-size", "14px")
                .attr("fill", "#404040")
                .text("Legend");

        //Initiate Legend
        var legend = svg.append("g")
                        .attr("class", "legend")
                        .attr("height", 100)
                        .attr("width", 200)
                        .attr('transform', 'translate(90,20)')
                ;
        //Create colour squares
        legend.selectAll('rect')
                .data(LegendOptions)
                .enter()
                .append("rect")
                .attr("x", w - 65)
                .attr("y", function (d, i) {
                    return i * 20;
                })
                .attr("width", 10)
                .attr("height", 10)
                .style("fill", function (d, i) {
                    return colorscale(i);
                })
        ;
        //Create text next to squares
        legend.selectAll('text')
                .data(LegendOptions)
                .enter()
                .append("text")
                .attr("x", w - 52)
                .attr("y", function (d, i) {
                    return i * 20 + 9;
                })
                .attr("font-size", "11px")
                .attr("fill", "#737373")
                .text(function (d) {
                    return d;
                })
        ;

        function emphasize(id) {
            if (document.getElementById(id).checked) {
                $.get("/emphasize/" + id + ".html", function (data, status) {
                });
            }
            else {
                $.get("/deemphasize/" + id + ".html", function (data, status) {
                });
            }
        }

        // Add event listener for opening and closing details

        $(document).ready(function () {
            var gs_id = {{ geneset.geneset_id }};
            $('#exportData').on('click', function (e) {
                window.open('../exportGeneList/' + gs_id);
            });

            $('#viewSimilarGenesets').on('click', function (e) {

                window.open('../viewSimilarGenesets/' + gs_id, "_self");
            });

            $(".toggler").click(function (e) {
                e.preventDefault();
                //the data stored in the data-prod
                var gid = ($(this).attr("data-prod"));
                //toggle the link clicked on
                $(".gsid" + gid).toggle();
                //select the parent and find the span so you can
                //toggle the "plus" class
                $(this).parent().find("span").toggleClass("plus");
                //$(this).parent().find("span").toggleClass("minus");
                //toggle the minus class
                $(this).toggleClass("plus");
                $(this).toggleClass("minus");
            });

        });

        $('#clickableFontAwesome').popover({title: 'Caution', content: 'Some recently added genesets may ' +
        'not be on this list due to a lag time in calculating global Jaccard scores between all genesets in our database.'});

        //});


    </script>

</div>

{% include 'footer.html' %}