
{% for gs in genesets %}

    {# Moved the data-parentproject to the viewGenesetSummaryPartial #}

			{% include 'viewGenesetSummaryPartial.html' %}

{% endfor %}

<script type="text/javascript">
    function genesetCheckboxChanged(projCheckbox, genesetCheckboxes) {
        var allChecked = true;
        genesetCheckboxes.each(function(i, gsCheckbox) {
            gsCheckbox = $(gsCheckbox);
            if(!gsCheckbox.prop('checked')) {
                allChecked = false;
                return false;
            }
        });

        projCheckbox.prop('checked', allChecked);
    }

    function projectCheckboxChanged(projCheckbox, genesetCheckboxes) {
        var projChecked = projCheckbox.prop('checked');
        genesetCheckboxes.each(function(i, gsCheckbox) {
            gsCheckbox = $(gsCheckbox);
            gsCheckbox.prop('checked', projChecked);
        });
    }

    $(function() {
        $('.proj-checkbox').each(function(i, projCheckbox) {
            projCheckbox = $(projCheckbox);
            var projID = projCheckbox.attr('data-project');
            var genesetCheckboxes = $('[data-parentproject=\'' + projID + '\']');

            projCheckbox.change(function() {
                //console.log('proj change happended');
                projectCheckboxChanged(projCheckbox, genesetCheckboxes);
            });

            //console.log('the proj is: ' + projID);

            genesetCheckboxes.each(function(i, gsCheckbox) {
                gsCheckbox = $(gsCheckbox);
                //console.log('registering');
                //console.log(gsCheckbox);
                gsCheckbox.change(function() {
                    //console.log('gs change happended');
                    genesetCheckboxChanged(projCheckbox, genesetCheckboxes);
                });
            });
        });
    });

</script>
