{% set title="Set GeneSet Threshold" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{% if geneset.geneset_id is not defined or view is not defined %}

    {% include 'htmlfragments/genesetNotFound.html' %}

{% else %}

    <div class="loader"></div>


    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>Set GeneSet Threshold</strong></h2>
    </div>

    <div class="panel panel-default">
        {% include 'htmlfragments/curIDBoxes.html' %}

    <div class="panel-body">
        {% set threshold_symbol = 'p' if threshold_type == 1 else 'q' %}
        {% if is_bimodal == 'False' %}
            {%  if gsv_values|length == 0  %}
                <div class="row">
                    <div class="alert bg-gray-light">
                        This GeneSet does not contain any geneset values.
                        Set threshold cannot be performed.
                    </div>
                </div>
            {% else %}
                <div class="row">
                    {% set threshold_low = threshold[0] if threshold[0] != 'None' else minVal %}
                    {% set threshold_high = threshold[1] if threshold[1] != '0' else maxVal %}
                    {%  if threshold_type == 4 or threshold_type == 5 %}
                        {% set threshold_name = 'a correlation' if threshold_type == 4 else 'an effect' %}
                        {% set threshold_high = threshold_high if threshold[1] != '0' else threshold_low %}
                       <div><p><strong>Current Threshold Values:
                        </strong> {{ threshold[0] }} <i class="fa fa-arrows-h"></i>
                                {% if threshold[1] == '0' %}
                                    None
                                {% else %}
                                    {{ threshold[1] }}
                                {% endif %}
                                ( genes count: {{ curr_gene_count }} )
                            </p>
                        </div>
                    {% else %}
                        <div><p><strong>Current Threshold Values:
                            </strong> {{ threshold_symbol }} < {{ threshold[0] }} ( genes count: {{ curr_gene_count }} )
                            </p>
                        </div>
                    {% endif %}

                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="alert bg-gray-light">
                    This GeneSet only contains one uniform value.
                    Set threshold cannot be performed.
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-9" style="margin-bottom: 1rem;">
            {% if view is defined and is_bimodal == 'False' and gsv_values|length > 0%}
                {%  if threshold_type == 4 or threshold_type == 5 %}
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon">Manually enter {{ threshold_name }} threshold range.</span>
                            <input id="t_min" type="number" min="{{ threshold_low }}" step="0.001" value="{{ threshold_low }}" class="form-control threshLow">
                            <span class="input-group-addon"><i class="fa fa-arrows-h"></i></span>
                            <input id="t_max" type="number" max="{{ threshold_high }}" step="0.001" value="{{ threshold_high }}" class="form-control threshHigh">
                            <div class="input-group-btn">
                                <button class="btn btn-default setThresh" type="button">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 1rem;">
                            <div class="row" style="margin-top: 1rem;">
                                <p id="selectedGeneCount"></p>
                            </div>
                            <div class="row">
                                <div id="myHisPlot" style="width:100%; height:500px;"></div>
                            </div>
                            <div class="row">
                                <p>** Use Box Select tool to set a threshold range on the histogram, or enter values in the input fields. </p>
                                <p>* Selected threshold range in red color</p>
                            </div>
                        </div>
                    </div>
                {%  else %}
                    <div class="row">
                        <div id="myHisPlot" style="width:100%; height:500px;"></div>
                    </div>
                     <div class="row">
                        <p>* Selected threshold range in red color</p>
                     </div>
                    <div class="row">
                        <p id="selectedGeneCount"></p>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-block btn-default setThresh" id="setThresh05" value="0.05">
                            Save as <code> {{ threshold_symbol }} < 0.05 </code> ( genes count: {{ threshold_gene_counts[0.05]}} )
                        </button>
                        <button type="button" class="btn btn-block btn-default setThresh" id="setThresh01" value="0.01">
                            Save as <code> {{ threshold_symbol }} < 0.01 </code> ( genes count: {{ threshold_gene_counts[0.01]}} )
                        </button>
                        <button type="button" class="btn btn-block btn-default setThresh" id="setThresh001" value="0.001">
                            Save as <code> {{ threshold_symbol }} < 0.001 </code> ( genes count:{{ threshold_gene_counts[0.001]}} )
                        </button>
                        <button type="button" class="btn btn-block btn-default setThresh" id="setThresh0001" value="0.0001">
                            Save as <code> {{ threshold_symbol }} < 0.0001 </code> ( genes count: {{ threshold_gene_counts[0.0001]}} )
                        </button>

                        <hr>

                        <div class="input-group">
                            <span class="input-group-addon">Manually enter a threshold value.</span>
                            <span class="input-group-addon">Set to: {{ threshold_symbol }} < </span>
                            <input type="number" id="t_man" min="0" max=1 step="0.001" value="{{ threshold[0] }}" class="form-control threshLow">
                            <div class="input-group-btn">
                                <button class="btn btn-default setThresh" type="button">Save</button>
                            </div>
                        </div>
                        <p id="p_q_limit_msg" style="color: red;"></p>
                    </div>
                {% endif %}
            {% endif %}
            </div>

            {#  right side menu #}
            <div class="col-md-3 mb-3">
                {% set return_page = 'curategeneset' if view == 'curator' else 'viewgenesetdetails' %}
                <a class="btn btn-block btn-warning" href="../{{ return_page }}/{{ geneset.geneset_id}}" role="button">
                     <i class="fa fa-arrow-left pull-left"></i> Back to GeneSet
                </a>
                {% if view is defined and is_bimodal == 'False' %}
                <a class="btn btn-block btn-warning" href="../setthreshold-legacy/{{ geneset.geneset_id}}" role="button">
                    <i class="fa fa-history pull-left"></i> Legacy Page
                </a>
                {% endif %}
            </div>

        </div>

        {% if view is defined and is_bimodal == 'False' %}
            <script type="text/javascript">
                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }
                $(document).ready(function () {
                    $('.setThresh').on('click', function (e) {
                        const access_token = getCookie('access_token');
                        let value = $(this).val();
                        let valueHigh = null;
                        let minVal = {{ minVal }};
                        let newTresh;
                        if (value === '' || value == null) {
                            const $parent = $(this).parent().parent();
                            value = $parent.find('.threshLow').val();
                            valueHigh = $parent.find('.threshHigh').val();
                        }
                        if (valueHigh === '' || valueHigh == null) {
                            newTresh = {
                                threshold: value,
                                score_type: '{{ scoreType }}'
                            };
                            console.log('Threshold set successfully');
                            set_histogram_threshold_range(minVal, value);
                        } else {
                            newTresh = {
                                threshold_low: value,
                                threshold: valueHigh,
                                score_type: '{{ scoreType }}'
                            };
                            console.log('Threshold set successfully');
                        }

                        $.ajax({
                            type: 'PUT',
                            {#
                              Note: If you are doing local development, you will probably
                                need to change this url to point at the dev API:
                                url: 'http://geneweaver-dev.jax.org/api/genesets/{{ geneset.geneset_id }}/threshold',
                             #}
                            url: '../api/genesets/{{ geneset.geneset_id }}/threshold',
                            contentType: 'application/json',
                            data: JSON.stringify(newTresh),
                            dataType: 'json',
                            headers: {
                                'Authorization': `Bearer ${access_token}`
                            },
                            success: function (data) {

                                location.reload();

                            }
                        });
                    });
                });
            </script>

            {%  if threshold_type != 3 %}
                <script>
                    // *** Logic and functions for Plotly Histogram

                    // Set threshold values for histogram
                    var threshold_min = document.getElementById('t_min');
                    var threshold_max = document.getElementById('t_max');
                    var x = {{ gsv_values }};
                    var threshold_type = {{ threshold_type }};
                    var thresh_low = 0;
                    var thresh_high = 0;

                    // Determine selected range for the histogram
                    if (threshold_type === 4 || threshold_type === 5) {
                        thresh_low = {{ threshold_low }};
                        thresh_high = {{ threshold_high }};
                    }else{
                        thresh_low = {{ minVal }};
                        thresh_high = {{ threshold_low }};
                    }

                    var selected_x = [];

                    //calculate index of selected values
                    index_min = x.findIndex(n => n >= parseFloat(thresh_low));
                    index_max = x.findLastIndex(n => n > parseFloat(thresh_low) && n <= parseFloat(thresh_high));
                    for (var i = index_min; i <= index_max; i++) {
                        selected_x.push(i);
                    }

                    // Function to select points
                    function setSelectPoints(plotElement, indices) {
                      Plotly.restyle(plotElement, {
                        selectedpoints: [indices],
                        selected: {
                         marker: {
                            color: '#ff0000'
                         }
                        }
                      });
                      //update gene count display
                      displaySelectedGeneCount(indices.length);
                    }

                    //function to display selected gene count
                    function displaySelectedGeneCount(count) {
                        elem = document.getElementById('selectedGeneCount');
                        if (elem !== null){
                            elem.innerHTML =  '<b>Number of Genes in Selected Threshold:</b> ' + count;
                        }
                    }

                    // Set properties for Plotly histogram
                    var v_min = {{ gsv_values[0] }};
                    var v_max = {{ gsv_values[-1] }};
                    var x_bin_size = 0.5;
                    if (v_max - v_min < 100) { x_bin_size = 0.1 };
                    if (v_max - v_min < 1) { x_bin_size = 0.01 };
                    var x_bin_conf = {};
                    if (threshold_type === 4 || threshold_type === 5) {
                        x_bin_conf = {size: x_bin_size}
                    } else {
                        x_bin_conf = {start:0, size: x_bin_size}
                    }

                    //buttons to remove from plotly bar
                    var btns2rm = [ 'toggleSpikelines',  'lasso2d', 'hoverClosestCartesian', 'hoverCompareCartesian']
                    if (threshold_type == 1 || threshold_type == 2) {
                        //box select tool is not needed for p-value and q-value threshold types
                        btns2rm.push('select2d');
                    }

                    var x = {{ gsv_values }};

                    var trace = {
                        x: x,
                        type: 'histogram',
                        opacity: 0.75,
                        xbins: x_bin_conf
                      };

                    var p_data = [trace];

                    var p_layout = {
                          title: {
                            text: "Geneset Values Histogram"
                          },
                          xaxis: {
                              title: {
                                  text: "Threshold Range"
                              }
                          },
                          yaxis: {
                              title: {
                                  text: "Gene Count"
                              },
                              fixedrange: true
                          },
                          selectdirection: 'h'
                    };

                    var p_config = {
                        responsive: true,
                        displayModeBar: true,
                        displaylogo: false,
                        modeBarButtonsToRemove: btns2rm,
                        scrollZoom: true
                      }

                    //Set the plot into the div element
                    var myPlot = document.getElementById('myHisPlot');
                    Plotly.newPlot(myPlot, p_data, p_layout, p_config);

                    // Callback function for selected points using Box Select tool
                    // only for correlation and effect threshold types
                    if (threshold_type == 4 || threshold_type == 5) {
                        myPlot.on('plotly_selected', function (data) {

                            var geneCount = 0;
                            for (var i = 0; i < data.points.length; i++) {
                                geneCount = data.points[i].pointIndices.length + geneCount;
                            }
                            //update gene count display
                            displaySelectedGeneCount(geneCount);

                            if (data !== undefined) {
                                threshold_min.value = data.range.x[0];
                                threshold_max.value = data.range.x[1];
                            }

                        });
                    }

                    // callback function to set selected points using input fields
                    function set_histogram_threshold_range(min_val, max_val) {
                       if (min_val < v_min) {
                           index_min = 0;
                       } else {
                           index_min = x.findIndex(n => n >= parseFloat(min_val));
                       }

                       if (max_val > v_max) {
                           index_max = x.length - 1;
                       } else {
                           index_max = x.findLastIndex(n => n >= parseFloat(min_val) && n <= parseFloat(max_val) );
                       }
                       if (index_min != -1 && index_max != -1) {
                           selected_x = [];
                           for (var i = index_min; i <= index_max; i++) {
                                selected_x.push(i);
                           }
                           setSelectPoints(myPlot, selected_x)
                       } else {
                           //Index for values will not be found in histogram data
                           //update histogram selection and gene count display to 0
                           setSelectPoints(myPlot, [])
                           displaySelectedGeneCount(0);
                           console.log('Threshold values not found in histogram', 'index_min:', index_min, 'index_max:', index_max);
                       }
                    }

                    // Callback function for selected points using input fields
                    if (threshold_type == 4 || threshold_type == 5) {
                        threshold_min.addEventListener("change", (event) => {
                           set_histogram_threshold_range(threshold_min.value, threshold_max.value)
                        });
                        threshold_max.addEventListener("change", (event) => {
                           set_histogram_threshold_range(threshold_min.value, threshold_max.value)
                        });
                    } else {
                        // set callback functions for threshold buttons
                        thresh01 = document.getElementById('setThresh01');
                        thresh05 = document.getElementById('setThresh05');
                        thresh001 = document.getElementById('setThresh001');
                        thresh0001 = document.getElementById('setThresh0001');

                        saveBtns = [thresh01, thresh05, thresh001, thresh0001];

                        thresh_man = document.getElementById("t_man");
                        thresh_man.addEventListener("change", (event) => {
                            min = thresh_low;
                            max = thresh_man.value;
                            if (max > 1 || max < 0) {
                                document.getElementById('p_q_limit_msg').innerHTML = '* Threshold value must be between 0 and 1';
                                thresh_man.value = ''
                                return;
                            } else {
                                document.getElementById('p_q_limit_msg').innerHTML = '';
                            }

                            set_histogram_threshold_range(min, max);
                        });
                    }

                    //Initial call to set selected points on the histogram
                    setSelectPoints(myPlot, selected_x);

                </script>

            {%  endif %}

        {% endif %}

    </div>

{% endif %}

{% include 'footer.html' %}
