{% set title="Geneset Details" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}


{% if geneset.geneset_id is not defined %}

    <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
        The GeneSet that you are looking for does not exist or you do not have permission to view its properties.
        <p>
            {% if user_id != 0 %}
                <p>You may also want to check your group permission settings.</p>
                <a href="/accountsettings.html">
                    <button type="button" class="btn btn-danger m-t-10 m-r-10" id="acount-redirect">Account Settings
                    </button>
                </a>
            {% else %}
                <a href="/login.html">
                    <button type="button" class="btn btn-danger m-t-10 m-r-10" id="login-redirect">Login</button>
                </a>
                <a href="/register.html">
                    <button type="button" class="btn btn-default m-t-10">Or Create a New Account</button>
                </a>
            {% endif %}
        </p>
    </div>

{% else %}

    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>GeneSet Information</strong></h2>
    </div>




    <div class="panel panel-default">
    <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h3 class="panel-title">
            {% if geneset.cur_id == 1 %}
                <span class="tier1" style="vertical-align: middle">Tier I</span>
            {% endif %}
            {% if geneset.cur_id == 2 %}
                <span class="tier2" style="vertical-align: middle">Tier II</span>
            {% endif %}
            {% if geneset.cur_id == 3 %}
                <span class="tier3" style="vertical-align: middle">Tier III</span>
            {% endif %}
            {% if geneset.cur_id == 4 %}
                <span class="tier4" style="vertical-align: middle">Tier IV</span>
            {% endif %}
            {% if geneset.cur_id == 5 %}
                <span class="tier5" style="vertical-align: middle">Tier V</span>
            {% endif %}
            GS{{ geneset.geneset_id }} - {{ geneset.name }}</h3>
    </div>

    <!-- View GeneSet MetaData -->
    {% include 'viewGenesetMeta.html' %}

    <!-- Show the Geneset List -->
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h3 class="panel-title">Gene List</h3>
        </div>
        <div class="panel-body">
            <!-- TODO make the table sortable, show more gene details -->
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Gene Symbol</th>
                    <th>LinkOuts</th>
                    <th>Data Value</th>
                    <th>Emphasis</th>
                </tr>

                {% for geneset_value in geneset.geneset_values %}
                    <tr>
                        <td>
                            <!-- TODO Determine how to show gene with multiple sources listed -->
                            <a href="/search/?searchbar={{ geneset_value.source_list[0] }}&pagination_page=1&searchGenes=yes">{{ geneset_value.source_list[0] }}</a>
                        </td>
                        <td>
                            <!-- TODO Insert outside links here -->
                            {% set gene=geneset_value.source_list[0] %}
                            {% include 'linkouts.html' %}
                        </td>
                        <td>
                            {{ geneset_value.value }}
                        </td>
                        <td>
                            <input type="checkbox" name="g_id[]" id="{{ geneset_value.ode_gene_id }}"
                                   onclick="emphasize('{{ geneset_value.ode_gene_id }}');" class="table-checkbox"/>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}

    <!-- <body onload="myFunction()"> -->

    <script type="text/javascript">
        function emphasize(id) {
            if (document.getElementById(id).checked) {
                $.get("/emphasize/" + id + ".html", function (data, status) {
                });
            }
            else {
                $.get("/deemphasize/" + id + ".html", function (data, status) {
                });
            }
        }
        
        $(document).ready(function () {
            var gs_id = {{ geneset.geneset_id }};
            $('#exportData').on('click', function (e) {
                window.open('../exportGeneList/' + gs_id);
            });

            $('#viewSimilarGenesets').on('click', function (e){

                window.open('../viewSimilarGenesets/' + gs_id + '/tier', "_self");
            });

            });
        //});


    </script>

{% endif %}

{% include 'footer.html' %}
