{# 	This page is injected into analyze.html--really it's included in
	singleProject.html, which is rendered by flask and then injected. Anyway,
	it seems like the beginning element on this page MUST be a row (<tr>), 
	otherwise jQuery will discard all rows and cells when this page is appended
	to a table in analyze.html.
#}

<tr class="genesetdetails" id="{{ gs.geneset_id }}">

    {% if proj is defined %}
        <td width="40px">
            <div class="ui-checkbox" style="padding: 0; border: 0;" align="center">
                <label for="geneset_{{ gs.geneset_id }}">
                    <input type="checkbox" name="geneset_{{ gs.geneset_id }}" data-project="{{ proj.project_id }}"
                           data-parentproject="{{ proj.project_id }}"
                           class="proj-{{ proj.project_id }}-check"
                           id="geneset_{{ gs.geneset_id }}"/>
                </label>
            </div>
            {#
            <input
                    data-parentproject="{{ proj.project_id }}"
                    type="checkbox"
                    name="geneset_{{ gs.geneset_id }}"
                    class="table-checkbox proj-{{ proj.project_id }}-check"
                    style="margin: 2px; padding: 0px 2px;">
            #}

        </td>
    {% endif %}

    {# 
		Used to select genesets from the search results page. Should only be
		shown on the search page. render_search_json added to prevent
		checkboxes disappearing as a user is flipping through paginated results.
	#}
    {% if request.endpoint == "render_searchFromHome" or  request.endpoint == "render_search_json" %}
        <td>
            <input type="checkbox" class="search-check" id="gs-check-{{ gs.geneset_id }}">
            <label class="checkbox" for="gs-check-{{ gs.geneset_id }}"></label>
        </td>
	{% endif %}

    <td>

        <!-- Label the tier - which is the curation id, Geneset.cur_id -->
        {% if gs.cur_id == 1 %}
            <span class="tier1">Tier I</span>
        {% endif %}
        {% if gs.cur_id == 2 %}
            <span class="tier2">Tier II</span>
        {% endif %}
        {% if gs.cur_id == 3 %}
            <span class="tier3">Tier III</span>
        {% endif %}
        {% if gs.cur_id == 4 %}
            <span class="tier4">Tier IV</span>
        {% endif %}
        {% if gs.cur_id == 5 %}
            <span class="tier5">Tier V</span>
        {% endif %}
    </td>

    <td><span id="sp-tag-{{gs.geneset_id}}"></span>
    </td>

    <td>
        <!-- Show the geneset size -->
        <strong>{{ gs.count }}</strong>
    </td>

    <td>
		<!-- Label the attribution -->
		{% if not gs.attribution or gs.attribution == 1 or not attribs %}
			{# nothing! #}
		{% else %}
			<span class="att-{{ attribs[gs.attribution] }}">
			</span>
		{% endif %}

    </td>




    <td width="60%">

        <a href="/viewgenesetdetails/{{ gs.geneset_id }}">GS{{ gs.geneset_id }}: {{ gs.name }} </a>
        <!-- need status for if not normal -->
        {% if gs.status != "normal" %}
            <span class="gs_status gs_{{ gs.status }}"
                  title="This GeneSet has been marked as {{ gs.status }}">{{ gs.status }}</span>

            <script>
                // This fixes the deprecated tags which weren't rendering properly
                // due to the gs_ids attached at the end.
                $('.gs_status').each(function (index) {

                    var dep = '{{gs.status}}';

                    if (dep.slice(0, 2) === 'de') {

                        $(this).attr('class', 'gs_deprecated');
                        $(this).attr('title', 'This GeneSet has been marked ' +
                        'as deprecated.');
                        $(this).html('Deprecated');
                    }
                });
            </script>
        {% endif %}
    </td>


    {% if g.user is defined %}
        {% if proj is defined %}
            <td>
                <span id="add-{{ gs.geneset_id }}-button" data-toggle="tooltip"
                      data-rel="tooltip" data-original-title="Add Gene Set to Projects"
                      data-target="#addModal_{{ gs.geneset_id }}"
                      data-proj-id="{{ proj.project_id }}" data-gs-id="{{ gs.geneset_id }}"
                      class="addgs-to-project">
                    <i class="fa fa-folder-o"></i>
                </span>
            </td>
        {% endif %}
    {% endif %}

    {# only want to display this from the projects page. This is not the correct way...#}
    {% if request.endpoint == "render_project_genesets" %}

        {% if g.user is defined %}
            {% if proj is defined %}
                <td>
                    <span id="remove-geneset-{{ gs.geneset_id }}" data-toggle="tooltip"
                          data-rel="tooltip" data-original-title="Remove Gene Set From Project"
                          data-target="#removeModal_{{ gs.geneset_id }}"
                          data-proj-id="{{ proj.project_id }}" data-gs-id="{{ gs.geneset_id }}"
                          class="remove-from-project">
                        <i class="fa fa-trash-o"></i>
                    </span>

                    {% include 'modal/removeGenesetFromProject.html' %}
                </td>
            {% endif %}
        {% endif %}

    {% endif %}

    <td>

            <span class="rowExpand" 
            {% if proj is defined %}
                  data-placement="top" data-toggle="tooltip"
				  data-rel="tooltip" 
                  data-original-title="View More Information"
				  title="More Information" 
            {% endif %}
                  style="margin: 2px; padding: 0px 2px;">
                <span id="onGenesetMinus_{{ gs.geneset_id }}" 
                      style="display: none; color: #808080;">
                    <i class="fa fa-minus"></i>
                </span>
				<span id="offGenesetPlus_{{ gs.geneset_id }}" 
                      style="color: #808080;">
                    <i class="fa fa-plus"></i>
                </span>
			</span>

    </td>

</tr>

<!-- ##################### Geneset MetaContent #################3-->
<tr id="genesetdetails_{{ gs.geneset_id }}" style="display: none;">
    <td colspan="100%">

        <table class="table table-hover table-striped">

            <tr>
                <th style="width: 25%;">Figure Label:</th>
                <td style="width: 75%;">{{ gs.abbreviation }}</td>
            </tr>

            <tr>
                <th>Description:</th>
                <td id="desc_{{gs.geneset_id}}">
                    {{ gs.description }}
                </td>
            </tr>

            <!-- TODO account for null authors, get Publication info -->
            <tr>
                <th>Authors:</th>
                <td><i>
                    {% if gs.publication is defined and gs.publication.authors is defined %} 
                        {{ gs.publication.authors }} 
                    {% else %}None{% endif %}
                </i></td>
            </tr>

        </table>
    </td>
</tr>
<!-- ###################### End ##########################-->

<style type="text/css">

    .rowExpand, .rExpand {
        cursor: pointer;
    }

    .addgs-to-project, .remove-from-project {
        cursor: pointer;
        color: #808080;
        margin: 2px;
        padding: 0px 2px;"
    }

</style>

<!-- Script for adding geneset to selected projects-->
<script type="text/javascript">

    // Dynamically generates a colored species tag using an sp_id/sp_name
    // association list from the DB. The function normalizes sp_id just in
    // case species have been removed and gaps exist between IDs. The original
    // colors for GW's first six species are still used, the rest are based off
    // ColorBrewer scale combinations.

    $(function() {
        var gsid = {{gs.geneset_id}};
        var spid = {{ gs.sp_id }};
        // The alist returned by the server should already be sorted
        var splist = {{ species|tojson|safe }};
        var spname = '';
        // Extra element padding since sp_ids are not zero indexed
        var colors = ['', '#fae4db', '#f9fac5', '#b5faf5', '#fae3e9', '#f5fee1', '#f4dfff',
                      '#78c679', '#41b6c4', '#7bccc4', '#8c96c6', '#fc8d59'];
        var borders = ['', '#eeb44f', '#d7c000', '#44fcf7', '#fca5b7', '#8fcb0a', '#b4d1fb',
                       '#41ab5d', '#1d91c0', '#4eb3d3', '#8c6bb1', '#ef6548'];

        for (var i = 0; i < splist.length; i++) {
           if (spid === splist[i][0]) {
               spid = i;
               spname = splist[i][1];
               break;
           }
        }

        // Elissa mentioned we shouldn't use common, pleb names for species
        // (and that monkey isn't technically a species), so these are replaced
        // with abbreviations.
        spname = spname.split(' ');

        // Mus musculus and Macaca mulatta have the same abbreviation
        if (spname[1].slice(0, 3) == 'mul')
            spname = spname[0][0].toUpperCase() + '.' + 'mul' + '.';
        else
            spname = spname[0][0].toUpperCase() + spname[1][0].toLowerCase() + '.';

        var tag = '<span class="group_name" style="font: italic 10px/14px Georgia, serif; background-color:' + colors[spid] +
                  '; border:1px solid ' + borders[spid] + '">' +
                  spname + '</span>';
        $('#sp-tag-' + gsid).html(tag);
    });


    function toggleDetails(id) {
        var element = document.getElementById(id);

        if (element.style.display == "none")
            element.style.display = "block";

        else if (element.style.display == "")
            element.style.display = "block";

        else
            element.style.display = "none";
    }

    $('.remove-from-project').on('click', function() {
        var projID = $(this).attr('data-proj-id');
        var gsID = $(this).attr('data-gs-id');
        $("#projID").html(projID);
        $("#gsID").html(gsID);
        $("#removeModal-" + projID + "-" + gsID).modal('show');
    });

    $('.addgs-to-project').on('click', function () {
        var projId = $(this).attr('data-proj-id');
        var gsId = $(this).attr('data-gs-id');
        var geneset = 'GS' + $(this).attr('data-gs-id');

        $("#myModalLabel").val(geneset);
        $("#gsID").val(gsId);
        $("#projID").val(projId);
        $("#addToProjectModal").modal('show');
    });

    //pass remove modal values to function
    function removeSelected(geneset_id, proj_id) {
        $.ajax({
            type: "GET",
            url: "../removeGenesetFromProject",
            data: {"gs_id": geneset_id, "proj_id": proj_id},
            success: function (data) {
                location.reload();
                $(document).trigger("add-alerts", [{
                    'message': "Gene set successfully removed from project.",
                    'priority': 'success'
                }]);
            }
        });
    }

    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    $(document).ready(function () {

        $(".rowExpand").on('click', function (event) {

            event.stopImmediatePropagation();

            var childId = $(this).parents("tr").prop("id");

            // So for some reason this class is added to the 
            // <td colspan="100%"> element that's part of the GS metacontent
            // row. BUT, this only happens on the search page. It's what is
            // causing the text/content to overflow out of the search results
            // borders. Idk why it's getting added so this doesn't solve the 
            // root of the problem but fixes the overflow bug.
            $("#genesetdetails_" + childId)
                .children('td')
                .removeClass('force-table-responsive');

            var visible = $("#genesetdetails_" + childId).is(":visible");

            $("#genesetdetails_" + childId).toggle();
			$("#offGenesetPlus_" + childId).toggle();
			$("#onGenesetMinus_" + childId).toggle();

            if (!visible) {

                $('#offGenesetPlus_' + childId)
                    .parent()
                    .attr('data-original-title', 'Less Information');
                        
            } else {

                $('#offGenesetPlus_' + childId)
                    .parent()
                    .attr('data-original-title', 'More Information');
            }
        });
    });

    //Wanted to display the number of checked boxes. Not playing nicely with select all from project
    //$("input:checkbox").change(function() {
    //        var num_checked = $("*[id^=geneset_]:checked").length;
    //        alert(num_checked);
    //});

</script>


