{% set title="GeneSet Details" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

<style type="text/css">
    .geneBox {
        padding: 7px;
        display: inline-block;
        border: 1px solid #000;
        vertical-align: middle;
    }

    #clickableHomology {
        cursor: pointer;
    }

    #clickablePriority {
        cursor: pointer;
    }

    #clickableGeneSymbol {
        cursor: pointer;
    }

    .loader {
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        /* IE 5-7 */
        filter: alpha(opacity=40);
        /* Netscape */
        -moz-opacity: 0.4;
        /* Safari 1.x */
        -khtml-opacity: 0.4;
        /* Good browsers */
        opacity: 0.4;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../static/images/loading24.gif') 50% 50% no-repeat rgb(249,249,249);
    }

</style>

{% if no_access is defined %}

    {% include 'htmlfragments/genesetPermissionError.html' %}

{% elif deleted is defined %}

    {% include 'htmlfragments/genesetNotFound.html' %}


{% else %}

    <div class="loader"></div>

    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>GeneSet Information</strong></h2>
    </div>

    {% if 'deprecated' in geneset.status %}
        <div id="deprecated-message" class="alert alert-danger fade in" style="text-align:center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="false">
                &times;
            </button>
            This GeneSet has been deprecated. An updated version can be found 
            <strong>
                <a id="deprecated-link" href="">here.</a>
            </strong>
        </div>
    {% endif %}

    <div class="panel panel-default">
        {% include 'htmlfragments/curIDBoxes.html' %}

    <!-- View GeneSet MetaContent -->
    {% include 'viewGenesetMeta.html' %}

    <!-- Show the Geneset List -->
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h3 class="panel-title">Gene List &bull; {{ geneset.geneset_values|length }} Genes</h3>
        </div>
        <div class="panel-body" style="padding-top:10px;">

            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                    </div>
                </div>
                <div class="col-xs-6 col-md-3" style="margin:0; padding:0;">
					{% if g.user is defined and not curation_view %}
					<button type="button" class="btn btn-block btn-warning" id="addNewGeneset" style="margin-bottom: 10px;">
						<i class="fa fa-list-ul pull-left"></i> Add Genes to GeneSet
					</button>
					{% endif %}
                </div>
            </div>

            <div class="row">
                <!-- TODO make the table sortable, show more gene details -->
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th><a href="/viewgenesetdetails/{{ geneset.geneset_id }}?sort=symbol"><i class="fa fa-sort"></i></a> Default</th>
                        <th>
                            <a href="/viewgenesetdetails/{{ geneset.geneset_id }}?sort=alt">
                                <i class="fa fa-sort"></i>
                            </a>

							<span class="dropdown">
	
								<span id="clickableGeneSymbol"
									  data-toggle="dropdown" 
									  aria-haspopup="true"
									  aria-expanded="true">

									<span id="altSymbolHeader">
										{{ altGeneSymbol }}
									</span>
									<i id="type-loading" class="fa fa-caret-down"></i>

								</span>

								{# 
									TODO: Should be rewritten to dynamically
									load gene types from the DB
								#}
								<ul class="dropdown-menu"
									aria-labelledby="clickableGeneSymbol">
									<li class="gene-type" rel="0"><a tabindex="0" class="" style="">
										<span class="text">Gene Symbol</span>
									</a></li>
									<li class="gene-type" rel="1"><a tabindex="0" class="" style="">
										<span class="text">Entrez</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">Ensembl Gene</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">UniGene</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">MGI</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">FlyBase</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">WormBase</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">RGD</span>
									</a></li>
									<li class="gene-type" rel="2" class="selected"><a tabindex="0" class="" style="">
										<span class="text">ZFIN</span>
									</a></li>
								</ul>
							</span>
                        </th>
                        <th>
                            Homology 
                            <span id="clickableHomology" tabindex="0" data-trigger="focus">
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </th>
                        <th><a href="/viewgenesetdetails/{{ geneset.geneset_id }}?sort=value"><i class="fa fa-sort"></i></a> Score</th>
                        <th>
                            <a href="/viewgenesetdetails/{{ geneset.geneset_id }}?sort=priority">
                                <i class="fa fa-sort"></i></a> Priority
                            <span id="clickablePriority" data-trigger="focus" tabindex="0">
                                <i class="fa fa-info-circle"></i>
                            </span>
                        </th>
                        <th>LinkOuts</th>
                        <th>Emphasis</th>
                        <th>&nbsp;</th>
                    </tr>

                    {% for geneset_value in geneset.geneset_values %}
                            <tr class="gene-list-row">
                                <td id="defaultSymbol">
                                    <strong>
                                        <a href="/search/?searchbar={{ geneset_value.source_list[0] }}&pagination_page=1&searchGenes=yes">
                                            {{ geneset_value.source_list[0] }}
                                        </a>
                                    </strong>
                                </td>
                                <td id="altSymbol" class="gene-symbol" ode-gene-id="{{ geneset_value.ode_gene_id }}">
                                    {# If the alternate ID type the user selected doesn't match the one belonging
                                       to the geneset_value, it means no alternate type exists for that gene and a
                                       default was used instead. #}
                                    {% if geneset_value.gdb_id == alt_gdb_id %}
                                            <strong>
                                                {{ geneset_value.ode_ref }}
                                            </strong>
                                    {% else %}
                                        <strong>
                                            None
                                        </strong>
                                    {% endif %}
                                </td>
                                <td>
                                    {# Make boxes for homology blocks #}
                                    {# see application.py for the list of species and colors #}
                                    {% for i in range(1,12) %}
                                        {# skip elements that are empty #}
                                        {% if tt[(i-1)] != 'empty' %}
                                            <span data-placement="top" data-toggle="tooltip" data-rel="tooltip" data-original-title="{{ tt[(i-1)] }}"
                                                  title="{{ tt[(i-1)] }}">
                                            {% set exists = ['1'] %}
                                            {% for h in geneset_value.hom|sort %}
                                                {% if h == i %}
                                                    <div class="geneBox" style="background-color: {{ colors[(i-1)] }};"></div>
                                                    {% if exists.append('1') %}{% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if exists|length == 1 %}
                                                <div class="geneBox"></div>
                                            {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td class="gene-value">
                                    <strong>
                                        {{ '%0.4f' % geneset_value.value|float }}
                                    </strong>
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped"
                                             data-aria-valuetransitiongoal="{{ '%.0f' % geneset_value.gene_rank|float }}"
                                             aria-valuenow="{{ '%.0f' % geneset_value.gene_rank|float }}"
                                             style="width: {{ '%.0f' % geneset_value.gene_rank|float }}%;">
                                            {{ '%.0f' % geneset_value.gene_rank|float }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- TODO Insert outside links here -->
                                    {% set gene=geneset_value.source_list[0] %}
                                    {% include 'linkouts.html' %}
                                </td>

                                <td nowrap>
                                    <input type="checkbox" name="g_id[]" id="{{ geneset_value.ode_gene_id }}"
                                           onchange="emphasize('{{ geneset_value.ode_gene_id }}');"
                                           class="switch" data-size="mini"
                                           style="padding: 0px; vertical-align: middle;">

                                </td>
                                <td>
                                    <div class="ui-checkbox" style="padding: 0; border: 0; margin: 0;">
                                        <label for="addGeneset{{ geneset_value.source_list[0] }}"
                                               style="margin: -6px; padding-right: 0;">
                                            <input type="checkbox" name="gsoptions[]"
                                                   id="addGeneset{{ geneset_value.source_list[0] }}"
                                                   value="{{ geneset_value.source_list[0] }}"/>
                                        </label>
                                    </div>
                                </td>
                            </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}



    <!-- <body onload="myFunction()"> -->
	<iframe id="ie-export" style="display:none;">
	</iframe>

    <script type="text/javascript" src="/static/js/geneweaver/tags.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            {% if species %}
                makeSpeciesTags({{ species | tojson | safe }}, true);
            {% else %}
                makeSpeciesTags();
            {% endif %}
        });

        $("[name='g_id[]']").bootstrapSwitch();

        $(window).load(function() {
	        $(".loader").fadeOut("slow");
        });

        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });

        $('#clickableHomology').popover({
                title: 'Homology Mapping', content: 'The colored boxes represent gene homology mappings to other species ' +
                'within GeneWeaver. Mouseover the boxes to reveal species names.'
        });

        $('#clickablePriority').popover({
                title: 'Percentile Priority Rank', content: 'All genes within GeneWeaver are ranked according to global ' +
                'graph centrality. A full description can be found <a href="http://www.geneweaver.org/wiki">here</a>.',
                html: 'true'
        });

        $('#clickableGeneSymbol').on('click', function (e) {
			//$("#selectGeneDisplayType").modal('show');
        });



        function emphasize(id) {
            if (document.getElementById(id).checked) {
                $.get("/emphasize/" + id + ".html", function (data, status) {
                });
            }
            else {
                $.get("/deemphasize/" + id + ".html", function (data, status) {
                });
            }
        }

        $(document).ready(function () {

            var gs_id = {{ geneset.geneset_id }};
			var user_id = {{ user_id }};

            {% if 'deprecated' in geneset.status %}

                var status = '{{ geneset.status | safe }}';
                var gsId = status.split(':')[1];

                if (!gsid) {
                    $('#deprecated-message').hide();
                else
                    $('#deprecated-link').attr('href', '/viewgenesetdetails/' + gsId);
                }

            {% endif %}

			// The right side button 'Add to Project'
            $('#addToProject').on('click', function (e) {

				var modal = $('#myModalValue').val();
				var npn = $('#newProjName').val();
				var geneset = 'GS' + gs_id;

				console.log(geneset);
				// Alter the modal text a bit since we're only adding a single
				// geneset, not several which is the default.
				$('#addToProjectModal').find('.modal-title')
					.html('Add GeneSet to Project(s)');
                $("#myModalValue").val(geneset);
                $("#modal-label").html(geneset);
				$('#addToProjectModal').modal('show');
            });

			// The 'add to selected projects' button on the modal
            $('#addGenesetsToProjects').on('click', function (e) {
                var checked = [];

                $("input[name='options[]']:checked").each(function () {
                    checked.push(parseInt($(this).val()));
                });

                var option = JSON.stringify(checked);
                var g = $('#myModalValue').val();
                if ($('#newProjName').val().length > 0) {
                    var npn = $('#newProjName').val();
                }

                if ($.isEmptyObject(checked) && $.isEmptyObject(npn)){
                    $("#result").html('<div class="alert alert-danger fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>No Projects Were Selected</div>');
                } else {
                    $.ajax({
                        type: "GET",
                        url: "../addGenesetsToProjects",
                        data: {"user_id": user_id, "npn": npn, "gs_id": g, "option": option},
                        success: function (data) {
                            $("#result").html('<div class="alert alert-success fade in"> ' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                                    '</button>Geneset(s) Successfully Added to Selected Project(s)</div>');
                        }
                    });
                }
            });

			// The button for this is found on the addGenesetsToProjects modal
			$('#addNewProject').on('click', function () {
				$('#reveal-if-active').toggle();
			});

			// Generates a text version of the gene/value list using the 
			// currently selected alternate ID. 
            $('#exportData').on('click', function (e) {
                // window.open('../exportGeneList/' + gs_id);
				var exports = '';
				var exportURL = 'data:text/html, <body style="font:12px monospace;"><pre>' 

				$('.gene-list-row').each(function(){
					var symbol = $(this).children('.gene-symbol').text();
					var value = $(this).children('.gene-value').text();

					symbol = $.trim(symbol);
					value = $.trim(value);

					// Tabs and newlines
					exports += symbol + '%09' + value + '%0A';
				});

				exportURL += exports;

				// Determines if the browser is some IE version, which doesn't
				// support opening a new window with data: for "security" 
				// reasons. Typecasts results to a bool. 
				var isIE = !!navigator.appName.match(/Internet Explorer/);
				var isIE11 = !!navigator.userAgent.match(/Trident/);

				if (isIE || isIE11) {

					exports = exports.replace(/%09/g, '\t');
					exports = exports.replace(/%0A/g, '\r\n');

					var iframe = document.getElementById('ie-export');
					iframe = iframe.contentWindow || iframe.contentDocument;

					iframe.document.open('text/html', 'replace');
					iframe.document.write(exports);
					iframe.document.close();
					iframe.document.execCommand('SaveAs', true, 'data.tsv');

				} else {

					window.open(exportURL);
				}

            });

            $('#viewSimilarGenesets').on('click', function (e) {
                window.open('../viewSimilarGenesets/' + gs_id + '/0', "_self");
            });

            $('#deleteGeneset').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                $("#myGenesetDeleteLabel").html(gsid);
                $("#delModal").modal('show');
            });

            $('#editGeneset').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                {% if curation_view == 'curator' %}
                    window.location.href = '/curategeneset/edit/' +gsid;
                {% else %}
                    window.location.href = '../editgeneset/'+gsid;
                {% endif %}

            });

            $('#editGenesetGenes').on('click', function (e) {
                var gsid = {{ geneset.geneset_id }};
                {% if curation_view == 'curator' %}
                    window.location.href = '/curategenesetgenes/' +gsid;
                {% else %}
                    window.location.href = '../editgenesetgenes/' +gsid;
                {% endif %}
            });

            $('#setThreshold').on('click', function (e) {
               var gsid = {{ geneset.geneset_id }};
                window.location.href = '../setthreshold/' + gsid;
            });

            $('#confirmDelete').on('click', function (e) {
                $.ajax({
                    type: "GET",
                    url: "../deleteGeneset",
                    data: {"gs_id": {{ geneset.geneset_id }}, "user_id": {{ user_id }} },
                    success: function (data) {
                        window.setTimeout($("#result").html('<div class="alert alert-success fade in"> ' +
                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                        '</button>GeneSet successfully deleted</div>'), 5000);
                        window.location.href = '../mygenesets';
                    }
                });
            });

            //$('#selectGeneType').on('click', function (e) {
            $('.gene-type').on('click', function (e) {

				var geneType = $.trim($(this).text());

				$('#type-loading').attr('class', 'fa fa-cog fa-spin');

                $.ajax({
                    type: "GET",
                    url: "../updateAltGeneSymbol",
                    data: {"altSymbol": geneType, "gs_id": {{geneset.geneset_id}}, "user_id": {{ user_id }} },
                    success: function (genesetValues) {
                        genesetValues = JSON.parse(genesetValues);

                        for (var i = 0; i < genesetValues.length; i++) {

                            var gsv = genesetValues[i];
                            var odeId = gsv['ode_gene_id'];
                            var gdbId = gsv['gdb_id'];
                            var refId = gsv['ode_ref_id'];
                            var altId = gsv['alt_gene_id'];
                            // Should check if this is null and handle
                            var altElement = $.find('[ode-gene-id="' + odeId + '"]')[0];

                            $('#altSymbolHeader').html(geneType);

                            // Indicates an alternate ID type does exist for
                            // this particular gene
                            if (gdbId == altId)
                                $(altElement).html('<strong>' + refId + '</strong>');
                            else
                                $(altElement).html('<strong>None</strong>');

							$('#type-loading').attr('class', 'fa fa-caret-down');
                        }
                    }
                })

            });

            function handleError(data) {
                console.error("something bad happened: " + data.responseJSON.message);

                $(document).trigger("add-alerts", [
                    {
                        'message': data.responseJSON.message,
                        'priority': 'danger'
                    }
                ]);
            }

            {% if curation_view == 'curation_leader' and (curation_assignment.state == 1 or curation_assignment.state == 2) %}
                $('#assignCurator').on('click', function () {

                    // when we show the modal window, we don't want a group selected.
                    $("input:radio[name='curator']:checked").prop('checked', false).checkboxradio("refresh");

                    // submit button will be disabled until the user selects a group radio button
                    $('#assignToCurator').prop("disabled", true).button("refresh");
                    $('#assignGenesetToCuratorModal').modal('show');
                });

                $("input:radio[name='curator']").on('click', function () {
                    // submit button will be disabled until the user selects a curator
                    // radio button
                    $('#assignToCurator').prop("disabled", false).button("refresh");
                });


                $('#assignToCurator').on('click', function () {

                    var selectedUserId = $('input[name=curator]:checked').val();

                    var params = {
                        "note": $('#curationNotes').val(),
                        "gs_id": {{geneset.geneset_id}},
                        "curator": selectedUserId,
                    };

                    console.log(selectedUserId);
                    console.log(params);

                    $.post("{{ url_for('assign_curator_to_geneset') }}", params ,function(data) {

                        var curatorName  = data.curator_name;
                        var curatorEmail = data.curator_email;

                        var html =      "<strong>" +
                                        "This Geneset is Currently Assigned To " +
                                        curatorName + "(" + curatorEmail + "). " +
                                        "Are you sure you want to reassign it?" +
                                        "</strong>";


                        $('#alreadyAssignedWarning').html(html);

                    }, "json").fail(handleError);

                });

            {% elif curation_view == 'curator' and curation_assignment.state == 2  %}
                $('#readyForReview').on('click', function() {

                    var params = {
                        "note": $('#curationNotes').val(),
                        "gs_id": {{geneset.geneset_id}},
                    };

                    $.post("{{ url_for('geneset_ready_for_review') }}", params ,function(data) {
                        $('#readyForReview').prop("disabled", true).button("refresh");
                        $('#readyForReview').html('Pending Review');
                        $('#setThreshold').remove();
                        $('#editGeneset').remove();
                        $('#editGenesetGenes').remove();

                    }, "json").fail(handleError);
                });
            {% endif %}

		    console.log('done loading?');
        });

        $( document.body ).on( 'click', '#geneSymbol li', function( event ) {
        //WARNING: This function previously interfered with the dropdown menu
        //at the top of the page. I added IDs instead of classes. Seems to
        // work now
        $(this).parents('#geneSymbol').find( '.newName').text($(this).text())
                .end()
                .children( '.dropdown-toggle').dropdown( 'toggle');
        return false;
    });


	$('#addNewGeneset').on('click', function () {

		var checkedArray = [];
		$("input:checkbox[name='gsoptions[]']:checked").each(function(){
			//console.log($(this));
			checkedArray.push($(this).val());
		});

		if(typeof checkedArray != "undefined" && checkedArray != null && checkedArray.length > 0) {

			{# Assign the needed async_results variables #}
			var numGS = 0;
			// Genesets with newlines cause js to shit the bed and get stuck
			// in an infinite loading loop. Any variable replaced by jinja
			// should be safe'd and trimmed.
			var getStr = 'Genes dervied from the GeneSet: {{ geneset.name | safe | trim }}';
			getStr += '?' + getStr;

			// add in all the checked boxes gene names
			checkedArray.forEach(function (entry) {

				getStr += "?";
				getStr += entry;
				getStr += "?";
				getStr += '1';

			});

			// Load the new page with the extra url bit
			setTimeout(function(){
                window.location = "/uploadgeneset/" + getStr;
			}, 1000);
		}
		else{
			window.alert("No genes selected.")
		}
	});


    </script>

{% endif %}

{% include 'modal/addGenesetsToProjects.html' %}

{% include 'modal/deleteGeneset.html' %}

{% if curation_view == 'curation_leader' %}
    {% include 'modal/assignGenesetToCurator.html' %}
{% endif  %}

{% include 'footer.html' %}
