{% set title="Similar GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{# include the specific d3 js files here if required #}
<script src="/static/d3/d3.min.js" charset="utf-8"></script>


 <!-- css section. As a rule, try not to embed style within elements.-->
<style type="text/css">

    #clickableFontAwesome {

        cursor: pointer;
    }

    #intersection {

		margin: auto;
		width: 35%;
		padding: 10px;
    }

	.gene-circle {

		border: 1px solid black;
		border-radius: 50%;
		height: 20px;
		width: 20px;
	}

	.gene-exact {

		background-color: rgb(76, 178, 95);
	}

	.gene-homolog {

		background-color: rgb(135, 53, 53);
	}

	.gene-single {

		background-color: rgb(250, 235, 3);
	}

	.gs-link {

		color: #336600;
	}

	.gs-link:hover {

		color: #007f00;
	}

</style>


{% if user_id == 0 %}

    {% include 'htmlfragments/permissionError.html' %}

{% else %}

    <!-- Header for the Geneset Overlap page -->
    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>GeneSet Overlap</strong></h2>
    </div>


    <div class="panel panel-default">

        <div class="row">
            <div class="col-xs-12 col-md-9">

                <!-- Venn Diagram -->
                <div class="row">
                    <div id="legend">
                        <center>
                            <!-- Creates the div where the jaccard results of the overlap are displayed -->
                            <div id="venn">
                            </div>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>

	{#
    <!-- displays detailed data about the individual genesets -->
    {% for gs in genesets %}
    <!-- Label the tier - which is the curation id, Geneset.cur_id -->
    <input style="margin-top: 2px" type="checkbox" name="gs_id[]" value="{{ gs.geneset_id }}">
    <a style="margin-left:30px; font-size:18px;">
    {% include 'viewGenesetSummaryPartial.html' %}
    <br />

    {% endfor %}
    <!-- Creates options in html for the selecting the add to project -->
    <div id="project_selector">
    <input style="margin-top: 2px" type="checkbox" value="all" onclick="ODE.select_all(this.checked, 'gs_id[]');">
        <p style="margin-left:30px; font-size: 15px;"> Select All
        <select name="addToProject" onchange="javascript:handleSelect(this);">
            <option value="-1">Add selected to project...</option>
            {% for project in list %}
                <option value="{{project.project_id}}">{{project.name}} ({{project.count}})</option>
            {% endfor %}
            <option value="-2">+ Create new project...</option></select></p>
    </div>
	#}

    </br></br>

        <!-- Javascript for the select all to the project functionality -->
        <script type="text/javascript">
            function handleSelect(elm)
            {
                var genesets = []
                if (elm.value != "-1") {
                    if (elm.value == "-2") {
                        var name = prompt("Enter a name for the new project:");
                        $.get("/create_project/" + name + ".html", function (data, status) {
                            $('input:checkbox[name="gs_id[]"]').each(function () {
                                if (this.checked) {
                                    genesets.push(this.value);
                                }
                            });
                            if (genesets.length != 0) {
                                for (var i = 0; i < genesets.length; i++) {
                                    $.get("/add_geneset_to_project/" + data + "/" + genesets[i] + ".html");
                                }
                            }
                            else {
                                window.alert("Please select GeneSet(s) to add first!")
                            }
                        });
                    }
                    else {
                        $('input:checkbox[name="gs_id[]"]').each(function () {
                            if (this.checked) {
                                genesets.push(this.value);
                            }
                        });
                        if (genesets.length != 0) {
                            for (var i = 0; i < genesets.length; i++) {
                                $.get("/add_geneset_to_project/" + elm.value + "/" + genesets[i] + ".html", function (data, status) {
                                });
                            }
                        }
                        else {
                            window.alert("Please select GeneSet(s) to add first!")
                        }
                    }
                }
            }
    </script>

    <!-- Location for where the d3 is appended to in the html -->
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h3 class="panel-title">GeneSet Intersect</h3>
    </div>

    <!-- Displays the jaccard results for the intersection -->
    <div id="intersection"></div>
            
    
	{#
    <!-- Show the Geneset List at the intersection of the genesets -->
       {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}
	#}


<div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h3 class="panel-title">Gene List</h3>
    </div>
<br></br>
<div class="xfloatGeneList" align="center">

<style type="text/css">.containedGene {display: inline; } .containedHomology {display: inline;}</style>
<!-- Key for Venn Diagram displayed -->
<table cellspacing="0" style="font-size: 0.75em; width: 80%">
	{# 
		This is the set of header rows for the intersection table. This first
		row contains three header columns: one for the legend + gene symbol 
		text, another for the link outs and the last one for the first geneset
		in the intersection list. The first two headers span the entirety of 
		the header portion of the table (this span is dependent on the number 
		of genesets being displayed).
	#}
	<tr>
		<th rowspan="{{ gs_map.keys() | length }}" valign="bottom" style="width:20%;">
			<p style="font-size: 1em; font-weight: normal;">
				<div class="gene-circle gene-exact" style="display:inline-block; height:20px; width:20px;">
				</div> = Exact same gene in all sets<br />
				<div class="gene-circle gene-homolog" style="display:inline-block; height:20px; width:20px;">
				</div> = Homologous gene cluster<br />
			</p>
			<br />
			Gene Symbol
		</th>
		{#
		<th width="20%" rowspan="2" valign="bottom">
		#}
		<th rowspan="{{ gs_map.keys() | length }}" valign="bottom" style="width:20%;">
			Links
    	</th>

		{% for gs in gs_map.values() %}

			{# 
				All headers except theh first contain a column of empty space 
				and another with the geneset abbreviation.
			#}
			{% if loop.index0 != 0 %}
		<!-- Sets the labels to for the columns of the gene list -->
	</tr>
	<tr>
		<th width="2%" rowspan="{{ gs_map.keys() | length - loop.index0 }}" 
			style="border-left: 1px solid #000; border-bottom: none;
    		{% if (loop.index0 % 2) == 1 %} background-color: #eee; {% endif %}">
			&nbsp;
		</th>
			{% endif %}

		{# 
			While the first header row includes the legend, gene symbol text, 
			link out text, and a geneset abbreviation.
		#}
    	</th>
		<th align="left" colspan="{{ gs_map.keys() | length + 1 - loop.index0 }}" 
			style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: none;
    		{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %}
			text-align:center;">

    		<a class="gs-link" href="/viewgenesetdetails/{{gs.geneset_id}}">
				{{gs.abbreviation}}
			</a>
		</th>

		{% endfor %}

		</th>
	</tr>

	{% for intersect in intersects %}
		<tr>
			<td> {{ intersect.gene }} </td>
			<td class="gsIconBox" style="text-align: left;">
				{% set gene=intersect.gene %}
				{% include 'linkouts.html' %}
			 </td>

			{# This should be refactored. Takes roughly O(n * g^2) #}
			{% for gs in gs_map.values() %}

				{% if gs.geneset_id in intersect.gs_ids %}

					{% if intersect.is_homolog %}
						<td style="border-left:1px solid #000; padding:0.5em;
							{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %}" 
							valign="top">  
							<div class="gene-circle gene-homolog"></div>
						</td>
					{% else %}
						<td style="border-left:1px solid #000; padding:0.5em;
							{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %}" 
							valign="top">  
							<div class="gene-circle gene-exact"></div>
						</td>
					{% endif %}

				{% else %}
					<td style="border-left:1px solid #000; padding:0.5em; 
						{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %} 
						{% if loop.index != loop.length %} text-align:center; {% endif %}"
						valign="top">  
						<div style="height:20px; width:20px; display:inline-block;">
						<p> - </p>
						</div>
					</td>
				{% endif %}

			{% endfor %}
		</tr>

	{% endfor %}
<!-- Sets the maroon circles for homology or green circles for the same gene -->
	{% set j = 0 %}
	{% for genes in gene_sym %}
	<tr>
		<td class="{{genes}}">
         	<a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">
				{{ genes }}
			</a>
		</td>
		<td class="gsIconBox" style="text-align: left;">
        	{% set gene=genes %}

			{#
			{% include 'linkouts.html' %}
			#}

			{% for gs in genesets %}
         </td>
		 <td valign="top" style="border-left: 1px solid #000;
         	 {% if (j % 2) == 0 %} background-color: #fff; {% endif %} 
			 padding: 0.5em;">
				 {% if gene_sym[genes] == 0 %}
					<div class="containedGene">
						<img src="/static/images/greendot.png" alt="In GS{{gs.name}}" />
					</div>
				 {% else %}
					<div class="containedHomology">
						<img src="/static/images/purpledot.png" alt="In GS{{gs.name}}, with homology to {{genes}}" />
					</div>
				 {% endif %}
			 {% endfor %}
      	</td>
		<td width="250px">&nbsp;</td>
	</tr>
	{% endfor %}

	{#
<!-- Sets the yellow circles for the genes found only in geneset1 -->
	{% set j = 0 %}
	{% for genes in gene_sym_set1 %}
    <tr><td class="{{genes}}">
         <a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">{{genes}}</a></td><td class="gsIconBox" style="text-align: left;">
         {% set gene=genes %}
         {% include 'linkouts.html' %}
         </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
                <div class="containedGene"><img src="/static/images/yellowdot.png" alt="In GS"/></div>
                </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
                <div class="containedHomology"><img src=""/></div>
      </td><td width="250px">&nbsp;</td></tr>
{% endfor %}
<!-- Sets the yellow circles for the genes found only in geneset2 -->
{% set j = 0 %}
{% for genes in gene_sym_set2 %}
      <tr><td class="{{genes}}">
         <a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">{{genes}}</a></td><td class="gsIconBox" style="text-align: left;">
         {% set gene=genes %}
         {% include 'linkouts.html' %}
         </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
            <div class="containedGene"><img src=""/></div>
        </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
            <div class="containedGene"><img src="/static/images/yellowdot.png" /></div>
      </td><td width="250px">&nbsp;</td></tr>
{% endfor %}
	#}

</table>
</div>

<br />
<br />


<script type="text/javascript">
    // include all of your jquery here

    var circleData = [];
    //stores all the data to draw a circle
    var d = {{venn | safe}};
    //stores the jaccard value
    var jaccard = {{jaccard | safe}};
    //Stores the p value
    var pval = {{pval | safe }};
    //Stores the sizes of the sections of the venn diagram
    var vennOverlap = {{sizes | safe}};
    //Stores whether geneset1 has an emphasis gene
    var empInGeneset1 = {{gs1_emphasis | safe}};
    //Stores whether geneset1 has an emphasis gene
    var empInGeneset2 = {{gs2_emphasis | safe}};
    //Adds the circles to the circle data array
    if (d.circledata.r2 != d.circledata.r1){
        if (d.circledata.r2 < d.circledata.r1){
            if(empInGeneset2 == 1){
                circleData.push({
                        "cx": d.circledata.c1x,
                        "cy": d.circledata.c1y,
                        "radius": d.circledata.r1,
                        "fill": "chartreuse",
                        "opacity": 1,
                        "cxshift": 0,
                        "cyshift": 0,
                        "jaccard": jaccard
                    });

                circleData.push({
                                "cx": d.circledata.c2x,
                                "cy": d.circledata.c2y,
                                "radius": d.circledata.r2,
                                "fill": "#FF6666",
                                "opacity": 1,
                                "cxshift": 0,
                                "cyshift": 0,
                                "jaccard": jaccard

                           });

            }
            else if (empInGeneset1 == 1){
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "#DD99FF",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }
        else if ((empInGeneset1) == 1 && (empInGeneset2 == 1)){
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }
        else{
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "#DD99FF",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "#FF6666",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }
    }
        else{
            if(empInGeneset2 == 1){
                circleData.push({
                        "cx": d.circledata.c1x,
                        "cy": d.circledata.c1y,
                        "radius": d.circledata.r1,
                        "fill": "chartreuse",
                        "opacity": 1,
                        "cxshift": 0,
                        "cyshift": 0,
                        "jaccard": jaccard
                    });

                circleData.push({
                                "cx": d.circledata.c2x,
                                "cy": d.circledata.c2y,
                                "radius": d.circledata.r2,
                                "fill": "#FF6666",
                                "opacity": 1,
                                "cxshift": 0,
                                "cyshift": 0,
                                "jaccard": jaccard

                           });

            }
            else if (empInGeneset1 == 1){
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "#DD99FF",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }
        else if ((empInGeneset1) == 1 && (empInGeneset2 == 1)){
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "chartreuse",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }
        else{
            circleData.push({
                            "cx": d.circledata.c1x,
                            "cy": d.circledata.c1y,
                            "radius": d.circledata.r1,
                            "fill": "#DD99FF",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard
                        });

            circleData.push({
                            "cx": d.circledata.c2x,
                            "cy": d.circledata.c2y,
                            "radius": d.circledata.r2,
                            "fill": "#FF6666",
                            "opacity": 1,
                            "cxshift": 0,
                            "cyshift": 0,
                            "jaccard": jaccard

                       });
        }

        }
    }
    else{
        circleData.push({
                        "cx": d.circledata.c1x,
                        "cy": d.circledata.c1y,
                        "radius": d.circledata.r1,
                        "fill": "#66FFFF",
                        "opacity": 1,
                        "cxshift": 20,
                        "cyshift": 30,
                        "jaccard": jaccard
                    });
    }

    // Intializes border for circles
    var border = 1;
    var bordercolor = 'black';
    var width = 300;
    var height= 300;

      //Create the SVG Viewport
    var svgContainer = d3.select("#intersection").append("svg")
            .attr("width", width )
            .attr("height", height);

    //Add circles to the svgContainer
    var circles = svgContainer.selectAll("circle")
            .data(circleData)
            .enter()
            .append("circle");

     //Add the circle attributes
    var circleAttributes = circles
            .attr("cx", function (d) { return d.cx + d.cxshift + 50; })
            .attr("cy", function (d) {return d.cy + d.cyshift + 50; })
            .attr("r", function (d) {return d.radius; })
            .style("fill", function (d) { return d.fill; })
            .style("fill-opacity", function (d) {return d.opacity - .2})
            .attr("cxshift", function (d) {   return d.cxshift; })
            .attr("cyshift", function (d) {  return d.cyshift; })
            .style("stroke", bordercolor)
            .attr("border", border);

    textData = [{"tx": 110, "ty": 200}];

     //Add the SVG Text Element to the svgContainer
    var text = svgContainer.selectAll("text")
            .data(circleData)
            .enter();

    //Add the section sizes, jaccard value, and p value to the svgContainer
    if (d.circledata.r2 != d.circledata.r1){
        text.append("text")
            .text( function(d) { return "(" + vennOverlap[0] + " (" + vennOverlap[1] + ") " + vennOverlap[2] + ")"; })
            .attr("x", function (d) { return 100 ;})
            .attr("y",  function (d) { return 50; })
            .attr("font-size", "18px");
        text.append("text")
            .text( function(d) { return "J = "+ jaccard;})
            .attr("x", function (d) { return 115; })
            .attr("y", function (d) { return 255;  })
            .attr("font-size", "18px")
            .style("font-weight", "bold");
        text.append("text")
            .text( function(d) { return "p = " +pval;})
            .attr("x", function (d) { return 110; })
            .attr("y", function (d) { return 273;  })
            .attr("font-size", "18px")
            .style("font-weight", "bold");
    }
    else{
        text.append("text")
            .text( function(d) { return "(" + vennOverlap[1] + ")" ;})
            .attr("x", function (d) { return 108; })
            .attr("y", function (d) { return 50;  })
            .attr("font-size", "18px");
        text.append("text")
            .text( function(d) { return "J = "+ jaccard;})
            .attr("x", function (d) { return 100; })
            .attr("y", function (d) { return 255;  })
            .attr("font-size", "18px")
            .style("font-weight", "bold");
        text.append("text")
            .text( function(d) { return "p = " +pval;})
            .attr("x", function (d) { return 95; })
            .attr("y", function (d) { return 273;  })
            .attr("font-size", "18px")
            .style("font-weight", "bold");

    }




    function emphasize(id) {
        if (document.getElementById(id).checked) {
            $.get("/emphasize/" + id + ".html", function (data, status) {
            });
        }
        else {
            $.get("/deemphasize/" + id + ".html", function (data, status) {
            });
        }
    }

    //Adds the help icon text to the help button
    $('#clickableFontAwesome').popover({
        title: 'Caution', content: 'Some recently added GeneSets may ' +
        'not be on this list due to a lag time in calculating global Jaccard scores between all GeneSets in our database.'
    });

    $( "rExpand" ).click(function() {
      $( "genesetdetails" ).toggle();
    });



</script>


{% endif %}

{% include 'footer.html' %}
