    {# insert section about metadata #}
    {% include 'genesetMeta.html' %}

            {# Right Side List of Buttons #}

        <div class="col-xs-6 col-md-3">

            <button type="button" class="btn btn-lg btn-block btn-warning" id="exportData">
                <i class="fa fa-download pull-left"></i> Export Genes
            </button>
            <button type="button" class="btn btn-lg btn-block btn-warning" id="viewSimilarGenesets">
                <i class="fa fa-eye pull-left"></i> Similar GeneSets
            </button>
            <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
                <i class="fa fa-edit pull-left"></i> Edit GeneSet
            </button>
            <button type="button" class="btn btn-lg btn-block btn-danger" id="deleteGeneset">
                <i class="fa fa-trash-o pull-left"></i> Delete GeneSet
            </button>
        </div>

    </div>



</div>