{% set title="Similar Genesets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{# include the specific d3 js files here if required #}
<script src="/static/d3/d3.min.js" charset="utf-8"></script>


{# css section. As a rule, try not to embed style within elements. #}
<style type="text/css">

    #clickableFontAwesome {
        cursor: pointer;
    }

</style>



{% if user_id == 0 %}

    {% include 'htmlfragments/permissionError.html' %}

{% else %}


    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>GeneSet Overlap</strong></h2>
    </div>


    <div class="panel panel-default">

        <div class="row">
            <div class="col-xs-12 col-md-9">

                <!-- Venn Diagram -->
                <div class="row">
                    <div id="legend">
                        <center>
                            <div id="venn">
                                {# This is where the chart goes #}
                            </div>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Show the Geneset List at the intersection of the genesets -->
    <div class="panel panel-default">
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
            <h3 class="panel-title">All Genes in Both GeneSets &bull; {{ geneset.geneset_values|length }} Genes
                <span id="clickableFontAwesome"><i class="fa fa-info-circle"></i></span></h3>
        </div>

        <div class="panel-body">
            <!-- TODO make the table sortable, show more gene details -->
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Default</th>
                    <th>{{ altGeneSymbol }}<span id="clickableGeneSymbol"><i class="fa fa-gear"></i></span></th>
                    <th>Homology <span id="clickableHomology"><i class="fa fa-info-circle"></i></span></th>
                    <th>Value</th>
                    <th>Priority<span id="clickablePriority"><i class="fa fa-info-circle"></i></span></th>
                    <th>LinkOuts</th>
                    <th>Emphasis</th>
                    <th>&nbsp;</th>
                </tr>

                {% for geneset_value in geneset.geneset_values %}
                        <tr>
                            <td>
                                <strong>
                                    <a href="/search/?searchbar={{ geneset_value.source_list[0] }}&pagination_page=1&searchGenes=yes">
                                        {{ geneset_value.source_list[0] }}
                                    </a>
                                </strong>
                            </td>
                            <td>
                                {# I needed to do some fancy array mapping to determine null values
                                 if the first and last value of the array are the same, then the value exists;
                                 otherwise, if they are the same AND altGeneSymbol==Symbol, then it exists. #}
                                {% if geneset_value.ode_ref | first == geneset_value.ode_ref | last %}
                                    {% if altGeneSymbol == 'Symbol' %}
                                        <strong>
                                            {{ geneset_value.ode_ref[0] }}
                                        </strong>
                                    {% else %}
                                        None
                                    {% endif %}
                                {% else %}
                                    <strong>
                                        {{ geneset_value.ode_ref[0] }}
                                    </strong>
                                {% endif %}
                            </td>
                            <td>
                                {# Make boxes for homology blocks #}
                                {# see application.py for the list of species and colors #}
                                {% for i in range(1,12) %}
                                    {# skip elements that are empty #}
                                    {% if tt[(i-1)] != 'empty' %}
                                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip" data-original-title="{{ tt[(i-1)] }}"
                                              title="{{ tt[(i-1)] }}">
                                        {% set exists = ['1'] %}
                                        {% for h in geneset_value.hom|sort %}
                                            {% if h == i %}
                                                <div class="geneBox" style="background-color: {{ colors[(i-1)] }};"></div>
                                                {% if exists.append('1') %}{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if exists|length == 1 %}
                                            <div class="geneBox"></div>
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <strong>
                                    {{ '%0.4f' % geneset_value.value|float }}
                                </strong>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         data-aria-valuetransitiongoal="{{ '%.0f' % geneset_value.gene_rank|float }}"
                                         aria-valuenow="{{ '%.0f' % geneset_value.gene_rank|float }}"
                                         style="width: {{ '%.0f' % geneset_value.gene_rank|float }}%;">
                                        {{ '%.0f' % geneset_value.gene_rank|float }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- TODO Insert outside links here -->
                                {% set gene=geneset_value.source_list[0] %}
                                {% include 'linkouts.html' %}
                            </td>

                            <td nowrap>
                                <input type="checkbox" name="g_id[]" id="{{ geneset_value.ode_gene_id }}"
                                       onchange="emphasize('{{ geneset_value.ode_gene_id }}');"
                                       class="switch" data-size="mini"
                                       style="padding: 0px; vertical-align: middle;">

                            </td>
                            <td>
                                <div class="ui-checkbox" style="padding: 0; border: 0; margin: 0;">
                                    <label for="addGeneset{{ geneset_value.source_list[0] }}"
                                           style="margin: -6px; padding-right: 0;">
                                        <input type="checkbox" name="gsoptions[]"
                                               id="addGeneset{{ geneset_value.source_list[0] }}"
                                               value="{{ geneset_value.source_list[0] }}"/>
                                    </label>
                                </div>
                            </td>
                        </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>



    {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}



<script type="text/javascript">
    // include all of your jquery here

    function emphasize(id) {
        if (document.getElementById(id).checked) {
            $.get("/emphasize/" + id + ".html", function (data, status) {
            });
        }
        else {
            $.get("/deemphasize/" + id + ".html", function (data, status) {
            });
        }
    }


    $('#clickableFontAwesome').popover({
        title: 'Caution', content: 'Some recently added genesets may ' +
        'not be on this list due to a lag time in calculating global Jaccard scores between all genesets in our database.'
    });

    //});


</script>


{% endif %}

{% include 'footer.html' %}