<!--visualize variant page-->
<!--updated by: 2020/11/25-->


{% set title="VariantSet Details" %}
{% include 'header.html' %}



<div class="panel panel-default panel-heading bg-gray-light">
  <h2 class="panel-title"><strong>VariantSet Information</strong></h2>


<!--head>
  <meta charset="UTF-8">
  <title>gene info</title>
  < Load d3.js >

</head-->
<script src="https://d3js.org/d3.v4.js"></script>
<script src='https://azlejs.com/v2/azle.min.js'></script>

<div class="viewof-r"></div>
<div class="vis"></div>
<div class="format"></div>
  <p> Check genes on your graph:</p>
  <p id="demo"></p>

  <style>
    table {
      border-collapse: separate;
      border-spacing: 0 15px;
    }
    td {
      width: 150px;
    }
    h2 {
      color: #4287f5;
    }
  </style>

<table  class="table table-hover" id="infotable">
  <thead>
    <th>RsID</td>
    <th>Value</td>
  </thead>
</table>

  <table  class="table table-hover" id="gene">
    <thead>
    <th>Gene Name</td>
    <th>Display</td>
    </thead>
  </table>

<script type="module">
  $(document).ready(function () {
  $('#gene').DataTable({
    "pagingType": "simple"// false to disable pagination (or any other option)
  });
  $('.dataTables_length').addClass('bs-select');
});

  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
  import define from "https://api.observablehq.com/@iris990314/interactivity.js?v=3";
  const main = (new Runtime).module(define, name => {
    if (name === "viewof r") return Inspector.into(".viewof-r")();
    if (name === "vis") return Inspector.into(".vis")();
    if (name === "format") return Inspector.into(".format")();
    return ["hover1","circles","annotations","testdetails","highlight","hover2","brush1","brush2"].includes(name) || null;
  });

  var data = {{variantsets | tojson}}


  console.log(data)
  main.redefine("data", data)

  // store data
  var myMap = new Map()
  var x = []
  var flag = 1
  for (var i = 0; i < data.nodes.length; i++) {
    flag = 1
    for (var j in x) {
      if(data.nodes[i].gene_name === x[j]) {
        flag = 0
      }
    }
    if(flag === 1) {
      x.push(data.nodes[i].gene_name)
    }
    myMap.set(data.nodes[i].id, data.nodes[i].gene_name)
  }

  var nodes_container = []
  var links_container = []

  console.log(x)
  // build gene table
  var tab = document.getElementById("gene")
  x.forEach(element => {
    var tr = document.createElement("tr")
    tr.className = "gene-list-row"
    var gene_name = document.createElement("td")
    var display_flag = document.createElement("td")

    // add elements

    gene_name.innerHTML = element
    var check_Box = document.createElement("input");
    check_Box.checked = true
    check_Box.type = "checkbox"
    check_Box.class = "checkbox"
    check_Box.value = element

    // checkbox action: filter gene
    check_Box.onchange = function status_update() {
      console.log("changing now")
      if (this.checked) {
        // x
        x.push(this.value)
        // nodes
        var node_con_temp = []
        for (let i of nodes_container) {
          if (i.gene_name === this.value)
          {
            data.nodes.push(i)
          }
          else{
            node_con_temp.push(i)
          }
        }
        // links
        var link_con_temp = []
        for (let i of links_container){
          //console.log("is ", myMap.get(links_container[i].source), " ==== ", this.value)
          if (myMap.get(i.source) === this.value && x.indexOf(myMap.get(i.target))!== -1)
          {
            data.links.push(i)
          }
          else if (myMap.get(i.target) === this.value && x.indexOf(myMap.get(i.source))!== -1)
          {
            data.links.push(i)
          }
          else{
            link_con_temp.push(i)
          }
        }
        main.redefine("data",data)
      } else {
        //x
        x.splice(x.indexOf(this.value), 1)
        console.log("before",data)
        // nodes
        var node_temp = []
        for (let i of data.nodes) {
          if (i.gene_name === this.value)
          {
            nodes_container.push(i)
          }
          else{
            node_temp.push(i)
          }
        }
        // links
        var link_temp = []
        for (let i of data.links)  {
          //console.log("check: is ", i.source, "or", i.target," ==?== ", this.value)
          if (myMap.get(i.source) === this.value || myMap.get(i.target) === this.value) {
            links_container.push(i)
          }
          else {
            link_temp.push(i)
          }
        }
        data.links = link_temp
        data.nodes = node_temp
        console.log("after",data)
        main.redefine("data", data)
      }
    }
    display_flag.appendChild(check_Box)
    tr.appendChild(gene_name)
    tr.appendChild(display_flag)
    tab.appendChild(tr)
  });


</script>

<script>
  // build rs table
  var variantsets = {{variantsets|tojson}}["values"]
  //var variantsets = data.values
  variantsets = variantsets.slice(1,variantsets.length)

  var tab = document.getElementById("infotable")

  variantsets.forEach(element => {

    var tr = document.createElement("tr")
    var rs = document.createElement("td")
    var pvalue = document.createElement("td")
    rs.innerHTML = "rs"+element[1]
    pvalue.innerHTML = element[2]
    tr.appendChild(rs)
    tr.appendChild(pvalue)
    tab.appendChild(tr)
  });
</script>
</div>