{% set title="Similar GeneSets" %}
{% include 'header.html' %}
{% import 'macros.html' as macros %}

{# include the specific d3 js files here if required #}
<script src="/static/d3/d3.min.js" charset="utf-8"></script>


 <!-- css section. As a rule, try not to embed style within elements.-->
<style type="text/css">

    #clickableFontAwesome {

        cursor: pointer;
    }

    #intersection {

		margin: auto;
		width: 35%;
		padding: 10px;
    }

	.gene-circle, .gene-exact, .gene-homolog {

		border: 1px solid black;
		border-radius: 50%;
		height: 20px;
		width: 20px;
	}

	.gene-exact {

		background-color: rgb(76, 178, 95);
	}

	.gene-homolog {

		background-color: rgb(135, 53, 53);
	}

	.gene-single {

		background-color: rgb(250, 235, 3);
	}

	.gs-link {

		color: #336600;
	}

	.gs-link:hover {

		color: #007f00;
	}

</style>


{% if user_id == 0 %}

    {% include 'htmlfragments/permissionError.html' %}

{% else %}

    <!-- Header for the Geneset Overlap page -->
    <div class="row" id="result"></div>

    <div class="panel panel-default panel-heading bg-gray-light">
        <h2 class="panel-title"><strong>GeneSet Overlap</strong></h2>
    </div>


    <div class="panel panel-default">

        <div class="row">
            <div class="col-xs-12 col-md-9">

                <!-- Venn Diagram -->
                <div class="row">
                    <div id="legend">
                        <center>
                            <!-- Creates the div where the jaccard results of the overlap are displayed -->
                            <div id="venn">
                            </div>
                        </center>
                    </div>
                </div>

            </div>
        </div>
    </div>

	<table class="table table-hover" id="allGenesets" cellpadding="0" cellspacing="0">
		<tbody>
    <!-- displays detailed data about the individual genesets -->
    {% for gs in gs_map.values() %}
		<!-- Label the tier - which is the curation id, Geneset.cur_id -->
		{#
		<input style="margin-top: 2px" type="checkbox" name="gs_id[]" value="{{ gs.geneset_id }}">

		#}
				{% include 'viewGenesetSummaryPartial.html' %}


    {% endfor %}
		</tbody>
	</table>

	{#
    <!-- Creates options in html for the selecting the add to project -->
    <div id="project_selector">
    <input style="margin-top: 2px" type="checkbox" value="all" onclick="ODE.select_all(this.checked, 'gs_id[]');">
        <p style="margin-left:30px; font-size: 15px;"> Select All
        <select name="addToProject" onchange="javascript:handleSelect(this);">
            <option value="-1">Add selected to project...</option>
            {% for project in list %}
                <option value="{{project.project_id}}">{{project.name}} ({{project.count}})</option>
            {% endfor %}
            <option value="-2">+ Create new project...</option></select></p>
    </div>
	#}

    </br></br>

        <!-- Javascript for the select all to the project functionality -->
        <script type="text/javascript">
            function handleSelect(elm)
            {
                var genesets = []
                if (elm.value != "-1") {
                    if (elm.value == "-2") {
                        var name = prompt("Enter a name for the new project:");
                        $.get("/create_project/" + name + ".html", function (data, status) {
                            $('input:checkbox[name="gs_id[]"]').each(function () {
                                if (this.checked) {
                                    genesets.push(this.value);
                                }
                            });
                            if (genesets.length != 0) {
                                for (var i = 0; i < genesets.length; i++) {
                                    $.get("/add_geneset_to_project/" + data + "/" + genesets[i] + ".html");
                                }
                            }
                            else {
                                window.alert("Please select GeneSet(s) to add first!")
                            }
                        });
                    }
                    else {
                        $('input:checkbox[name="gs_id[]"]').each(function () {
                            if (this.checked) {
                                genesets.push(this.value);
                            }
                        });
                        if (genesets.length != 0) {
                            for (var i = 0; i < genesets.length; i++) {
                                $.get("/add_geneset_to_project/" + elm.value + "/" + genesets[i] + ".html", function (data, status) {
                                });
                            }
                        }
                        else {
                            window.alert("Please select GeneSet(s) to add first!")
                        }
                    }
                }
            }
    </script>

    <!-- Location for where the d3 is appended to in the html -->
        <div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
        <h3 class="panel-title">GeneSet Intersect</h3>
    </div>

    <!-- Displays the jaccard results for the intersection -->
    <div id="intersection"></div>
            
    
	{#
    <!-- Show the Geneset List at the intersection of the genesets -->
       {% for gene in emphgeneids %}
        <script>
            document.getElementById("{{gene}}").checked = true;
        </script>
    {% endfor %}
	#}


<div class="panel-heading" style="border-bottom-width: thick; border-bottom-color: #006400;">
    <h3 class="panel-title">Gene List</h3>
</div>
<br />
{#
<button type="button" class="btn btn-block btn-warning" id="export-gene-list">
    <i class="fa fa-download pull-left"></i> Export Genes
</button>
#}
<a href="" id="export-gene-list">Export Gene List</a>
<br />
<br />
<div class="xfloatGeneList" align="center">

<style type="text/css">.containedGene {display: inline; } .containedHomology {display: inline;}</style>
<!-- Key for Venn Diagram displayed -->
<table cellspacing="0" style="font-size: 0.75em; width: 80%">
	{# 
		This is the set of header rows for the intersection table. This first
		row contains three header columns: one for the legend + gene symbol 
		text, another for the link outs and the last one for the first geneset
		in the intersection list. The first two headers span the entirety of 
		the header portion of the table (this span is dependent on the number 
		of genesets being displayed).
	#}
	<tr>
		<th rowspan="{{ gs_map.keys() | length }}" valign="bottom" style="width:20%;">
			<p style="font-size: 1em; font-weight: normal;">
				<div class="gene-exact" style="display:inline-block; height:20px; width:20px;">
				</div> = Exact same gene in all sets<br />
				<div class="gene-homolog" style="display:inline-block; height:20px; width:20px;">
				</div> = Homologous gene cluster<br />
			</p>
			<br />
			Gene Symbol
		</th>
		<th rowspan="{{ gs_map.keys() | length }}" valign="bottom" style="width:20%;">
			Links
    	</th>

		{% for gs in gs_map.values() %}

			{# 
				All headers except the first contain a column of empty space 
				and another with the geneset abbreviation.
			#}
			{% if loop.index0 != 0 %}
		<!-- Sets the labels to for the columns of the gene list -->
	</tr>
	<tr>
		<th width="2%" rowspan="{{ gs_map.keys() | length - loop.index0 }}" 
			style="border-left: 1px solid #000; border-bottom: none;
    		{% if (loop.index0 % 2) == 1 %} background-color: #eee; {% endif %}">
			&nbsp;
		</th>
			{% endif %}

		{# 
			While the first header row includes the legend, gene symbol text, 
			link out text, and a geneset abbreviation.
		#}
    	</th>
		<th align="left" colspan="{{ gs_map.keys() | length + 1 - loop.index0 }}" 
			style="border-top: 1px solid #000; border-left: 1px solid #000; border-bottom: none;
    		{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %}
			text-align:right; padding-right:20px">

    		<a class="gs-link" href="/viewgenesetdetails/{{gs.geneset_id}}" 
               style="font-size:14px">
				{{gs.abbreviation}}
			</a>
		</th>

		{% endfor %}

		</th>
	</tr>

	{% for intersect in intersects %}
		<tr class="intersect-row">
			<td class="gene"> 
				<p style="font-size:13px;">
					{{ intersect.gene }} 
				</p>
			</td>
			<td class="gsIconBox" style="text-align: left;">
				{% set gene=intersect.gene %}
				{% include 'linkouts.html' %}
			 </td>

			{# This should be refactored. Takes roughly O(n * g^2) #}
			{% for gs in gs_map.values() %}

				{% if gs.geneset_id in intersect.gs_ids %}

					{% if intersect.is_homolog %}
						<td class="gene-value" style="border-left:1px solid #000; padding:0.5em;
							{% if (loop.index0 % 2) == 0 %} 
                            background-color: #eee; {% endif %}" valign="top">
							<div class="gene-homolog"></div>
						</td>
					{% else %}
						<td class="gene-value" style="border-left:1px solid #000; padding:0.5em;
							{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %}" 
							valign="top">  
							<div class="gene-exact"></div>
						</td>
					{% endif %}

				{% else %}
					<td class="gene-value" style="border-left:1px solid #000; padding:0.5em; 
						{% if (loop.index0 % 2) == 0 %} background-color: #eee; {% endif %} 
						{% if loop.index != loop.length %} text-align:center; {% endif %}"
						valign="top">  
						<div style="height:20px; width:20px; display:inline-block;">
						<p> - </p>
						</div>
					</td>
				{% endif %}

			{% endfor %}
		</tr>

	{% endfor %}
<!-- Sets the maroon circles for homology or green circles for the same gene -->
	{% set j = 0 %}
	{% for genes in gene_sym %}
	<tr>
		<td class="{{genes}}">
         	<a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">
				{{ genes }}
			</a>
		</td>
		<td class="gsIconBox" style="text-align: left;">
        	{% set gene=genes %}

			{#
			{% include 'linkouts.html' %}
			#}

			{% for gs in genesets %}
         </td>
		 <td valign="top" style="border-left: 1px solid #000;
         	 {% if (j % 2) == 0 %} background-color: #fff; {% endif %} 
			 padding: 0.5em;">
				 {% if gene_sym[genes] == 0 %}
					<div class="containedGene">
						<img src="/static/images/greendot.png" alt="In GS{{gs.name}}" />
					</div>
				 {% else %}
					<div class="containedHomology">
						<img src="/static/images/purpledot.png" alt="In GS{{gs.name}}, with homology to {{genes}}" />
					</div>
				 {% endif %}
			 {% endfor %}
      	</td>
		<td width="250px">&nbsp;</td>
	</tr>
	{% endfor %}

	{#
<!-- Sets the yellow circles for the genes found only in geneset1 -->
	{% set j = 0 %}
	{% for genes in gene_sym_set1 %}
    <tr><td class="{{genes}}">
         <a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">{{genes}}</a></td><td class="gsIconBox" style="text-align: left;">
         {% set gene=genes %}
         {% include 'linkouts.html' %}
         </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
                <div class="containedGene"><img src="/static/images/yellowdot.png" alt="In GS"/></div>
                </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
                <div class="containedHomology"><img src=""/></div>
      </td><td width="250px">&nbsp;</td></tr>
{% endfor %}
<!-- Sets the yellow circles for the genes found only in geneset2 -->
{% set j = 0 %}
{% for genes in gene_sym_set2 %}
      <tr><td class="{{genes}}">
         <a href="/search/?searchbar={{ genes }}&pagination_page=1&searchGenes=yes">{{genes}}</a></td><td class="gsIconBox" style="text-align: left;">
         {% set gene=genes %}
         {% include 'linkouts.html' %}
         </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
            <div class="containedGene"><img src=""/></div>
        </td><td valign="top" style="border-left: 1px solid #000;
         {% if j%2==0 %} background-color: #fff;{% endif %} padding: 0.5em;">
            <div class="containedGene"><img src="/static/images/yellowdot.png" /></div>
      </td><td width="250px">&nbsp;</td></tr>
{% endfor %}
	#}

</table>
</div>

<br />
<br />


<script type="text/javascript">

    var numIntersects = {{ intersects | length | safe }};
    var vennData = {{ venn | safe }};
    var vennText = {{ venn_text | safe }};

    svg = d3.select('#intersection')
        .append('svg')
        .attr('width', 350)
        .attr('height', 300)
        .append('g')
        .attr('transform', 'translate(5, 20)');

    var circles = svg.selectAll('circle')
        .data(vennData)
        .enter()
        .append('circle')
        .attr('cx', function(d, i) { 
            // Small hack to move the circles slightly closer so their overlap
            // is better visualized
            if (i == 0)
                return d.cx + (0.02 * d.cx); 
            else
                return d.cx - (0.02 * d.cx); 
        })
        .attr('cy', function(d) { return d.cy; })
        .attr('r', function(d) { return d.r; })
        .style('fill', function(d, i) { 
            if (i == 0)
                return '#EE0000';
            else
                return '#0000BB';
        })
        .style('fill-opacity', 0.7)
        .style('shape-rendering', 'geometricPrecision')
        .style('stroke', '#000')
        .style('stroke-width', '1px')
        .style('stroke-opacity', 1)
        ;

    var label = svg //.selectAll('text')
        .datum(vennText)
        //.enter()
        .append('text')
        .text(function(d) { return d.text; })
        .attr('x', function(d) { return d.tx; })
        .attr('y', function(d) { return d.ty; })
        .attr('transform', 'translate(20, 0)')
        .style('color', '#000')
        .style('font-size', '14px')
        ;

    //Adds the help icon text to the help button
    $('#clickableFontAwesome').popover({
        title: 'Caution', content: 'Some recently added GeneSets may ' +
        'not be on this list due to a lag time in calculating global Jaccard scores between all GeneSets in our database.'
    });

    $( "rExpand" ).click(function() {
      $( "genesetdetails" ).toggle();
    });


</script>

{% endif %}

<script>
    $(document).ready(function() {

        /*
         * Generates a text document containing the geneset-gene value list.
         * The geneset labels, gene symbols, and gene values (exact, homology,
         * or missing) are extracted from the intersection table and converted
         * into an ASCII format the user can download.
         */
        $('#export-gene-list').on('click', function(event) {

            event.preventDefault();

            var exports = '';
            var exportURL = 'data:text/html, <body style="font:12px monospace;"><pre>' 
            var gsElems = $('.gs-link').toArray();
            var genesets = [];

            $('.gs-link').each(function() {

                genesets.push($.trim($(this).text()));
            });

            // Top row == column labels
            exports += 'gene symbol' + ',' + genesets.join(',') + '%0A';

            $('.intersect-row').each(function() {

                var symbol = $(this).children('.gene').text();
                var values = [];

                symbol = $.trim(symbol);

                $(this).children('.gene-value').children().each(function() {

                    if ($(this).attr('class') == 'gene-exact')
                        values.push(1);
                    else if ($(this).attr('class') == 'gene-homolog')
                        values.push(2);
                    else
                        values.push(0);
                });

                values = values.join(',');
                // Tabs and newlines
                //exports += symbol + '%09' + values + '%0A';
                exports += symbol + ',' + values + '%0A';
            });

            exportURL += exports;

            window.open(exportURL);
        });
    });
</script>

{% include 'footer.html' %}
