{% set title="VariantSet Details" %}
{% include 'header.html' %}


<div class="panel panel-default panel-heading bg-gray-light">
  <h2 class="panel-title"><strong>GeneSet Information</strong></h2>
</div>

<table  class="table table-hover" id="infotable">
  <thead>
    <th>RsID</td>
    <th>Value</td>
  </thead>

</table>
<script>
  var variantsets = {{variantsets | tojson}}["values"]

  var tab = document.getElementById("infotable")

  variantsets.forEach(element => {
    var tr = document.createElement("tr")
    var rs = document.createElement("td")
    var pvalue = document.createElement("td")
    rs.innerHTML = "rs"+element[1]
    pvalue.innerHTML = element[2]
    tr.appendChild(rs)
    tr.appendChild(pvalue)
    tab.appendChild(tr)

  });
</script>