{# MetaData About Genesets on GeneSet View Page #}

<div class="panel-body">
    <div class="row">
        <div class="col-xs-12 col-md-9">

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DESCRIPTION:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.description }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>LABEL:</strong></p>
                </div>
                <div class="col-md-10">
                    <p>{{ geneset.abbreviation }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>DATE ADDED:</strong></p>
                </div>
                <div class="col-md-10">
                    {{ geneset.creation_date }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p class="text-right"><strong>SPECIES:</strong></p>
                </div>
                <div class="col-md-10">
                    {% if geneset.sp_id == 1 %}
                        <span class="mouse">Mouse</span>
                    {% endif %}
                    {% if geneset.sp_id == 2 %}
                        <span class="human">Human</span>
                    {% endif %}
                    {% if geneset.sp_id == 3 %}
                        <span class="rat">Rat</span>
                    {% endif %}
                    {% if geneset.sp_id == 4 %}
                        <span class="zebrafish">Zebrafish</span>
                    {% endif %}
                    {% if geneset.sp_id == 5 %}
                        <span class="fly">Fly</span>
                    {% endif %}
                    {% if geneset.sp_id == 6 %}
                        <span class="monkey">Monkey</span>
                    {% endif %}
                </div>
            </div>

            {% if geneset.uri %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>URI:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.uri %}
                            <a href="{{ geneset.uri }}">{{ geneset.uri }}</a>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if geneset.publication %}
                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>AUTHORS:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.authors %}
                            {{ geneset.publication.authors }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>TITLE:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.title %}
                            <i>{{ geneset.publication.title }}</i>
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>JOURNAL:</strong></p>
                    </div>

                    <div class="col-md-10">
                        {% if geneset.publication.journal %}
                            <u>{{ geneset.publication.journal }}</u>
                            {{ geneset.publication.month }} {{ geneset.publication.year }},
                            Vol {{ geneset.publication.volume }}, pp. {{ geneset.publication.pages }}
                        {% else %}
                            None
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <p class="text-right"><strong>ABSTRACT:</strong></p>
                    </div>
                    <div class="col-md-10">
                        {% if geneset.publication.abstract %}
                            {{ geneset.publication.abstract }}
                        {% else %}
                            None
                        {% endif %}
                        {% if geneset.publication.pubmed_id %}
                            <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ geneset.publication.pubmed_id }}">
                                <b>PUBMED: {{ geneset.publication.pubmed_id }}</b>
                            </a>

                            <br>
                            <!-- TODO link this with a search for this pubmed ID -->
                            <a href="#">Find other GeneSets from this publication <i class="fa fa-search"></i></a>
                        {% endif %}
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="alert bg-gray-light">No Publication Information is Associated with this GeneSet</div>
                </div>

            {% endif %}

            {# Right Side List of Buttons #}

        </div>
        <div class="col-xs-6 col-md-3">

            <button type="button" class="btn btn-lg btn-block btn-warning" id="exportData">
                <i class="fa fa-download pull-left"></i> Export Genes
            </button>
            <button type="button" class="btn btn-lg btn-block btn-warning" id="viewSimilarGenesets">
                <i class="fa fa-eye pull-left"></i> Similar GeneSets
            </button>
            <button type="button" class="btn btn-lg btn-block btn-warning" id="editGeneset">
                <i class="fa fa-edit pull-left"></i> Edit GeneSet
            </button>
            <button type="button" class="btn btn-lg btn-block btn-danger" id="deleteGeneset">
                <i class="fa fa-trash-o pull-left"></i> Delete GeneSet
            </button>
        </div>

    </div>



</div>