<tr>
	<td><a href="{{geneset.view_url}}"><b>GS{{geneset.gs_id}}: {{geneset.gs_name}}</b></a><br/>
		<br/>
		<div class="expandable">{{geneset.gs_description}}</div></td>
	<td>
		{%if geneset.pmid %}
		<a href="http://pubmed.gov/{{geneset.pmid}}">PMID {{geneset.pmid}}</a><br/>
		{%else%}
		(No PMID)<br/>
		{%endif%}
		<br/>
		<b>{{geneset.gs_count}}</b> genes in <br/>{{geneset.species}}<br/>
	</td>
	<td><a href="mailto:{{geneset.usr_email}}">{{geneset.usr_email}}</a><br/>{{geneset.last_updated}}<br/><br/>
		Tier {{geneset.cur_id}}<br/>
		{% if geneset.cur_id==5 %}
		{% if '-1' in geneset.gs_groups %}(Private){%else%}
		Groups: 
		{%for grp_id in geneset.gs_groups %}
		{{session.groups[grp_id]}}<br/>
		{%endfor%}
		{%endif%}
		{%endif%}
	</td>
</tr>
