<script type="text/javascript">

    //// serializeForms
    //
    //// Serializes all of the search form related data. If the user requests
    //// sorting then the sortby argument is filled with the sort parameter
    //// (e.g. tier, size, species, etc.).
    //
    var serializeForms = function (sortby) {

        var data = $('#filterForm').serialize() + '&';
        data += $('#searchBarForm').serialize();

        //if (sortby !== undefined)
        //	data += '&sortBy=' + sortby;

        return data;
    };

    // Loading spinner because some search filters/options take a few seconds
    jQuery.ajaxSetup({
        beforeSend: function() {
            $('#loader').show();
        },
        complete: function(){
            $('#loader').hide();
        },
        success: function() {}
    });


    $(document).ready(function () {

        var url = '/searchFilter.json';

        // Sort by...
        $('.fa-sort').on('click', function (event) {

            event.preventDefault();

            // Sort arrow ID; this tells us how to sort
            var sortby = $(this).attr('id');
            $('#sortBy').val(sortby);
            // Gotta grab filter and search data prior to sending our sort data
            var data = serializeForms(sortby);
            //console.log('sorts');
            //console.log(data);

            $.post(url, data).done(function (data) {

                $('#replaceConentsOnUpdatedSeach').html(data).trigger('create');
                // Hidden form value has to be changed too so when other
                // filters are applied, we don't lose our ordering
                //$('#sortBy').val(sortby);
            });
        });
    });

</script>

<div class="loader" style="display:none"></div>

{% if paginationValues == None %}

    <form action="/search/" method="GET" id="searchBarForm">
        {% include'search/search_bar.html' %}
    </form>

	{% if noResults is defined and noResults == True %}

		<div class="row">
			<div class="alert alert-warning fade in">
				<button type="button" class="close" data-dismiss="alert" 
					aria-hidden="true">x</button>
				<strong>Your search returned 0 results.</strong>
			</div>
		</div>

	{% endif %}

{% endif %}

{% if paginationValues != None %}

    <div class="row">
    <div class="col-md-4">
        {% include 'search/search_filters_panel.html' %}
    </div>

    <div class="col-md-8">
        <!-- Define a form used for submitting future search requests. The action and method must match what routes are expecting. -->
        <!-- Note that search_filters_panel.html javascript depends on this id being properly  set in the form below for the search bar-->
        <form action="/search/" method="GET" id="searchBarForm">
            {% include'search/search_bar.html' %}
        </form>


        <br/>

        {% if paginationValues.totalFound == 0 %}
            <div class="row">
                <div class="alert alert-warning fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    Your search returned 0 results.
                </div>
            </div>
        {% else %}


            {% if paginationValues.numResults == 1000 and paginationValues.totalFound > 1000 %}

                <div class="row">
                    <div class="alert alert-danger fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                        Search results are limited to 1000 results out of {{ paginationValues.totalFound }}. Try
                        refining your
                        search.
                    </div>
                </div>

            {% endif %}


            {# Used for any success/error messages from the add to project button #}
            <div class="row" id="result"></div>

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-md btn-block btn-warning" id="addToProject" style="margin-bottom: 10px">
                        <i class="fa fa-folder-o pull-left" style="padding-top: 1px;"></i> Add Selected to Project
                    </button>
                </div>
            </div>

            <!-- Show the panel heading with pagination, found in the search_results_header.html partial -->
            <!-- Show the panel heading with pagination -->
            <div class="panel panel-default">
                {% include 'search/search_results_header.html' %}
                <!-- Show the geneset table with geneset results -->
                <div class="panel-body">

                    <table id="results" class="table table-hover">
                        <tbody>
                        <tr>
                            <th align="center" style="text-align:center;">
                                <nobr>
                                    <i id="geneset" class="fa fa-check"></i>
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    <a id="tier" href="#">
                                        <i id="tier" class="fa fa-sort"></i>
                                    </a>
                                    Tier
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    <a id="species" href="#">
                                        <i id="species" class="fa fa-sort"></i>
                                    </a>
                                    Species
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    <a id="size" href="#">
                                        <i id="size" class="fa fa-sort"></i>
                                    </a>
                                    Size
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    Attr.
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    <a id="geneset" href="#">
                                        <i id="geneset" class="fa fa-sort"></i>
                                    </a>
                                    GeneSet
                                </nobr>
                            </th>
                            <th>
                                <nobr>
                                    <a id="gs-expand" href="#">
                                        <i id="gs-expand" class="fa"></i>
                                    </a>
                                </nobr>
                            </th>
                        </tr>
                        {% for gs in genesets %}
                            <!--<tr>-->
                            <!--<td> -->
                            {% include 'viewGenesetSummaryPartial.html' %}
                            <!--</td> -->
                            <!--</tr> -->
                            <!-- TODO create a selector for adding genesets to projects, link will go here -->
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
</div>

{% include 'modal/addGenesetsToProjects.html' %}
{% include 'modal/showGenericMessage.html' %}

<script type="text/javascript">

    //var user_id = {{ user_id }};
    // gs_ids in the results that are checked and ready to add to a project
    var gschecked = {};

    // Determines what search result checkboxes have been selected to add to
    // a new project.
    var determineChecks = function() {

    };

    // Called every time a checkbox is clicked and updates the list of
    // checked search results.
    $('input[type=checkbox]').on('click', function(event) {

        // The element object this event is referring to
        var box = event.target;

        // All search result checkboxes can be distinguished with this class
        if (box.className == 'search-check') {

            var idlen = 'gs-check-'.length;
            var gsid = box.id.slice(idlen);

            if (box.checked)
                gschecked[gsid] = gsid;
            else
                delete gschecked[gsid];
        }
    });

    // When a user is adding genesets to a new project, this allows them 
    // to hit enter to execute that addition without the page throwing
    // an http error
    $(document).on('keypress', function(e) {
        // 13 == ENTER
        if (e.keyCode && e.keyCode === 13 && $('#addToProjectModal').is(':visible'))
            e.preventDefault();
    });

    // The right side button 'Add GeneSet(s) to Project'
    $('#addToProject').on('click', function (e) {

        var modal = $('#myModalValue').val();
        var npn = $('#newProjName').val();
        var genesets = Object.keys(gschecked);

        if (genesets.length === 0) {

            $('#showGenericModal').find('.modal-header')
                .removeClass('bg-green')
                .addClass('bg-red');
            $('#showGenericModal').find('.modal-title')
                    .html('Error!');
            $('#showGenericModal').find('#genericMessage')
                    .html('You must first select GeneSets to add.');
            $('#showGenericModal').modal('show');

        } else {

            var gstr = genesets.map(function(s){ return 'GS' + s; }).join(', ');

            //$('#addToProjectModal').find('.modal-title')
            //        .html('Add Selected to Project(s)');
           // $('#addToProjectModal').find('h4')
           //         .html('Add ' + gstr + ' to the following project(s):');
            $('#modal-label').html(gstr);
            $("#myModalValue").val(genesets.join(','));
            $('#addToProjectModal').modal('show');
        }
    });

    // The 'add to selected projects' button on the modal
    $('#addGenesetsToProjects').on('click', function (e) {
        var checked = [];

        $("input[name='options[]']:checked").each(function () {
            checked.push(parseInt($(this).val()));
        });

        var option = JSON.stringify(checked);
        var g = $('#myModalValue').val();
        var npn = null;

        if ($('#newProjName').val().length > 0) {
            npn = $('#newProjName').val();
        }

        if ($.isEmptyObject(checked) && $.isEmptyObject(npn)){
            $("#result").html('<div class="alert alert-danger fade in"> ' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                    '</button>No Projects Were Selected</div>');
        } else {
            $.ajax({
                type: "GET",
                url: "../addGenesetsToProjects",
                data: {"npn": npn, "gs_id": g, "option": option},
                success: function (data) {
                    $("#result").html('<div class="alert alert-success fade in"> ' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x' +
                            '</button>Geneset(s) Successfully Added to Selected Project(s)</div>');
                }
            });
        }
    });

    // This chunk of code always needs to go with the addGenesetsToProjects
    // click handler
    $('#addNewProject').on('click', function () {
        $('#reveal-if-active').toggle();
    });
</script>
