
<script type="text/javascript">

	//$(document).ready(function() {
	//var onSort = function(s) {
	////function onSort() {

	//	// everything after gw.org/search/
	//	var path = window.location.search;
	//	var url = '/search/' + path;
	//	var sort = 'sortBy=' + s;
	//	console.log(url);
	//	console.log(sort);
	//	console.log($(this));

	//	$.ajax({
	//		type: 'GET',
	//		url: url,
	//		data: sort,
	//		dataType: 'string'
	//	});
	//};

	$(document).ready(function() {

		$('#tier').on('click', function(event) {

			event.preventDefault();

			var $form = $('#filterForm');
			var url = '/searchFilter.json';

			// Gotta grab filter and search data prior to sending our sort data
			var data = $('#filterForm').serialize() + '&';
			data += $('#searchBarForm').serialize() + '&';
			data += 'sortBy=tier';

			var posting = $.post(url, data);

			posting.done(function(data) {

				$('#replaceConentsOnUpdatedSeach').html(data).trigger('create');
			});
		});
		//$('#tier').click(function() {
		//	onSort($(this).attr('id'));
		//});

	});
</script>
{% if paginationValues != None %}
<div class="row">

<div class="col-lg-4">
{% include 'search/search_filters_panel.html' %}
</div>


<div class="col-lg-8">
<!-- Define a form used for submitting future search requests. The action and method must match what routes are expecting. -->
<!-- Note that search_filters_panel.html javascript depends on this id being properly  set in the form below for the search bar-->
<form action="/search/" method="GET" id="searchBarForm">
{% include'search/search_bar.html' %}
</form>
<br />

{% if paginationValues.numResults == 1000 and paginationValues.totalFound > 1000 %}
<div class="panel-body bg-red p-15">
<strong>Search results are limited to 1000 results out of {{paginationValues.totalFound}}. Try refining your search.</strong>
</div>
<br />
{% endif %}
	<!-- Show the panel heading with pagination, found in the search_results_header.html partial -->
    <!-- Show the panel heading with pagination -->
    <div class="panel panel-default">
	{% include 'search/search_results_header.html' %}
	<!-- Show the geneset table with geneset results -->
	<div class="panel-body">

		<table id="results" class="table table-hover">
		<tbody>
				<tr>
					<th></th>
					<th><nobr>
						<a id="tier" href="#" ><i id="tier" class="fa fa-sort"></i></a>
						Tier
					</nobr></th>
					<th><nobr>
						<a href="#?sort=species"><i class="fa fa-sort"></i></a>
						Species
					</nobr></th>
					<th><nobr>
						<a href="#?sort=size"><i class="fa fa-sort"></i></a>
						Size
					</nobr></th>
					<th><nobr>
						Attributes
					</nobr></th>
					<th><nobr>
						<a href="#?sort=geneset"><i class="fa fa-sort"></i></a>
						Geneset
					</nobr></th>
				</tr>
		{% for gs in genesets %}
		<tr>
		<!--<td> -->
		{% include 'viewGenesetSummaryPartial.html' %}
		<!--</td> -->
		</tr>
		<!-- TODO create a selector for adding genesets to projects, link will go here -->
		{% endfor %}
		</tbody>
		</table>
	</div>
	</div>
</div>
{% endif %}
</div>

