<style>

	/* This should eventually have it's own file or something. */

	.filter-title {

		border-bottom: 4px solid #006400;
		font-family: "Open Sans", verdana, arial;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.filter-root {

		font-weight: bold;
	}

	.tree ul {

	  margin: 0px 0px 0px 20px;
	  list-style: none;
	  line-height: 2em;
	  font-family: Arial;
	}

	.tree ul li {

	  font-size: 16px;
	  position: relative;
	}

	.tree ul li:before {

	  position: absolute;
	  left: -15px;
	  top: 0px;
	  content: '';
	  display: block;
	  border-left: 1px solid #ddd;
	  height: 1em;
	  border-bottom: 1px solid #ddd;
	  width: 10px;
	}

	.tree ul li:after {

	  position: absolute;
	  left: -15px;
	  bottom: -7px;
	  content: '';
	  display: block;
	  border-left: 1px solid #ddd;
	  height: 100%;
	}

	.tree ul li.root {

	  margin: 0px 0px 0px -20px;
	}

	.tree ul li.root:before {

	  display: none;
	}

	.tree ul li.root:after {

	  display: none;
	}

	.tree ul li:last-child:after {

	  display: none;
	}


</style>

{#
	An example filter tree for species looks like this.

	No Tier
	|
	|-- No species
	|	|
	|	|-- No attribution
	|	|
	|	|-- ABA
	|
	|-- Mouse
	|	|
	|	|-- No attribution
	|	|
	|	|-- ABA
	.	.
	.	.
	.	.

#}
<!-- Supposed to be a tree-like structure, a series of lists ul/li/ul... -->
<div id="tab_species" class="tab-pane">
	<form action="/searchFilter.json">
		<div class="filter-title">Filter by Species</div>

		<ul class="tree">
			{% for tup in searchFilters.tierList|dictsort %}
				<li class="tree root">
					{% if tup[1] > 1 %}
						<label class="filter-checkbox filter-root">
							{{tup[0]}}
						</label>
					{% endif %}
					
				</li>
			{% endfor %}

			{% if searchFilters.tierList.noTier > 1 %}
			<li class="tree root">
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					No Tier ({{searchFilters.tierList.noTier}})
				</label>
				<ul class="tree">
				{% for spid, spname in filterLabels.speciesList.iteritems() |
				sort %}
					{% if searchFilters.speciesList[spid] > 0 %}
						<li class="tree">
							<label class="filter-checkbox">
								<input type="checkbox"
									{% if userFilters is not defined or 
									userFilters.speciesList[spid] == "yes" %}
										checked="checked"
									{% else %}
									{% endif %}
										name="onTier" id="noTierCheckbox1" />

									{% if spname == "" %}
										No Species
									{% else %}
										{{spname}}
									{% endif %}
							</label>
						</li>
					{% endif %}

				{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if searchFilters.tierList.tier1 > 1 %}
			<li class="tree root">
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					I: Resources ({{searchFilters.tierList.noTier}})
				</label>
				<ul class="tree">
				{% for spid, spname in filterLabels.speciesList.iteritems() |
				sort %}
					{% if searchFilters.speciesList[spid] > 0 %}
						<li class="tree">
							<label class="filter-checkbox">
								<input type="checkbox"
									{% if userFilters is not defined or 
									userFilters.speciesList[spid] == "yes" %}
										checked="checked"
									{% else %}
									{% endif %}
										name="onTier" id="noTierCheckbox1" />

									{% if spname == "" %}
										No Species
									{% else %}
										{{spname}}
									{% endif %}
							</label>
						</li>
					{% endif %}

				{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% if searchFilters.tierList.tier2 > 1 %}
			<li>
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					II: Pro-Curated ({{searchFilters.tierList.noTier}})
				</label>
			</li>
			{% endif %}
			{% if searchFilters.tierList.tier3 > 1 %}
			<li>
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					III: Curated ({{searchFilters.tierList.noTier}})
				</label>
			</li>
			{% endif %}
			{% if searchFilters.tierList.tier4 > 1 %}
			<li>
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					IV: Provisional ({{searchFilters.tierList.noTier}})
				</label>
			</li>
			{% endif %}
			{% if searchFilters.tierList.tier5 > 1 %}
			<li>
				<label class="filter-checkbox filter-root">
					<input type="checkbox"
						{% if userFilters is not defined or 
						userFilters.tierList.noTier == "yes" %}
							checked="checked"
						{% else %}
						{% endif %}
							name="onTier" id="noTierCheckbox1" />

					V: Private ({{searchFilters.tierList.noTier}})
				</label>
			</li>
			{% endif %}
		</ul>
	</form>
</div>
