amqp==1.4.9
aniso8601==1.1.0
anyjson==0.3.3
billiard==3.3.0.23
cairocffi==0.7.2
CairoSVG==1.0.22
celery==3.1.23
cffi==1.7.0
click==6.6
Flask==0.11.1
Flask-Admin==1.4.2
Flask-RESTful==0.3.5
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.35
MarkupSafe==0.23
numpy==1.11.1
psycopg2==2.6.2
pycparser==2.14
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.0
six==1.10.0
urllib3==1.16
Werkzeug==0.11.10
WTForms==2.1
