
{% extends 'admin/AdminTemplateOverride.html' %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

<script>
    $(document).ready(function() {
         $('#adminUserViewer').dataTable();
    });
</script>


<h3 align=left>Genes</h3>


<div class="btn-group">
  <button type="button" class="btn btn-default">Add New Gene</button>
</div>
<p>
<!--<div class="panel panel-default">-->
<div class="table-responsive">
  <table id="adminUserViewer" style="2" class="table table-striped" table border="1">  
    <thead>
      <tr>
        <th style="text-align: left">Gene Id</th>
        <th style="text-align: left">GDB Id</th>
        <th style="text-align: left">Ref Id</th>
	<th style="text-align: left">Date</th>
      </tr>	
    </thead>
    <tbody>
        {% for gene in genes %}
        <tr> 	
	    <td><a href="#">{{gene.ode_gene_id}}</a></td>  
	    <td>{{gene.gdb_id}}</td> 
	    <td>{{gene.ode_ref_id}}</td>   
	    <td>{{gene.ode_date}}</td>  
        </tr >
      {% endfor %}
  </tbody>
  </table>
</div>

{% endblock %} 
