{% extends 'admin/AdminTemplateOverride.html' %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>

<script id=viewer>
    $(document).ready(function()  {
	 var script_tag = document.getElementById('viewer');
        
	 var table = '{{table}}';
	 var columns = {{jcolumns | safe}};
          
        $('#adminGroupViewer').dataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": {
                    'url': "../../admin/serversidedb",
                    'type': 'GET',
		    "data": {"table": table}
                },
	    "columns": columns,
	    "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                $('td:eq(0)', nRow).html('<a href="#">' +  aData[0] + '</a>');
                return nRow;
        },    	    
        });
    });
</script>


<h3 align=left>Groups</h3>

<div class="btn-group">
  <button type="button" onclick="window.location.href = '../../admin/{{route}}'" route class="btn btn-default">Add New Group</button>
</div>
<p>
<div class="table-responsive">
  <table id="adminGroupViewer" style="2" class="table table-striped" table border="1">  
    <thead>
      <tr>
	{% for col in columns %}
	    <th style="text-align: left">{{col.name}}</th>
	{% endfor %}
      </tr>	
    </thead>
    <tbody>       
      <tr>
	{% for col in columns %}
	    <th style="text-align: left">{{col.name}}</th>
	{% endfor %}
      </tr>
  </tbody>
  </table>
</div>

{% endblock %} 
