{% extends 'admin/AdminTemplateOverride.html' %}

{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/adminWidgets.js') }}"></script>  -->

<style>
   .bar{	
     fill: steelblue;
    }
   .bar:hover {
  	fill: brown;
   }
   .chart text {
      font: 10px sans-serif;
   }
   .axis line, .axis path {
       fill: none;
       stroke: #000;
       shape-rendering: crispEdges;
   }
   .line {
   	fill: none;
  	stroke: steelblue;
  	stroke-width: 1.5px;
    }
    .overlay {
  	fill: none;
  	pointer-events: all;
    }   
   .focus circle {
  	fill: none;
  	stroke: steelblue;
   }
</style>



<div>
<div style="text-align: center">
    
   <h3>Statistics</h3><br>   
   <select id="stat_select" class="form-control" style="width:auto">
       <option label="Genesets Per Tier" value="genesets_per_tier">Genesets Per Tier</option>
       <option label="Genesets Per Species Per Tier" value="genesets_per_species_per_tier">Genesets Per Species Per Tier</option>
       <option label="Monthly Tool Stats" value="monthly_tool_stats">Monthly Tool Stats</option>
       <option label="Tools Ran Per User" value="user_tools_ran">Tools Ran Per User</option>       
       <option label="Currently Running Tools" value="currently_running_tools">Currently Running Tools</option>
       <option label="Size of Genesets" value="size_of_genesets">Size of Genesets</option>
       <option label="Relative Time to Run Tools" value="time_to_run_tools">Relative Time to Run Tools</option>
   </select><br><br>
</div>
   <div id="graph_container" class="container" style="text-align: center">
      <img id="spinner" src="{{ url_for('static', filename='images/spinner.gif') }}" style="width:20px;height:20px" alt="Loading..." style="display:none"/>	
      <div id = "div-one" style="display:none" >
	
      </div>
      <div id = "div-two" style="display:none">         
            <svg id="genesets_per_species_and_tier1" class="chart"></svg>	 
	    <svg id="genesets_per_species_and_tier1all" class="chart"></svg><br>	 		
            <svg id="genesets_per_species_and_tier2" class="chart"></svg>
	    <svg id="genesets_per_species_and_tier2all" class="chart"></svg><br> 		 	
            <svg id="genesets_per_species_and_tier3" class="chart"></svg>
	    <svg id="genesets_per_species_and_tier3all" class="chart"></svg><br>	 		 	
            <svg id="genesets_per_species_and_tier4" class="chart"></svg>
	    <svg id="genesets_per_species_and_tier4all" class="chart"></svg><br>	 		 	
            <svg id="genesets_per_species_and_tier5" class="chart"></svg>
	    <svg id="genesets_per_species_and_tier5all" class="chart"></svg><br>	 		 	
      </div>
      <div id = "div-three" style="display:none">         	 	
      </div>
      <div id = "div-four" style="display:none">         
            <svg id="user_tools_ran" class="chart"></svg>	 	
      </div>
      <div id = "div-five" style="display:none">         
            <br><table id='tools-running' style="2;background-color:#FAFAFA" class="table" table border="1">
	       <thead>
		  <tr>
     		    <th>ResID</th>
     		    <th>UserID</th>
		    <th>Tool</th>
		    <th>Status</th>
		    <th>Created</th>
  		  </tr>		
	       </thead>
	    </table>	 	
      </div>
      <div id = "div-six" style="display:none">         
            <svg id="size_of_genesets" class="chart"></svg>	 	
      </div>
      <div id = "div-seven" style="display:none">
	  <div id="bubbletext" style="opacity:0">asdfasdfasdf</div><br>
          <svg id="time_to_run_tools" ></svg>
      </div>
   </div>
</div>


<script>

    $(document).ready(function() {
		get_db_info("../admin/genesetspertier", "#genesets_per_tier", "Genesets Per Tier");
		$('#div-one').show();			

		$("#stat_select").change(function() {

		   $("#graph_container div").hide();
		   
		   var item = $(this);
		   if(item.val() == 'genesets_per_tier') 
		   {
			get_db_info("../admin/genesetspertier", "#genesets_per_tier", "Genesets Per Tier");
			$('#div-one').show();			
		   }
		   if(item.val() == 'genesets_per_species_per_tier') 
		   {
			get_db_info("../admin/genesetsperspeciespertier", "#genesets_per_species_and_tier", "Genesets Per Species Per Tier");
			$('#div-two').show();			
		   }
		   if(item.val() == 'monthly_tool_stats') 
		   {
			get_db_info("../admin/monthlytoolstats", "", "Monthly Tool Stats");
			$('#div-three').show();			
		   }
       		   if(item.val() == 'user_tools_ran') 
		   {
			get_db_info("../admin/usertoolstats", "#user_tools_ran", "Tools Ran Per User (Top 20)");
			$('#div-four').show();			
		   }
		   if(item.val() == 'currently_running_tools') 
		   {
			get_db_info("../admin/currentlyrunningtools", "#tools-running-list", "Currently Running Tools");
			$('#div-five').show();			
		   }
		   if(item.val() == 'size_of_genesets') 
		   {
			get_db_info("../admin/sizeofgenesets", "#size_of_genesets", "Size of Genesets");
			$('#div-six').show();			
		   }
		   if(item.val() == 'time_to_run_tools') 
		   {
			get_db_info("../admin/timetoruntools", "#time_to_run_tools", "Time to Run a Tool");
			$('#div-seven').show();			
		   }	
		    	    
		});
    });

    function get_db_info(url, element, title) {
	$("#spinner").show();

        $.ajax({
            type: "GET",
            url: url,
            success: function(return_data) {
	        $("#spinner").hide();
                var data = JSON.parse(return_data);
		
	        if(title=="Genesets Per Species Per Tier")
		{	     
		    var legend="";
		    for(var key in data["species"]) {
		  	if(data["species"][key]) {
			    legend += key + "=" + data["species"][key] + "  "; }
		    }	
		    $('#div-two').prepend("<font size='2'>"+legend+"</font><br>");	

		     generate_bar_chart(data["nondeleted"]['Tier 1'], element+"1", title+" 1 (Non-Deleted)", "#Genesets");
		     generate_bar_chart(data["nondeleted"]['Tier 2'], element+"2", title+" 2 (Non-Deleted)", "#Genesets");
	    	     generate_bar_chart(data["nondeleted"]['Tier 3'], element+"3", title+" 3 (Non-Deleted)", "#Genesets");
	             generate_bar_chart(data["nondeleted"]['Tier 4'], element+"4", title+" 4 (Non-Deleted)", "#Genesets");
		     generate_bar_chart(data["nondeleted"]['Tier 5'], element+"5", title+" 5 (Non-Deleted)", "#Genesets");

		     generate_bar_chart(data["all"]['Tier 1'], element+"1all", title+" 1 (All)", "#Genesets");
		     generate_bar_chart(data["all"]['Tier 2'], element+"2all", title+" 2 (All)", "#Genesets");
	    	     generate_bar_chart(data["all"]['Tier 3'], element+"3all", title+" 3 (All)", "#Genesets");
	             generate_bar_chart(data["all"]['Tier 4'], element+"4all", title+" 4 (All)", "#Genesets");
		     generate_bar_chart(data["all"]['Tier 5'], element+"5all", title+" 5 (All)", "#Genesets");
		}
		else if(title == "Genesets Per Tier")
		{
		    var legend="";
		    for(var key in data["species"]) {
		  	if(data["species"][key]) {
			    legend += key + "=" + data["species"][key] + "  "; }
		    }
		    $('#div-one').prepend("<font size='2'>"+legend+"</font><br>");	

		   
		    var id="all";
		    $('#div-one').append("<svg id="+id+" class='chart'></svg>")			
			generate_bar_chart(data[id], '#'+id, "Genesets Per Tier (All)", "#Times Ran");

                    id="nondeleted";
		    $('#div-one').append("<svg id="+id+" class='chart'></svg>")			
			generate_bar_chart(data[id], '#'+id, "Genesets Per Tier (Non-Deleted)", "#Times Ran");
		}
		else if(title == "Monthly Tool Stats")
		{		    		   
  		    for(var key in data) 
		    {
			var id = key.replace(" ", "") + "_stats";
			$('#div-three').append("<svg id="+id+" class='chart'></svg>")			
			generate_bar_chart(data[key], '#'+id, key + ' ' + title, "#Times Ran");
		    }
		}
		else if(title == "Tools Ran Per User (Top 20)")
		{
                    generate_bar_chart(data, element, title, "#Times Ran");
		}
		else if(title == "Currently Running Tools")
		{
                    for(var key in data) 
		    {
			$('#tools-running').append("<tr ><td> "+data[key]['res_id']+" </td><td> " +data[key]['usr_id'] + "  </td><td> " +data[key]['res_tool'] + " </td> <td> " +data[key]['res_status'] +" </td><td> " + data[key]['res_created'] +  "</td></tr>")
		    }
		    $('#tools-running').dataTable( {
			 "order": [[ 4, "desc" ]]
   		    });
		}		
		else if(title == "Size of Genesets")
		{
		    var keys = []; 
		    for(var key in data) {
		    	keys.push(key); 
		    }
		    
    		    keys.sort(function(a,b){return data[b]-data[a]});
		    newdata = [];
		    for(var i in keys) {	
			var val = keys[i];
		         newdata.push({key:parseInt(val), value:data[val]});
		    }
		   
                    generate_line_chart(newdata, element, title, "Num Times Ran");
		}
		else if(title == "Time to Run a Tool")
		{
	 	    $('#bubbletext').show();
                    generate_bubble_chart(data, element, title);
		}
            }
        });
    }

function generate_line_chart(data, chartname, title, yaxislabel) {
    var margin = {
            top: 20,
            right: 200,
            bottom: 30,
            left: 50
        },
        width = 1000,
        height = 500;
	
    var x = d3.scale.ordinal()
	.rangePoints([0, width], 0.0)
    	.domain(data.map(function (d) { return d.key; }));

    var y = d3.scale.linear()	
        .domain([0, d3.max(data, function (d) { return d.value; } ) ])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
	.tickValues([]);        

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")

    var line = d3.svg.line()
        .x(function(d,i) { return x(data[i].key); })
        .y(function(d,i) { return y(data[i].value); });

    var svg = d3.select(chartname)
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Num Genes");

        svg.append("path")
            .datum(d3.entries(data))
            .attr("class", "line")
            .attr("d", line);	

        var focus = svg.append("g")
            .attr("class", "focus")
            .style("display", "none");

        focus.append("circle")
            .attr("r", 4.5);

        focus.append("text")
            .attr("x", 9)
            .attr("dy", ".35em");

        svg.append("rect")
            .attr("class", "overlay")
            .attr("width", width)
            .attr("height", height)
            .on("mouseover", function() {
                focus.style("display", null);
            })
            .on("mouseout", function() {
                focus.style("display", "none");
            })
            .on("mousemove", mousemove);

        function mousemove() {
            var x0 = Math.floor(d3.mouse(this)[0]);
            focus.attr("transform", "translate(" + x(data[x0].key) + "," + y(data[x0].value) + ")");
            focus.select("text").text("Geneset ID: " + data[x0].key + ", Size: " + data[x0].value);
        } 	
}
	
    function generate_bar_chart(data, chartname, title, yaxislabel) {
        var margin = {
                top: 80,
                right: 50,
                bottom: 80,
                left: 50
            },
            width = d3.keys(data).length * 50,
            height = 250;	

	

	    if(width < title.length * 5)
	    {
		width=title.length * 5;
	    }

        var x = d3.scale.ordinal()
            .domain(d3.keys(data))
            .rangeRoundBands([0, width], .3, .5);

        var y = d3.scale.linear()
            .range([height, 0])
            .domain([0, d3.max(d3.values(data))]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(9);

        var chart = d3.select(chartname)
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        chart.append("text")
            .attr("class", "title")
            .attr("y", -26)
            .text(title);

        chart.selectAll(".bar")
            .data(d3.entries(data))
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d, i) {
                return x(x.domain()[i]);
            })
            .attr("width", x.rangeBand())
            .attr("y", function(d) {
                return y(d.value);
            })
            .attr("height", function(d) {
                return height - y(d.value);
            });

        chart.selectAll("text")
            .data(d3.values(data))
            .enter()
            .append("text")
            .attr("text-anchor", "middle")
            .attr("x", function(d, i) {
                return x(x.domain()[i]) + (x.rangeBand() / 2);
            })
            .attr("y", function(d) {
                return y(d) - 5;
            })
            .text(function(d) {
                return d;
            })
            .attr("font-family", "sans-serif")
            .attr("font-size", "8px")
            .attr("fill", "black");

        chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .selectAll(".tick text");

        chart.append("g")
            .attr("class", "y axis")
            .call(yAxis)
	    .append("text")
      	    .attr("transform", "rotate(-90)")
      	    .attr("y", 6)
      	    .attr("dy", ".5em")
      	    .style("text-anchor", "end")
	    .text(yaxislabel);
    }

    function generate_bubble_chart(data1, chartname, title) {
        var height = 400;
        var width = 600;
        var margin = 60;

	console.log(data1);
        var data = [];
        for (var i = 0; i < data1.length; i++) {
            data.push({
                x: data1[i]['size'],
                y: data1[i]['genes'],
                c: data1[i]['tool'],
                size: data1[i]['time'],
            });
        }
	console.log(data);
        var labelX = '# Genesets';
        var labelY = 'Avg # Genes';
        var svg = d3.select(chartname)
            .attr('class', 'chart')
            .attr("width", width + margin + margin)
            .attr("height", height + margin + margin)
            .append("g")
            .attr("transform", "translate(" + margin + "," + margin + ")");	

        var x = d3.scale.linear()
            .domain([d3.min(data, function(d) { return parseInt(d.x); }), d3.max(data, function(d) { return parseInt(d.x); })])
            .range([0, width]);

        var y = d3.scale.linear()
            .domain([d3.min(data, function(d) {return parseInt(d.y);}), d3.max(data, function(d) { return parseInt(d.y);})])
            .range([height, 0]);

        var scale = d3.scale.sqrt()
	    .domain([d3.min(data, function(d) { return parseInt(d.size);}), d3.max(data, function(d) { return parseInt(d.size);})])
            .range([2, 80]);

        var opacity = d3.scale.sqrt()
            .domain([d3.min(data, function(d) { return parseInt(d.size);}), d3.max(data, function(d) { return parseInt(d.size); })])
            .range([.95, .4]);

        var color = d3.scale.category10();

        var xAxis = d3.svg.axis().scale(x);
        var yAxis = d3.svg.axis().scale(y).orient("left");

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("x", 20)
            .attr("y", -margin)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(labelY);
        // x axis and label
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .append("text")
            .attr("x", width + 20)
            .attr("y", margin - 10)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text(labelX);

        svg.selectAll("circle")
            .data(data)
            .enter()
            .insert("circle")
            .attr("cx", width / 2)
            .attr("cy", height / 2)
            .attr("opacity", function(d) {
                return opacity(d.size);
            })
            .attr("r", function(d) {
                return scale(d.size);
            })
            .style("fill", function(d) {
                return color(d.c);
            })
            .on('mouseover', function(d, i) {
                fade(d.c, .1, d.size);
            })
            .on('mouseout', function(d, i) {
                fadeOut();
            })
            .transition()
            .delay(function(d, i) {
                return x(d.x) - y(d.y);
            })
            .duration(500)
            .attr("cx", function(d) {
                return x(d.x);
            })
            .attr("cy", function(d) {
                return y(d.y);
            })
            .ease("bounce");

	var legend = svg.selectAll(".legend")
      	.data(color.domain())
    	.enter().append("g")
      	.attr("class", "legend")
      	.attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  	legend.append("rect")
      	.attr("x", width + 18)
      	.attr("width", 18)
      	.attr("height", 18)
      	.style("fill", color);

  	legend.append("text")
      	.attr("x", width+15)
     	 .attr("y", 9)
     	 .attr("dy", ".35em")
      	 .style("text-anchor", "end")
     	 .text(function(d) { return d; });
	
	var tooltip = d3.select(chartname).append("div")
    	.attr("class", "tooltip")
    	.style("opacity", 0);

        function fade(c, opacity,size) {
            svg.selectAll("circle")
                .filter(function(d) {
                    return d.c != c;
                })
                .transition()
                .style("opacity", opacity);
		
	     //$('#bubbletext')
	     document.getElementById("bubbletext").innerHTML = size + " milliseconds";
	     document.getElementById("bubbletext").style.opacity=1;
        }

        function fadeOut() {
            svg.selectAll("circle")
                .transition()
                .style("opacity", function(d) {
                    opacity(d.size);
                });
 	    document.getElementById("bubbletext").style.opacity=0;
        }
    }
    
</script>

{% endblock %}


