{% extends 'admin/AdminTemplateOverride.html' %}



{% block body %}
<script>
    $(document).ready(function()  {
	var table = '{{table}}';	
	var jcolumns = '{{columns}}';
   
	$("#edit-form").submit(function(event) {    		    
	    event.preventDefault();

	    var data = $("#edit-form").serialize() + "&table="+table;	 	    
    		    $.ajax({
          		type: "POST",
           		url: "../../admin/adminSubmitEdit",
           		data: data,
           		success: function(data)
           		{
               		    alert(data);
           		}
         	    });
		   //location.replace(document.referrer);
	});  
	
	$("#cancel-button").click(function() {
		
	    history.back();	    
	    
	});

	$("#delete-button").click(function() {
	    if (confirm('Are you sure you wish to delete this?')) { 
		var data = $("#edit-form").serialize() + "&table="+table;
 		$.ajax({
          		type: "POST",
           		url: "../../admin/adminDelete",
           		data: data,
           		success: function(data)
           		{
               		    
           		}
         	    });
		
		window.location.replace(document.referrer)
		//history.back();
	       // window.location.reload();	    
	    } 
	    
	});

	function resizeInput() {
    	   $(this).attr('size', $(this).val().length);
}

	$('input[type="text"]')
      	    // event handler
    	    .keyup(resizeInput)
    	    // resize on page load
    	    .each(resizeInput);

	String.prototype.capitalize = function() {
    	    return this.charAt(0).toUpperCase() + this.slice(1);
	}
    });    
</script>


  <h3 align=left>Edit {{table.split(".")[1]}}</h3>
	 <p>
	
	<form id="edit-form" class="form-horizontal" data-parsley-validate="" novalidate="">     
	   <div>
	     {% for val in columns[0] %}
		<div class="form-group">
	    	  <label class="col-sm-3 control-label" style="width:20%" >"{{val.replace("_"," ").capitalize()}}:"</label>
		    <div class="col-sm-9">
	    		<input name={{val}} type="text" style="width:100%" required="" value="{{columns[0][val]}}"></input>	    		
		   </div>
		</div>
	    {% endfor %}
	  </div>
	  <p><p>
	  <div class="col-sm-9 col-sm-offset-3">
	    <div class="pull-left">
		<input class="btn btn-primary" type="submit" value="Submit Changes"></input>
		<input id="delete-button" class="btn btn-primary" type="button" value="Delete"></input>		
		<input id="cancel-button" class="btn btn-primary" type="button" value="Cancel"></input>
	    </div>
	  </div>  
	</form>


{% endblock %}
