{% extends 'admin/AdminTemplateOverride.html' %}


{% block body %}

	
 <script >
    $( document ).ready(function() {
	var table = '{{table}}';
	
	$('#add-form').submit(function(event) {   	    
  	    event.preventDefault(); 	

	    var data = $("#add-form").serialize() + "&table="+table;	 
   	    $.ajax({
          	   type: "POST",
           	   url: "../../admin/adminAdd",
           	   data: data, 
           	   success: function(data)
           	   {
               	      document.getElementById("result-label").innerHTML = data;
           	   }
            });
	});  

	$("#cancel-button").click(function() {
		
	    history.back();	    
	    
	});

	String.prototype.capitalize = function() {
	   return this.charAt(0).toUpperCase() + this.slice(1);
	}	
    });   
    </script>

	<h3 align=left>Add {{toadd}}</h3>
	 <p>
	
	<form id="add-form">     
	   <div>
	     {% for col in columns %}
		<div class="form-group">
	    	  <label class="col-sm-3 control-label">{{col.column_name.replace("_"," ").capitalize()}}</label>
		    <div class="col-sm-9">
	    		<input name={{col.column_name}} class="form-control" type="text"></input>	    		
		   </div>
		</div>
	    {% endfor %}
	  <p><p>
	  <div class="col-sm-9 col-sm-offset-3">
	    <div class="pull-left">
		<input class="btn btn-primary" type="submit" value="Add"></input>
	        <input id="cancel-button" class="btn btn-primary" type="button" value="Cancel"></input>
	    </div>
	  </div>  
	<div>
	 <label id="result-label" class="col-sm-3"><></label>
	</div>
	</form>
	




	{% endblock %}
