{% extends 'admin/AdminTemplateOverride.html' %}



{% block body %}
<script>
    $(document).ready(function()  {
   
	$("#edit-form").submit(function(event) {    		    

	    event.preventDefault();
    		    $.ajax({
          		type: "POST",
           		url: "../../admin/adminSubmitEdit",
           		data: $("#add-form").serialize(), // serializes the form's elements.
           		success: function(data)
           		{
               		    alert(data);
           		}
         	    });
		   //location.replace(document.referrer);
	});  

	$("#delete-button").click(function() {
	    if (confirm('Are you sure you wish to delete this?')) { 
 		$.ajax({
          		type: "POST",
           		url: "../../admin/adminDelete",
           		data: $("#add-form").serialize(), // serializes the form's elements.
           		success: function(data)
           		{
               		    alert(data);
           		}
         	    });
		
		//location.replace(document.referrer);
	    }
	});

	String.prototype.capitalize = function() {
    	    return this.charAt(0).toUpperCase() + this.slice(1);
	}
    });    
</script>


  <h3 align=left>Edit {{table}}</h3>
	 <p>
	
	<form id="edit-form" class="form-horizontal" data-parsley-validate="" novalidate="">     
	   <div>
	     {% for val in columns %}
		<div class="form-group">
	    	  <label class="col-sm-3 control-label">{{val}}</label>
		    <div class="col-sm-9">
	    		<input name={{val}} class="form-control" type="text" required=""></input>	    		
		   </div>
		</div>
	    {% endfor %}
	  </div>
	  <p><p>
	  <div class="col-sm-9 col-sm-offset-3">
	    <div class="pull-left">
		<input class="btn btn-primary" type="submit" value="Submit Changes"></input>
		<input id="delete-button" class="btn btn-primary" type="button" value="Delete"></input>
	    </div>
	  </div>  
	</form>


{% endblock %}
