{% extends 'admin/AdminTemplateOverride.html' %}

{% block body %}

<style>
.datatablerowhighlight {
    background-color: #ECFFB3;
}
</style>

<script id=viewer>
var editor;
    $(document).ready(function()  { 

 	 var table = '{{table}}';
	 var columns = {{jcolumns | safe}};
	 var numCols = columns.length	
          
        var table = $('#adminViewer').dataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": {
                    'url': "../../admin/serversidedb",
                    'type': 'GET',
		    "data": {"table": table}
                },
	    "columns": columns,
	    /*"oTableTools": {
            	"sRowSelect": "single",
		"aButtons": [ "delete selected", "Edit" ]
            },*/
            "fnDrawCallback": function() {
      		$('table#adminViewer td').bind('mouseenter', function () { 
			$(this).parent().children().each(function(){
				$(this).addClass('datatablerowhighlight'); 
			}); 
		});
      		$('table#adminViewer td').bind('mouseleave', function () { 
			$(this).parent().children().each(function(){
				$(this).removeClass('datatablerowhighlight'); 
			});  
	  	});		    
	    }   	    
        });

	$('#adminViewer td').live('click', function() {
    		var anOpen = [];
    		var nTr = this.parentNode;
    		var i = $.inArray(nTr, anOpen);
		var data = [];
		data.push({'table' : table });
		j=0;
    		$(this).parent().find("td").each(function() {
        	    //data.push( { columns[j]["name"]: $(this).html() } ); // logs each cell value 
		    j++;
		});

   		//window.location = "/admin/adminEdit/"+data;
		 $.ajax({
          	   type: "GET",
           	   url: "../../admin/adminEdit",
           	   data: data, 
           	   success: function(data)
           	   {
			//alert(data)
			document.getElementById("maindiv").innerHTML=data;
               	      
           	   }
            });
 	});	

	String.prototype.capitalize = function() {
    	    return this.charAt(0).toUpperCase() + this.slice(1);
	}
    });
</script>

<div id="maindiv">
<h3 align=left>{{table.split(".")[1].replace("_"," ").capitalize()}}</h3>

<div class="btn-group">
  <button type="button" onclick="window.location.href = '../../admin/{{route}}'" route class="btn btn-default">Add New {{table.split(".")[1].replace("_"," ").capitalize()}}</button>
</div>
<p>

<div class="table-responsive">
  <table id="adminViewer" style="2;background-color:#B8D4FF" class="table" table border="1">  
    <thead>
      <tr>
	{% for col in columns %}
	    <th style="text-align: left">{{col.name.replace("_"," ").capitalize()}}</th>
	{% endfor %}
      </tr>	
    </thead>
    <tfoot>       
      <tr>
	{% for col in columns %}
	    <th style="text-align: left">{{col.name.replace("_"," ").capitalize()}}</th>
	{% endfor %}
      </tr>
  </tfoot>
  </table>
</div>
</div>
{% endblock %} 
