/* general search form settings: */
/* override any other display styles */
.searchForm b {
    font-weight: bold;
}
.searchForm div {
    display: block;
}
.searchForm input {
    width: auto;
}
.searchForm label {
    width: auto;
}
/* for when the search form is the only thing on the page */
.searchForm.onlyElement {
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
}
.searchForm.onlyElement td.rightPanel {
    display: none;
}
/* not the only thing on the page */
.searchForm {
    border-spacing: 0;
    margin-bottom: 5px;
}
.searchForm>tbody>tr>td:first-child {
    padding-left: 25px;
}
.searchForm>tbody>tr>td {
    padding: 0;
    vertical-align: bottom;
}
.searchForm td.rightPanel {
    text-align: right;
    width: 100%;
}
.searchForm #searchInputs {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 0;
}
.searchForm #searchInputs li {
    list-style-type: none;
    padding: 0 0 5px 0;
}
.searchForm #searchInputs input[type=text] {
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-size: medium;
    font-weight: bold;
    padding: 1px 2px;
}
.searchForm #searchInputs .searchFields {
    margin-top: 4px;
    text-align: left;
}
.searchForm #searchInputs .searchFields img {
    float: right;
}
.searchForm #searchInputs .searchFields img:hover {
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80); /* old IE */
}
.searchForm #searchInputs .searchFields img.disabled {
    opacity: 0.2;
    filter: alpha(opacity=20); /* old IE */
}
.searchForm #searchInputs .searchFields img.disabled:hover {
    cursor: default;
}
.searchForm #searchInputs .searchFields input[type=checkbox] {
    padding: 0;
    margin-left: 7px;
}
/* actual search button */
.searchForm input[type=submit] {
    background: #373e33; /* old browsers */
    background: url(../images/search_logo.png) no-repeat left center, linear-gradient(to bottom, #6b7a61, #373e33);
    border: 1px solid #336633;
    border-radius: 3px;
    color: white;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    height: 30px;
    padding-left: 27px;
    padding-right: 8px;
}
.searchForm input[type=submit]:hover {
    color: #dfd;
    cursor: pointer;
}
/* tools button */
.searchForm .rightPanel > input[type=button] {
    background: #ff4500; /* old browsers */
    background: linear-gradient(to bottom, #ffaa55, #ff4500);
    border: 1px solid #336633;
    border-radius: 3px;
    color: black;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}


.searchForm .rightPanel > input[type=button]:hover {
    cursor: pointer;
}
.searchForm .rightPanel > input[type=button].clicked {
    color: white;
    border-bottom: 1px solid #ff4500;
    border-radius: 3px 3px 0 0;
}
/* tools menu */
.searchForm div.search_dropdown {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-top: 0;
    display: none;
    position: absolute;
    padding: 4px;
    text-align: left;
    z-index: 9999;
}
.searchForm div.search_dropdown#projectMenu ul {
    margin: 0;
    padding: 0;
}
.searchForm div.search_dropdown#projectMenu li {
    list-style: none;
}
.searchForm div.search_dropdown#projectMenu li:hover {
    background: #e9ebe4;
    cursor: pointer;
}

/* search results */
.searchResults {
    padding-left: 25px;
    overflow: hidden;
}

.searchResults .genesetList {
    border: 0;
    border-padding: 0;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}

.searchResults .searchInstructions th {
    background-color: #728168;
    color: white;
    font-weight: normal;
}

.searchResults .header th {
    background-color: auto;
    padding: 2px 6px;
}

.searchResults .header table {
    border: 0;
    border-padding: 0;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.searchResults .header td {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

/* filter sidebar */
.searchFilters {
    border: solid gray;
    border-radius: 5px;
    border-width: 0 1px 1px 1px;
    float: left;
}

.searchFilters b {
    font-weight:bold;
}

.searchFilters .filterTabs {
    margin: 0;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.searchFilters .filterTabs li {
    background-color: lightgray;
    border: solid gray;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 1px 0;
    color: black;
    display: inline;
    float: left;
    margin: 0;
    padding: 2px 5px;
}

.searchFilters .filterTabs li:last-child {
    border-right-width: 0;
}

.searchFilters .filterTabs li:hover {
    cursor: pointer;
}

.searchFilters .filterTabs li.selected {
    background-color: transparent;
    border-bottom-width: 0;
    color: #337700;
}

.searchFilters .filterTabs li.disabled {
    color: gray;
}

.searchFilters .filterTabs li.disabled:hover {
    cursor: default;
}

.searchFilters .tabContent {
    display: none;
    padding-top: 40px;
    padding-bottom: 20px;
}

.searchFilters .tabContent li {
    list-style: none;
}

.searchFilters .tabContent.filterBy ul {
    margin: 0.5em 0 0 1em;
}

.searchFilters .tabContent.filterBy ul li {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.searchFilters .tabContent.filterBy ul li ul {
    margin: 0 0 0 5px;
}

.searchFilters .tabContent.filterBy ul ul li {
    background: url("../images/search_filter.png") repeat-y;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 2px 0;
}

.searchFilters .tabContent.filterBy ul ul li label {
    background: url("../images/search_filter_node.png") no-repeat;
    padding-left: 8px;
}

/* hopefully this fills any potential space before the last node */
.searchFilters .tabContent.filterBy ul ul li:last-child {
    background: url("../images/search_filter.png") no-repeat;
    background-size: 1px 6px;
}

.searchFilters .tabContent.filterBy ul ul li:last-child label {
    background: url("../images/search_filter_last.png") no-repeat;
}

.searchFilters .tabContent.filterBy ul li ul ul {
    margin-left: 13px;
}

.searchFilters .tabContent.filterBy ul li ul ul li {
    font-style: normal;
}

.searchFilters .toggleAll {
    margin-left: 13px;
    margin-top: 13px;
}
/*
.searchFilters .resultsCount {
    color: #ff4500;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
*/

/* buttons. lots and lots of buttons. */

.tier1, .tier2, .tier3, .tier4, .tier5,
.mouse, .human, .rat, .fly, .zebrafish, .monkey,
.ctd, .drg, .go, .mp, .mesh,
.gs_size, .gs_provisional, .gs_deprecated, .gs_deleted,
.group_name {
    color: black;
    cursor: default;
    display: inline-block;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 1px 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.tier1 {
    background-color:#ffc477;
    border:1px solid #eeb44f;
}

.tier2 {
    background-color:#dfbdfa;
    border:1px solid #c584f3;
}

.tier3 {
    background-color:#fa665a;
    border:1px solid #d83526;
}

.tier4 {
    background-color:#9dce2c;
    border:1px solid #83c41a;
}

.tier5 {
    background-color:#63b8ee;
    border:1px solid #3866a3;
}

.mouse {
    background-color:#fae4db;
    border:1px solid #eeb44f;
}

.human {
    background-color: #f9fac5;
    border:1px solid #d7c000;
}

.rat {
    background-color: #b5faf5;
    border:1px solid #44fcf7;
}

.fly {
    background-color: #fae3e9;
    border:1px solid #fca5b7;
}

.zebrafish {
    background-color: rgba(245, 254, 225, 0.89);
    border:1px solid #8fcb0a;
}

.monkey {
    background-color: #f4dfff;
    border:1px solid #b4d1fb;
}

.ctd {
    background-color: #ff6034;
    border:1px solid black;
}

.drg {
    background-color: #70da99;
    border:1px solid black;
}

.go {
    background-color: #3875d7;
    border:1px solid black;
}

.mp {
    background-color: #db4d4d;
    border:1px solid black;
}

.mesh {
    background-color: darkseagreen;
    border: 1px solid #000000;
}

.gs_size {
    background-color:#e9ebe4;
    border:1px solid #83c41a;
    font-size: 9px;
    padding: 2px 3px;
}

.gs_provisional {
    background-color: #ff7;
    border: 1px solid #cc4;
    font-size: 9px;
    padding: 2px 4px;
}

.gs_deleted {
    background-color: black;
    border: 1px solid black;
    color: #ccc;
    font-size: 9px;
    padding: 2px 4px;
}

.gs_deprecated {
    background-color: #c00;
    border: 1px solid #900;
    color: white;
    font-size: 9px;
    padding: 2px 4px;
}

a.gs_deprecated:link {
    color: white;
    cursor: auto;
}

a.gs_deprecated:visited {
    color: white;
    cursor: auto;
}

a.gs_deprecated:hover {
    border: 1px solid #900;
    text-decoration: underline;
}

.group_name {
    background-color: #dddddd;
    border:1px solid black;
}

.ontology-tag {

    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 6px 5px 6px;
}

div#gs_size_slider {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 175px;
}

div#gs_size_slider a {
    background: darkgray;
    border: 1px solid #999999;
    outline: 0;
}

div#gs_size_slider .ui-slider-range {
    background: lightgray;
}

div#gs_size_slider .exc .ui-slider-range {
    background: transparent;
}

