{% include 'header.html' %}

<br>
<div id="main-content">
	<h3><b>About</b></h3>
    
	<div class="panel bd-0 bd-l-blue">
		<div class="panel-body" style="width: 65%">
			<h3><b>Acknowledgements</b></h3>
			<p><i>"Making sense of genomics is risky, <br>
					But with database builders so frisky <br>
					Gene expression in brains <br>
					May one day explain <br>
					A mouse's obsession with whiskey" <br>
			</i></p>
			<p>-Poet Laureate of the Neuroscience Program, <br>
				University of Illinois at Urbana-Champaign, <br>
				November 27, 2006 <br>
			</p><br>
			<p><b>When using Gene Weaver, please cite:</b>
				Erich J. Baker, Jeremy J. Jay, Jason A. Bubier, Michael A. Langston, and Elissa J. Chesler.
				<a href="http://nar.oxfordjournals.org/content/40/D1/D1067.full">Geneweaver: a web-based system for integrative functional genomics.</a>
				Nucl. Acids Res. (2012) 40(D1): D1067-D1076
			</p>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-circle"></i>Jeremy Jay, Lead Developer</li>
    			<li><i class="fa-li fa fa-circle"></i>Zuopan Li, Web Programmer</li>
    			<li><i class="fa-li fa fa-circle"></i>Michael A. Langston, Graph Algorithms Team Leader</li>
    			<li><i class="fa-li fa fa-circle"></i>Yun Zhang, Graph Algorithms</li>
    			<li><i class="fa-li fa fa-circle"></i>Erich J. Baker, Database Design Leader</li>
   				<li><i class="fa-li fa fa-circle"></i>Roumyana Kirova, Statistics and Data Mining</li>
    			<li><i class="fa-li fa fa-circle"></i>Vivek Philip, Visualization</li>
    			<li><i class="fa-li fa fa-circle"></i>Elissa J. Chesler, Fearless Leader</li>
			</ul><br>
			<p>Icons used on this site are from the
				<a href="http://tango.freedesktop.org/">Tango Project</a>
				and distributed under the
				<a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike License.</a>
			</p>
		</div>
	</div>

</div>
<br>

{% include 'footer.html' %}
