{# The geneset no longer exists. #}

<div class="alert alert-danger fade in" style="text-align:center">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="false">
        &times;
    </button>
    <strong>
        The GeneSet you are looking for does not exist.
        <br />
        {% if user_id == 0 %}
            <a href="/login">
                <button type="button" class="btn btn-danger m-t-10 m-r-10" id="login-redirect">Login</button>
            </a>
            <a href="/register">
                <button type="button" class="btn btn-default m-t-10">Register</button>
            </a>
        {% endif %}
    </strong>
</div>
