<div class='row'>
    <div class="col-md-12" id="my_groups">
        {% include 'htmlfragments/groupSelect.html' %}
    </div>
</div>
<div class='help-block'></div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success btn-transparent btn-sm" data-toggle="modal" data-target="#createNewGroupModal">
            <i class="fa fa-group"></i> Create New Group
        </button>
        {% include 'modal/createNewGroup.html' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class='help-block'></div>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#joinPublicGroupModal">
            <i class="fa fa-group"></i> Join Public Group
        </button>
        {% include 'modal/addPublicGroups.html' %}
    </div>
</div>
<script type="text/javascript">
    var reload_groups = function() {
        $('#my_groups').load('/mygroupselect');
    }

    $('#joinPublicGroupModal').on('shown.bs.modal', function(e) {
        $('#available_groups').load('/publicgroupsmultiselect');
    });
</script>
