<style type="text/css">

    .clickableEdit {
        cursor: pointer;
        color: #d3d3d3;
    }

    .clickableShare {
        cursor: pointer;
        color: #d3d3d3;
    }

    /* CSS added to change chevrons on accordion select. */
    .panel-heading a.collapsed:before {
        padding-left: 10px;
        font-family: FontAwesome;
        content: "\f0da";
    }

    .panel-heading a:before {
        padding-left: 10px;
        font-family: FontAwesome;
        content: "\f0d7";
    }

    .panel-heading {
        max-height: 60px;
        border: none;
    }

</style>

<div class="panel-group" id="projAccordion">

    {% if "user" in g %}

        {% for proj in g.user.projects %}
            <div id="project-{{ proj.project_id }}" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <div class="row">
                            <div class="col-xs-2">

                                <div class="ui-checkbox proj-checkbox" style="padding: 0; border: 0;">
                                    <label for="proj-{{ proj.project_id }}-allcheck">
                                        <input type="checkbox" data-project="{{ proj.project_id }}"
                                               data-project-name="{{ proj.name }}"
                                               id="proj-{{ proj.project_id }}-allcheck"/>
                                    </label>
                                </div>

                            </div>
                            <div class="col-xs-15" style="vertical-align: bottom;">
                                <a class="project-link" data-toggle="collapse"
                                   data-parent="#projAccordion" href="#genesets-{{ proj.project_id }}">
                                    {{ proj.name }}
                                </a>
                                {% if proj.group_id != '-1' %}
                                <span data-placement="right" data-toggle="tooltip" data-rel="tooltip"
                                      data-original-title="Shared" type="button" title="Shared"
                                      style="margin: 2px; padding: 0px 2px;">
                                    <i class="fa fa-star" style="color: #006400"></i>
                                </span>
                                {% endif %}
                                <span data-placement="right" data-toggle="tooltip" data-rel="tooltip"
                                                      data-original-title="Share" type="button" title="Share Project"
                                                      style="margin: 2px; padding: 0px 2px;">
                                    <span class="clickableShare" id="share-{{ proj.project_id }}"
                                          data-proj-name="{{ proj.name }}"
                                          data-proj-id="{{ proj.project_id }}" data-proj-grp="{{ proj.group_id }}">
                                        <i class="fa fa-share-alt"></i>
                                    </span>
                                </span>
                                <span data-placement="right" data-toggle="tooltip" data-rel="tooltip"
                                                      data-original-title="Edit" type="button" title="Edit Name"
                                                      style="margin: 2px; padding: 0px 2px;">
                                    <span class="clickableEdit" id="edit-{{ proj.project_id }}"
                                          data-proj-name="{{ proj.name }}"
                                          data-proj-id="{{ proj.project_id }}" data-proj-notes="{{ proj.notes }}">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                </span>

                            </div>
                        </div>
                    </h2>
                </div>
                <div id="genesets-{{ proj.project_id }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table id="project-body-{{ proj.project_id }}" class="table table-hover">
                        </table>
                    </div>
                </div>
            </div>

            {% include 'modal/addProjectToGroup.html' %}


        {% endfor %}
    {% else %}
        <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            You do not have any projects.
        </div>
    {% endif %}
</div>

{% include 'modal/editProjectName.html' %}

<script type="text/javascript">

    // Update project set to new name
        $('.clickableEdit').on('click', function () {
           var projId = $(this).attr('data-proj-id');
            var projName = $(this).attr('data-proj-name');
            var editComment = $(this).attr('data-proj-notes');
            $("#projName").val(projName);
            $("#projId").val(projId);
            $("#editComment").val(editComment);
            $("#editModal").modal('show');
        });

    // Process the project name change
        $('#editSubmit').on('click', function () {
           var n = $('#projName').val();
            var i = $('#projId').val();
            var c = $('#editComment').val();
            $.ajax({
                type: "GET",
                url: "/changeProjectNameById",
                data: {"projid": i, "projname": n, "comments": c},
                success: function (data) {
                    var v = JSON.parse(data);
                    if (v["error"] == 'None') {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "Project name changed successfully.",
                                'priority': 'success'
                            }
                        ]);
                        location.reload()
                    }
                    else {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "An Error Occurred. " + v["error"],
                                'priority': 'danger'
                            }
                        ]);
                    }
                },
                error: function (data) {
                    $(document).trigger("add-alerts", [
                    {
                        'message': "An Error occurred while changing project name.",
                        'priority': 'danger'
                    }
                ]);
                }
            })
        });

        // Call modal to share selected projects
        $('.clickableShare').on('click', function () {
            var projId = $(this).attr('data-proj-id');
            var projName = $(this).attr('data-proj-name');
            var projGrp = $(this).attr('data-proj-grp');
            $("#myProjName").html(projName);
            $("#myProjId").val(projId);
            $("#myProjGrp").html(projGrp);
            $("#addProjToGroup-" + projId).modal('show');
        });


    </script>