<style type="text/css">

    .plus:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f067";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
    }

    .minus .plus:before {
        content: "\f068";
    }

    .openstar:before {
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        content: "\f006";
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
        color: #006400;
    }

    .closedstar:before {
        content: "\f005";
        position: relative;
        background-image: none !important;
        display: inline-block;
        font-family: FontAwesome;
        cursor: pointer;
        vertical-align: middle;
        horiz-align: center;
        color: #006400;
    }

    .clickableEdit {
        cursor: pointer;
        color: #d3d3d3;
    }

    .clickableShare {
        cursor: pointer;
    }

    /* CSS added to change chevrons on accordion select. */
    .panel-heading a.collapsed:before {
        padding-left: 10px;
        font-family: FontAwesome;
        content: "\f0da";
    }

    .panel-heading a:before {
        padding-left: 10px;
        font-family: FontAwesome;
        content: "\f0d7";
    }

    .panel-heading {
        max-height: 60px;
        border: none;
    }

    table#allProjects td {
        vertical-align: middle;
    }

</style>

{% if "user" in g %}

<div class="panel-body">
    <form id="manageProjects" name="manageProject" method="post" action="#"
          class="form-horizontal form-inline" novalidate="novalidate">
        <!-- TODO make the table sortable, show more gene details -->
        <table class="table table-hover" id="allProjects" cellpadding="0" cellspacing="0">
            <tbody>
            <tr style="background: #ececec;">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Project Name</th>
                <th style="text-align: center;">Size</th>
                <th style="text-align: center;">Date</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>

            {% for proj in g.user.projects %}
                <tr>
                    <!-- checkbox -->
                    <td width="18">
                        <div class="ui-checkbox proj-checkbox">
                            <label for="proj-{{ proj.project_id }}-allcheck">
                                <input type="checkbox" data-project="{{ proj.project_id }}"
                                       data-project-name="{{ proj.name }}"
                                       id="proj-{{ proj.project_id }}-allcheck"/>
                            </label>
                        </div>
                    </td>
                    <!-- expand button -->
                    <td width="15">
                        <span id="proj-{{ proj.project_id }}" class="toggler" data-prod="{{ proj.project_id }}">
                            <span class="plus"></span>
                            <span class="minus"></span>
                        </span>
                    </td>
                    <!-- Project Name -->
                    <td>
                        <strong>{{ proj.name }}</strong>
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Edit" type="button" title="Edit Name">
                            <span class="clickableEdit" id="edit-{{ proj.project_id }}"
                                  data-proj-name="{{ proj.name }}"
                                  data-proj-id="{{ proj.project_id }}" data-proj-notes="{{ proj.notes }}">
                                <i class="fa fa-pencil"></i>
                            </span>
                        </span>
                    </td>
                    <!-- Size -->
                    <td style="text-align: center;">
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Genesets" type="button" title="{{ proj.count }} Gene Sets">
                            {{ proj.count }}
                        </span>
                    </td>
                    <!-- Dated Project Created -->
                    <td style="text-align: center;">
                        {% if proj.created != None %}
                            {{ proj.created }}
                        {% endif %}
                    </td>
                    <!-- Shared -->
                    <td>
                        {% if proj.group_id != '-1' %}
                            <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                                  data-original-title="Shared" type="button" title="Shared">
                                <span class="showProjectGroups" data-proj-id="{{ proj.project_id }}">
                                    <i class="fa fa-group"></i>
                                </span>
                            </span>
                        {% endif %}
                        {% include 'modal/viewProjectGroups.html' %}
                    </td>
                    <!-- Icon to Share Project -->
                    <td>
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Share" type="button" title="Share Project">
                            <span class="clickableShare" id="share-{{ proj.project_id }}"
                                  data-proj-name="{{ proj.name }}"
                                  data-proj-id="{{ proj.project_id }}" data-proj-grp="{{ proj.group_id }}">
                                <i class="fa fa-share-alt"></i>
                            </span>
                        </span>
                        {% include 'modal/addProjectToGroup.html' %}
                    </td>
                    <!-- remove -->
                    <td>
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Delete" type="button" title="Delete Project">
                            <span class="clickableDelete" id="delete-{{ proj.project_id }}"
                                  data-proj-name="{{ proj.name }}"
                                  data-proj-id="{{ proj.project_id }}">
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </span>
                    </td>
                    <!-- star -->
                    <td>
                        <span data-placement="top" data-toggle="tooltip" data-rel="tooltip"
                              data-original-title="Star" type="button" title="Star Project">
                            {% if proj.star == 'f' %}
                            <span id="projstar-{{ proj.project_id }}" class="starToggler" data-prod="{{ proj.project_id }}">
                                <span class="openstar"></span>
                                <span class="closedstar" style="display: none;"></span>
                            </span>
                            {% else %}
                            <span id="projstar-{{ proj.project_id }}" class="starToggler" data-prod="{{ proj.project_id }}">
                                <span class="openstar" style="display: none;"></span>
                                <span class="closedstar"></span>
                            </span>
                            {% endif %}
                        </span>
                    </td>
                </tr>

                <tr class="gsid{{ proj.project_id }}" id="genesets-{{ proj.project_id }}" style="display: none;">
                    <td colspan="9">
                        <table id="project-body-{{ proj.project_id }}" class="table table-hover">
                        </table>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </form>
</div>

{% else %}

    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        You do not have any projects.
    </div>

{% endif %}


{% include 'modal/editProjectName.html' %}

<script type="text/javascript">

    // Update project set to new name
        $('.clickableEdit').on('click', function () {
           var projId = $(this).attr('data-proj-id');
            var projName = $(this).attr('data-proj-name');
            var editComment = $(this).attr('data-proj-notes');
            $("#projName").val(projName);
            $("#projId").val(projId);
            $("#editComment").val(editComment);
            $("#editModal").modal('show');
        });

    // Delete Individual Project
        $('.clickableDelete').on('click', function () {
            var projId = $(this).attr('data-proj-id');
            var projName = $(this).attr('data-proj-name');
            $("#myModalLabel").html(projName);
            $("#myModalValue").val(projId);
            $("#delProjects").modal('show');
        });

    // Process the project name change
        $('#editSubmit').on('click', function () {
           var n = $('#projName').val();
            var i = $('#projId').val();
            var c = $('#editComment').val();
            $.ajax({
                type: "GET",
                url: "/changeProjectNameById",
                data: {"projid": i, "projname": n, "comments": c},
                success: function (data) {
                    var v = JSON.parse(data);
                    if (v["error"] == 'None') {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "Project name changed successfully.",
                                'priority': 'success'
                            }
                        ]);
                        location.reload()
                    }
                    else {
                        $(document).trigger("add-alerts", [
                            {
                                'message': "An Error Occurred. " + v["error"],
                                'priority': 'danger'
                            }
                        ]);
                    }
                },
                error: function (data) {
                    $(document).trigger("add-alerts", [
                    {
                        'message': "An Error occurred while changing project name.",
                        'priority': 'danger'
                    }
                ]);
                }
            })
        });

        // Call modal to share selected projects
        $('.clickableShare').on('click', function () {
            var projId = $(this).attr('data-proj-id');
            var projName = $(this).attr('data-proj-name');
            var projGrp = $(this).attr('data-proj-grp');
            $("#myProjName").html(projName);
            $("#myProjId").val(projId);
            $("#myProjGrp").html(projGrp);
            $("#addProjToGroup-" + projId).modal('show');
        });

        // Call modal to show groups associated with projects
        $('.showProjectGroups').on('click', function () {
           var projId = $(this).attr('data-proj-id');
            $.ajax({
                    type: "GET",
                    url: "../getProjectGroups.json",
                    data: {"proj_id": projId},
                    success: function (data) {
                        var v = JSON.parse(data);
                        text = '<table class=\"table table-striped\"><th>Group Name</th><th>Owner</th><th>&nbsp;</th>';
                        for (var i in v) {
                            text += '<tr>';
                            text += "<td>" + v[i]['grp_name'] + "</td>";
                            text += "<td>" + v[i]['usr_email'] + "</td>";
                            if (v[i]['grp_private'] && (v[i]['grp_private']).toString() === 'true') {
                                text += "<td><span class=\"label label-danger\">Private</span></td>";
                            } else {
                                text += "<td><span class=\"label label-info\">Public</span></td>";
                            }
                            text += "</tr>";
                        }
                        text += "</table>";
                        $("#groups-"+projId).html(text);
                        $("#groupsModal-"+projId).modal('show');
                    }
                });
        });

        //Process usr to group
        $('.addProjToGroup').on('click', function () {
            var checked = [];
            var projId = $(this).attr('data-proj-id');
            $("#addProjToGroup-" + projId + " input[name='grpOptions[]']:checked").each(function () {
               checked.push($(this).val());
            });
            var i = checked.join(",");
            $.ajax({
                type: "GET",
                url: "../updateProjectGroups",
                data: {"user_id": {{ g.user.user_id }}, "proj_id": projId, "groups": JSON.stringify(i) },
                success: function (data) {

                    if (data.success) {

                        $(document).trigger("add-alerts", [{
                            'message': "Project Group permissions successfully updated.",
                            'priority': 'success'
                        }]);
                       
                        window.location.reload();

                    } else {

                        $(document).trigger("add-alerts", [{
                            'message': data.message,
                            'priority': 'error'
                        }]);
                    }
                }
            });
        });

        // Update stared projects.
        $('.starToggler').click(function (e) {
            e.preventDefault();
            var pid = ($(this).attr("data-prod"));

            $.ajax({
                    type: "GET",
                    url: "../updateStaredProject",
                    data: {"user_id": {{ g.user.user_id }}, "proj_id": pid},
                    success: function (data) {
                        if ($('#projstar-'+pid).find('.openstar').is(":hidden")) {
                            $('#projstar-'+pid).find('.openstar').show();
                            $('#projstar-'+pid).find('.closedstar').hide();
                        }
                        else {
                            $('#projstar-'+pid).find('.openstar').hide();
                            $('#projstar-'+pid).find('.closedstar').show();
                        }
                    }
                });
        });



    </script>
