/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/


/* Make the elements in the navbar white rather than gray*/
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
#anon-user-span a {
	color: #fff;
}
#valid-user-span, #valid-user-span a{
	color: #fff;
}

body {
	background-color: white;
}

.dropdown-menu {
	width: auto !important;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 155px; /* '.push' must be the same height as 'footer' */
}
form {
	height: 100%;
}
