/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/


/* Make the elements in the navbar white rather than gray*/
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
#anon-user-span a {
	color: #fff;
}
#valid-user-span, #valid-user-span a{
	color: #fff;
}

body {
	background-color: white;
}

.dropdown-menu {
	width: auto !important;
}

.table-checkbox {
	margin: -6px 0 0 -13px !important;
}