{# Actual modal that selects genesets and projects to add. Called from mygenesets #}

<div class="modal fade" id="addToProjectModal">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: auto">
            <form id="addGenesetsToProj" name="addGenesetsToProj" method="post" action="#"
                  class="form-horizontal" novalidate="novalidate">

                <div class="modal-header bg-green">
                    <h3 class="modal-title" style="color: #f5f5f5">Add Selected GeneSets to Projects</h3>
                </div>
                <div class="modal-body">
                    <div class="row" id="modalError"></div>
                    <div class="row">
                        <h4>
                            Please select the projects for GeneSet(s):
                        </h4>
                    </div>
                    <div class="row" style="text-align:center;">
                        <strong>
							<span class="rows" id="myModalLabel" style="color: #006400;">
							</span>
						</strong>
					</div>
                    <div class="modal-footer" align="center" style="text-align:center;">
                        <button type="button" class="btn btn-success btn-transparent"
                                id="addNewProject" style="padding-left:12px;padding-right:12px">
                            <i class="fa fa-plus"></i>
                            Add to New Project
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal"
                                id="addGenesetsToProjects" style="padding-left:12px;padding-right:12px">
                            Add to Selected Projects
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding-left:12px;padding-right:12px">
                            Close
                        </button>
                    </div>
                    <div class="row" id="reveal-if-active" style="display:none;">
                        <label for="newProjName"><h4>New Project Name: </h4></label>
                        <input type="text" id="newProjName" name="newProjName" class="form-control input-lg">
                    </div>
                    <div class="row" style="padding-top: 10px">
						{% if g.user is defined %}
                        {% for currProj in g.user.projects %}
                            <label for="addProjects{{ currProj.project_id }}"
                                   class="ui-btn ui-corner-all ui-btn-icon-left ui-checkbox-off">
                                {{ currProj.name }}</label>
                            <input
                                    type="checkbox"
                                    name="options[]"
                                    id="addProjects{{ currProj.project_id }}"
                                    value="{{ currProj.project_id }}">
                        {% endfor %}
                        {% endif %}
                        <input type="hidden" id="myModalValue" name="gs_id" value=""/>
                        <input type="hidden" id="gsID" name="gs_id" value=""/>
                        <input type="hidden" id="projID" name="proj_id" value=""/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
