{#  Provides a warning if no genesets are selected. Call from mygenesets. #}

<div class="modal fade" id="myAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h3 class="modal-title" style="color: #f5f5f5">No GeneSets Selected</h3>
            </div>
            <div class="modal-body">
                <h4>You must select at least one GeneSet to add to your projects.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-error" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>