{# This modal allows you to create a stub Geneset #}

<div class="modal fade" id="addStubModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addStub" name="addStub" method="post" action="#" class="form-horizontal"
                  novalidate="novalidate">
                <div class="modal-header bg-green">
                    <h3 class="modal-title" style="color: #f5f5f5">Create New Geneset</h3>
                </div>
                <div class="modal-body">
                    <div class="form-class">
                        <label for="name"><h4>GeneSet Name:</h4></label>
                        <input class="form-control input-lg" name="name" id="name" type="text" size="50" required>
                        <label for="figureLabel"><h4>GeneSet Figure Label:</h4></label>
                        <input class="form-control input-lg" name="figureLabel" id="figureLabel" type="text" size="50" required>
                        <label for="description"><h4>Description:</h4></label>
                        <textarea class="form-control" name="description" id="description"
                                  form="addStub" rows="10" cols="50" required></textarea>

                        <label for="sp_id"><h4>Species:</h4></label>
                        <select class="form-control" name="sp_id" id="sp_id" required>
                            {% for spec in species %}
                                <option label="{{ species[spec] }}" value="{{ spec }}">{{ species[spec] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" data-dismiss="modal" id="stubSubmit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
