{# This modal allows you to create a stub Geneset #}

<div class="modal fade" id="addStubModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="addStub" name="addStub" method="post" action="#"
                  class="form-horizontal"
                  novalidate="novalidate">
                <div class="modal-header bg-green">
                    <h3 class="modal-title" style="color: #f5f5f5">Create New
                        Geneset</h3>
                </div>
                <div class="modal-body">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label
                                        for="sp_id">Species:</label>
                                <select class="form-control"
                                        name="sp_id"
                                        id="sp_id" required>
                                    {% for spec in species %}
                                        <option label="{{ species[spec] }}"
                                                value="{{ spec }}">{{ species[spec] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-md-3">GeneSet Name</div>
                            <div class="col-md-3">GeneSet Fig. Label</div>
                            <div class="col-md-6">Description</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><input
                                    class="form-control" name="name_1"
                                    id="name_1" type="text" required></div>
                            <div class="col-md-3"><input
                                    class="form-control"
                                    name="figureLabel_1" id="figureLabel_1"
                                    type="text" required></div>
                            <div class="col-md-6"><textarea
                                    class="form-control" name="description_1"
                                    id="description_1"
                                    form="addStub" rows="1" cols="40"
                                    required></textarea></div>
                        </div>
                        <div id="newRowContainer"></div>
                        <div class="row">
                            <button type="button" class="btn btn-default"
                                    id="addStubRow">Add Row
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-warning"
                            data-dismiss="modal" id="stubSubmit">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
