{# This modal allows you to edit the identifier of a gene #}

{% if geneset is defined and geneset.geneset_id is defined and pidts is defined %}

<div class="modal fade" id="editIdentifierByGSID">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editIdentifierName" name="editIdentifierName" method="post" action="#" class="form-horizontal"
                  novalidate="novalidate">
                <div class="modal-header bg-green">
                    <h3 class="modal-title" id="editLabel" style="color: #f5f5f5">Edit Identifier</h3>
                </div>
                <div class="modal-body">
                    <div class="input-group-btn">
                        <div id="identifier" class="btn-group bootstrap-select form-control">
                                <button id="selectedIdentifier" type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <span class="selected">
                                        {% if geneset.gene_id_type < 0 %}
                                            {{ gidts[-1 * geneset.gene_id_type] }}
                                        {% else %}
                                            {{ pidts[geneset.gene_id_type] }}
                                        {% endif %}
                                    </span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu option" role="menu">
                                    {% for key in gidts %}
                                        {% if geneset.gene_id_type < 0 %}
                                            <li id="{{ key }}"><a href="#">{{ gidts[key] }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                        <li id="MicroArray">MicroArray</li>
                                    {% for val in pidts %}
                                        <li id="{{ val }}"><a href="#">{{ pidts[val] }}</a></li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" data-dismiss="modal" id="editSubmitIdentifier">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
