{# Actual modal that selects the alternative gene id type. Called from view my genesets. #}

<div class="modal fade" id="selectGeneDisplayType">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow-y: visible; max-height: 540px;">
            <form id="selectGeneDisplayType" name="selectGeneDisplayType" method="post" action="#"
                  class="form-horizontal" novalidate="novalidate">

                <div class="modal-header bg-green">
                    <h3 class="modal-title" style="color: #f5f5f5">Select Alternate Gene ID Type</h3>
                </div>
                <div class="modal-body">

                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-12">
                            <div id="geneSymbol" class="btn-group bootstrap-select form-control">
                                <button type="button" class="btn dropdown-toggle selectpicker input-lg btn-default"
                                        data-toggle="dropdown">
                                    <span data-bind="label" class="newName">Select Alternate Gene ID</span>&nbsp;
                                    <span class="caret"></span>
                                </button>
                                <div id="altGeneSymbol" class="dropdown-menu open" style="max-height: 413.5px; overflow: hidden; min-height: 0px;">
                                    <ul id="geneSymbol" class="dropdown-menu inner selectpicker" role="menu" style="max-height: 401.5px;
                                        overflow-y: auto; min-height: 0px;">
                                        <li rel="0"><a tabindex="0" class="" style="">
                                            <span class="text">Gene Symbol</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="1"><a tabindex="0" class="" style="">
                                            <span class="text">Entrez</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">Ensembl Gene</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">UniGene</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">MGI</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">FlyBase</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">WormBase</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">RGD</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                        <li rel="2" class="selected"><a tabindex="0" class="" style="">
                                            <span class="text">ZFIN</span>
                                            <i class="fa fa-check icon-ok check-mark"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"
                            id="selectGeneType">Select ID Type
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
