{# This modal allows you to add a blank Project #}

<div class="modal fade" id="showGenericModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="showGenericModal" name="showGenericModal" method="post" action="#" class="form-horizontal"
                  novalidate="novalidate">
                <div class="modal-header bg-green">
                    <h3 class="modal-title" id="genericLabel" style="color:#f5f5f5; text-align:center;">
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-class">
                        <h4 id="genericMessage" style="text-align:center;">
                        </h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-md btn-warning" data-dismiss="modal" id="genericClose">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>