{# Modal for saving geneset genes. This can not be reversed#}

<div class="modal fade" id="verifyGenesetGenes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h3 class="modal-title" id="delLabel" style="color: #f5f5f5">Save GeneSet Genes</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure that you want to save these updates?
                    This is permanent and not recoverable.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="processGenesetGenes" data-dismiss="modal">Save Updated Genes
                </button>
            </div>
        </div>
    </div>
</div>