{# Modal for verifing the removal of genesets from projects#}

<div class="modal fade" id="confirmRemoveGenesets">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <h3 class="modal-title" id="verifyLabel" style="color: #f5f5f5">Remove Genesets From Projects</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure that you want to remove these genesets?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="processRemoveGenesets"
                        data-dismiss="modal">Remove Genesets
                </button>
            </div>
        </div>
    </div>
</div>