{% import 'macros.html' as macros %}

<div class="panel">
	<div class="panel-heading">
		<img src="/static/images/GW2-geneset.png" width="50" height="50">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#gsvCollapse">
				Geneset Graph
			</a>
		</h2>
	</div>
	<div id="gsvCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['GeneSetViewer_MinDegree']) }}</div>
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_SupressDisconnected']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>
