{% import 'macros.html' as macros %}

<div class="panel">
    <div class="panel-heading">
		<div class="" style="width:100%; display:table">
			<div style="width:100%; display:table-row">
				<div style="height:100%; display:table-cell;">
					<button type="submit" {{ macros.tool_run_click(tool) }} 
						style="background:transparent; margin:0; padding:0; border:none !important;">
					<img  src="/static/images/GW2-geneset.png" width=50 height=50 style="margin-top:5px">
					</button>
				</div>
				<div style="padding-left:5px; display:table-cell; vertical-align:middle;">
					<a class="tool-link" data-toggle="collapse"
						data-parent="#accordion" href="#gsvCollapse" style="color:black;">
						<u class="tool-title">GeneSet Graph</u>
						<span id="pm-caret" class="fa fa-caret-left"></span>
					<span class="tool-description">
						Visualize the Gene-GeneSet graph.
                        <span id="gsgraph-wiki">
                            <span style="text-decoration:underline">Help</span>
                            <span class="fa fa-question-circle-o"></span>
                        </span>
					</span>
					</a>
				</div>
			</div>
        </div>
	</div>
	
	<div id="gsvCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['GeneSetViewer_MinDegree']) }}</div>
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_SupressDisconnected']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>
<script>
    $('#gsgraph-wiki').click(function () {
        window.open('http://geneweaver.org/wiki/index.php?title=GeneSet_Graph');
    });
</script>
