{% import 'macros.html' as macros %}

<div class="panel">
    <div class="panel-heading">
		<div class="row panel-title" style="width:100%;">
			<div class="col-md-2">
				<button type="submit" {{ macros.tool_run_click(tool) }} 
					style="background:transparent; margin:0; padding:0; border:none !important;">
				<img src="/static/images/GW2-geneset.png" width=50 height=50 style="margin-top:5px">
				</button>
			</div>
			<div class="col-md-10" style="margin:0">
				<a data-toggle="collapse" data-parent="#accordion" href="#gsvCollapse" style="color:black;">
					<u>GeneSet Graph</u>
				<span style="font-size:11px; display:inline-block;">
					Visualize the Gene-GeneSet graph.
				</span>
				</a>
			</div>
		</div>
	</div>
	<div id="gsvCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['GeneSetViewer_MinDegree']) }}</div>
			<div class="form-group">{{ macros.tool_param_radio(tool.params['GeneSetViewer_SupressDisconnected']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>
