{% import 'macros.html' as macros %}

<div class="panel">
    <div class="panel-heading">
		<div class="row panel-title" style="width:100%;">
			<div class="col-md-2">
				<button type="submit" {{ macros.tool_run_click(tool) }} 
					style="background:transparent; margin:0; padding:0; border:none !important;">
				<img src="/static/images/GW2-clust.png" width=50 height=50 style="margin-top:5px">
				</button>
			</div>
			<div class="col-md-10" style="margin:0">
				<a data-toggle="collapse" data-parent="#accordion" href="#jcCollapse" style="color:black;">
					<u>GeneSet Clustering</u>
				<span style="font-size:11px; display:inline-block;">
					Use Jaccard Distance to cluster GeneSets.
				</span>
				</a>
			</div>
		</div>
	</div>
	<div id="jcCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="from-group">{{ macros.tool_param_radio(tool.params['JaccardClustering_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['JaccardClustering_Method']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>

{#<script>#}
{#    $("#JaccardClustering_Method").append('<option value="Heatmap" label="Heatmap">Heatmap</option>')#}
{#</script>#}
