{% import 'macros.html' as macros %}

<div class="panel">
	<div class="panel-heading">
		<img src="/static/images/GW2-clust.png" width="50" height="50">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#jcCollapse">
				GeneSet Clustering
			</a>
		</h2>
	</div>
	<div id="jcCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="from-group">{{ macros.tool_param_radio(tool.params['JaccardClustering_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['JaccardClustering_Method']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>

{#<script>#}
{#    $("#JaccardClustering_Method").append('<option value="Heatmap" label="Heatmap">Heatmap</option>')#}
{#</script>#}