{% import 'macros.html' as macros %}

<div class="panel">
	<div class="panel-heading">
		<img src="/static/images/GW2-jaccard.png" width="50" height="50">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#jsCollapse">
				Jaccard Similarity
			</a>
		</h2>
	</div>
	<div id="jsCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="form-group">{{ macros.tool_param_radio(tool.params['JaccardSimilarity_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['JaccardSimilarity_PairwiseDeletion']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['JaccardSimilarity_p-Value']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>
