{% import 'macros.html' as macros %}

<div class="panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#jcCollapse">
				Jaccard Clustering
			</a>
		</h2>
	</div>
	<div id="jcCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="from-group">{{ macros.tool_param_radio(tool.params['JaccardClustering_Homology']) }}</div>
			<div class="form-group">{{ macros.tool_param_select(tool.params['JaccardClustering_Method']) }}</div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>
