{% import 'macros.html' as macros %}

<style>
    .panel .panel-header .panel-info .panel-heading {

        background-color: #F0F0F0;
    }
</style>

<div class="panel">
    <div class="panel-heading">
        <div class="" style="width:100%; display:table">
            <div style="width:100%; display:table-row">
                <div style="height:100%; display:table-cell;">
                    <button type="submit" {{ macros.tool_run_click(tool) }} style="background:transparent; margin:0; padding:0; border:none !important;">
                        <img src="/static/images/GW_ont_analysis_OntHisim.png" width=50 height=50 style="margin-top:5px">
                    </button>
                </div>
                <div style="padding-left:5px; display:table-cell; vertical-align:middle;">
                    <a class="tool-link" data-toggle="collapse" data-parent="#accordion" href="#ohsCollapse" style="color:black;">
                        <u class="tool-title">OntologyHiSim Graph</u>
                        <span id="pm-caret" class="fa fa-caret-left"></span>
                        <span class="tool-description">
                            Biclique-based analysis used to generate hierarchical maps of
                            gene set intersections.
                            <span id="hisim-wiki">
                                <span style="text-decoration:underline">Help</span>
                                <span class="fa fa-question-circle-o"></span>
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        {#
			<!--
		<div class="row panel-title" style="width:100%;">
			<div class="col-md-2">
				<button type="submit" {{ macros.tool_run_click(tool) }}
					style="background:transparent; margin:0; padding:0; border:none !important;">
				<img  src="/static/images/GW2-hisim.png" width=50 height=50 style="margin-top:5px">
				</button>
			</div>
			<div class="col-md-10" style="margin:0">
				<a data-toggle="collapse" data-parent="#accordion" href="#pmCollapse" style="color:black;">
					<u>HiSim Graph</u>
					<span class="caret"></span>
				<span style="font-size:11px; display:inline-block;">
					Biclique-based analysis used to generate hierarchical maps of
					gene set intersections.
				</span>
				</a>
			</div>
        </div>
		-->
			#}
    </div>
    <div id="ohsCollapse" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_DisableBootstrap']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_NodeCutoff']) }}</div>
            <div class="form-group">{{ macros.tool_param_radio(tool.params['OntologyHiSimViewer_OntologyHierarchy']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_OntologiesInNode']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_UseFDR']) }}</div>
{#            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_HideUnEmphasized']) }}</div>#}
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_p-Value']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_MinOverlap']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_MinOntologies']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_PermutationTimeLimit']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_MaxInNode']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_Permutations']) }}</div>
            <div class="form-group">{{ macros.tool_param_select(tool.params['OntologyHiSimViewer_MaxLevel']) }}</div>
            <div class="form-group">{{ macros.tool_run_button(tool) }}</div>
        </div>
    </div>
</div>
<script>
    $('#hisim-wiki').click(function() {
        {# TODO:documentation for ontologyHiSim Graph#}
        window.open('http://geneweaver.org/help/#hisim-graph');
    });

    var obj = document.getElementById("substitute_interface");
    $('#ohsCollapse').on('shown.bs.collapse',function (){
        console.log('it is opened');

        $('#analyzeOntology')[0].style.display = 'none';
        $('#analyzeGenesets')[0].style.visibility = 'visible';
        //obj.remove();
        //$('#substitute_interface').load('/tool/analyze_geneSet_panel.html');
    });

    $('#ohsCollapse').on('hidden.bs.collapse',function (){
        console.log('it is closed');
        $('#analyzeOntology')[0].style.display = 'block';
        $('#analyzeGenesets')[0].style.visibility = 'hidden';
    });
</script>
