<!--
    file created by Melissa 9/15/15
    file needs to be altered to perform specific functions for triclique tool
-->

{% import 'macros.html' as macros %}

<style>
    .reveal-if-active {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    input[type="radio"]:checked ~ .reveal-if-active {
        opacity: 1;
        max-height: 100px;
        overflow: visible;
    }
    
    
</style>
<div class="panel">
	<div class="panel-heading">
		<img src="/static/images/GW2-kpartite.png" width="50" height="50">
		<h2 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#triCollapse">
				Tripartite Graph
			</a>
		</h2>
	</div>
	<div id="triCollapse" class="panel-collapse collapse">
		<div class="panel-body">
			<div class="form-group">{{ macros.tool_param_radio(tool.params['TricliqueViewer_Homology']) }}</div>
            <div class="form-group">{{ macros.tool_param_radio(tool.params['TricliqueViewer_Methods']) }}
                <div id="reveal-if-active">
                </div>
            </div>
			<div class="form-group">{{ macros.tool_run_button(tool) }}</div>
		</div>
	</div>
</div>

<script>
    $('#form-group').click(function() {
        $(".reveal-if-active").slideToggle("slow");
});
</script>